{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v12.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP assessor applications",
				href: "/staff-app/v12/applications/applications-assessor"
			},
			{
				text: "Application assessment overview",
				href: "/staff-app/v12/applications/assessor/tasklist-3127"
			},
			{
				text: "Delivering apprenticeship training checks"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-m">Delivering apprenticeship training checks</span>
			<h1 class="govuk-heading-xl" style="width: 66%;">Management hierarchy for apprenticeships</h1>

			<p class="govuk-body">
				UKPRN: 12345678<br>
				Legal name: MY RECRUITMENT LIMITED<br>
				Provider route: Main<br>
				Application submitted date: 18 Oct 2019
			</p>

              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Name</th>
                    <th class="govuk-table__header" scope="col">Job role</th>
                    <th class="govuk-table__header" scope="col">Time in role</th>
                    <th class="govuk-table__header" scope="col" style="width: 35%;">Part of another organisation that receives funding directly from ESFA or as a subcontractor</th>
                    <th class="govuk-table__header" scope="col" style="width: 25%;"></th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Jon Jones</td>
                      <td class="govuk-table__cell" scope="row">CEO</td>
                      <td class="govuk-table__cell" scope="row">2 years 3 months</td>
                      <td class="govuk-table__cell" scope="row">Yes</td>
                      <td class="govuk-table__cell">
                      <details class="govuk-details govuk-!-margin-0" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            View applicant's answer
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                        Abc Training Ltd
                        </div>
                      </details>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">Ronald McDonald</td>
                      <td class="govuk-table__cell" scope="row">CFO</td>
                      <td class="govuk-table__cell" scope="row">2 years 3 months</td>
                      <td class="govuk-table__cell" scope="row">No</td>
                      <td class="govuk-table__cell"></td>
                    </tr>
                </tbody>
              </table>

			<form action="" method="post" class="form">

				<h2 class="govuk-heading-m govuk-!-margin-top-9">What is the outcome of this check?</h2>

				{% set passHtml %}
					{{ govukCharacterCount({
						name: "aac-3127-dat-management-hierarchy-pass",
						id: "aac-3127-dat-management-hierarchy-pass",
          	value: data['aac-3127-dat-management-hierarchy-pass'],
						maxwords: 150,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}

				{% set failHtml %}
					{{ govukCharacterCount({
						name: "aac-3127-dat-management-hierarchy-fail",
						id: "aac-3127-dat-management-hierarchy-fail",
          	value: data['aac-3127-dat-management-hierarchy-fail'],
						maxwords: 150,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}

				{% set inProgressHtml %}
					{{ govukCharacterCount({
						name: "aac-3127-dat-management-hierarchy-inprogress",
						id: "aac-3127-dat-management-hierarchy-inprogress",
          	value: data['aac-3127-dat-management-hierarchy-inprogress'],
						maxwords: 150,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "aac-3127-dat-management-hierarchy-conditional",
					name: "aac-3127-dat-management-hierarchy",
					items: [
						{
							value: "Pass",
							text: "Pass",
							conditional: {
								html: passHtml
							},
							checked: checked("aac-3127-dat-management-hierarchy", "Pass")
						},
						{
							value: "Fail",
							text: "Fail",
							conditional: {
								html: failHtml
							},
							checked: checked("aac-3127-dat-management-hierarchy", "Fail")
						},
						{
							divider: "or"
						},
						{
							value: "In progress",
							text: "In progress",
							conditional: {
								html: inProgressHtml
							},
							checked: checked("aac-3127-dat-management-hierarchy", "In progress")
						}
					]
				}) }}

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-4"
				}) }}

			</form>



		</div>
	</div>

{% endblock %}