{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v9.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP applications",
				href: "/staff-app/v9/applications/applications-assessor"
			},
			{
				text: "Application assessment overview"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-xl">Application assessment overview</h1>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
	
			<dl class="govuk-summary-list govuk-summary-list--overview govuk-!-margin-bottom-9">
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">UKPRN</dt>
					<dd class="govuk-summary-list__value">12345678</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Legal name</dt>
					<dd class="govuk-summary-list__value">MY RECRUITMENT LIMITED</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Provider route</dt>
					<dd class="govuk-summary-list__value">Main</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key" style="white-space: nowrap;">Application reference number</dt>
					<dd class="govuk-summary-list__value">APR00003127</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Date application submitted</dt>
					<dd class="govuk-summary-list__value">18 Oct 2019</dd>
				</div>
			</dl>

			<ol class="app-task-list">
				<li>
					<h2 class="app-task-list__section">
						<span class="app-task-list__section-number">1. </span> Protecting your apprentices checks
					</h2>
					<ul class="app-task-list__items">
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="3127/pya/continuityplan">Continuity plan for apprenticeship training</a>
							</span>
							{% if data['aac-3127-pya-continuityplan'] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="aac-3127-pya-continuityplan-passed">Passed</strong>
							{% elseif data['aac-3127-pya-continuityplan'] == "Fail" %}
								<strong class="govuk-tag app-task-list__task-negative" id="aac-3127-pya-continuityplan-failed">Failed</strong>
							{% elseif data['aac-3127-pya-continuityplan'] == "Clarify" %}
								<strong class="govuk-tag app-task-list__task-clarify" id="aac-3127-pya-continuityplan-clarify">Clarify</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="3127/pya/equality">Equality and diversity policy</a>
							</span>
							{% if data['aac-3127-pya-equality'] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="aac-3127-pya-equality-passed">Passed</strong>
							{% elseif data['aac-3127-pya-equality'] == "Fail" %}
								<strong class="govuk-tag app-task-list__task-negative" id="aac-3127-pya-equality-failed">Failed</strong>
							{% elseif data['aac-3127-pya-equality'] == "Clarify" %}
								<strong class="govuk-tag app-task-list__task-clarify" id="aac-3127-pya-equality-clarify">Clarify</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="3127/pya/safeguarding">Safeguarding and Prevent duty policy</a>
							</span>
							{% if not data['aac-3127-pya-prevent-upload'] and (data['aac-3127-pya-safeguarding']) and (data['aac-3127-pya-safeguarding'] != "") %}
									<strong class="govuk-tag app-task-list__task-assessorinprogress" id="aac-3127-pya-safeguarding-inprogress">In progress</strong>
							{% else %}
								{% if (data['aac-3127-pya-safeguarding'] == "Pass") and (data['aac-3127-pya-safeguarding-responsible'] == "Pass") and (data['aac-3127-pya-prevent-responsible'] == "Pass") and (data['aac-3127-pya-prevent-upload'] == "Pass") %}
									<strong class="govuk-tag app-task-list__task-positive" id="aac-3127-pya-safeguarding-passed">Passed</strong>
								{% elseif (data['aac-3127-pya-safeguarding'] == "Clarify") or (data['aac-3127-pya-safeguarding-responsible'] == "Clarify") or (data['aac-3127-pya-prevent-responsible'] == "Clarify") or (data['aac-3127-pya-prevent-upload'] == "Clarify") %}
									<strong class="govuk-tag app-task-list__task-clarify" id="aac-3127-pya-safeguarding-clarify">Clarify</strong>
								{% elseif (data['aac-3127-pya-safeguarding'] == "Fail") or (data['aac-3127-pya-safeguarding-responsible'] == "Fail") or (data['aac-3127-pya-prevent-responsible'] == "Fail") or (data['aac-3127-pya-prevent-upload'] == "Fail") %}
									<strong class="govuk-tag app-task-list__task-negative" id="aac-3127-pya-safeguarding-failed">Failed</strong>
								{% endif %}
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="3127/pya/healthandsafety">Health and safety policy</a>
							</span>
							{% if not data['aac-3127-pya-healthandsafety-responsible'] and (data['aac-3127-pya-healthandsafety']) and (data['aac-3127-pya-healthandsafety'] != "") %}
									<strong class="govuk-tag app-task-list__task-assessorinprogress" id="aac-3127-pya-safeguarding-inprogress">In progress</strong>
							{% else %}
								{% if (data['aac-3127-pya-healthandsafety'] == "Pass") and (data['aac-3127-pya-healthandsafety-responsible'] == "Pass") %}
									<strong class="govuk-tag app-task-list__task-positive" id="aac-3127-pya-healthandsafety-passed">Passed</strong>
								{% elseif (data['aac-3127-pya-healthandsafety'] == "Clarify") or (data['aac-3127-pya-healthandsafety-responsible'] == "Clarify") %}
									<strong class="govuk-tag app-task-list__task-clarify" id="aac-3127-pya-healthandsafety-clarify">Clarify</strong>
								{% elseif data['aac-3127-pya-healthandsafety'] == "Fail" or (data['aac-3127-pya-healthandsafety-responsible'] == "Fail") %}
									<strong class="govuk-tag app-task-list__task-negative" id="aac-3127-pya-healthandsafety-failed">Failed</strong>
								{% endif %}
							{% endif %}
						</li>
						<!--li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="">Acting as a subcontractor</a>
							</span>
							{% if data[''] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="">Passed</strong>
							{% elseif data[''] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="gw-company-legal-outcome-rejected">Rejected</strong>
							{% endif %}
						</li-->
					</ul>
				</li>
				<li>
					<h2 class="app-task-list__section">
						<span class="app-task-list__section-number">2. </span> Readiness to engage checks
					</h2>
					<ul class="app-task-list__items">
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="">Engaging with employers</a>
							</span>
							{% if data[''] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="">Passed</strong>
							{% elseif data[''] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="">Rejected</strong>
							{% elseif data[''] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-assessorinprogress" id="">In progress</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="">Complaints policy</a>
							</span>
							{% if data[''] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="">Passed</strong>
							{% elseif data[''] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="">Rejected</strong>
							{% elseif data[''] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-assessorinprogress" id="">In progress</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="">Contract for services template with employers</a>
							</span>
							{% if data[''] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="">Passed</strong>
							{% elseif data[''] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="">Rejected</strong>
							{% elseif data[''] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-assessorinprogress" id="">In progress</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="">Commitment statement template</a>
							</span>
							{% if data[''] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="">Passed</strong>
							{% elseif data[''] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="">Rejected</strong>
							{% elseif data[''] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-assessorinprogress" id="">In progress</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="">Prior learning of apprentices</a>
							</span>
							{% if data[''] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="">Passed</strong>
							{% elseif data[''] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="">Rejected</strong>
							{% elseif data[''] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-assessorinprogress" id="">In progress</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="">Working with subcontractors</a>
							</span>
							{% if data[''] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="">Passed</strong>
							{% elseif data[''] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="">Rejected</strong>
							{% elseif data[''] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-assessorinprogress" id="">In progress</strong>
							{% endif %}
						</li>
					</ul>
				</li>
				<li>
					<h2 class="app-task-list__section">
						<span class="app-task-list__section-number">3. </span> Planning apprenticeship training checks
					</h2>
					<ul class="app-task-list__items">
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="">Type of apprenticeship training</a>
							</span>
							{% if data[''] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="">Passed</strong>
							{% elseif data[''] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="">Rejected</strong>
							{% elseif data[''] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-assessorinprogress" id="">In progress</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="">Supporting apprentices</a>
							</span>
							{% if data[''] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="">Passed</strong>
							{% elseif data[''] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="">Rejected</strong>
							{% elseif data[''] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-assessorinprogress" id="">In progress</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="">Forecasting starts</a>
							</span>
							{% if data[''] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="">Passed</strong>
							{% elseif data[''] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="">Rejected</strong>
							{% elseif data[''] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-assessorinprogress" id="">In progress</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="">Off the job training</a>
							</span>
							{% if data[''] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="">Passed</strong>
							{% elseif data[''] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="">Rejected</strong>
							{% elseif data[''] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-assessorinprogress" id="">In progress</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="">Where apprentices will be trained</a>
							</span>
							{% if data[''] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="">Passed</strong>
							{% elseif data[''] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="">Rejected</strong>
							{% elseif data[''] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-assessorinprogress" id="">In progress</strong>
							{% endif %}
						</li>
					</ul>
				</li>
				<li>
					<h2 class="app-task-list__section">
						<span class="app-task-list__section-number">4. </span> Delivering apprenticeship training checks
					</h2>
					<ul class="app-task-list__items">
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="">Overall accountability for apprenticeships</a>
							</span>
							{% if data[''] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="">Passed</strong>
							{% elseif data[''] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="">Rejected</strong>
							{% elseif data[''] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-assessorinprogress" id="">In progress</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="">Management hierarchy for apprenticeships</a>
							</span>
							{% if data[''] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="">Passed</strong>
							{% elseif data[''] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="">Rejected</strong>
							{% elseif data[''] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-assessorinprogress" id="">In progress</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="">Quality and high standards in apprenticeship training</a>
							</span>
							{% if data[''] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="">Passed</strong>
							{% elseif data[''] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="">Rejected</strong>
							{% elseif data[''] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-assessorinprogress" id="">In progress</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="">Developing and delivering training</a>
							</span>
							{% if data[''] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="">Passed</strong>
							{% elseif data[''] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="">Rejected</strong>
							{% elseif data[''] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-assessorinprogress" id="">In progress</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="">Sectors and employee experience</a>
							</span>
							{% if data[''] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="">Passed</strong>
							{% elseif data[''] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="">Rejected</strong>
							{% elseif data[''] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-assessorinprogress" id="">In progress</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="">Policy for professional development of employees</a>
							</span>
							{% if data[''] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="">Passed</strong>
							{% elseif data[''] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="">Rejected</strong>
							{% elseif data[''] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-assessorinprogress" id="">In progress</strong>
							{% endif %}
						</li>
					</ul>
				</li>
				<li>
					<h2 class="app-task-list__section">
						<span class="app-task-list__section-number">5. </span> Evaluating apprenticeship training checks
					</h2>
					<ul class="app-task-list__items">
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="">Process for evaluating the quality of training delivered</a>
							</span>
							{% if data[''] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="">Passed</strong>
							{% elseif data[''] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="">Rejected</strong>
							{% elseif data[''] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-assessorinprogress" id="">In progress</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="">Evaluating the quality of apprenticeship training</a>
							</span>
							{% if data[''] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="">Passed</strong>
							{% elseif data[''] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="">Rejected</strong>
							{% elseif data[''] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-assessorinprogress" id="">In progress</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="">Systems and processes to collect apprenticeship data</a>
							</span>
							{% if data[''] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="">Passed</strong>
							{% elseif data[''] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="">Rejected</strong>
							{% elseif data[''] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-assessorinprogress" id="">In progress</strong>
							{% endif %}
						</li>
					</ul>
				</li>
				<li>
					<h2 class="app-task-list__section">
						<span class="app-task-list__section-number">6. </span> Assessor outcome
					</h2>
					<ul class="app-task-list__items">
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="">Confirm assessor outcome</a>
							</span>
							{% if data[''] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="">Passed</strong>
							{% elseif data[''] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="">Rejected</strong>
							{% elseif data[''] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-assessorinprogress" id="">In progress</strong>
							{% endif %}
						</li>
					</ul>
				</li>
			</ol>

		</div>
	</div>
      
{% endblock %}
