{% extends "layout_application_v9.html" %}

{% block pageTitle %}
  RoATP Application Prototype v9
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Policy for professional development of employees</span>
          
    <h1 class="govuk-heading-l">Give an example of how your policy for professional development of employees is reflected teaching and training</h1>

    <p class="govuk-body">Your answer should include how your organisation:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>ensures employee’s teaching and training expertise is relevant to apprenticeship training</li>
      <li>uses teaching and training bodies to ensure employee’s expertise is up to date</li>
      <li>works with teaching and training bodies to ensure employee’s expertise is maintained - for example, through co-creation of apprenticeship programmes or mentoring</li>
    </ul>

    <form action="" method="post" class="form">

      {{ govukCharacterCount({
        name: "del-development-reflected",
        id: "del-development-reflected",
        maxlength: 1500
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}
      
      {% include "includes/v9/gethelp.html" %}

    </form>
  </div>
</div>

{% endblock %}