{% extends "layout_application.html" %}

{% block pageTitle %}
  Organisation - RoATP Organisation Prototype
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#">feedback</a> will helps us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "org-ico"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="org-ukprn-a" method="post" class="form">

      <h1 class="govuk-heading-l">Enter your organisation's UK provider reference number (UKPRN)</h1>

      <p class="govuk-hint">This is your 8-digit number from the UK Register of Learning Providers (UKRLP).</p>

      {{ govukInput({
        label: {
          text: "UKPRN"
        },
        classes: "govuk-input--width-10",
        id: "org-ukprn",
        name: "org-ukprn",
        value: data['org-ukprn']
      }) }}

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
              I do not have a UKPRN
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>To get a UKPRN, you’ll need to <a href="https://www.ukrlp.co.uk/" target="_blank">register with the UKRLP (opens in a new window or tab)</a>.</p>
        </div>
      </details>
      
      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}

      {{ govukButton({
        text: "Save and sign out",
        href: "signout-a",
        classes: "govuk-button--secondary"
      }) }}

    </form>
  </div>
</div>

{% endblock %}