{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v8.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP dashboard",
				href: "/staff-app/v8/dashboard"
			},
			{
				text: "RoATP applications",
				href: "/staff-app/v8/applications/gateway/applications-view"
			},
			{
				text: "Application assessment overview",
				href: "/staff-app/v8/applications/gateway/tasklist-roatpdown"
			},
			{
				text: "Organisation type"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Organisation checks</span>
			<h1 class="govuk-heading-xl">Organisation type checks</h1>

			<p class="govuk-body">
				Legal name: RHINO APPS LIMITED<br>
				UKPRN: 10082147
			</p>
			
			<!--div class="sops">
				<p class="govuk-body">This organisation has XX in the application.</p>
				<ul class="govuk-list govuk-list--bullet">
					<li>the ICO registration number is valid (not expired)</li>
					<li>the organisation's legal name is the same</li>
				</ul>
			</div-->
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">

			<table class="govuk-table govuk-!-margin-bottom-9">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header">Question</th>
						<th scope="col" class="govuk-table__header">Application answer</th>
						<th scope="col" class="govuk-table__header"></th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<td scope="row" class="govuk-table__cell">Organisation type</td>
						<td class="govuk-table__cell">An employer training apprentices in other organisations</td>
						<td class="govuk-table__cell">
							{{ govukRadios({
								idPrefix: "gw-roatpdown-type",
								name: "gw-roatpdown-type",
								classes: "govuk-radios--inline",
								items: [
									{
										value: "Yes",
										text: "Yes",
										checked: checked("gw-roatpdown-type", "Yes")
									},
									{
										value: "No",
										text: "No",
										checked: checked("gw-roatpdown-type", "No")
									}
								]
							}) }}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td scope="row" class="govuk-table__cell">Description</td>
						<td class="govuk-table__cell">A small or medium enterprise (SME)</td>
						<td class="govuk-table__cell">
							{{ govukRadios({
								idPrefix: "gw-roatpdown-type-description",
								name: "gw-roatpdown-type-description",
								classes: "govuk-radios--inline",
								items: [
									{
										value: "Yes",
										text: "Yes",
										checked: checked("gw-roatpdown-type-description", "Yes")
									},
									{
										value: "No",
										text: "No",
										checked: checked("gw-roatpdown-type-description", "No")
									}
								]
							}) }}
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<h3 class="govuk-heading-m">What is the outcome of this check?</h3>

			<form action="" method="post" class="form">
				
				{% set passHtml %}
					{{ govukCharacterCount({
						name: "gw-roatpdown-type-pass",
						id: "gw-roatpdown-type-pass",
						maxlength: 750,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}
				
				{% set rejectHtml %}
					{{ govukCharacterCount({
						name: "gw-roatpdown-type-reject",
						id: "gw-roatpdown-type-reject",
						maxlength: 750,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "gw-roatpdown-type",
					name: "gw-roatpdown-type",
					items: [
						{
							value: "Pass",
							text: "Pass",
							conditional: {
								html: passHtml
							},
							checked: checked("gw-roatpdown-type", "Pass")
						},
						{
							value: "Reject",
							text: "Reject",
							conditional: {
								html: rejectHtml
							},
							checked: checked("gw-roatpdown-type", "Reject")
						}
					]
				}) }}

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-1"
				}) }}

			</form>

			<p><a href="/staff-app/v8/applications/gateway/tasklist-company">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}
