{% set current_section = "applications" %}
{% extends "layouts/layout_mvpgateway_v3.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP dashboard",
				href: "/mvp-gateway/v3/dashboard"
			},
			{
				text: "RoATP applications",
				href: "/mvp-gateway/v3/applications/applications-gateway"
			},
			{
				text: "Application assessment overview",
				href: "/mvp-gateway/v3/applications/gateway/tasklist-xyztraining"
			},
			{
				text: "Register checks"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">RoATP</span>
			<h1 class="govuk-heading-xl">Check if the organisation was removed from the RoATP in the last 3 years</h1>

			<p class="govuk-body">
				UKPRN: 12345678<br>
				Legal name: ABC TRAINING LIMITED<br>
				Type of organisation: Company
			</p>

			<form action="" method="post" class="form">

				<table class="govuk-table">
					<thead class="govuk-table__head">
						<tr class="govuk-table__row">
							<th scope="col" class="govuk-table__header">Source</th>
							<th scope="col" class="govuk-table__header">Status</th>
						</tr>
					</thead>
					<tbody class="govuk-table__body">
						<tr class="govuk-table__row">
							<td class="govuk-table__header">Submitted application</td>
							<td class="govuk-table__cell">On the RoATP</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__header">RoATP</td>
							<td class="govuk-table__cell">
								Removed from the RoATP<br>
								[PROVIDER ROUTE]<br>
								[DATE]<br>
								[REASON]
							</td>
						</tr>
					</tbody>
				</table>				
				
				<h2 class="govuk-heading-l govuk-!-margin-top-9">What is the overall outcome of this check?</h2>

				{% set passHtml %}
					{{ govukCharacterCount({
						name: "gw-xyztraining-register-roatp-pass",
						id: "gw-xyztraining-register-roatp-pass",
          	value: data['gw-xyztraining-register-roatp-pass'],
						maxwords: 150,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}
				
				{% set rejectHtml %}
					{{ govukCharacterCount({
						name: "gw-xyztraining-register-roatp-reject",
						id: "gw-xyztraining-register-roatp-reject",
          	value: data['gw-xyztraining-register-roatp-reject'],
						maxwords: 150,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "gw-xyztraining-register-roatp-conditional",
					name: "gw-xyztraining-register-roatp",
					items: [
						{
							value: "Pass",
							text: "Pass",
							conditional: {
								html: passHtml
							},
							checked: checked("gw-xyztraining-register-roatp", "Pass")
						},
						{
							value: "Reject",
							text: "Reject",
							conditional: {
								html: rejectHtml
							},
							checked: checked("gw-xyztraining-register-roatp", "Reject")
						},
						{
							divider: "or"
						},
						{
							value: "In progress",
							text: "In progress",
							checked: checked("gw-xyztraining-register-roatp", "In progress")
						}
					]
				}) }}

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-4"
				}) }}

			</form>

			<p><a href="/mvp-gateway/v3/applications/gateway/tasklist-xyztraining">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}