{% extends "layout_application_v6.html" %}

{% block pageTitle %}
  RoATP Application Prototype v6
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-caption-l">Health and safety policy</p>

      <h1 class="govuk-heading-l">Does your organisation have anyone who’s responsible for health and safety?</h1>

      <p class="govuk-body">This must be someone from your organisation or a third party who has the overall responsibility, relevant knowledge and skills to manage health and safety issues.</p>

      <form action="" method="post" class="form">

        {{ govukRadios({
          idPrefix: "wel-healthandsafetyresponsible",
          name: "wel-healthandsafetyresponsible",
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("wel-healthandsafetyresponsible", "yes")
            },
            {
              value: "no",
              text: "No",
                checked: checked("wel-healthandsafetyresponsible", "no")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-right-4"
        }) }}

        <p class="skipquestion" id="skipquestion"><a href="otherpolicies">Return to this question later</a></p>
      
        {% include "includes/v6/gethelp.html" %}

      </form>
    </div>
  </div>

{% endblock %}
