
{% extends "layout.html" %}

{% block pageTitle %}
  Are you an employer who will train your own employees and/or employees of connected companies?
{% endblock %}

{% block beforeContent %}
    <a href="#" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       <form method="post">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="yesno-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Are you an employer who will train your own employees and/or employees of connected companies?
                  </h1>
                </legend>
                <details class="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Connected companies
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    A company is connected with another company if either the same person has control of both companies (or that person and a person connected with him together have control of both companies), or if a group of two or more persons has control of each company and the group consists of the same persons (or could be regarded as consisting of the same persons if one member is replaced with another person with whom he is connected).
                  </div>
                </details>
                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="yesno-1" name="yesno" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="yesno-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="yesno-2" name="yesno" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="yesno-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
           
            <input class="govuk-button" type="submit" value="Continue" />
       </form>
     
    </div>
</div>

{% endblock %}
