
{% extends "layout.html" %}

{% block pageTitle %}
  Have you had an Ofsted inspection in the last 3 year under the remit of FE and skills?
{% endblock %}

{% block beforeContent %}
    <a href="#" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       <form method="post">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="yesno-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Have you had an Ofsted inspection in the last 3 year under the remit of FE and skills?
                  </h1>
                </legend>

                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="yesno-1" name="yesno" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="yesno-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="yesno-2" name="yesno" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="yesno-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
           
            <input class="govuk-button" type="submit" value="Continue" />
       </form>
     
    </div>
</div>

{% endblock %}
