{% extends "layouts/layout_application_v15.html" %}

{% block pageTitle %}
  RoATP Application Prototype v15
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "select-route"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
    <form action="/application/v15/organisation/org-ico" method="post" class="form">

        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Enter a valid ICO registration number",
              href: "#org-ico-error"
            }
          ]
        }) }}

        <h1 class="govuk-heading-l">Enter your organisation's Information Commissioner's Office (ICO) registration number</h1>
  
        <p class="govuk-body">This is your 8-digit registration number from the ICO data protection public register. Anyone who uses personal information must have one.</p>

      {{ govukInput({
        label: {
          text: "ICO registration number"
        },
        classes: "govuk-input--width-10",
        id: "org-ico",
        name: "org-ico",
        value: data['org-ico'],
        hint: {
          text: "For example, 12345678"
        },
        errorMessage: {
          text: "Enter a valid ICO registration number"
        }
      }) }}

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I do not have an ICO registration number
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>To get an ICO registration number, you’ll need to <a href="https://ico.org.uk/for-organisations/data-protection-fee/" target="_blank">register with ICO (opens in a new window or tab)</a>.</p>
        </div>
      </details>
      
      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}
{% include "includes/v15/gethelp.html" %}
    </form>
  </div>
</div>

{% endblock %}