{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v13.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP assessor applications",
				href: "/staff-app/v13/applications/applications-assessor"
			},
			{
				text: "Application assessment overview"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-xl">Application assessment overview</h1>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
	
			<dl class="govuk-summary-list govuk-summary-list--overview govuk-!-margin-bottom-9">
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">UKPRN</dt>
					<dd class="govuk-summary-list__value">12345678</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Legal name</dt>
					<dd class="govuk-summary-list__value">MY RECRUITMENT LIMITED</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Provider route</dt>
					<dd class="govuk-summary-list__value">Main</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Application submitted date</dt>
					<dd class="govuk-summary-list__value">18 Oct 2019</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Assessor 1</dt>
					<dd class="govuk-summary-list__value">Joan Smith</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Assessor 2</dt>
					<dd class="govuk-summary-list__value">Martin Knowles</dd>
				</div>
			</dl>

			<ol class="app-task-list">
				<li>
					<h2 class="app-task-list__section">
						<span class="app-task-list__section-number">1. </span> Protecting your apprentices checks
					</h2>
					<ul class="app-task-list__items">
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="3127/pya/continuityplan">Continuity plan for apprenticeship training</a>
							</span>
							{% if data['aac-mod-3127-pya-continuityplan'] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive">Pass</strong>
							{% endif %}
							{% if data['aac-mod-3127-pya-continuityplan'] == "Fail" %}
								<strong class="govuk-tag app-task-list__task-negative">Fail</strong>
							{% endif %}
							{% if data['aac-mod-3127-pya-continuityplan'] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-completed">In progress</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="javascript:preventDefault();">Equality and diversity policy</a>
							</span>
							{% if data['aac-mod-3127-pya-equality'] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive">Pass</strong>
							{% endif %}
							{% if data['aac-mod-3127-pya-equality'] == "Fail" %}
								<strong class="govuk-tag app-task-list__task-negative">Fail</strong>
							{% endif %}
							{% if data['aac-mod-3127-pya-equality'] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-completed">In progress</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="javascript:preventDefault();">Safeguarding and Prevent duty policy</a>
							</span>
							{% set safeguardingFails = 0 %}
                            {% if (data['aac-mod-3127-pya-safeguarding'] == "Fail") %}
							{% set safeguardingFails = safeguardingFails + 1 %}
							{% endif %}
                            {% if (data['aac-mod-3127-pya-safeguarding-responsible'] == "Fail") %}
							{% set safeguardingFails = safeguardingFails + 1 %}
							{% endif %}
                            {% if (data['aac-mod-3127-pya-prevent-responsible'] == "Fail") %}
							{% set safeguardingFails = safeguardingFails + 1 %}
							{% endif %}
                            {% if (data['aac-mod-3127-pya-prevent-upload'] == "Fail") %}
							{% set safeguardingFails = safeguardingFails + 1 %}
							{% endif %}
							{% if (data['aac-mod-3127-pya-safeguarding'] == "Pass") and (data['aac-mod-3127-pya-safeguarding-responsible'] == "Pass") and (data['aac-mod-3127-pya-prevent-responsible'] == "Pass") and (data['aac-mod-3127-pya-prevent-upload'] == "Pass")  %}
								<strong class="govuk-tag app-task-list__task-positive">Pass</strong>
							{% elseif (data['aac-mod-3127-pya-safeguarding'] == "In progress") or (data['aac-mod-3127-pya-safeguarding-responsible'] == "In progress") or (data['aac-mod-3127-pya-prevent-responsible'] == "In progress") or (data['aac-mod-3127-pya-prevent-upload'] == "In progress")  %}
								<strong class="govuk-tag app-task-list__task-completed">In progress</strong>
							{% elseif safeguardingFails == 1 %}
								<strong class="govuk-tag app-task-list__task-negative">1 Fail out of 4</strong>
							{% elseif safeguardingFails > 1 %}
								<strong class="govuk-tag app-task-list__task-negative">{{ safeguardingFails }} Fails out of 4</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="javascript:preventDefault();">Health and safety policy</a>
							</span>
							{% set healthAndSafetyFails = 0 %}
                            {% if (data['aac-mod-3127-pya-healthandsafety'] == "Fail") %}
							{% set healthAndSafetyFails = healthAndSafetyFails + 1 %}
							{% endif %}
                            {% if (data['aac-mod-3127-pya-healthandsafety-responsible'] == "Fail") %}
							{% set healthAndSafetyFails = healthAndSafetyFails + 1 %}
							{% endif %}
							{% if (data['aac-mod-3127-pya-healthandsafety'] == "Pass") and (data['aac-mod-3127-pya-healthandsafety-responsible'] == "Pass") %}
								<strong class="govuk-tag app-task-list__task-positive">Pass</strong>
							{% elseif (data['aac-mod-3127-pya-healthandsafety'] == "In progress") or (data['aac-mod-3127-pya-healthandsafety-responsible'] == "In progress") %}
								<strong class="govuk-tag app-task-list__task-completed">In progress</strong>
							{% elseif healthAndSafetyFails == 1 %}
								<strong class="govuk-tag app-task-list__task-negative">1 Fail out of 2</strong>
							{% elseif healthAndSafetyFails > 1 %}
								<strong class="govuk-tag app-task-list__task-negative">{{ healthAndSafetyFails }} Fails out of 2</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="3127/pya/subcontractor">Acting as a subcontractor</a>
							</span>
							{% if data['aac-mod-3127-pya-subcontractor'] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive">Pass</strong>
							{% endif %}
							{% if data['aac-mod-3127-pya-subcontractor'] == "Fail" %}
								<strong class="govuk-tag app-task-list__task-negative">Fail</strong>
							{% endif %}
							{% if data['aac-mod-3127-pya-subcontractor'] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-completed">In progress</strong>
							{% endif %}
						</li>
					</ul>
				</li>
				<li>
					<h2 class="app-task-list__section">
						<span class="app-task-list__section-number">2. </span> Readiness to engage checks
					</h2>
					<ul class="app-task-list__items">
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="javascript:preventDefault();">Engaging with employers</a>
							</span>
							{% set engagingEmployersFails = 0 %}
                            {% if (data['aac-mod-3127-rte-engage'] == "Fail") %}
							{% set engagingEmployersFails = engagingEmployersFails + 1 %}
							{% endif %}
                            {% if (data['aac-mod-3127-rte-engagerelationships'] == "Fail") %}
							{% set engagingEmployersFails = engagingEmployersFails + 1 %}
							{% endif %}
                            {% if (data['aac-mod-3127-rte-engageresponsible-'] == "Fail") %}
							{% set engagingEmployersFails = engagingEmployersFails + 1 %}
							{% endif %}
                            {% if (data['aac-mod-3127-rte-engagepromote'] == "Fail") %}
							{% set engagingEmployersFails = engagingEmployersFails + 1 %}
							{% endif %}
							{% if (data['aac-mod-3127-rte-engage'] == "Pass") and (data['aac-mod-3127-rte-engagerelationships'] == "Pass") and (data['aac-mod-3127-rte-engageresponsible'] == "Pass") and (data['aac-mod-3127-rte-engagepromote'] == "Pass")  %}
								<strong class="govuk-tag app-task-list__task-positive">Pass</strong>
							{% elseif (data['aac-mod-3127-rte-engage'] == "In progress") or (data['aac-mod-3127-rte-engagerelationships'] == "In progress") or (data['aac-mod-3127-rte-engageresponsible'] == "In progress") or (data['aac-mod-3127-rte-engagepromote'] == "In progress")  %}
								<strong class="govuk-tag app-task-list__task-completed">In progress</strong>
							{% elseif engagingEmployersFails == 1 %}
								<strong class="govuk-tag app-task-list__task-negative">1 Fail out of 4</strong>
							{% elseif engagingEmployersFails > 1 %}
								<strong class="govuk-tag app-task-list__task-negative">{{ engagingEmployersFails }} Fails out of 4</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="javascript:preventDefault();">Complaints policy</a>
							</span>
							{% set complaintsFails = 0 %}
                            {% if (data['aac-mod-3127-rte-complaint'] == "Fail") %}
							{% set complaintsFails = complaintsFails + 1 %}
							{% endif %}
                            {% if (data['aac-mod-3127-rte-complaintpolicy'] == "Fail") %}
							{% set complaintsFails = complaintsFails + 1 %}
							{% endif %}
							{% if (data['aac-mod-3127-rte-complaint'] == "Pass") and (data['aac-mod-3127-rte-complaintpolicy'] == "Pass") %}
								<strong class="govuk-tag app-task-list__task-positive">Pass</strong>
							{% elseif (data['aac-mod-3127-rte-complaint'] == "In progress") or (data['aac-mod-3127-rte-complaintpolicy'] == "In progress") %}
								<strong class="govuk-tag app-task-list__task-completed">In progress</strong>
							{% elseif complaintsFails == 1 %}
								<strong class="govuk-tag app-task-list__task-negative">1 Fail out of 2</strong>
							{% elseif complaintsFails > 1 %}
								<strong class="govuk-tag app-task-list__task-negative">{{ complaintsFails }} Fails out of 2</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="javascript:preventDefault();">Contract for services template with employers</a>
							</span>
							{% if data['aac-mod-3127-rte-contractforservices'] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive">Pass</strong>
							{% endif %}
							{% if data['aac-mod-3127-rte-contractforservices'] == "Fail" %}
								<strong class="govuk-tag app-task-list__task-negative">Fail</strong>
							{% endif %}
							{% if data['aac-mod-3127-rte-contractforservices'] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-completed">In progress</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="javascript:preventDefault();">Commitment statement template</a>
							</span>
							{% if data['aac-mod-3127-rte-commitment'] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive">Pass</strong>
							{% endif %}
							{% if data['aac-mod-3127-rte-commitment'] == "Fail" %}
								<strong class="govuk-tag app-task-list__task-negative">Fail</strong>
							{% endif %}
							{% if data['aac-mod-3127-rte-commitment'] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-completed">In progress</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="javascript:preventDefault();">Prior learning of apprentices</a>
							</span>
							{% set priorLearningFails = 0 %}
                            {% if (data['aac-mod-3127-rte-process'] == "Fail") %}
							{% set priorLearningFails = priorLearningFails + 1 %}
							{% endif %}
                            {% if (data['aac-mod-3127-rte-mathsandenglish'] == "Fail") %}
							{% set priorLearningFails = priorLearningFails + 1 %}
							{% endif %}
							{% if (data['aac-mod-3127-rte-process'] == "Pass") and (data['aac-mod-3127-rte-mathsandenglish'] == "Pass") %}
								<strong class="govuk-tag app-task-list__task-positive">Pass</strong>
							{% elseif (data['aac-mod-3127-rte-process'] == "In progress") or (data['aac-mod-3127-rte-mathsandenglish'] == "In progress") %}
								<strong class="govuk-tag app-task-list__task-completed">In progress</strong>
							{% elseif priorLearningFails == 1 %}
								<strong class="govuk-tag app-task-list__task-negative">1 Fail out of 2</strong>
							{% elseif priorLearningFails > 1 %}
								<strong class="govuk-tag app-task-list__task-negative">{{ priorLearningFails }} Fails out of 2</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="javascript:preventDefault();">Working with subcontractors</a>
							</span>
							{% set subcontractorsFails = 0 %}
                            {% if (data['aac-mod-3127-rte-subcontractors'] == "Fail") %}
							{% set subcontractorsFails = subcontractorsFails + 1 %}
							{% endif %}
                            {% if (data['aac-mod-3127-rte-subcontractorsdue'] == "Fail") %}
							{% set subcontractorsFails = subcontractorsFails + 1 %}
							{% endif %}
							{% if (data['aac-mod-3127-rte-subcontractors'] == "Pass") and (data['aac-mod-3127-rte-subcontractorsdue'] == "Pass") %}
								<strong class="govuk-tag app-task-list__task-positive">Pass</strong>
							{% elseif (data['aac-mod-3127-rte-subcontractors'] == "In progress") or (data['aac-mod-3127-rte-subcontractorsdue'] == "In progress") %}
								<strong class="govuk-tag app-task-list__task-completed">In progress</strong>
							{% elseif subcontractorsFails == 1 %}
								<strong class="govuk-tag app-task-list__task-negative">1 Fail out of 2</strong>
							{% elseif subcontractorsFails > 1 %}
								<strong class="govuk-tag app-task-list__task-negative">{{ subcontractorsFails }} Fails out of 2</strong>
							{% endif %}
						</li>
					</ul>
				</li>
				<li>
					<h2 class="app-task-list__section">
						<span class="app-task-list__section-number">3. </span> Planning apprenticeship training checks
					</h2>
					<ul class="app-task-list__items">
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="javascript:preventDefault();">Type of apprenticeship training</a>
							</span>
							{% if data['aac-mod-3127-pat-type'] %}
								<strong class="govuk-tag app-task-list__task-positive">Pass</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="javascript:preventDefault();">Training apprentices</a>
							</span>
							{% if data['aac-mod-3127-pat-training'] %}
								<strong class="govuk-tag app-task-list__task-positive">Pass</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="javascript:preventDefault();" style="color: grey;">Supporting apprentices</a>
							</span>
							<strong class="govuk-tag app-task-list__task-notrequired">Not required</strong>
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="javascript:preventDefault();">Forecasting starts</a>
							</span>
							{% if (data['aac-mod-3127-pat-starts']) and (data['aac-mod-3127-pat-ratio']) %}
								<strong class="govuk-tag app-task-list__task-positive">Pass</strong>
							{% elseif data['aac-mod-3127-pat-starts'] %}
								<strong class="govuk-tag app-task-list__task-inprogress">In progress</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="javascript:preventDefault();">Off the job training</a>
							</span>
							{% if (data['aac-mod-3127-pat-deliver']) and (data['aac-mod-3127-pat-otj']) %}
								<strong class="govuk-tag app-task-list__task-positive">Pass</strong>
							{% elseif data['aac-mod-3127-pat-deliver'] %}
								<strong class="govuk-tag app-task-list__task-inprogress">In progress</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="javascript:preventDefault();">Where apprentices will be trained</a>
							</span>
							{% if data['aac-mod-3127-pat-wheretrained'] %}
								<strong class="govuk-tag app-task-list__task-positive">Pass</strong>
							{% endif %}
						</li>
					</ul>
				</li>
				<li>
					<h2 class="app-task-list__section">
						<span class="app-task-list__section-number">4. </span> Delivering apprenticeship training checks
					</h2>
					<ul class="app-task-list__items">
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="javascript:preventDefault()">Overall accountability for apprenticeships</a>
							</span>
							<strong class="govuk-tag app-task-list__task-positive">Pass</strong>
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="javascript:preventDefault()">Management hierarchy for apprenticeships</a>
							</span>
							<strong class="govuk-tag app-task-list__task-positive">Pass</strong>
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="javascript:preventDefault()">Quality and high standards in apprenticeship training</a>
							</span>
							<strong class="govuk-tag app-task-list__task-positive">Pass</strong>
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="javascript:preventDefault()">Developing and delivering training</a>
							</span>
							<strong class="govuk-tag app-task-list__task-positive">Pass</strong>
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="javascript:preventDefault()">Sectors and employee experience</a>
							</span>
							<strong class="govuk-tag app-task-list__task-positive">Pass</strong>
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="javascript:preventDefault()">Policy for professional development of employees</a>
							</span>
							<strong class="govuk-tag app-task-list__task-positive">Pass</strong>
						</li>
					</ul>
				</li>
				<li>
					<h2 class="app-task-list__section">
						<span class="app-task-list__section-number">5. </span> Evaluating apprenticeship training checks
					</h2>
					<ul class="app-task-list__items">
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="javascript:preventDefault()">Process for evaluating the quality of training delivered</a>
							</span>
							<strong class="govuk-tag app-task-list__task-positive">Pass</strong>
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="javascript:preventDefault()">Evaluating the quality of apprenticeship training</a>
							</span>
							<strong class="govuk-tag app-task-list__task-positive">Pass</strong>
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="javascript:preventDefault()">Systems and processes to collect apprenticeship data</a>
							</span>
							<strong class="govuk-tag app-task-list__task-positive">Pass</strong>
						</li>
					</ul>
				</li>
				<li>
					<h2 class="app-task-list__section">
						<span class="app-task-list__section-number">6. </span> Assessor outcome
					</h2>
					<ul class="app-task-list__items">
						<li class="app-task-list__item">
							{% if
							    not (data['aac-mod-3127-pya-continuityplan']                    ) or
							    not (data['aac-mod-3127-pya-subcontractor']                    ) or

							    (data['aac-mod-3127-pya-continuityplan'] == "In progress"                    ) or
							    (data['aac-mod-3127-pya-subcontractor'] == "In progress"                    )
                             %}
							<span class="app-task-list__task-name">
								Confirm assessor outcome
							</span>
							{% else %}
							<span class="app-task-list__task-name">
								<a href="3127/submit/submit">Confirm assessor outcome</a>
							</span>
                            {% endif %}
						</li>
					</ul>
				</li>
			</ol>

		</div>
	</div>
      
{% endblock %}

{% if useAutoStoreData %}
  {% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          },
          {
            href: "tasklist-3127-completed",
            text: "Complete all tasks [all pass]"
          },
          {
            href: "tasklist-3127-completed-with-fails",
            text: "Complete all tasks [some fails]"
          }
        ]
      }
    }) }}
  {% endblock %}
{% endif %}