{% extends "layouts/layout_clarify_gw_v1.html" %}

{% block pageTitle %}
  RoATP Application Prototype v14
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Organisation information</span>

    <form action="" method="post" class="form">

      {% if data["org-partnership-choice"] === "organisation" %}

        <h1 class="govuk-heading-l">Enter the partner organisation's name</h1>

        {{ govukInput({
          label: {
            text: "Organisation name"
          },
          classes: "govuk-input--width-20",
          id: "org-partnership-name",
          name: "org-partnership-name"
        }) }}

      {% else %}

        {% if data["org-partnership-choice"] === "individual" %}
          <h1 class="govuk-heading-l">Enter the individual's details</h1>
        {% else %}
          <h1 class="govuk-heading-l">Enter your details</h1>
        {% endif %}

        {{ govukInput({
          label: {
            text: "Full name"
          },
          classes: "govuk-input--width-20",
          id: "org-partnership-name",
          name: "org-partnership-name"
        }) }}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="org-partnership-dob-hint" role="group">
            <legend class="govuk-fieldset__legend">
                Date of birth
            </legend>
            <span id="org-partnership-dob-hint" class="govuk-hint">
              For example, 12 1993
            </span>
            <div class="govuk-date-input" id="org-partnership-dob">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="org-partnership-dob-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="org-partnership-dob-month" name="org-partnership-dob-month" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="org-partnership-dob-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="org-partnership-dob-year" name="org-partnership-dob-year" type="number" pattern="[0-9]*">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

      {% endif %}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}
      
      {% include "includes/v14/gethelp.html" %}

    </form>
  </div>
</div>

{% endblock %}