{% extends "layout_application_v5.html" %}

{% block pageTitle %}
  RoATP Application Prototype v5
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post" class="form">

      {% set detailHtml %}
        {{ govukInput({
          label: {
            text: "Full name"
          },
          id: "wel-healthandsafetyresponsible-detail",
          name: "wel-healthandsafetyresponsible-detail",
          value: data['wel-healthandsafetyresponsible-detail']
        }) }}
      {% endset -%}

        {{ govukRadios({
          idPrefix: "wel-healthandsafetyresponsible",
          name: "wel-healthandsafetyresponsible",
          fieldset: {
            legend: {
              text: "Does your organisation have anyone who’s responsible for health and safety?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "This must be someone from your organisation or a third party who has the overall responsibility, relevant knowledge and skills to manage health and safety issues."
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("wel-healthandsafetyresponsible", "yes"),
              conditional: {
                html: detailHtml
              }
            },
            {
              value: "no",
              text: "No",
                checked: checked("wel-healthandsafetyresponsible", "no")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-right-1"
        }) }}
      
        {% include "includes/gethelp.html" %}

      </form>
    </div>
  </div>

{% endblock %}
