{% extends "layouts/layout_application_v5.html" %}

{% block pageTitle %}
  RoATP Application Prototype v5
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post" class="form">

        <h1 class="govuk-heading-l">When acting as a subcontractor, will your organisation follow its lead provider’s policies and plans?</h1>

        <p class="govuk-body">Your organisation has an obligation to follow its lead provider’s policies and plans if asked by them.</p>

        {{ govukRadios({
          idPrefix: "wel-otherpolicies",
          name: "wel-otherpolicies",
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("wel-otherpolicies", "yes")
            },
            {
              value: "no",
              text: "No",
                checked: checked("wel-otherpolicies", "no")
            }
          ]
        }) }}

        {{ govukDetails({
          summaryText: "What is a lead provider?",
          text: "A lead provider is a main or employer provider who has a direct contractual relationship with ESFA."
        }) }}

        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-right-1"
        }) }}
      
        {% include "includes/v5/gethelp.html" %}

      </form>
    </div>
  </div>

{% endblock %}
