{% extends "layout_application_v5.html" %}

{% block pageTitle %}
  RoATP Application Prototype v5
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        
    <h1 class="govuk-heading-l">Upload your organisation’s health and safety policy</h1>

    <p class="gov-body">This must include how your organisation will:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>promote the policy</li>
      <li>get commitment to the policy</li>
      <li>train its employees in implementing the policy</li>
      <li>cover apprentices in its care</li>
      <li>have people who are responsible for health and safety</li>
      <li>identify and manage health and safety issues</li>
      <li>have a procedure for accidents or ill health of apprentices</li>
      </ul>

    <form action="" method="post" class="form">
    
      {{ govukFileUpload({
        id: "wel-healthandsafety",
        name: "wel-healthandsafety",
        label: {
          text: "Upload a file"
        }
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}
      
      {% include "includes/gethelp.html" %}

    </form>
  </div>
</div>

{% endblock %}