{% extends "layouts/layout_clarify_gw_v1.html" %}

{% block pageTitle %}
  RoATP Application Prototype v14
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Quality and standards in apprenticeship training</span>
          
    <h1 class="govuk-heading-l">Tell us who’s responsible for maintaining quality and high standards in apprenticeship training</h1>

    <form action="" method="post" class="form">

      {{ govukInput({
        label: {
          text: "Full name"
        },
        classes: "govuk-input--width-20",
        id: "del-expectations-responsible-name",
        name: "del-expectations-responsible-name",
        value: data['del-expectations-responsible-name']
      }) }}

      {{ govukInput({
        label: {
          text: "Email"
        },
        type: "email",
        autocomplete: "email",
        classes: "govuk-input--width-20",
        id: "del-expectations-responsible-email",
        email: "del-expectations-responsible-email",
        value: data['del-expectations-responsible-email'],
        attributes: {
          spellcheck: "false"
        }
      }) }}

      {{ govukInput({
        label: {
          text: "Contact number"
        },
        classes: "govuk-input--width-20",
        id: "del-expectations-responsible-number",
        name: "del-expectations-responsible-number",
        value: data['del-expectations-responsible-number']
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}

      <p class="skipquestion" id="skipquestion"><a href="">Return to this question later</a></p>
      
      {% include "includes/v14/gethelp.html" %}

    </form>
  </div>
</div>

{% endblock %}