{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v6.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to assessment overview",
    href: "/staff-app/v6/applications/gateway/application-tasklist"
  }) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-m">Gateway</span>
			<h1 class="govuk-heading-xl">Address checks</h1>

			<table class="govuk-table govuk-table-apiresponse govuk-!-margin-bottom-9">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">Data source</th>
					<th scope="col" class="govuk-table__header">Address held</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">UKRLP</th>
						<td class="govuk-table__cell">Cheltenham Road East, Gloucester, GL2 9QH</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Companies House</th>
						<td class="govuk-table__cell">Cheltenham Road East, Gloucester, Gloucestershire, GL2 9QH</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			
			<h2 class="govuk-heading-m">Address checks outcome</h2>

			<form action="" method="post" class="form">

				{{ govukTextarea({
					name: "gw-address-notes",
					id: "gw-address-notes",
					label: {
						text: "Notes"
					}
				}) }}

				{{ govukRadios({
					idPrefix: "gw-address",
					name: "gw-address",
					items: [
						{
							value: "Pass",
							text: "Pass",
							checked: checked("gw-address", "Pass")
						},
						{
							value: "Reject",
							text: "Reject",
							checked: checked("gw-address", "Reject")
						}
					]
				}) }}

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-1"
				}) }}

			</form>

			<p><a href="../application-tasklist">Return to assessment overview</a></p>

		</div>
	</div>

{% endblock %}