{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v6.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to application assessment overview",
    href: "/staff-app/v6/applications/gateway/application-tasklist"
  }) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Gateway</span>
			<h1 class="govuk-heading-xl">Legal and address checks</h1>

			<p class="govuk-body">The system will use API’s to get the latest data from UKRLP, Companies House and the Charity Commision for England and Wales.</p>
			<p class="govuk-body">To pass these checks, the data from the application and the data from the API’s must be the match.</p>
			<p class="govuk-body">If the data does not match, reject this XXX and send a XXX to the organisation.</p>

			<form action="" method="post" class="form">

				{{ govukButton({
					classes: "govuk-button-checkapis",
					text: "Check APIs"
				}) }}
			
			</form>

			<p><a href="../tasklist-charity">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}
