{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v6.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to assessment overview",
    href: "/staff-app/v6/applications/gateway/application-tasklist"
  }) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-m">Gateway</span>
			<h1 class="govuk-heading-xl">Address checks</h1>

			<h3 class="govuk-heading-m">Applicant data</h3>
			<p class="govuk-body">
				UKPRN: 10053003<br>
				<abbr title="Primary verification authority">PVA</abbr>: Companies House<br>
				Date: 17 Oct 2019
			</p>

			<table class="govuk-table">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header">Legal name</th>
						<th scope="col" class="govuk-table__header">Trading name</th>
						<th scope="col" class="govuk-table__header">Company number</th>
						<th scope="col" class="govuk-table__header">Charity number</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">SAFRAN LANDING SYSTEMS UK LTD</td>
						<td class="govuk-table__cell">SAFRAN LANDING SYSTEMS</td>
						<td class="govuk-table__cell">03548809</td>
						<td class="govuk-table__cell">-</td>
					</tr>
				</tbody>
			</table>

			<form action="company-legal-recheck" method="post" class="form">

				{{ govukButton({
					classes: "govuk-!-margin-right-3 govuk-button-checkapis",
					text: "Get data"
				}) }}

			</form>

			<p><a href="../tasklist-company">Return to assessment overview</a></p>

		</div>
	</div>

{% endblock %}
