{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v6.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to assessment overview",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-xl">Legal checks</h1>

			<p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vestibulum vulputate nunc, nec luctus metus vehicula ac. Aliquam diam massa, ultricies non pharetra eget, molestie in turpis.</p>

			{{ govukButton({
				classes: "govuk-!-margin-bottom-0 govuk-button-checkapis",
				text: "Check APIs"
			}) }}
		</div>
	</div>
	
	<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

	<div class="govuk-grid-row govuk-!-margin-bottom-7">
		<div class="govuk-grid-column-full">
			
			<h2 class="govuk-heading-l">UKRLP</h2>
			<p class="govuk-body">UKPRN: 10053003</p>

			<table class="govuk-table govuk-table-apiresponse govuk-!-margin-bottom-9">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header"></th>
					<th scope="col" class="govuk-table__header">Applicant response</th>
					<th scope="col" class="govuk-table__header">API response</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Date</th>
						<td class="govuk-table__cell">17 Sep 2019</td>
						<td class="govuk-table__cell api-placeholder" rowspan="6"></td>
						<td class="govuk-table__cell api-loading" rowspan="6">
							<div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
						</td>
						<td class="govuk-table__cell api-result">30 Oct 2019</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Legal name</th>
						<td class="govuk-table__cell">SAFRAN LANDING SYSTEMS UK LTD</td>
						<td class="govuk-table__cell api-result">SAFRAN LANDING SYSTEMS UK LTD</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Trading name</th>
						<td class="govuk-table__cell">SAFRAN LANDING SYSTEMS</td>
						<td class="govuk-table__cell api-result">SAFRAN LANDING SYSTEMS</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Verification authority</th>
						<td class="govuk-table__cell">Companies House</td>
						<td class="govuk-table__cell api-result">Companies House</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Company number</th>
						<td class="govuk-table__cell">03548809</td>
						<td class="govuk-table__cell api-result">03548809</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Website</th>
						<td class="govuk-table__cell"><a href="https://www.safran-landing-systems.com/" target="_blank">safran-landing-systems.com</a></td>
						<td class="govuk-table__cell api-result"></td>
					</tr>
				</tbody>
			</table>
			
			<h2 class="govuk-heading-l">Companies House</h2>

			<table class="govuk-table govuk-table-apiresponse">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header"></th>
					<th scope="col" class="govuk-table__header">Applicant response</th>
					<th scope="col" class="govuk-table__header">API response</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Date</th>
						<td class="govuk-table__cell">17 Sep 2019</td>
						<td class="govuk-table__cell api-placeholder" rowspan="5"></td>
						<td class="govuk-table__cell api-loading" rowspan="5">
							<div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
						</td>
						<td class="govuk-table__cell api-result">30 Oct 2019</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Legal name</th>
						<td class="govuk-table__cell">SAFRAN LANDING SYSTEMS UK LTD</td>
						<td class="govuk-table__cell api-result">SAFRAN LANDING SYSTEMS UK LTD</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Organisation type</th>
						<td class="govuk-table__cell">Private limited company</td>
						<td class="govuk-table__cell api-result">Private limited company</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Company status</th>
						<td class="govuk-table__cell">Active</td>
						<td class="govuk-table__cell api-result">Active</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Company number</th>
						<td class="govuk-table__cell">03548809</td>
						<td class="govuk-table__cell api-result">03548809</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<div class="api-result">
				<h2 class="govuk-heading-m">Outcome</h2>

				<form action="" method="post" class="form">

					{{ govukTextarea({
						name: "gw-legal-notes",
						id: "gw-legal-notes",
						label: {
							text: "Notes"
						}
					}) }}

					{{ govukRadios({
						idPrefix: "gw-legal",
						name: "gw-legal",
						items: [
							{
								value: "Pass",
								text: "Pass",
								checked: checked("gw-legal", "Pass")
							},
							{
								value: "Reject",
								text: "Reject",
								checked: checked("gw-legal", "Reject")
							}
						]
					}) }}

					{{ govukButton({
						text: "Save and continue",
						classes: "govuk-!-margin-right-1"
					}) }}

				</form>
			</div>

			<p><a href="../application-tasklist">Return to assessment overview</a></p>

		</div>
	</div>

{% endblock %}


{% block pageScripts %}

	<script>
		$('.govuk-button-checkapis').on('click', function(){
			$(this).attr('disabled','disabled');
			$('.api-placeholder').hide();
			$('.api-loading').show();
			setTimeout(function() { 
				$(".api-loading").hide();
				$(".api-result").show();
			}, 2000);
		});
	</script>

{% endblock %}
