{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v6.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to assessment overview",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-xl">Verify information from APIs</h1>
		</div>
	</div>

	<div class="govuk-grid-row govuk-!-margin-bottom-7">
		<div class="govuk-grid-column-full">

			<table class="govuk-table">
				<!-- <caption class="govuk-table__caption">Organisation details</caption> -->
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">Question</th>
					<th scope="col" class="govuk-table__header">Applicant answer</th>
					<th scope="col" class="govuk-table__header">UKRLP record</th>
					<th scope="col" class="govuk-table__header"></th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">UKPRN</th>
						<td class="govuk-table__cell">10053003</td>
						<td class="govuk-table__cell">10053003</td>
						<td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag ">Match</strong></td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Legal name</th>
						<td class="govuk-table__cell">SAFRAN LANDING SYSTEMS UK LTD</td>
						<td class="govuk-table__cell">SAFRAN LANDING SYSTEMS UK LTD</td>
						<td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag ">Match</strong></td>
					</tr>
					<!--tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Trading name</th>
						<td class="govuk-table__cell">Learnovate</td>
						<td class="govuk-table__cell">Learnovate training</td>
						<td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag-negative">Conflict</strong></td>
					</tr-->
					<!--tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Trading name</th>
						<td class="govuk-table__cell">Rednock School</td>
						<td class="govuk-table__cell">Rednock School</td>
						<td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag ">Match</strong></td>
					</tr-->
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Business address</th>
						<td class="govuk-table__cell">Cheltenham Road East,<br>Gloucester,<br>Gloucestershire,<br>GL2 9QH</td>
						<td class="govuk-table__cell">Cheltenham Road East,<br>Gloucester,<br>Gloucestershire,<br>GL2 9QH</td>
						<td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag ">Match</strong></td>
					</tr>
					<!--tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Website</th>
						<td class="govuk-table__cell">www.learnovate.com</td>
						<td class="govuk-table__cell">www.learnovate.com</td>
						<td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag ">Match</strong></td>
					</tr-->
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Organisation type</th>
						<td class="govuk-table__cell">Private limited company</td>
						<td class="govuk-table__cell">Private limited company</td>
						<td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag ">Match</strong></td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Company number</th>
						<td class="govuk-table__cell">03548809</td>
						<td class="govuk-table__cell">03548809</td>
						<td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag">Match</strong></td>
					</tr>
				</tbody>
				</table>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<h2 class="govuk-heading-m">Outcome</h2>

    	<form action="" method="post" class="form">

				{% set detailHtml %}
					{{ govukTextarea({
						name: "gw-ukprn-comments",
						id: "gw-ukprn-comments",
						label: {
							text: "Reasons for rejection"
						},
        		value: data['gw-ukprn-comments']
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "gw-ukprn-conditional",
					name: "gw-ukprn",
					items: [
						{
							value: "Pass",
							text: "Pass",
							checked: checked("gw-ukprn", "Pass")
						},
						{
							value: "Reject",
							text: "Reject",
							checked: checked("gw-ukprn", "Reject"),
							conditional: {
								html: detailHtml
							}
						}
					]
				}) }}

<!--
			<h2 class="govuk-heading-m">Request clarification</h2>
			<p class="govuk-body">The applicant will be asked to check and update their answers.</p>
-->
<!--
				{% set detailHtml %}
					{{ govukTextarea({
						name: "gateway-ukrlp-detail",
						id: "gateway-ukrlp-detail",
						label: {
							text: "Clarification request"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "gateway-ukrlp-conditional",
					name: "gateway-ukrlp",
					items: [
						{
							value: "Yes",
							text: "Yes",
							checked: checked("gateway-ukrlp", "Yes"),
							conditional: {
								html: detailHtml
							}
						},
						{
							value: "No",
							text: "No",
							checked: checked("gateway-ukrlp", "No")
						}
					]
				}) }}
-->
				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-1"
				}) }}

			</form>

			<p><a href="../application-tasklist">Return to assessment overview</a></p>

		</div>
	</div>

{% endblock %}
