{% extends "layout_application.html" %}

{% block pageTitle %}
  Organisation - RoATP Organisation Prototype
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#">feedback</a> will helps us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "org-convictions-company"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="org-duediligence-company-a" method="post" class="form">

        {{ govukRadios({
          idPrefix: "org-duediligence-company",
          name: "org-duediligence-company",
          fieldset: {
            legend: {
              text: "Does your organisation have any due diligence, convictions, or proceedings?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("org-duediligence-company", "yes")
            },
            {
              value: "no",
              text: "No",
                checked: checked("org-duediligence-company", "no")
            }
          ],
          errorMessage: {
            text: "Select if your organisation has any due diligence, convictions, or proceedings."
          }
        }) }}

        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-right-1"
        }) }}

        {{ govukButton({
          text: "Save and sign out",
          href: "signout-a",
          classes: "govuk-button--secondary"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
