{% set serviceName = "ESFA admin services" %}
{% extends "layout.html" %}

{% block header %}
   {{ govukHeader({
        serviceName: "ESFA admin services"
   }) }}
{% endblock %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "add-fromukrlp-orgtype"
  }) }}
{% endblock %}

{% block content %}


	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-xl">Confirm details</h1>
		</div>
		<div class="govuk-grid-column-full">

			<!-- This Summary List uses HTML rather than Nunjucks due to the more complex handling of data to display to the user. -->

			<dl class="govuk-summary-list">

				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						UKPRN
					</dt>
					<dd class="govuk-summary-list__value">
						{{ data['staff-add-ukprn'] }}
					</dd>
					<dd class="govuk-summary-list__actions">
						<a class="govuk-link" href="amend-ukprn">
							Change<span class="govuk-visually-hidden"> UKPRN</span>
						</a>
					</dd>
				</div>

				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						Type of provider
					</dt>
					<dd class="govuk-summary-list__value">
						{{ data['staff-add-route'] }}
					</dd>
					<dd class="govuk-summary-list__actions">
						<a class="govuk-link" href="amend-route">
							Change<span class="govuk-visually-hidden"> UKPRN</span>
						</a>
					</dd>
				</div>

				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						Legal name
					</dt>
					<dd class="govuk-summary-list__value">
						{{ data['staff-add-orgname'] }}
					</dd>
					<dd class="govuk-summary-list__actions">
						<a class="govuk-link" href="amend-ukprn-orgname">
							Change<span class="govuk-visually-hidden"> legal name</span>
						</a>
					</dd>
				</div>

				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						Trading name
					</dt>
					<dd class="govuk-summary-list__value">
						{{ data['staff-add-tradingname'] }}
						{% if (data['staff-add-hastradingname'] == "no") %}
							Not applicable
						{% endif %}
					</dd>
					<dd class="govuk-summary-list__actions">
						<a class="govuk-link" href="amend-ukprn-tradingname">
							Change<span class="govuk-visually-hidden"> trading name</span>
						</a>
					</dd>
				</div>

				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						Company number
					</dt>
					<dd class="govuk-summary-list__value">
						{{ data['staff-add-companynumber'] }}
						{% if (data['staff-add-hascompanynumber'] == "no") %}
							Not applicable
						{% endif %}
					</dd>
					<dd class="govuk-summary-list__actions">
						<a class="govuk-link" href="amend-ukprn-companynumber">
							Change<span class="govuk-visually-hidden"> company number</span>
						</a>
					</dd>
				</div>

				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						Charity registration number
					</dt>
					<dd class="govuk-summary-list__value">
						{{ data['staff-add-charitynumber'] }}
						{% if (data['staff-add-hascharitynumber'] == "no") %}
							Not applicable
						{% endif %}
					</dd>
					<dd class="govuk-summary-list__actions">
						<a class="govuk-link" href="amend-ukprn-charitynumber">
							Change<span class="govuk-visually-hidden"> charity registration number</span>
						</a>
					</dd>
				</div>

				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">
						Type of organisation
					</dt>
					<dd class="govuk-summary-list__value">
						{{ data['staff-add-orgtype'] }}
					</dd>
					<dd class="govuk-summary-list__actions">
						<a class="govuk-link" href="amend-ukprn-orgtype">
							Change<span class="govuk-visually-hidden"> type of organisation</span>
						</a>
					</dd>
				</div>
			</dl>
				
			<form action="register" method="post" class="form">
				{{ govukButton({
					text: "Confirm and add organisation"
				}) }}
			</form>

		</div>
	</div>
      
{% endblock %}
      