{% set serviceName = "ESFA admin services" %}
{% extends "layouts/layout.html" %}

{% block header %}
   {{ govukHeader({
        serviceName: "ESFA admin services"
   }) }}
{% endblock %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "detail"
  }) }}
{% endblock %}

{% block content %}


	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<form action="detail" method="post" class="form">
				
					{{ govukRadios({
						classes: "govuk-radios",
						idPrefix: "staff-changefinancialrecord",
						name: "staff-changefinancialrecord",
						fieldset: {
							legend: {
								text: "Change financial track record for ABC Assessments",
								isPageHeading: true,
								classes: "govuk-fieldset__legend--xl"
							}
						},
						items: [
						{
							value: "yes",
							text: "Yes",
							checked: false
						},
						{
							value: "no",
							text: "No",
							checked: true
						}
						]
					}) }}

				{{ govukButton({
					text: "Change"
				}) }}

			</form>

		</div>
	</div>
      
{% endblock %}
      