
{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Eligibility Checker v2
{% endblock %}

{% block beforeContent %}
        
  {% if data['ofsted'] == "yes" %}
    {% set eligiblebacklink = "ofsted-grade" %}
  {% else %} 
    {% set eligiblebacklink = "ofsted" %}
  {% endif %}

  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#">feedback</a> will helps us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: eligiblebacklink
  }) }}

{% endblock %}

{% block content %}

  {% set eligible = "yes" %}
  {% set eligiblecount = 0 %}
  
  {% if data['ukaddress'] == 'no' %}
    {% set eligible = "no" %}
    {% set eligiblecount = eligiblecount + 1 %}
  {% endif %}
  {% if data['experience'] == 'no' %} 
    {% set eligible = "no" %}
    {% set eligiblecount = eligiblecount + 1 %}
  {% endif %}
  {% if data['train-within'] == 'no' %} 
    {% set eligible = "no" %}
    {% set eligiblecount = eligiblecount + 1 %}
  {% endif %}
  {% if data['actively-trading'] == 'no' %} 
    {% set eligible = "no" %}
    {% set eligiblecount = eligiblecount + 1 %}
  {% endif %}
  {% if data['financial-evidence'] == 'no' %} 
    {% set eligible = "no" %}
    {% set eligiblecount = eligiblecount + 1 %}
  {% endif %}
  {% if data['ukprn'] == 'no' %} 
    {% set eligible = "no" %}
    {% set eligiblecount = eligiblecount + 1 %}
  {% endif %}
  {% if data['ico'] == 'no' %} 
    {% set eligible = "no" %}
    {% set eligiblecount = eligiblecount + 1 %}
  {% endif %}
  {% if data['readguidance'] == 'no' %} 
    {% set eligible = "no" %}
  {% endif %}
  {% if (data['ofsted-grade'] == 'inadequate') and (data['ofsted'] == 'yes') %} 
    {% set eligible = "no" %}
  {% endif %}

  {% if eligible == 'no' %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Your organisation is not eligible to apply</h1>

        {% if eligiblecount > 1 %}
        
          <p class="govuk-body">To be eligible, your organisation must have:</p>
          <ul class="govuk-body">
            {% if data['ukprn'] == 'no' %}
              <li>a <a href="https://www.ukrlp.co.uk/">UKPRN</a></li>
            {% endif %}
            {% if data['ico'] == 'no' %} 
              <li>an <a href="https://ico.org.uk/for-organisations/data-protection-fee/">ICO registration number</a></li>
            {% endif %}
            {% if data['ukaddress'] == 'no' %}
              <li>a registered UK business address</li>
            {% endif %}
            {% if data['actively-trading'] == 'no' %}
              <li>been actively trading for at least {% if data['main-supporting'] == "main" %}12{% elseif data['main-supporting'] == "employer" %}12{% else %}3{% endif %} months</li>
            {% endif %}
            {% if data['financial-evidence'] == 'no' %}
              <li>financial information to support to support trading for at least 12 months</li>
            {% endif %}
            {% if data['train-within'] == 'no' %} 
              <li>started training apprentices within the first 12 months of joining the register</li>
            {% endif %}
            {% if data['experience'] == 'no' %}
              <li>at least 9 months experience in developing and delivering training</li>
            {% endif %}
          </ul>

        {% elseif eligiblecount == 1 %}
          <p>To be eligible, it must have 
            {% if data['ukprn'] == 'no' %}
              a <a href="https://www.ukrlp.co.uk/">UKPRN</a>.
            {% endif %}
            {% if data['ico'] == 'no' %} 
              an <a href="https://ico.org.uk/for-organisations/data-protection-fee/">ICO registration number</a>.
            {% endif %}
            {% if data['ukaddress'] == 'no' %}
              a registered UK business address.
            {% endif %}
            {% if (data['actively-trading'] == 'no') %}
              been actively trading for at least {% if data['main-supporting'] == "main" %}12{% elseif data['main-supporting'] == "employer" %}12{% else %}3{% endif %} months.
            {% endif %}
            {% if data['financial-evidence'] == 'no' %}
              financial information to support your trading for the last 12 months.
            {% endif %}
            {% if data['train-within'] == 'no' %} 
              started training apprentices within the first 12 months of joining the register.
            {% endif %}
            {% if data['experience'] == 'no' %}
              at least 9 months experience in developing and delivering training.
            {% endif %}
          </p>
        {% endif %}


        {% if data['readguidance'] == 'no' %}
          <p>You must have read the <a href="https://www.gov.uk/guidance/becoming-an-apprenticeship-training-provider">becoming an apprenticeship training provider</a> GOV.UK page.</p>
        {% endif %}

        {% if (data['ofsted-grade'] == 'inadequate') and (data['ofsted'] == 'yes') %} 
          <p>If it has had an Ofsted inspection, It must have been graded ‘requires improvement’ or better for apprenticeships. If it doesn’t have a seperate apprenticeship grade it can be for overall effectiveness.</p>
        {% endif %}
          
        <p class="govuk-body"><a href="#">Return to GOV.UK</a></p>

      </div>
    </div>
  
  {% else %} 

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Your organisation is eligible to apply</h1>
        <p class="govuk-body">You’ll need to apply using the <a href="https://education.bravosolution.co.uk/web/login.shtml">Department for Education portal (Bravo)</a>.</p>

      </div>
    </div>
  
  {% endif %}


{% endblock %}
