
{% extends "layout.html" %}

{% block pageTitle %}
  Eligibility Checker v1a
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Guidance</span>
      <h1 class="govuk-heading-l">Register of apprenticeship training providers</h1>
      <p class="govuk-body">
        Organisations that are eligible to receive government funding to train apprentices.
      </p>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-s">
        Published 14 March 2017
        <br>Last updated 12 December 2018
        — <a href="#">see all updates</a>
        <br>From: <a class="govuk-!-font-weight-bold" href="#">Education and Skills Funding Agency</a>
      </p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation govuk-body-s" style="background: #005ea5; padding: 0; text-align: left; font-size: 16px; border: 0; padding: 1em; line-height: 1em;margin: 1em 0 2em;">
        Applies to: <span class="govuk-!-font-weight-bold">England</span>
      </div>

      <p class="govuk-body-s">Contents</p>
      <ul class="govuk-list--bullets">
          <li>
            <a class="govuk-link" href="#applying">Applying to the register of apprenticeship training providers</a>
          </li>
          <li>
            <a class="govuk-link" href="#route">Choose an application route</a>
          </li>
          <li>
            <a class="govuk-link" href="#eligibility">Check your eligibility</a>
          </li>
          <li>
            <a class="govuk-link" href="#guidance">Application guidance</a>
          </li>
          <li>
            <a class="govuk-link" href="#removing">Removing an apprenticeship training provider from the register</a>
          </li>
        </ul>
        <br>

        <p class="govuk-body">The <a rel="external" href="#">register of apprenticeship training providers</a> is a list of organisations that are eligible to receive government funding to train apprentices.</p>
        <p class="govuk-body">There are a few things you need to consider before <a href="#">becoming a registered apprenticeship training provider</a>.</p>

        <h2 class="govuk-heading-l" id="applying">Applying to the register of apprenticeship training providers</h2>

        <ol class="govuk-list govuk-list--number">
          <li>Choose an application route.</li>
          <li>Check your eligibility.</li>
          <li>Read the <a href="#application-guidance">application guidance</a> to check you have everything you need.</li>
          <li>Apply using the <a rel="external" href="#">Department for Education portal (Bravo)</a>.</li>
        </ol>

        <p class="govuk-body">If your organisation is eligible and not currently listed on the register, you can apply. There is no deadline and the portal will remain open for applications.</p>
        
        <p class="govuk-body">ESFA will start to assess applications on the first working day of each month for any applications received during the previous month. It usually takes around 12 weeks to assess an application, but it can sometimes take longer. We will keep you informed on the progress of your application.</p>
        
        <p class="govuk-body">If your organisation is currently on the register, you will need to reapply. We will be inviting organisations to reapply in phases, during 2019.</p>
        
        <p class="govuk-body">If your application is unsuccessful, we will provide feedback. You will be able to apply twice within a 12-month period.</p>

        <h2 class="govuk-heading-m" id="route">Choose an application route</h2>
  
        <p class="govuk-body">There are 3 application routes onto the register.</p>
        
        <h3 class="govuk-heading-s">Main provider route</h3>
        
        <p class="govuk-body">This is for providers who will directly deliver apprenticeship training for employers who use the apprenticeship service to pay for training. Providers that meet this requirement can also provide apprenticeship training to their own employees or those of connected companies and act as subcontractors for other providers.</p>
        
        <p class="govuk-body">This route is also for providers who provide apprenticeship training for employers who do not pay the apprenticeship levy. ESFA awarded these contracts in January 2018.</p>
        
        <h3 class="govuk-heading-s">Employer provider route</h3>
        
        <p class="govuk-body">This is for employers who will directly deliver training to their own employees or those of connected companies and use the apprenticeship service to pay for apprenticeship training. Providers that meet this requirement can also act as subcontractors.</p>
        
        <h3 class="govuk-heading-s">Supporting provider route</h3>
        
        <p class="govuk-body">This is for organisations who will enter into subcontracts with main providers and employer providers to deliver apprenticeship training. This can be up to a maximum value of £500,000 per year in total. For organisations with no history of apprenticeship delivery according to recent records we hold, this is limited to £100,000 in their first year on the register.</p>
        
        <h2 class="govuk-heading-m" id="eligibility">Check your eligibility</h2>

        <!-- NEW ELIGIBILITY CHECKER CONTENT HERE -->

        {{ govukButton({
          text: "Start now",
          href: "/eligibility/bravo/before-you-start",
          classes: "govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
        }) }}
        
        <h2 class="govuk-heading-m" id="guidance">Application guidance</h2>
        
        <p class="govuk-body">In your application, you must be able to provide evidence showing:</p>
        
        <ul class="govuk-list govuk-list--bullet">
          <li>who’s involved with apprenticeships in your organisation</li>
          <li>your financial status and ability to meet any financial commitments</li>
          <li>how you evaluate the quality of training and outcomes</li>
          <li>how you assess prior learning</li>
          <li>how your leaders and managers document and define clear expectations of setting high standards for apprenticeship training</li>
          <li>your employees’ experience in training including qualifications</li>
          <li>the process of professional development for your employees</li>
          <li>your plan for continuity of apprenticeship delivery as well as equality and diversity, safeguarding and health and safety policies</li>
          <li>how you engage with employers and your contracting arrangements with them (only main providers)</li>
          <li>the commitment statement template you will use to support the apprenticeships (only main or employer providers)</li>
        </ul>

        <p class="govuk-body">The <a rel="external" href="#">application guidance</a> explains:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>what you need for your application</li>
          <li>the application process</li>
          <li>the conditions of acceptance to the register that you’ll need to agree to as part of making your application</li>
          <li>what happens after you apply</li>
        </ul>

        <p class="govuk-body"><a href="#">Conditions of acceptance</a> (PDF, 406KB, 3 pages)</p>
        <p class="govuk-body"><a href="#">Application guidance</a> (PDF, 1.43MB, 33 pages)</p>
        <p class="govuk-body"><a href="#">Template for your management hierarchy (OD-12)</a> (MS Excel Spreadsheet, 48.3KB)</p>
        <p class="govuk-body"><a href="#">Template for your employees experience (CC-PP-12)</a> (MS Excel Spreadsheet, 256KB)</p>
        
        <h2 class="govuk-heading-m" id="removing">Removing an apprenticeship training provider from the register</h2>

        <p class="govuk-body">We will remove a training provider if they no longer meet our requirements. This includes removing a provider that receives an <a rel="external" href="#">inadequate Ofsted grade</a> for apprenticeships (or for overall effectiveness under its FE and skills remit where there is no separate apprenticeships grade).</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    </div>

  </div>


{% endblock %}
