
{% extends "layout.html" %}

{% block pageTitle %}
  Eligibility Checker v2
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#">feedback</a> will helps us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "/eligibility/bravo"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/eligibility/bravo/new-application-answer" method="post" class="form">

        {{ govukRadios({
          idPrefix: "index",
          name: "index",
          fieldset: {
            legend: {
              text: "Are you starting a new application?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
            	checked: checked("index", "yes")
            },
            {
              value: "no",
              text: "No - I have already started",
            	checked: checked("index", "no")
            }
          ]
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>
    </div>
  </div>

{% endblock %}
