{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v11.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP applications",
				href: "/staff-app/v11/applications/applications-assessor"
			},
			{
				text: "Application assessment overview",
				href: "/staff-app/v11/applications/assessor/tasklist-3127"
			},
			{
				text: "Protecting your apprentices"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Protecting your apprentices checks</span>
			<h1 class="govuk-heading-xl">Check the organisation’s health and safety policy</h1>

			<p class="govuk-body">
				Legal name: MY RECRUITMENT LIMITED<br>
				UKPRN: 12345678
			</p>
			
			<table class="govuk-table">
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<th class="govuk-table__header">Application question</th>
						<td class="govuk-table__cell">Upload your organisation’s health and safety policy</td>
					</tr>
					<tr class="govuk-table__row">
						<th class="govuk-table__header">Applicant's answer</th>
						<td class="govuk-table__cell"><a href="https://www.cygnethealth.co.uk/content/uploads/2017/03/Health-and-Safety-Policy.pdf" target="_blank">myrecruitmentlimited-healthandsafety.pdf</a></td>
					</tr>
				</tbody>
			</table>

			<h2 class="govuk-heading-m govuk-!-margin-top-9" id="realtime">Does the upload include how the organisation will promote the policy?</h2>
			{{ govukRadios({
				idPrefix: "aac-3127-pya-healthandsafety-promote",
				name: "aac-3127-pya-healthandsafety-promote",
				classes: "govuk-radios--inline",
				items: [
					{
						value: "Yes",
						text: "Yes",
						checked: checked("aac-3127-pya-healthandsafety-promote", "Yes")
					},
					{
						value: "No",
						text: "No",
						checked: checked("aac-3127-pya-healthandsafety-promote", "No")
					}
				]
			}) }}

			<h2 class="govuk-heading-m govuk-!-margin-top-9" id="realtime">Does the upload include how the organisation will get commitment to the policy?</h2>
			{{ govukRadios({
				idPrefix: "aac-3127-pya-healthandsafety-commitment",
				name: "aac-3127-pya-healthandsafety-commitment",
				classes: "govuk-radios--inline",
				items: [
					{
						value: "Yes",
						text: "Yes",
						checked: checked("aac-3127-pya-healthandsafety-commitment", "Yes")
					},
					{
						value: "No",
						text: "No",
						checked: checked("aac-3127-pya-healthandsafety-commitment", "No")
					}
				]
			}) }}

			<h2 class="govuk-heading-m govuk-!-margin-top-9" id="realtime">Does the upload include how the organisation will train its employees in implementing the policy?</h2>
			{{ govukRadios({
				idPrefix: "aac-3127-pya-healthandsafety-implementing",
				name: "aac-3127-pya-healthandsafety-implementing",
				classes: "govuk-radios--inline",
				items: [
					{
						value: "Yes",
						text: "Yes",
						checked: checked("aac-3127-pya-healthandsafety-implementing", "Yes")
					},
					{
						value: "No",
						text: "No",
						checked: checked("aac-3127-pya-healthandsafety-implementing", "No")
					}
				]
			}) }}

			<h2 class="govuk-heading-m govuk-!-margin-top-9" id="realtime">Does the upload include how the organisation will cover apprentices in its care?</h2>
			{{ govukRadios({
				idPrefix: "aac-3127-pya-healthandsafety-cover",
				name: "aac-3127-pya-healthandsafety-cover",
				classes: "govuk-radios--inline",
				items: [
					{
						value: "Yes",
						text: "Yes",
						checked: checked("aac-3127-pya-healthandsafety-cover", "Yes")
					},
					{
						value: "No",
						text: "No",
						checked: checked("aac-3127-pya-healthandsafety-cover", "No")
					}
				]
			}) }}

			<h2 class="govuk-heading-m govuk-!-margin-top-9" id="realtime">Does the upload include the people responsible for health and safety in the organisation?</h2>
			{{ govukRadios({
				idPrefix: "aac-3127-pya-healthandsafety-responsible",
				name: "aac-3127-pya-healthandsafety-responsible",
				classes: "govuk-radios--inline",
				items: [
					{
						value: "Yes",
						text: "Yes",
						checked: checked("aac-3127-pya-healthandsafety-responsible", "Yes")
					},
					{
						value: "No",
						text: "No",
						checked: checked("aac-3127-pya-healthandsafety-responsible", "No")
					}
				]
			}) }}

			<h2 class="govuk-heading-m govuk-!-margin-top-9" id="realtime">Does the upload include how the organisation will identify and manage health and safety concerns?</h2>
			{{ govukRadios({
				idPrefix: "aac-3127-pya-healthandsafety-safetyconcerns",
				name: "aac-3127-pya-healthandsafety-safetyconcerns",
				classes: "govuk-radios--inline",
				items: [
					{
						value: "Yes",
						text: "Yes",
						checked: checked("aac-3127-pya-healthandsafety-safetyconcerns", "Yes")
					},
					{
						value: "No",
						text: "No",
						checked: checked("aac-3127-pya-healthandsafety-safetyconcerns", "No")
					}
				]
			}) }}

			<h2 class="govuk-heading-m govuk-!-margin-top-9" id="realtime">Does the upload include how the organisation will have a procedure for accidents or ill health of apprentices?</h2>
			{{ govukRadios({
				idPrefix: "aac-3127-pya-healthandsafety-accidents",
				name: "aac-3127-pya-healthandsafety-accidents",
				classes: "govuk-radios--inline",
				items: [
					{
						value: "Yes",
						text: "Yes",
						checked: checked("aac-3127-pya-healthandsafety-accidents", "Yes")
					},
					{
						value: "No",
						text: "No",
						checked: checked("aac-3127-pya-healthandsafety-accidents", "No")
					}
				]
			}) }}

			<h2 class="govuk-heading-m govuk-!-margin-top-9" id="realtime">Is the upload specific to apprentices, trainers and the applying organisation?</h2>
			{{ govukRadios({
				idPrefix: "aac-3127-pya-healthandsafety-uploadspecific",
				name: "aac-3127-pya-healthandsafety-uploadspecific",
				classes: "govuk-radios--inline",
				items: [
					{
						value: "Yes",
						text: "Yes",
						checked: checked("aac-3127-pya-healthandsafety-uploadspecific", "Yes")
					},
					{
						value: "No",
						text: "No",
						checked: checked("aac-3127-pya-healthandsafety-uploadspecific", "No")
					}
				]
			}) }}

			<h2 class="govuk-heading-m govuk-!-margin-top-9" id="realtime">Is the upload signed by a senior employee?</h2>
			<p class="govuk-body">For example, the upload is signed by a director or CEO.</p>
			{{ govukRadios({
				idPrefix: "aac-3127-pya-healthandsafety-signed",
				name: "aac-3127-pya-healthandsafety-signed",
				classes: "govuk-radios--inline",
				items: [
					{
						value: "Yes",
						text: "Yes",
						checked: checked("aac-3127-pya-healthandsafety-signed", "Yes")
					},
					{
						value: "No",
						text: "No",
						checked: checked("aac-3127-pya-healthandsafety-signed", "No")
					}
				]
			}) }}
			
			<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

			<form action="" method="post" class="form">

				<h2 class="govuk-heading-m govuk-!-margin-top-9">What is the outcome of this check?</h2>
			
				<div class="sops">
					<p class="govuk-body">If you have selected ‘yes’ to all of the questions above, pass this check.</p>
					<p class="govuk-body">If you have selected ‘no’ to any of the questions above, fail this check.</p>
				</div>
				
				{% set passHtml %}
					{{ govukCharacterCount({
						name: "aac-3127-pya-healthandsafety-pass",
						id: "aac-3127-pya-healthandsafety-pass",
          	value: data['aac-3127-pya-healthandsafety-pass'],
						maxlength: 750,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}
				
				{% set failHtml %}
					{{ govukCharacterCount({
						name: "aac-3127-pya-healthandsafety-fail",
						id: "aac-3127-pya-healthandsafety-fail",
          	value: data['aac-3127-pya-healthandsafety-fail'],
						maxlength: 750,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}
				
				{% set clarifyHtml %}
					{{ govukCharacterCount({
						name: "aac-3127-pya-healthandsafety-clarify",
						id: "aac-3127-pya-healthandsafety-clarify",
          	value: data['aac-3127-pya-healthandsafety-clarify'],
						maxlength: 750,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "aac-3127-pya-healthandsafety-conditional",
					name: "aac-3127-pya-healthandsafety",
					items: [
						{
							value: "Pass",
							text: "Pass",
							checked: checked("aac-3127-pya-healthandsafety", "Pass")
						},
						{
							value: "Fail",
							text: "Fail",
							conditional: {
								html: failHtml
							},
							checked: checked("aac-3127-pya-healthandsafety", "Fail")
						}
					]
				}) }}

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-4"
				}) }}
        
        <p class="skipquestion" id="skipquestion"><a href="javascript:preventDefault();">Return to this check later</a></p>

			</form>

			<p><a href="/staff-app/v11/applications/assessor/tasklist-3127">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}