{% extends "layout_application_v12.html" %}

{% block pageTitle %}
  RoATP Application Prototype v13
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Describe your organisation</span>
        
    <h1 class="govuk-heading-l">What training organisation or agency is your organisation?</h1>

    <form action="" method="post" class="form">

      {{ govukRadios({
        idPrefix: "org-type-training",
        name: "org-type-training",
        items: [
          {
            value: "Apprenticeship Training Agency",
            text: "Apprenticeship Training Agency",
            checked: checked("org-type-training", "Apprenticeship Training Agency")
          },
          {
            value: "Independent Training Providers",
            text: "Independent Training Providers",
            checked: checked("org-type-training", "Independent Training Providers")
          },
          {
            value: "Group Training Association",
            text: "Group Training Association",
            checked: checked("org-type-training", "Group Training Association")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}
      
      {% include "includes/v13/gethelp.html" %}

    </form>
  </div>
</div>

{% endblock %}