{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v11.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP applications",
				href: "/mvp-assessor/v2/applications/applications-assessor"
			},
			{
				text: "Application overview",
				href: "/mvp-assessor/v2/applications/tasklist-abc"
			},
			{
				text: "Protecting your apprentices",
				href: "/mvp-assessor/v2/applications/tasklist-abc-pya"
			},
			{
				text: "Health and safety policy",
				href: "/mvp-assessor/v2/applications/abc/questions-pya-healthandsafety"
			},
			{
				text: "Add feedback"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-m">Assessor</span>
			<h1 class="govuk-heading-xl">Add feedback</h1>
			<h2 class="govuk-heading-l govuk-!-margin-bottom-1">Protecting your apprentices</h2>
			<h3 class="govuk-heading-m">Health and safety policy</h3>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
		
			<table class="govuk-table govuk-!-margin-top-5">
				<thead class="govuk-table__body">
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header" style="vertical-align: top">Question</th>
						<th scope="row" class="govuk-table__header" style="vertical-align: top">Answer</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">Upload your organisation’s health and safety policy</td>
						<td class="govuk-table__cell"><a href="javascript:preventDefault();">	abc-healthsafety-policy.pdf</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			{% set i = 0 %}
      {% if data['feedback-pya-healthandsafety-policy'][0] %}
				<h2 class="govuk-heading-l govuk-!-margin-top-5">Feedback</h2>
				{% for item in data['feedback-pya-healthandsafety-policy'] %}
					<h3 class="govuk-heading-s govuk-!-margin-bottom-2">{{ data['feedback-pya-healthandsafety-policy'][i]['user'] }}</h3>
					<p class="govuk-body-s govuk-!-margin-bottom-2">{{ data['feedback-pya-healthandsafety-policy'][i]['dateadded'] }}</p>
					<p class="govuk-body govuk-!-margin-bottom-2">{{ data['feedback-pya-healthandsafety-policy'][i]['feedback'] }}</p>
					<form action="delete-pya-healthandsafety-policy" method="post" class="form">
						<input name="feedbackid" type="hidden" value="{{i}}">
						{{ govukButton({
							text: "Delete feedback",
							classes: "govuk-button--warning"
						}) }}
					</form>
					{% set i = i + 1 %}
				{% endfor %}
        {% if data['feedback-pya-healthandsafety-policy'].length == i %} 
				<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-8">
				{% endif %}
			{% endif %}

			<form action="" method="post" class="form">

				<h2 class="govuk-heading-l govuk-!-margin-bottom-1">Add feedback</h2>

				{{ govukTextarea({
					name: "aac-pya-healthandsafety-policy-feedback",
					id: "aac-pya-healthandsafety-policy-feedback"
				}) }}

				{{ govukButton({
					text: "Add feedback",
					classes: "govuk-!-margin-right-4"
				}) }}

			</form>

			<p class="govuk-!-margin-top-5"><a href="/mvp-assessor/v2/applications/abc/questions-pya-healthandsafety">Back to health and safety policy</a></p>

		</div>
	</div>

	

{% endblock %}