{% extends "layouts/layout_application_v10.html" %}

{% block pageTitle %}
  Application complete - RoATP Organisation Prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
      titleText: "Application complete",
      html: "Your reference number<br><strong>HDJ2123F</strong>"
    }) }}

    <p class="govuk-body"><br>We have sent you a confirmation email.</p>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">We have sent your application to the RoATP application assessment team.</p>
    <p class="govuk-body">They will contact you either with the outcome of your application, or to ask for more information.</p>
    <p class="govuk-body"><a href="#">What did you think of this service? (takes 30 seconds)</a></p>

  </div>
</div>

{% endblock %}
