
{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Eligibility Checker v1a
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#">feedback</a> will helps us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "ukprn"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="ofsted" method="post" class="form">

        {{ govukRadios({
          idPrefix: "ico",
          name: "ico",
          fieldset: {
            legend: {
              text: "Does your organisation have an Information Commissioner's Office (ICO) registration number?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "This is your 8-digit registration number from the ICO data protection public register. Anyone who uses personal information must have one."
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("ico", "yes")
            },
            {
              value: "no",
              text: "No",
              checked: checked("ico", "no")
            }
          ]
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
