{% extends "layout_application_v7.html" %}

{% block pageTitle %}
  RoATP Application Prototype v7
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-caption-l">Management hierarchy</p>

    <form action="" method="post" class="form">

      {% if data["org-selectedroute"] == "main" %}
          
        <h1 class="govuk-heading-l">Who has your management team worked with to develop and deliver training?</h1>

        {{ govukRadios({
          idPrefix: "del-developdeliver",
          name: "del-developdeliver",
          items: [
            {
              value: "Employers",
              text: "Employers - to deliver training to their employees",
              checked: checked("del-developdeliver", "Employers")
            },
            {
              value: "Other",
              text: "Other organisations",
              checked: checked("del-developdeliver", "Other")
            },
            {
              value: "Both",
              text: "Both",
              checked: checked("del-developdeliver", "Both")
            },
            {
              value: "No one yet",
              text: "No one yet",
              checked: checked("del-developdeliver", "No one yet")
            }
          ]
        }) }}

      {% elseif data["org-selectedroute"] == "supporting" %}

        <h1 class="govuk-heading-l">Has your organisation’s management team worked with other organisations to develop and deliver training?</h1>

        {{ govukRadios({
          idPrefix: "del-developdeliver",
          name: "del-developdeliver",
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("del-developdeliver", "Yes")
            },
            {
              value: "No",
              text: "No",
              checked: checked("del-developdeliver", "No")
            }
          ]
        }) }}

      {% endif %}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}
      
      {% include "includes/v7/gethelp.html" %}

    </form>
  </div>
</div>

{% endblock %}