{% extends "layouts/layout_application_v7.html" %}

{% block pageTitle %}
  RoATP Application Prototype v7
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-caption-l">Sectors</p>

      <h1 class="govuk-heading-l">Who’s in your organisation’s management team for apprenticeships</h1>
      
      {% if data['del-employee'] %}
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Name</th>
              <th class="govuk-table__header" scope="col">Job role</th>
              <th class="govuk-table__header" scope="col">Time with organisation</th>
              <th class="govuk-table__header" scope="col"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
          {% for employee in data['del-employee'] %}
            {% if (employee.name != '') %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">{{ employee.name }}</td>
                <td class="govuk-table__cell">{{ employee.job_role }}</td>
                <td class="govuk-table__cell">{{ employee.time_with_org }}</td>
                <td class="govuk-table__cell"><a href="#">Change</a></td>
              </tr>
            {% endif %}
          {% endfor %}
          </tbody>
        </table>
        <p class="govuk_body"><a href="employee-add">Add another employee</a></p>
      {% else %}
        <p class="govuk_body"><a href="employee-add">Add an employee</a></p>
      {% endif %}

      <form action="" method="post" class="form">

        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-right-4"
        }) }}

        <p class="skipquestion" id="skipquestion"><a href="">Return to this question later</a></p>
      
        {% include "includes/v7/gethelp.html" %}

      </form>
    </div>
  </div>

{% endblock %}
