{% set current_section = "applications" %}
{% extends "layouts/layout_mvpgateway_v4.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP dashboard",
				href: ""
			},
			{
				text: "RoATP applications",
				href: ""
			},
			{
				text: "Application assessment overview",
				href: ""
			},
			{
				text: "Legal checks"
			}
		]
	}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Companies House API is not available</h1>
      <p><a class ="govuk-link" href="return-visit-apidown">Back</a></p>
    </div>
  </div>

{% endblock %}