{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v11.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP dashboard",
				href: "/staff-app/v11/dashboard"
			},
			{
				text: "RoATP applications",
				href: "/staff-app/v11/applications/gateway/applications-view"
			},
			{
				text: "Application assessment overview",
				href: "/staff-app/v11/applications/gateway/viewonly-company"
			},
			{
				text: "Organisation information"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Organisation checks</span>
			<h1 class="govuk-heading-xl">Is the website active and correct for the organisation?</h1>

			<p class="govuk-body">
				Legal name: SAFRAN LANDING SYSTEMS UK LTD<br>
				UKPRN: 10053003
			</p>

			<table class="govuk-table govuk-!-margin-bottom-9">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header">Source</th>
						<th scope="col" class="govuk-table__header" colspan="2">Website</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Submitted application</th>
						<td class="govuk-table__cell">safran-landing-systems.com</td>
						<td class="govuk-table__cell"><a href="https://www.safran-landing-systems.com/" target="_blank">Check this website</a></td>
					</tr>
				</tbody>
			</table>

			<p><a href="/staff-app/v11/applications/gateway/viewonly-company">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}
