// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


.block {
    display: block;
}

#list-of-convictions {
    display: none;
}

#list-of-convictions a {
    display: block;
}


.govuk-panel--highlight {
    background-color: govuk-colour("blue");
}

.govuk-panel--highlight h1 {
    color: govuk-colour("white")
}

.govuk-panel--highlight form {
    text-align: left;
    
}

.govuk-panel--highlight label {
    color: govuk-colour("white");
}

.govuk-panel--highlight .govuk-input {
    height: auto;
}

.govuk-panel--highlight .govuk-button {
    background-color: govuk-colour("white");
    color: govuk-colour("blue");
}

.selected-item {
    background-color: govuk-colour("blue");
    color: govuk-colour("white");
}

.selected-item a {
    color: govuk-colour("white");
    text-decoration: none;
}

#organisationDetails {
    border-left: 1px solid $govuk-border-colour;
}



