{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v8.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP dashboard",
				href: "/staff-app/v8/dashboard"
			},
			{
				text: "RoATP applications",
				href: "/staff-app/v8/applications/gateway/applications-view"
			},
			{
				text: "Application assessment overview",
				href: "/staff-app/v8/applications/gateway/tasklist-company"
			},
			{
				text: "Criminal and compliance checks"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Criminal and compliance checks</span>
			<h1 class="govuk-heading-xl">Organisation checks</h1>

			<p class="govuk-body">
				Legal name: SAFRAN LANDING SYSTEMS UK LTD<br>
				UKPRN: 10053003
			</p>
			
			<h2 class="govuk-heading-l">Has your organisation been removed from the Register of Training Organisations (RoTO) in the last 3 years?</h2>
			
			<table class="govuk-table">
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<th class="govuk-table__header">Application answer</th>
						<td class="govuk-table__cell">No</td>
					</tr>
				</tbody>
			</table>

			<form action="" method="post" class="form">

				<!--
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">Has your organisation had funding removed from any education bodies in the last 3 years?</td>
							<td class="govuk-table__cell">No</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">Has your organisation been removed from any professional or trade registers in the last 3 years?</td>
							<td class="govuk-table__cell">No</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">Has your organisation had involuntary withdrawal from Initial Teacher Training accreditation in the last 3 years?</td>
							<td class="govuk-table__cell">No</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">Has your organisation been investigated due to safeguarding issues in the last 3 years?</td>
							<td class="govuk-table__cell">No</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">Has your organisation been investigated due to whistleblowing issues in the last 3 years?</td>
							<td class="govuk-table__cell">No</td>
						</tr>

-->

				<h2 class="govuk-heading-m govuk-!-margin-top-9">What is the outcome of this check?</h2>
				
				<div class="sops">
					<p class="govuk-body">&hellip;</p>
				</div>
				
				{% set passHtml %}
					{{ govukCharacterCount({
						name: "gw-company-criminal-removedfromroto-pass",
						id: "gw-company-criminal-removedfromroto-pass",
						maxlength: 750,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}
				
				{% set rejectHtml %}
					{{ govukCharacterCount({
						name: "gw-company-criminal-removedfromroto-reject",
						id: "gw-company-criminal-removedfromroto-reject",
						maxlength: 750,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "gw-company-criminal-removedfromroto-conditional",
					name: "gw-company-criminal-removedfromroto",
					items: [
						{
							value: "Pass",
							text: "Pass",
							conditional: {
								html: passHtml
							},
							checked: checked("gw-company-criminal-removedfromroto", "Pass")
						},
						{
							value: "Reject",
							text: "Reject",
							conditional: {
								html: rejectHtml
							},
							checked: checked("gw-company-criminal-removedfromroto", "Reject")
						}
					]
				}) }}

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-4"
				}) }}
        
        <p class="skipquestion" id="skipquestion"><a href="fundingremoved">Return to this check later</a></p>

			</form>

			<p><a href="/staff-app/v8/applications/gateway/tasklist-company">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}