{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v8.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP dashboard",
				href: "/staff-app/v8/dashboard"
			},
			{
				text: "RoATP applications",
				href: "/staff-app/v8/applications/gateway/applications-view"
			},
			{
				text: "Application assessment overview",
				href: "/staff-app/v8/applications/gateway/tasklist-company"
			},
			{
				text: "Criminal and compliance checks"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Criminal and compliance checks</span>
			<h1 class="govuk-heading-xl">Check if the organisation has failed to pay back funds in the last 3 years</h1>

			<p class="govuk-body">
				Legal name: SAFRAN LANDING SYSTEMS UK LTD<br>
				UKPRN: 10053003
			</p>
			
			<p class="govuk-body">This check is to see if the organisation has failed to repay £50,000 or more:</p>
			<ul class="govuk-list govuk-list--bullet">
				<li>to ESFA or any other public body</li>
				<li>under a subcontract to deliver education and training services funded by ESFA</li>
			</ul>
			
			<table class="govuk-table">
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<th class="govuk-table__header">Application question</th>
						<td class="govuk-table__cell">Has your organisation failed to pay back funds in the last 3 years?</td>
					</tr>
					<tr class="govuk-table__row">
						<th class="govuk-table__header">Application answer</th>
						<td class="govuk-table__cell">No</td>
					</tr>
				</tbody>
			</table>

			<form action="" method="post" class="form">
			
				<h2 class="govuk-heading-m govuk-!-margin-top-9">What is the outcome of this check?</h2>
				
				<div class="sops">
					<p class="govuk-body">If the applicant’s answer is ‘no’, pass this check.</p>
					<p class="govuk-body">If the applicant’s answer is ‘yes with further information’, it must include:</p>
					<ul class="govuk-list govuk-list--bullet">
						<li>why the organisation failed to repay funding</li>
						<li>which public body was involved</li>
						<li>if any actions were taken to resolve this</li>?
					</ul>
					<p class="govuk-body">Make an outcome based on the applicant’s answer.</p>
					<p class="govuk-body">If you’re unsure, ask someone in your team before you decide on an outcome.</p>
				</div>
				
				{% set passHtml %}
					{{ govukCharacterCount({
						name: "gw-company-criminal-paybackfunds-pass",
						id: "gw-company-criminal-paybackfunds-pass",
						maxlength: 750,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}
				
				{% set rejectHtml %}
					{{ govukCharacterCount({
						name: "gw-company-criminal-paybackfunds-reject",
						id: "gw-company-criminal-paybackfunds-reject",
						maxlength: 750,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}
				
				{% set inprogressHtml %}
					{{ govukCharacterCount({
						name: "gw-company-criminal-paybackfunds-inprogress",
						id: "gw-company-criminal-paybackfunds-inprogress",
						maxlength: 750,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "gw-company-criminal-paybackfunds-conditional",
					name: "gw-company-criminal-paybackfunds",
					items: [
						{
							value: "Pass",
							text: "Pass",
							conditional: {
								html: passHtml
							},
							checked: checked("gw-company-criminal-paybackfunds", "Pass")
						},
						{
							value: "Reject",
							text: "Reject",
							conditional: {
								html: rejectHtml
							},
							checked: checked("gw-company-criminal-paybackfunds", "Reject")
						},
						{
							divider: "or"
						},
						{
							value: "In progress",
							text: "In progress",
							conditional: {
								html: inprogressHtml
							},
							checked: checked("gw-company-criminal-paybackfunds", "In progress")
						}
					]
				}) }}

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-4"
				}) }}
        
        <p class="skipquestion" id="skipquestion"><a href="contractterminated">Return to this check later</a></p>

			</form>

			<p><a href="/staff-app/v8/applications/gateway/tasklist-company">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}