
<details class="govuk-details govuk-details--gethelp" id="gethelp">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Get help with this question
        </span>
    </summary>
    <div class="govuk-details__text govuk-!-padding-bottom-0">
        <h2 class="govuk-heading-m">Get help with this question</h2>
        <div id="gethelp_content">
            <p>Do not include any personal or financial information.</p>
            {{ govukCharacterCount({
                name: "gethelp",
                id: "gethelp",
                maxlength: 250,
                label: {
                    text: "What do you need help with?"
                }
            }) }}
            <button class="govuk-button" data-module="govuk-button" id="gethelp_submit" onclick='document.getElementById("gethelp_content").innerHTML = "<h3>Successfully sent</h3 class=\"govuk-heading-s\"><p>You&apos;ll receive an email from &lsquo;XXX&rsquo; within 3 working days.</p><p>If you do not receive an email, check your junk folder or try again.</p>"'>
                Save and continue
            </button>
        </div>
    </div>
</details>