{% set current_section = "applications" %}
{% extends "layouts/layout_mvpgateway_v6.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "Dashboard",
				href: "/mvp-gateway/v6/dashboard"
			},
			{
				text: "RoATP applications",
				href: "/mvp-gateway/v6/applications/applications-gateway"
			},
			{
				text: "Application assessment overview",
				href: "/mvp-gateway/v6/applications/gateway/tasklist-abctraining"
			},
			{
				text: "Organisation's criminal and compliance checks"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Organisation's criminal and compliance checks</span>
			<h1 class="govuk-heading-xl">Composition with creditors check</h1>

			<p class="govuk-body">
				UKPRN: 12345678<br>
				Legal name: ABC TRAINING LIMITED
			</p>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">

			<dl class="govuk-summary-list">
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Application question</dt>
					<dd class="govuk-summary-list__value">Does your organisation have any composition with creditors?</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Applicant's answer</dt>
					<dd class="govuk-summary-list__value">No</dd>
				</div>
			</dl>

			<!--table class="govuk-table">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header">Application question</th>
						<th scope="col" class="govuk-table__header">Applicant's answer</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">Does your organisation have any composition with creditors?</td>
						<td class="govuk-table__cell">No</td>
					</tr>
				</tbody>
			</table-->

		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<form action="" method="post" class="form">

				<h3 class="govuk-heading-m govuk-!-margin-top-5">What is the outcome of this check?</h3>

				{% set passHtml %}
					{{ govukCharacterCount({
						name: "gw-abctraining-criminalorg-composition-pass",
						id: "gw-abctraining-criminalorg-composition-pass",
          	value: data['gw-abctraining-criminalorg-composition-pass'],
						maxwords: 150,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}
				
				{% set failHtml %}
					{{ govukCharacterCount({
						name: "gw-abctraining-criminalorg-composition-fail",
						id: "gw-abctraining-criminalorg-composition-fail",
          	value: data['gw-abctraining-criminalorg-composition-fail'],
						maxwords: 150,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}
				
				{% set inprogressHtml %}
					{{ govukCharacterCount({
						name: "gw-abctraining-criminalorg-composition-inprogress",
						id: "gw-abctraining-criminalorg-composition-inprogress",
          	value: data['gw-abctraining-criminalorg-composition-inprogress'],
						maxwords: 150,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "gw-abctraining-criminalorg-composition-conditional",
					name: "gw-abctraining-criminalorg-composition",
					items: [
						{
							value: "Pass",
							text: "Pass",
							conditional: {
								html: passHtml
							},
							checked: checked("gw-abctraining-criminalorg-composition", "Pass")
						},
						{
							value: "Fail",
							text: "Fail",
							conditional: {
								html: failHtml
							},
							checked: checked("gw-abctraining-criminalorg-composition", "Fail")
						},
						{
							value: "In progress",
							text: "In progress",
							conditional: {
								html: inprogressHtml
							},
							checked: checked("gw-abctraining-criminalorg-composition", "In progress")
						}
					]
				}) }}

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-4"
				}) }}

			</form>

			<p><a href="/mvp-gateway/v6/applications/gateway/tasklist-abctraining">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}