{% extends "layouts/layout_application_v14.html" %}

{% block pageTitle %}
  RoATP Application Prototype v14
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post" class="form">

        <span class="govuk-caption-l">Organisation information</span>
        
        <h1 class="govuk-heading-l">Confirm your organisation's partners</h1>
        
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Name</th>
              <th class="govuk-table__header" scope="col">Date of birth</th>
              <th class="govuk-table__header" scope="col"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
          {% for partner in data['org-partners'] %}
            {% if (partner.name != '') %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">{{ partner.name }}</td>
                <td class="govuk-table__cell">{{ partner.dob_month }} {{ partner.dob_year }}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Change</a> &nbsp; <a href="#">Remove</a></td>
              </tr>
            {% endif %}
          {% endfor %}
          </tbody>
        </table>

        <p class="govuk_body"><a href="org-legalstatus-partnership-choice">Add another partner</a></p>

        {{ govukButton({
          text: "Confirm and continue",
          classes: "govuk-!-margin-right-1"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
