{% extends "layout_application_v8.html" %}

{% block pageTitle %}
  RoATP Application Prototype v8
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Equality and diversity policy</span>
        
    <h1 class="govuk-heading-l">Upload your organisation’s equality and diversity policy</h1>

    <p class="gov-body">This must include how your organisation will:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>promote the policy</li>
      <li>get engagement towards the policy</li>
      <li>train its employees in implementing the policy</li>
      <li>consider the policy when recruiting</li>
      <li>consider the policy when delivering apprenticeship training</li>
      <li>consider the policy when working with employers and apprentices</li>
    </ul>

    <p class="govuk-body">The file must be a PDF and smaller than 5MB.</p>

    <form action="" method="post" class="form">
    
      {{ govukFileUpload({
        id: "wel-diversity",
        name: "wel-diversity",
        label: {
          text: "Upload a file"
        }
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-4"
      }) }}

      <p class="skipquestion" id="skipquestion"><a href="upload-safeguarding">Return to this question later</a></p>
    
      {% include "includes/v8/gethelp.html" %}

    </form>
  </div>
</div>

{% endblock %}