{% extends "layout_application_v12.html" %}

{% block pageTitle %}
  RoATP Application Prototype v13
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Forecasting starts</span>

      <h1 class="govuk-heading-l">Will your organisation recruit new staff to deliver training against these forecasts?</h1>

      <form action="" method="post" class="form">

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "plan-forecast-newstaff",
          name: "plan-forecast-newstaff",
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("plan-forecast-newstaff", "Yes")
            },
            {
              value: "No",
              text: "No",
              checked: checked("plan-forecast-newstaff", "No")
            }
          ]
        }) }}
        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-right-4"
        }) }}
        
        <p class="skipquestion" id="skipquestion"><a href="../task-list#section-financial">Return to this question later</a></p>
      
        {% include "includes/v13/gethelp.html" %}

      </form>
    </div>
  </div>

{% endblock %}
