{% extends "layout_application_v9.html" %}

{% block pageTitle %}
  RoATP Application Prototype v9
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Engaging with employers</span>

      <h1 class="govuk-heading-l">Does your organisation have anyone who’s responsible for managing relationships with employers?</h1>

      <p class="govuk-body">This should be someone who has the overall responsibility and can make decisions independently.</p>

      <form action="" method="post" class="form">

        {{ govukRadios({
          idPrefix: "rte-managingrelationships-conditional",
          name: "rte-managingrelationships",
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("rte-managingrelationships", "Yes")
            },
            {
              value: "No",
              text: "No",
              checked: checked("rte-managingrelationships", "No")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-right-4"
        }) }}

        <p class="skipquestion" id="skipquestion"><a href="promote">Return to this question later</a></p>
      
        {% include "includes/v9/gethelp.html" %}

      </form>
    </div>
  </div>

{% endblock %}
