{% extends "layout_application_v12.html" %}

{% block pageTitle %}
  RoATP Application Prototype v13
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Process of evaluating the quality of apprenticeship training</span>

    <h1 class="govuk-heading-l">How will your organisation review its process for evaluating the quality of training delivered?</h1>

    <p class="govuk-body">Your answer should include how your organisation will:</p>
  
    <ul class="govuk-list govuk-list--bullet">
      <li>regularly review the process - for example, quarterly or yearly</li>
      <li>identify gaps and make improvements to the process</li>
      <li>ensure quality is maintained throughout the process</li>
    </ul>

    <form action="" method="post" class="form">

      {{ govukCharacterCount({
        name: "eval-review",
        id: "eval-review",
        value: data['eval-review'],
        maxlength: 1500
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}
      
      {% include "includes/v13/gethelp.html" %}

    </form>
  </div>
</div>

{% endblock %}