{% extends "layout_application_v3.html" %}

{% block pageTitle %}
  RoATP Application Prototype v3
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#">feedback</a> will helps us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "../task-list"
  }) }}
  <a href="../signoutandsave" style="line-height: 1.25; margin-top: 15px; margin-bottom: 15px; float: right;">Save and sign out</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        
    <h1 class="govuk-heading-l">Upload your organisation’s financial statements covering the last 12 months</h1>

    <p class="gov-body">Financial statements must include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>a ‘balance sheet’, showing the value of everything the organisation owns, owes and is owed on the last day of the financial year</li>
      <li>a ‘profit and loss account’, showing the organisation’s sales, running costs and the profit and loss it made over the financial year</li>
      <li>notes about the accounts</li>
      <li>a breakdown of creditors and borrowings</li>
    </ul>

    <form action="" method="post" class="form">
    
      {{ govukFileUpload({
        id: "fin-financial",
        name: "fin-financial",
        label: {
          text: "Upload a file"
        }
      }) }}

      {{ govukWarningText({
        text: "Financial statements must not be shortened or changed. If they are, you may fail this question.",
        iconFallbackText: "Warning"
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}

    </form>
  </div>
</div>

{% endblock %}