{% set current_section = "applications" %}
{% extends "layouts/layout_mvpgateway_v1.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP dashboard",
				href: "/mvp-gateway/v1/dashboard"
			},
			{
				text: "RoATP applications",
				href: "/mvp-gateway/v1/applications/applications-gateway"
			},
			{
				text: "Application assessment overview"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-xl">Application assessment overview</h1>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
	
			<dl class="govuk-summary-list govuk-!-margin-bottom-9">
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">UKPRN</dt>
					<dd class="govuk-summary-list__value">10053003</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Organisation name</dt>
					<dd class="govuk-summary-list__value">SAFRAN LANDING SYSTEMS UK LTD</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Provider route</dt>
					<dd class="govuk-summary-list__value">Main</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Application reference number</dt>
					<dd class="govuk-summary-list__value">APR00001</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Date application submitted</dt>
					<dd class="govuk-summary-list__value">17 Oct 2019</dd>
				</div>
			</dl>

			<ol class="app-task-list">
				<li>
					<h2 class="app-task-list__section">
						<span class="app-task-list__section-number">1. </span> Initial checks
					</h2>
					<ul class="app-task-list__items">
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="company/initial/legalname">Legal and address checks</a>
							</span>
							{% if data['gw-company-initial-outcome'] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="gw-company-initial-outcome-passed">Passed</strong>
							{% elseif data['gw-company-initial-outcome'] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="gw-company-initial-outcome-rejected">Rejected</strong>
							{% elseif data['gw-company-initial-outcome'] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-completed" id="gw-company-initial-outcome-inprogress">In progress</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="company/highrisk/organisation">Organisation high risk checks</a>
							</span>
							{% if data['gw-company-highrisk-organisation'] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="gw-company-highrisk-organisation-passed">Passed</strong>
							{% elseif data['gw-company-highrisk-organisation'] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="gw-company-highrisk-organisation-rejected">Rejected</strong>
							{% elseif data['gw-company-highrisk-organisation'] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-completed" id="gw-company-highrisk-organisation-rejected">In progress</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="company/highrisk/people">People in control high risk checks</a>
							</span>
							{% if data['gw-company-highrisk-people'] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="gw-company-highrisk-people-passed">Passed</strong>
							{% elseif data['gw-company-highrisk-people'] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="gw-company-highrisk-people-rejected">Rejected</strong>
							{% elseif data['gw-company-highrisk-people'] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-completed" id="gw-company-highrisk-people-rejected">In progress</strong>
							{% endif %}
						</li>
					</ul>
				</li>
				<li>
					<h2 class="app-task-list__section">
						<span class="app-task-list__section-number">2. </span> Register checks
					</h2>
					<ul class="app-task-list__items">
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="company/register/roatp">RoATP</a>
							</span>
							{% if data['gw-company-register-roatp'] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="gw-company-register-roatp-outcome-passed">Passed</strong>
							{% elseif data['gw-company-register-roatp'] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="gw-company-register-roatp-outcome-rejected">Rejected</strong>
							{% elseif data['gw-company-register-roatp'] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-completed" id="gw-company-highrisk-people-rejected">In progress</strong>
							{% endif %}
						</li>
						<!--li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="company/register/roto">Register of training organisations</a>
							</span>
							{% if data['gw-company-register-roto'] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="gw-company-register-roto-passed">Passed</strong>
							{% elseif data['gw-company-register-roto'] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="gw-company-register-roto-rejected">Rejected</strong>
							{% elseif data['gw-company-register-roto'] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-completed" id="gw-company-register-roto-rejected">In progress</strong>
							{% endif %}
						</li-->
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="company/register/epao">Register of end-point assessment organisations</a>
							</span>
							{% if data['gw-company-register-epao'] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="gw-company-register-epao-passed">Passed</strong>
							{% elseif data['gw-company-register-epao'] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="gw-company-register-epao-rejected">Rejected</strong>
							{% elseif data['gw-company-register-epao'] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-completed" id="gw-company-register-epao-rejected">In progress</strong>
							{% endif %}
						</li>
						<!--li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="company/register/rort">Register of removed trustees</a>
							</span>
							{% if data['gw-company-register-rort'] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="gw-company-register-rort-passed">Passed</strong>
							{% elseif data['gw-company-register-rort'] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="gw-company-register-rort-rejected">Rejected</strong>
							{% elseif data['gw-company-register-rort'] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-completed" id="gw-company-register-rort-rejected">In progress</strong>
							{% endif %}
						</li-->
					</ul>
				</li>
				<li>
					<h2 class="app-task-list__section">
						<span class="app-task-list__section-number">3. </span> Organisation checks
					</h2>
					<ul class="app-task-list__items">
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="company/organisation/info/parent-name">Organisation information</a>
							</span>
							{% if data['gw-company-organisation-info'] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="gw-company-organisation-info-passed">Passed</strong>
							{% elseif data['gw-company-organisation-info'] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="gw-company-organisation-info-rejected">Rejected</strong>
							{% elseif data['gw-company-organisation-info'] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-completed" id="gw-company-organisation-info-rejected">In progress</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<!--a href="company/organisation/type/type">Organisation type</a-->
								Organisation type
							</span>
							{% if data['gw-company-organisation-type'] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="gw-company-organisation-type-passed">Passed</strong>
							{% elseif data['gw-company-organisation-type'] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="gw-company-organisation-type-rejected">Rejected</strong>
							{% elseif data['gw-company-organisation-type'] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-completed" id="gw-company-organisation-type-rejected">In progress</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								Experience and accreditation
								<!--a href="company/organisation/experience/itt">Experience and accreditation</a-->
							</span>
						</li>
					</ul>
				</li>
				<li>
					<h2 class="app-task-list__section">
						<span class="app-task-list__section-number">4. </span> Criminal and compliance checks
					</h2>
					<ul class="app-task-list__items">
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="company/criminal/organisation">The organisation</a>
							</span>
							{% if data['gw-company-criminal-organisation-outcome'] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="gw-company-criminal-organisation-outcome-passed">Passed</strong>
							{% elseif data['gw-company-criminal-organisation-outcome'] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="gw-company-criminal-organisation-outcome-rejected">Rejected</strong>
							{% elseif data['gw-company-criminal-organisation-outcome'] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-completed" id="gw-company-criminal-organisation-outcome-rejected">In progress</strong>
							{% endif %}
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								<a href="company/criminal/peopleincontrol">People in control</a>
							</span>
							{% if data['gw-company-criminal-people-outcome'] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="gw-company-criminal-people-outcome-passed">Passed</strong>
							{% elseif data['gw-company-criminal-people-outcome'] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="gw-company-criminal-people-outcome-rejected">Rejected</strong>
							{% elseif data['gw-company-criminal-people-outcome'] == "In progress" %}
								<strong class="govuk-tag app-task-list__task-completed" id="gw-company-criminal-people-outcome-rejected">In progress</strong>
							{% endif %}
						</li>
					</ul>
				</li>
				<li>
					<h2 class="app-task-list__section">
						<span class="app-task-list__section-number">5. </span> Submission checks
					</h2>
					<ul class="app-task-list__items">
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								Application permissions and checks
							</span>
						</li>
						<!--li class="app-task-list__item">
							<span class="app-task-list__task-name">
								‘Commercial in confidence’ information
							</span>
						</li>
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								Terms and conditions (CoA’s)
							</span>
						</li-->
					</ul>
				</li>
				<!--li>
					<h2 class="app-task-list__section">
						<span class="app-task-list__section-number">7. </span> Gateway outcome
					</h2>
					<ul class="app-task-list__items">
						<li class="app-task-list__item">
							<span class="app-task-list__task-name">
								Confirm gateway outcome
							</span>
						</li>
					</ul>
				</li-->
			</ol>

		</div>
	</div>
      
{% endblock %}
