{% if searchStr == "000000" %}
{% set title %}No results found for 'XXX'{% endset %}
{% else %}
{% set title %}3 results found for 'XXX'{% endset %}
{% endif %}

{% extends "layout.html" %}

{% block header %}
  {% include "includes/header-staff-app-signedin.html" %}
{% endblock %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
    {% set backLink="register" %}
    {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl govuk-!-width-two-thirds">{{ title }}</h1>

{% if searchStr == "000000" %}
<a href="register" class="govuk-button">Search again</a>
{% else %}
<div class="govuk-grid-row">
    <div id="searchResultsList" class="govuk-grid-column-one-third">
        <ul class="govuk-list">
            <li class="govuk-section-break govuk-!-margin-bottom-2 govuk-!-padding-1 selected-item">
                <a href="#" class="govuk-!-font-weight-bold">ABC Awards</a>
                <span class="block">UKPRN 10022660</span>
            </li>
            
            <li class="govuk-section-break govuk-!-margin-bottom-2 govuk-!-padding-1">
                <a href="#">Babcock Assessments Ltd</a>
                <span class="block">UKPRN 10022660</span>
            </li>
            
            <li class="govuk-section-break govuk-!-margin-bottom-2 govuk-!-padding-1">
                <a href="#">Baloon trainers Ltd</a>
                <span class="block">UKPRN 10022660</span>
            </li>
        </ul>
    </div>
    
    <div id="organisationDetails" class="govuk-body govuk-grid-column-two-thirds">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half govuk-!-font-size-27 govuk-!-font-weight-bold">
                Employer provider
            </div>
            <div class="govuk-grid-column-one-half">
                <span class="govuk-tag govuk-!-font-size-19">Active</span>
                <span class="block">updated on 10/1/2019</span>
            </div>
        </div>
        <a href="change-route-status" class="govuk-link govuk-link--no-visited-state">Change</a>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-!-font-size-27 govuk-!-font-weight-bold govuk-!-margin-bottom-3">
                ABC Awards
                <span class="govuk-hint">Legal and trading name</span>
            </div>
            
            <div class="govuk-grid-column-full govuk-!-font-size-19 govuk-!-font-weight-bold govuk-!-margin-bottom-3">
                Employer training apprentices within their Connected Companies
                <span class="govuk-hint">Type of organisation</span>
            </div>
            
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third govuk-!-font-size-19 govuk-!-font-weight-bold">
                1002266
                <span class="govuk-hint">UKPRN</span>
            </div>

            <div class="govuk-grid-column-one-third govuk-!-font-size-19 govuk-!-font-weight-bold">
                1893839
                <span class="govuk-hint">Company number</span>
            </div>
            
            <div class="govuk-grid-column-one-third govuk-!-font-size-19 govuk-!-font-weight-bold">
                1928390
                <span class="govuk-hint">Charity registration number</span>
            </div>
        </div>
        <a href="#" class="govuk-link govuk-link--no-visited-state">Change</a>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
        
        <ul class="govuk-list govuk-list--bullet">
            <li>parent company guarantee</li>
            <li>no financial record</li>
        </ul>

    </div>

</div>
{% endif %}
{% endblock %}
