{% extends "layout_application_v4.html" %}

{% block pageTitle %}
  RoATP Application Prototype v4
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post" class="form">

      {% set detailHtml %}
        {{ govukTextarea({
          id: "dec-org-contractterminated-detail",
          name: "dec-org-contractterminated-detail",
          label: {
            text: "Give us more information"
          },
          hint: {
            text: "You can include a brief summary of what measures have been put in place to manage this."
          },
          value: data['dec-org-contractterminated-detail'],
          attributes: {
            spellcheck: "false"
          }
        }) }}
      {% endset -%}

        {{ govukRadios({
          idPrefix: "dec-org-contractterminated",
          name: "dec-org-contractterminated",
          fieldset: {
            legend: {
              text: "Has your organisation had a contract terminated by a public body in the last 3 years?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("dec-org-contractterminated", "yes"),
              conditional: {
                html: detailHtml
              }
            },
            {
              value: "no",
              text: "No",
                checked: checked("dec-org-contractterminated", "no")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-right-1"
        }) }}
      
        {% include "includes/gethelp.html" %}

      </form>
    </div>
  </div>

{% endblock %}
