{% extends "layout_application_v4.html" %}

{% block pageTitle %}
  RoATP Application Prototype v4
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post" class="form">

        {% set detailHtml %}
          {{ govukTextarea({
            id: "dec-people-contractterminated-detail",
            name: "dec-people-contractterminated-detail",
            label: {
              text: "Give us more information"
            },
            hint: {
              text: "You can include a brief summary of what measures have been put in place to manage this."
            },
            value: data['dec-people-contractterminated-detail'],
            attributes: {
              spellcheck: "false"
            }
          }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "dec-people-contractterminated",
          name: "dec-people-contractterminated",
          fieldset: {
            legend: {
              text: "Has anyone who’s in control of your organisation had a contract terminated by a public body in the last 3 years?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("dec-people-contractterminated", "yes"),
              conditional: {
                html: detailHtml
              }
            },
            {
              value: "no",
              text: "No",
                checked: checked("dec-people-contractterminated", "no")
            }
          ]
        }) }}
        
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Who's in control
            </span>
          </summary>
          <div class="govuk-details__text">

            {% include "../../../includes/directors-pscs.html" %}

          </div>
        </details>

        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-right-1"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
