{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v9.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP dashboard",
				href: "/staff-app/v9/dashboard"
			},
			{
				text: "RoATP applications",
				href: "/staff-app/v9/applications/gateway/applications-view"
			},
			{
				text: "Application assessment overview",
				href: "/staff-app/v9/applications/gateway/viewonly-company"
			},
			{
				text: "Experience and accreditation"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Organisation checks</span>
			<h1 class="govuk-heading-xl">People high risk check</h1>

			<p class="govuk-body">
				Legal name: SAFRAN LANDING SYSTEMS UK LTD<br>
				UKPRN: 10053003<br>
				Application submitted on: 17 Oct 2019<br>
				Sources checked on: 27 Nov 2019
			</p>
			
			<div class="sops">
				<p class="govuk-body">Search for each person using the following links:</p>
				<ul class="govuk-list govuk-list--bullet">
					<li><a href="">DNA</a></li>
					<li><a href="">High risk</a></li>
				</ul>
				<p class="govuk-body">Pass this check if each person X X X</p>
			</div>

			<h2 class="govuk-heading-l">Company directors</h2>
			<table class="govuk-table govuk-!-margin-bottom-9">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header">Name</th>
						<th scope="col" class="govuk-table__header">Date of birth</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<td scope="row" class="govuk-table__cell">BOUVIER, Jacqueline</td>
						<td class="govuk-table__cell">Feb 1955</td>
					</tr>
					<tr class="govuk-table__row">
						<td scope="row" class="govuk-table__cell">POWELL, Herbert</td>
						<td class="govuk-table__cell">May 1963</td>
					</tr>
					<tr class="govuk-table__row">
						<td scope="row" class="govuk-table__cell">POWERS, Ruth</td>
						<td class="govuk-table__cell">May 1957</td>
					</tr>
					<tr class="govuk-table__row">
						<td scope="row" class="govuk-table__cell">VAN HOUTEN, Kirk</td>
						<td class="govuk-table__cell">Mar 1960</td>
					</tr>
				</tbody>
			</table>

			<h2 class="govuk-heading-l">People with significant control (PSCs)</h2>
			<table class="govuk-table govuk-!-margin-bottom-9">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header">Name</th>
						<th scope="col" class="govuk-table__header">Date of birth</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<td scope="row" class="govuk-table__cell">BOUVIER, Jacqueline</td>
						<td class="govuk-table__cell">Feb 1955</td>
					</tr>
					<tr class="govuk-table__row">
						<td scope="row" class="govuk-table__cell">POWELL, Herbert</td>
						<td class="govuk-table__cell">May 1963</td>
					</tr>
					<tr class="govuk-table__row">
						<td scope="row" class="govuk-table__cell">ACME LIMITED</td>
						<td class="govuk-table__cell govuk-table__cell--numeric"></td>
					</tr>
				</tbody>
			</table>
			
			<p><a href="/staff-app/v9/applications/gateway/viewonly-company">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}
