{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v6.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to application assessment overview",
    href: "/staff-app/v6/applications/gateway/tasklist-company"
  }) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-m">Initial checks</span>
			<h1 class="govuk-heading-xl">Address checks</h1>

			<h3 class="govuk-heading-m">Applicant data</h3>
			<p class="govuk-body">
				Legal name: SAFRAN LANDING SYSTEMS UK LTD<br>
				UKPRN: 10053003<br>
				Primary verification authority: Companies House<br>
				Date application submitted: 17 Oct 2019
			</p>

			<table class="govuk-table">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header">Address</th>
						<th scope="col" class="govuk-table__header">Website address</th>
						<th scope="col" class="govuk-table__header">Website address</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">Gloucester, GL2 9QH</td>
						<td class="govuk-table__cell">Yes</td>
						<td class="govuk-table__cell"><a href="https://www.safran-landing-systems.com/">safran-landing-systems.com</a></td>
					</tr>
				</tbody>
			</table>

			<form action="address-recheck" method="post" class="form">

				{{ govukButton({
					classes: "govuk-!-margin-right-3 govuk-button-checkapis",
					text: "Get latest data"
				}) }}

			</form>

			<p><a href="../tasklist-company">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}
