
{% extends "layout.html" %}

{% block pageTitle %}
  Eligibility Checker v2
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#">feedback</a> will helps us to improve it.'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Sign in</h1>

    <p class="govuk-body">Sign in or <a href="#">create an account</a> to manage your apprenticeship funds.</p>

    <form action="experience" method="post" class="form">

      {{ govukInput({
        label: {
          text: "Email address"
        },
        id: "email-address",
        name: "email-address"
      }) }}

      {{ govukInput({
        label: {
          text: "Password"
        },
        id: "password",
        name: "password"
      }) }}

      {{ govukButton({
        text: "Sign in",
        href: "#"
      }) }}

    </form>

    <p class="govuk-body"><a href="#">Forgotten your password?</a></p>

  </div>
</div>

{% endblock %}
