
{% extends "layout.html" %}

{% block pageTitle %}
  Eligibility Checker v2
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#">feedback</a> will helps us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "trading"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="experience" method="post" class="form">

        {{ govukRadios({
          idPrefix: "train-within",
          name: "train-within",
          fieldset: {
            legend: {
              text: "Will your organisation start training apprentices within the first 12 months of joining the register?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("train-within", "yes")
            },
            {
              value: "no",
              text: "No",
              checked: checked("train-within", "no")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
