{% extends "layout_application_v12.html" %}

{% block pageTitle %}
  RoATP Application Prototype v13
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Prevent duty</span>

      <h1 class="govuk-heading-l">Does your organisation’s safeguarding policy include its responsibilities towards the Prevent duty?</h1>

      <p class="govuk-body">This means your organisation's safeguarding policy includes how it will:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>have a legal responsibility to fulfill the prevent duty statement</li>
        <li>protect apprentices and employees from radicalising influences</li>
        <li>ensure apprentices and employees are resilient to extreme narratives</li>
        <li>identify changes in behaviour of apprentices and employees</li>
        <li>deal with any issues raised by apprentices or employees</li>
      </ul>

      <form action="" method="post" class="form">

        {{ govukRadios({
          idPrefix: "wel-preventduty",
          name: "wel-preventduty",
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("wel-preventduty", "Yes")
            },
            {
              value: "No",
              text: "No",
                checked: checked("wel-preventduty", "No")
            }
          ]
        }) }}

        <p class="govuk-body"><a href="https://www.gov.uk/government/publications/prevent-duty-guidance" target="_blank">Find out about the Prevent duty (opens in a new window or tab)</a>.</p>

        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-right-4"
        }) }}

        <p class="skipquestion" id="skipquestion"><a href="upload-healthandsafety">Return to this question later</a></p>
      
        {% include "includes/v13/gethelp.html" %}

      </form>
    </div>
  </div>

{% endblock %}
