{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v11.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP applications",
				href: "/mvp-assessor/v5/applications/applications-assessor"
			},
			{
				text: "Application overview",
				href: "/mvp-assessor/v5/applications/tasklist-abc"
			},
			{
				text: "Protecting your apprentices",
				href: "/mvp-assessor/v5/applications/tasklist-abc-pya"
			},
			{
				text: "Safeguarding and prevent duty policy",
				href: "/mvp-assessor/v5/applications/abc/questions-pya-safeguarding"
			},
			{
				text: "Add comments"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-m">Assessor</span>
			<h1 class="govuk-heading-xl">Comments</h1>
			<h2 class="govuk-heading-l">Safeguarding and Prevent duty policy</h2>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
		
			<table class="govuk-table govuk-!-margin-top-5">
				<thead class="govuk-table__body">
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header" style="vertical-align: top">Application question</th>
						<th scope="row" class="govuk-table__header" style="vertical-align: top">Applicant’s answer</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<td class="govuk-table__cell" style="vertical-align: top;">
							Tell us who has overall responsibility for safeguarding in your organisation
							{{ govukDetails({
								classes: "govuk-!-margin-bottom-0",
								summaryText: "View application guidance",
								html: '<p class="govuk-body">This must be someone who has the overall responsibility, relevant knowledge and skills to manage safeguarding concerns.</p>
								<p class="govuk-body">We’ll only contact them if there is a safeguarding concern.</p>'
							}) }}
						</td>
						<td class="govuk-table__cell" style="vertical-align: top;">
							<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Full name</h3>
							<p class="govuk-body">[First name] [Last name]</p>
							<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Email</h3>
							<p class="govuk-body"><a href="javascript:preventDefault();">email@abc.com</a></p>
							<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Contact number</h3>
							<p class="govuk-body">07123 456789</p>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			{% set i = 0 %}
      {% if data['feedback-abc-pya-safeguarding-responsible'][0] %}
				<h2 class="govuk-heading-l govuk-!-margin-top-5">Your comments</h2>
				{% for item in data['feedback-abc-pya-safeguarding-responsible'] %}
					<h3 class="govuk-heading-s govuk-!-margin-bottom-2">{{ data['feedback-abc-pya-safeguarding-responsible'][i]['user'] }}</h3>
					<p class="govuk-body-s govuk-!-margin-bottom-2">{{ data['feedback-abc-pya-safeguarding-responsible'][i]['dateadded'] }}</p>
					<p class="govuk-body govuk-!-margin-bottom-2">{{ data['feedback-abc-pya-safeguarding-responsible'][i]['feedback'] }}</p>
					<form action="delete-pya-safeguarding-responsible" method="post" class="form">
						<input name="feedbackid" type="hidden" value="{{i}}">
						{{ govukButton({
							text: "Delete comments",
							classes: "govuk-button--warning"
						}) }}
					</form>
					{% set i = i + 1 %}
				{% endfor %}
        {% if data['feedback-abc-pya-safeguarding-responsible'].length == i %} 
				<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-8">
				{% endif %}
			{% else %}

				<form action="" method="post" class="form">

					{{ govukTextarea({
						name: "aac-abc-pya-safeguarding-responsible-feedback",
						id: "aac-abc-pya-safeguarding-responsible-feedback",
						label: {
							html: '<h2 class="govuk-heading-l govuk-!-margin-top-9 govuk-!-margin-bottom-0">Enter your comments</h2>'
						},
						hint: {
							text: "The applicant can use this information to change and resubmit their application."
						}
					}) }}

					{{ govukButton({
						text: "Save and continue",
						classes: "govuk-!-margin-right-4"
					}) }}

				</form>

			{% endif %}

			<p class="govuk-!-margin-top-5"><a href="/mvp-assessor/v5/applications/abc/questions-pya-safeguarding">Back to safeguarding and prevent duty policy</a></p>

		</div>
	</div>

	

{% endblock %}