{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v6a.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to view applications",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-m">Gateway</span>
			<h1 class="govuk-heading-xl">Assessment overview</h1>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
	
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">UKPRN</dt>
				<dd class="govuk-summary-list__value">10006054</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Organisation name</dt>
				<dd class="govuk-summary-list__value">SUPPORTING PEOPLE ACHIEVING REAL CHOICE</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Provider route</dt>
				<dd class="govuk-summary-list__value">Employer</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Reference number</dt>
				<dd class="govuk-summary-list__value">APR00000003</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Application submitted</dt>
				<dd class="govuk-summary-list__value">19 Oct 2019</dd>
			</div>
		</dl>

		<ol class="app-task-list">
			<li>
				<h2 class="app-task-list__section">
					<span class="app-task-list__section-number">1. </span> Initial checks
				</h2>
				<ul class="app-task-list__items">
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							<a href="checks/charity-legal">Legal and address checks</a>
						</span>
						{% if data['gw-charity-legal'] == "Pass" %}
							<strong class="govuk-tag app-task-list__task-positive" id="gw-charity-legal-passed">Passed</strong>
						{% elseif data['gw-charity-legal'] == "Reject" %}
							<strong class="govuk-tag app-task-list__task-negative" id="gw-charity-legal-rejected">Rejected</strong>
						{% else %}
							<strong class="govuk-tag app-task-list__task-todo" id="gw-charity-legal-todo">To do</strong>
						{% endif %}
					</li>
					<!--li class="app-task-list__item">
						<span class="app-task-list__task-name">
							<a href="checks/address">Address checks</a>
						</span>
						{% if data['gw-address'] == "Pass" %}
							<strong class="govuk-tag app-task-list__task-positive" id="gw-address-passed">Passed</strong>
						{% elseif data['gw-address'] == "Reject" %}
							<strong class="govuk-tag app-task-list__task-negative" id="gw-address-rejected">Rejected</strong>
						{% else %}
							<strong class="govuk-tag app-task-list__task-todo" id="gw-address-todo">To do</strong>
						{% endif %}
					</li-->
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							<a href="checks/charity-register">Register checks</a>
						</span>
						{% if data['gw-charity-register'] == "Pass" %}
							<strong class="govuk-tag app-task-list__task-positive" id="gw-charity-register-passed">Passed</strong>
						{% elseif data['gw-charity-register'] == "Reject" %}
							<strong class="govuk-tag app-task-list__task-negative" id="gw-charity-register-rejected">Rejected</strong>
						{% else %}
							<strong class="govuk-tag app-task-list__task-todo" id="gw-charity-register-todo">To do</strong>
						{% endif %}
					</li>
				</ul>
			</li>
			<li>
				<h2 class="app-task-list__section">
					<span class="app-task-list__section-number">2. </span> Organisation information
				</h2>
				<ul class="app-task-list__items">
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							<!--a href="checks/orginfo"-->Organisation checks<!--/a-->
						</span>
						{% if data['gw-orginfo'] == "In progress" %}
							<strong class="govuk-tag app-task-list__task-inprogressalt" id="gw-orginfo-passed">{{ data['gw-orginfo'] }}</strong>
						{% elseif data['gw-orginfo'] == "Complete" %}
							{% if data['count-gw-org-rejects'] > 0 %}
							<strong class="govuk-tag app-task-list__task-negative" id="gw-orginfo-rejected">{{ data['count-gw-org-rejects'] }} Rejection{% if data['count-gw-org-rejects'] != 1 %}s{% endif %}</strong>
							{% else %}
							<strong class="govuk-tag app-task-list__task-positive" id="gw-orginfo-passed">Passed</strong>
							{% endif %}
						{% else %}
							<strong class="govuk-tag app-task-list__task-todo" id="gw-orginfo-todo">To do</strong>
						{% endif %}
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							Who's in control
						</span>
						<strong class="govuk-tag app-task-list__task-todo" id="gw-whosincontrol-todo">To do</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							Organisation description
						</span>
						<strong class="govuk-tag app-task-list__task-todo" id="gw-orgdesc-todo">To do</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							Experience and accreditations
						</span>
						<strong class="govuk-tag app-task-list__task-todo" id="gw-ofsted-todo">To do</strong>
					</li>
				</ul>
			</li>
			<li>
				<h2 class="app-task-list__section">
					<span class="app-task-list__section-number">3. </span> Criminal and compliance checks
				</h2>
				<ul class="app-task-list__items">
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							The organisation
						</span>
						<strong class="govuk-tag app-task-list__task-todo" id="gw-compliance-org-todo">To do</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							Who's in control
						</span>
						<strong class="govuk-tag app-task-list__task-todo" id="gw-compliance-people-todo">To do</strong>
					</li>
				</ul>
			</li>
			<li>
				<h2 class="app-task-list__section">
					<span class="app-task-list__section-number">4. </span> Submission checks
				</h2>
				<ul class="app-task-list__items">
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							Application permissions and checks
						</span>
						<strong class="govuk-tag app-task-list__task-todo" id="gw-compliance-org-todo">To do</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							‘Commercial in confidence’ information
						</span>
						<strong class="govuk-tag app-task-list__task-todo" id="gw-compliance-people-todo">To do</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							Terms and conditions (CoA’s)
						</span>
						<strong class="govuk-tag app-task-list__task-todo" id="gw-compliance-people-todo">To do</strong>
					</li>
				</ul>
			</li>
			<!--li>
				<h2 class="app-task-list__section">
				<span class="app-task-list__section-number">3. </span> Criminal and compliance checks
				</h2>
				<ul class="app-task-list__items">
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">Organisation checks</span>
						<strong class="govuk-tag app-task-list__task-todo" id="gw-orginfo-todo">To do</strong>
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">Who's in control checks</span>
						<strong class="govuk-tag app-task-list__task-todo" id="gw-orginfo-todo">To do</strong>
					</li>
				</ul>
			</li-->
			</ol>

		</div>
	</div>
      
{% endblock %}
