{% set title="Enter security code" %}

{% extends "layout.html" %}

{% block header %}
  {% include "includes/header-join-register.html" %}
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ title }}</h1>
        <p>This has been emailed to you on your@email.co.uk.</p>
        <form method="post">
            <div class="govuk-form-group">
                <label class="govuk-label" for="securityCode">Security code</label>
                <input type="text" class="govuk-input govuk-!-width-two-thirds" id="securityCode" />
            </div>
            <input type="submit" value="Continue to DfE Sign-in" class="govuk-button" />
        </form>
    </div>
</div>

{% endblock %}
