{% extends "layout_application_v13.html" %}

{% block pageTitle %}
  RoATP Application Prototype v13
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">Changing your UKPRN</h1>

    <p class="govuk-body">If you change your UKPRN, you may need to answer all following application questions again. This is because the details we get from UKRLP about your organisation determines the rest of your application questions.</p>

    <p class="govuk-body">We will ask you different application questions and you may be required to provide different answers and uploads.</p>

    <p class="govuk-body">Find out what you might need on <a href="">the RoATP GOV.UK page (opens in a new window or tab)</a>.</p>

    <form action="" method="post" class="form">

      {{ govukRadios({
        idPrefix: "change-ukprn",
        name: "change-ukprn",
        fieldset: {
          legend: {
            text: "Are you sure you want to change your UKPRN?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}

    </form>

  </div>
{% endblock %}
