{% extends "layouts/layout_application_v13.html" %}

{% block pageTitle %}
  RoATP Application Prototype v13
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">You do not agree to the terms and conditions of making an application</h1>

    <p class="govuk-body">This means your organisation cannot apply to join the RoATP.</p>

    <p class="govuk-body"><a href="#">Back to GOV.UK</a></p>

  </div>
</div>

{% endblock %}
