{% extends "layouts/layout_application_v13.html" %}

{% block pageTitle %}
  Sign in - RoATP Organisation Prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">We have saved your answers and signed you out</h1>

    <p class="govuk-body">Your application will be saved for 30 days after you sign out. After this, we will delete your application and you will need to start again.</p>
    <p class="govuk-body">To continue with your application later, use this link: <a href="">[LINK]</a></p>
    <p class="govuk-body"><a href="https://www.gov.uk/">Back to GOV.UK</a></p>

  </div>
</div>

{% endblock %}
