{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v10.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP applications",
				href: "/staff-app/v10/applications/applications-assessor"
			},
			{
				text: "Application assessment overview",
				href: "/staff-app/v10/applications/assessor/tasklist-3127"
			},
			{
				text: "Planning apprenticeship training checks"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Planning apprenticeship training checks</span>
			<h1 class="govuk-heading-xl">Check how the organisation plans to engage and work with awarding bodies</h1>

			<p class="govuk-body">
				Legal name: MY RECRUITMENT LIMITED<br>
				UKPRN: 12345678
			</p>
			
			<table class="govuk-table">
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<th class="govuk-table__header">Application question</th>
						<td class="govuk-table__cell">How does your organisation plan to engage and work with awarding bodies?</td>
					</tr>
					<tr class="govuk-table__row">
						<th class="govuk-table__header">Applicant's answer</th>
						<td class="govuk-table__cell"></td>
					</tr>
				</tbody>
			</table>

			<h2 class="govuk-heading-m govuk-!-margin-top-9" id="realtime">Does the applicant’s answer include how the organisation will find awarding bodies for relevant apprenticeship frameworks?</h2>
			{{ govukRadios({
				idPrefix: "aac-3127-pat-engage-awarding-find",
				name: "aac-3127-pat-engage-awarding-find",
				classes: "govuk-radios--inline",
				items: [
					{
						value: "Yes",
						text: "Yes",
						checked: checked("aac-3127-pat-engage-awarding-find", "Yes")
					},
					{
						value: "No",
						text: "No",
						checked: checked("aac-3127-pat-engage-awarding-find", "No")
					}
				]
			}) }}

			<h2 class="govuk-heading-m govuk-!-margin-top-9" id="realtime">Does the applicant’s answer include how the organisation will contact awarding bodies?</h2>
			{{ govukRadios({
				idPrefix: "aac-3127-pat-engage-awarding-contact",
				name: "aac-3127-pat-engage-awarding-contact",
				classes: "govuk-radios--inline",
				items: [
					{
						value: "Yes",
						text: "Yes",
						checked: checked("aac-3127-pat-engage-awarding-contact", "Yes")
					},
					{
						value: "No",
						text: "No",
						checked: checked("aac-3127-pat-engage-awarding-contact", "No")
					}
				]
			}) }}

			<h2 class="govuk-heading-m govuk-!-margin-top-9" id="realtime">Does the applicant’s answer include how the organisation will get relevant information from awarding bodies?</h2>
			{{ govukRadios({
				idPrefix: "aac-3127-pat-engage-awarding-relevant",
				name: "aac-3127-pat-engage-awarding-relevant",
				classes: "govuk-radios--inline",
				items: [
					{
						value: "Yes",
						text: "Yes",
						checked: checked("aac-3127-pat-engage-awarding-relevant", "Yes")
					},
					{
						value: "No",
						text: "No",
						checked: checked("aac-3127-pat-engage-awarding-relevant", "No")
					}
				]
			}) }}

			<h2 class="govuk-heading-m govuk-!-margin-top-9" id="realtime">Does the applicant’s answer include how the organisation will engage employers in the process of choosing an awarding body?</h2>
			{{ govukRadios({
				idPrefix: "aac-3127-pat-engage-awarding-process",
				name: "aac-3127-pat-engage-awarding-process",
				classes: "govuk-radios--inline",
				items: [
					{
						value: "Yes",
						text: "Yes",
						checked: checked("aac-3127-pat-engage-awarding-process", "Yes")
					},
					{
						value: "No",
						text: "No",
						checked: checked("aac-3127-pat-engage-awarding-process", "No")
					}
				]
			}) }}

			<h2 class="govuk-heading-m govuk-!-margin-top-9" id="realtime">Does the applicant’s answer include how the organisation will confirm a contract or service agreement with awarding bodies?</h2>
			{{ govukRadios({
				idPrefix: "aac-3127-pat-engage-awarding-confirm",
				name: "aac-3127-pat-engage-awarding-confirm",
				classes: "govuk-radios--inline",
				items: [
					{
						value: "Yes",
						text: "Yes",
						checked: checked("aac-3127-pat-engage-awarding-confirm", "Yes")
					},
					{
						value: "No",
						text: "No",
						checked: checked("aac-3127-pat-engage-awarding-confirm", "No")
					}
				]
			}) }}

			<h2 class="govuk-heading-m govuk-!-margin-top-9" id="realtime">Does the applicant’s answer include what information the organisation will ask an awarding body to ensure they are suitable?</h2>
			{{ govukRadios({
				idPrefix: "aac-3127-pat-engage-awarding-suitable",
				name: "aac-3127-pat-engage-awarding-suitable",
				classes: "govuk-radios--inline",
				items: [
					{
						value: "Yes",
						text: "Yes",
						checked: checked("aac-3127-pat-engage-awarding-suitable", "Yes")
					},
					{
						value: "No",
						text: "No",
						checked: checked("aac-3127-pat-engage-awarding-suitable", "No")
					}
				]
			}) }}
			
			<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

			<form action="" method="post" class="form">

				<h2 class="govuk-heading-m govuk-!-margin-top-9">What is the outcome of this check?</h2>
			
				<div class="sops">
					<p class="govuk-body">If you have selected ‘yes’ to all of the questions above, pass this check.</p>
					<p class="govuk-body">If you have selected ‘no’ to any of the questions above, fail this check.</p>
				</div>
				
				{% set passHtml %}
					{{ govukCharacterCount({
						name: "aac-3127-pat-engage-awarding-pass",
						id: "aac-3127-pat-engage-awarding-pass",
          	value: data['aac-3127-pat-engage-awarding-pass'],
						maxlength: 750,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}
				
				{% set failHtml %}
					{{ govukCharacterCount({
						name: "aac-3127-pat-engage-awarding-fail",
						id: "aac-3127-pat-engage-awarding-fail",
          	value: data['aac-3127-pat-engage-awarding-fail'],
						maxlength: 750,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "aac-3127-pat-engage-awarding-conditional",
					name: "aac-3127-pat-engage-awarding",
					items: [
						{
							value: "Pass",
							text: "Pass",
							conditional: {
								html: passHtml
							},
							checked: checked("aac-3127-pat-engage-awarding", "Pass")
						},
						{
							value: "Fail",
							text: "Fail",
							conditional: {
								html: failHtml
							},
							checked: checked("aac-3127-pat-engage-awarding", "Fail")
						}
					]
				}) }}

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-4"
				}) }}
        
        <p class="skipquestion" id="skipquestion"><a href="javascript:preventDefault();">Return to this check later</a></p>

			</form>

			<p><a href="/staff-app/v10/applications/assessor/tasklist-3127">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}