.app-task-list__item {
    color: #6F777B;
}

// Fix for task list with an 'in progress' tag
@media (min-width: 28.125em) {
    .app-task-list__task-name {
        float: left;
        width: auto;
    }
}


// Get help

    .govuk-details--gethelp .govuk-details__summary {
        @include govuk-font($size: 16);
        color: #0b0c0c;
        padding-left: 18px;
    }
    
    .govuk-details--gethelp .govuk-details__summary:before {
        content: "";
        position: absolute;
    
        top: 0;
        bottom: 0;
        left: 0;
    
        margin: auto;
    
        @include govuk-shape-arrow($direction: right, $base: 11px);
    }

    .govuk-details--gethelp[open] > .govuk-details__summary:before {
        @include govuk-shape-arrow($direction: down, $base: 11px);
    }


// Skip question link

    .skipquestion {
        display: inline-block;
        margin-top: 9px;
        margin-bottom: 6px;
    }

// Check your answers summary list
@media (min-width: 40.0625em) {

    .govuk-summary-list--roatpcya {
        .govuk-summary-list__key {
            width: 45%;
        }
        .govuk-summary-list__value {
            width: 45%;
        }
        .govuk-summary-list__actions {
            width: 10%;
        }
    }

}

.govuk-accordion--roatpcya .govuk-accordion__section-content {
    padding: 0 govuk-spacing(3);
}
.govuk-accordion--roatpcya .govuk-summary-list__row:last-child .govuk-summary-list__key,
.govuk-accordion--roatpcya .govuk-summary-list__row:last-child .govuk-summary-list__value,
.govuk-accordion--roatpcya .govuk-summary-list__row:last-child .govuk-summary-list__actions {
    border-bottom: none;
    padding-bottom: govuk-spacing(6);
}