// Task list pattern

.app-task-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  @include govuk-media-query($from: tablet) {
    min-width: 550px;
  }
}

.app-task-list__section {
  display: table;
  @include govuk-font($size:24, $weight: bold);
}

.app-task-list__section-number {
  display: table-cell;

  @include govuk-media-query($from: tablet) {
    min-width: govuk-spacing(6);
    padding-right: 0;
  }
}

.app-task-list__items {
  @include govuk-font($size: 19);
  @include govuk-responsive-margin(9, "bottom");
  list-style: none;
  padding-left: 0;
  @include govuk-media-query($from: tablet) {
    padding-left: govuk-spacing(6);
  }
}

.app-task-list__item {
  border-bottom: 1px solid $govuk-border-colour;
  margin-bottom: 0 !important;
  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(2);
  @include govuk-clearfix;
}

.app-task-list__item:first-child {
  border-top: 1px solid $govuk-border-colour;
}

.app-task-list__task-name {
  display: block;
  @include govuk-media-query($from: 450px) {
    float: left;
    width: 75%;
  }
}

.app-task-list__task,
.app-task-list__task-completed,
.app-task-list__task-inprogress,
.app-task-list__task-assessorinprogress,
.app-task-list__task-positive,
.app-task-list__task-negative,
.app-task-list__task-next,
.app-task-list__task-todo,
.app-task-list__task-black,
.app-task-list__task-inprogressalt,
.app-task-list__task-notrequired,
.app-task-list__task-clarify {
  margin-top: govuk-spacing(2);
  margin-bottom: govuk-spacing(1);

  @include govuk-media-query($from: 450px) {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.app-task-list__task-inprogress,
.app-task-list__task-positive,
.govuk-tag-positive,
.govuk-tag-inprogress {
  background-color: #00823B;
}

.app-task-list__task-notrequired,
.govuk-tag-awaiting {
  background-color: #6F777B;
}

.app-task-list__task-next {
  background-color: #FFBF47;
  color: #0b0c0c;
}

.app-task-list__task-negative,
.govuk-tag-negative {
  background-color: #d4351c;
}

.app-task-list__task-inprogressalt,
.govuk-tag-inprogressalt,
.app-task-list__task-assessorinprogress,
.app-task-list__task-todo,
.govuk-tag-todo {
  background-color: #fff;
  border: 1.5px solid #0b0c0c;
  color: #0b0c0c;
  line-height: 1;
  padding: 5px 6px 1px;
}



.app-task-list__task-assessorinprogress {
  border: 1.5px solid #00823B;
  color: #00823B;
}

.app-task-list__task-black {
  background-color: #000;
  border: 1.5px solid #000;
  color: #fff;
}

.app-task-list__task-inprogressalt,
.govuk-tag-inprogressalt {
  border: 1.5px solid #00823B;
  color: #00823B;
}

.roatp_changeanswers {
  float: right;
  font-size: 1.1875rem;
  font-weight: normal;
  margin-bottom: 0; 
  padding-top: 0;
}


// New tag styling from GDS (March 2020)

  .govuk-tag--grey {
    color: #454a4d;
    background: #eff0f1;
  }
  .govuk-tag--green {
    color: #005a30;
    background: #cce2d8;
  }
  .govuk-tag--turquoise {
    color: #10403c;
    background: #bfe3e0;
  }
  .govuk-tag--blue {
    color: #144e81;
    background: #d2e2f1;
  }
  .govuk-tag--purple {
    color: #3d2375;
    background: #dbd5e9;
  }
  .govuk-tag--pink {
    color: #80224d;
    background: #f7d7e6;
  }
  .govuk-tag--red {
      color: #942514;
      background: #f6d7d2;
  }
  .govuk-tag--orange {
    color: #6e3619;
    background: #fcd6c3;
  }
  .govuk-tag--yellow {
    color: #594d00;
    background: #fff7bf;
  }