{% extends "layout_application_v11.html" %}

{% block pageTitle %}
  RoATP Application Prototype v12
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Checks on who’s in control of your organisation</span>
        
      {% if data['org-legalstatus'] == "Sole trader" %}
        <h1 class="govuk-heading-l">Do you have any unspent criminal convictions?</h1>
      {% else %}
        <h1 class="govuk-heading-l">Does anyone who’s in control of your organisation have any unspent criminal convictions?</h1>
      {% endif %}

      <p class="govuk-body">An unspent criminal conviction has an outstanding sentence and is shown on a criminal record check.</p>

      <p class="gov-body">Criminal convictions include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>serious crimes</li>
        <li>criminal conduct</li>
        <li>conspiracy </li>
        <li>money laundering</li>
        <li>asylum and immigrants offences </li>
        <li>sexual offences</li>
        <li>drug trafficking </li>
        <li>terrorism</li>
        <li>fraud</li>
        <li>theft</li>
        <li>corruption</li>
        <li>bribery</li>
      </ul>

      <form action="" method="post" class="form">

        {% set detailHtml %}
          {{ govukCharacterCount({
            id: "dec-people-convictions-detail",
            name: "dec-people-convictions-detail",
            maxlength: 1500,
            label: {
              text: "Give us more information"
            },
            hint: {
              html: '<p class="govuk-body">You’ll need to include:</p>
              <ul class="govuk-!-margin-top-1">
                <li>a brief summary of the conviction</li>
                <li>full names of who the conviction is for</li>
                <li>conviction dates including any time spent</li>
                <li>outstanding judgements or legal proceedings</li>
                <li>any actions your organisation has taken in relation to the conviction</li>
              </ul>'
            },
            value: data['dec-people-convictions-detail'],
            attributes: {
              spellcheck: "false"
            }
          }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "dec-people-convictions",
          name: "dec-people-convictions",
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("dec-people-convictions", "Yes"),
              conditional: {
                html: detailHtml
              }
            },
            {
              value: "No",
              text: "No",
                checked: checked("dec-people-convictions", "No")
            }
          ]
        }) }}

        {% if data['org-legalstatus'] != "Sole trader" %}
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Who's in control
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">These are the people you confirmed as being in control of your organisation.</p>
              {% include "../../../includes/directors-pscs.html" %}
            </div>
          </details>
        {% endif %}
        
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What acts are covered under criminal convictions?
            </span>
          </summary>
          <div class="govuk-details__text">
            
            <h2 class="govuk-heading-m">Serious crimes</h2>
            <p class="govuk-body">This is covered under section 44 to 46 of the Serious Crime Act 2007 and section 71 of the Coroners and Justice Act 2009.</p>
            
            <h2 class="govuk-heading-m">Criminal conduct</h2>
            <p class="govuk-body">This is covered under section 93A, 93B or 93C of the Criminal Justice Act 1988 and article 45, 46 or 47 of the Proceeds of Crime (Northern Ireland) Order 1996.</p>
            <p class="govuk-body">Offences in connection with taxation are covered under section 71 of the Criminal Justice Act 1993.</p>

            <h2 class="govuk-heading-m">Conspiracy</h2>
            <p class="govuk-body">This is covered under section 1 or 1A of the Criminal Law Act 1977 and article 9 or 9A of the Criminal Attempts and Conspiracy (Northern Ireland) Order 1983.</p>

            <h2 class="govuk-heading-m">Money laundering</h2>
            <p class="govuk-body">This is covered under section 340(11) and 415 of the Proceeds of Crime Act 2002</p>

            <h2 class="govuk-heading-m">Asylum and immigrants offences</h2>
            <p class="govuk-body">This is covered under section 4 of the Asylum and Immigration Act 2004.</p>

            <h2 class="govuk-heading-m">Sexual offences</h2>
            <p class="govuk-body">This is covered under section 59A of the Sexual Offences Act 2003.</p>

            <h2 class="govuk-heading-m">Drug trafficking</h2>
            <p class="govuk-body">This is covered under drug trafficking in section 49 to 51 of the Drug Trafficking Act 1994.</p>

            <h2 class="govuk-heading-m">Terrorism</h2>
            <p class="govuk-body">This is covered under section 41 and schedule 2 of the Counter Terrorism Act 2008.</p>

            <h2 class="govuk-heading-m">Fraud</h2>
            <p class="govuk-body">This is covered under the common law offence of conspiracy to defraud and section 2, 3, 4, 6 and 7 of the Fraud Act 2006.</p>
            <p class="govuk-body">Fraudulent trading is covered under section 458 of the Companies Act 1985, article 451 of the Companies (Northern Ireland) Order 1986 or section 993 of the Companies Act 2006.</p>
            <p class="govuk-body">Fraudulent evasion is covered under section 170 of the Customs and Excise Management Act 1979 or section 72 of the Value Added Tax Act 1994.</p>

            <h2 class="govuk-heading-m">Theft</h2>
            <p class="govuk-body">This is covered under the Theft Act 1968, the Theft Act (Northern Ireland) 1969, the Theft Act 1978 or the Theft (Northern Ireland) Order 1978.</p>

            <h2 class="govuk-heading-m">Corruption</h2>
            <p class="govuk-body">This is covered under section 1(2) of the Public Bodies Corrupt Practices Act 1889 and section 1 of the Prevention of Corruption Act 1906.</p>

            <h2 class="govuk-heading-m">Bribery</h2>
            <p class="govuk-body">This is covered under the common law offence of bribery and section 1, 2, or 6 of the Bribery Act 2010.</p>

          </div>
        </details>

        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-right-4"
        }) }}

        <p class="skipquestion" id="skipquestion"><a href="people-repay-funding">Return to this question later</a></p>
      
        {% include "includes/v12/gethelp.html" %}

      </form>
    </div>
  </div>

{% endblock %}
