{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v12.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP assessor applications",
				href: "/staff-app/v12/applications/applications-assessor"
			},
			{
				text: "Application assessment overview",
				href: "/staff-app/v12/applications/assessor/tasklist-3127"
			},
			{
				text: "Planning apprenticeship training checks"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Planning apprenticeship training checks</span>
			<h1 class="govuk-heading-xl">Check how the organisation will ensure 20% off the job training is relevant to the specific apprenticeship being delivered</h1>

			<p class="govuk-body">
				Legal name: MY RECRUITMENT LIMITED<br>
				UKPRN: 12345678
			</p>
			
			<table class="govuk-table">
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<th class="govuk-table__header">Application question</th>
						<td class="govuk-table__cell">How will your organisation ensure 20% off the job training is relevant to the specific apprenticeship being delivered?</td>
					</tr>
					<tr class="govuk-table__row">
						<th class="govuk-table__header">Applicant’s answer</th>
						<td class="govuk-table__cell"></td>
					</tr>
				</tbody>
			</table>

			<form action="" method="post" class="form">

				<h2 class="govuk-heading-m govuk-!-margin-top-9">What is the outcome of this check?</h2>
			
				<!--div class="sops">
					<p class="govuk-body">Pass this check if the applicant's answer is one of the following:</p>
					<ul class="govuk-list govuk-list--bullet">
						<li>distance learning - training delivered remotely for example, e-learning or webinars</li>
						<li>learning support and written assignments</li>
						<li>practical training - for example, shadowing, mentoring or industry visits</li>
						<li>teaching of theory - for example, lectures, role-play or simulation exercises</li>
					</ul>
					<p class="govuk-body">If the applicant’s answer is self-directed distance learning - where the apprentice works alone with online material, fail this check.</p>
				</div-->

				<h2 class="govuk-heading-m govuk-!-margin-top-9" id="realtime">Does the applicant’s answer include how the organisation will use technical and theoretical elements of the apprenticeship to decide the best training method?</h2>
				{{ govukRadios({
					idPrefix: "aac-3127-pat-otj-bestmethod",
					name: "aac-3127-pat-otj-bestmethod",
					classes: "govuk-radios--inline",
					items: [
						{
							value: "Yes",
							text: "Yes",
							checked: checked("aac-3127-pat-otj-bestmethod", "Yes")
						},
						{
							value: "No",
							text: "No",
							checked: checked("aac-3127-pat-otj-bestmethod", "No")
						}
					]
				}) }}

				<h2 class="govuk-heading-m govuk-!-margin-top-9" id="realtime">Does the applicant’s answer include how the organisation will ensure training methods suit the employers and apprentices circumstances?</h2>
				{{ govukRadios({
					idPrefix: "aac-3127-pat-otj-circumstances",
					name: "aac-3127-pat-otj-circumstances",
					classes: "govuk-radios--inline",
					items: [
						{
							value: "Yes",
							text: "Yes",
							checked: checked("aac-3127-pat-otj-circumstances", "Yes")
						},
						{
							value: "No",
							text: "No",
							checked: checked("aac-3127-pat-otj-circumstances", "No")
						}
					]
				}) }}

				<h2 class="govuk-heading-m govuk-!-margin-top-9" id="realtime">Does the applicant’s answer include how the organisation will work with employers to define a delivery plan?</h2>
				{{ govukRadios({
					idPrefix: "aac-3127-pat-otj-otjyplan",
					name: "aac-3127-pat-otj-otjyplan",
					classes: "govuk-radios--inline",
					items: [
						{
							value: "Yes",
							text: "Yes",
							checked: checked("aac-3127-pat-otj-otjyplan", "Yes")
						},
						{
							value: "No",
							text: "No",
							checked: checked("aac-3127-pat-otj-otjyplan", "No")
						}
					]
				}) }}

				<h2 class="govuk-heading-m govuk-!-margin-top-9" id="realtime">Does the applicant’s answer include how the organisation will ensure its delivery plan is flexible and meets employers and apprentices needs?</h2>
				{{ govukRadios({
					idPrefix: "aac-3127-pat-otj-needs",
					name: "aac-3127-pat-otj-needs",
					classes: "govuk-radios--inline",
					items: [
						{
							value: "Yes",
							text: "Yes",
							checked: checked("aac-3127-pat-otj-needs", "Yes")
						},
						{
							value: "No",
							text: "No",
							checked: checked("aac-3127-pat-otj-needs", "No")
						}
					]
				}) }}

				<h2 class="govuk-heading-m govuk-!-margin-top-9" id="realtime">Does the applicant’s answer include how the organisation will choose the right time for off the job training?</h2>
				<p class="govuk-body">The apprentice must have had sufficient time to gain the right knowledge and skills before starting off the job training.</p>
				{{ govukRadios({
					idPrefix: "aac-3127-pat-otj-righttime",
					name: "aac-3127-pat-otj-righttime",
					classes: "govuk-radios--inline",
					items: [
						{
							value: "Yes",
							text: "Yes",
							checked: checked("aac-3127-pat-otj-righttime", "Yes")
						},
						{
							value: "No",
							text: "No",
							checked: checked("aac-3127-pat-otj-righttime", "No")
						}
					]
				}) }}

			<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

			<form action="" method="post" class="form">

				<h2 class="govuk-heading-m govuk-!-margin-top-9">What is the outcome of this check?</h2>

				<p class="govuk-body">If you have selected ‘yes’ to all of the questions above, pass this check.</p>
				<p class="govuk-body">If you have selected ‘no’ to any of the questions above, fail this check.</p>
				
				{% set passHtml %}
					{{ govukCharacterCount({
						name: "aac-3127-pat-otj-pass",
						id: "aac-3127-pat-otj-pass",
          	value: data['aac-3127-pat-otj-pass'],
						maxlength: 750,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}
				
				{% set failHtml %}
					{{ govukCharacterCount({
						name: "aac-3127-pat-otj-fail",
						id: "aac-3127-pat-otj-fail",
          	value: data['aac-3127-pat-otj-fail'],
						maxlength: 750,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "aac-3127-pat-otj-conditional",
					name: "aac-3127-pat-otj",
					items: [
						{
							value: "Pass",
							text: "Pass",
							checked: checked("aac-3127-pat-otj", "Pass")
						},
						{
							value: "Fail",
							text: "Fail",
							conditional: {
								html: failHtml
							},
							checked: checked("aac-3127-pat-otj", "Fail")
						}
					]
				}) }}

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-4"
				}) }}
        


			</form>



		</div>
	</div>

{% endblock %}