{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v12.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP assessor applications",
				href: "/staff-app/v12/applications/applications-assessor"
			},
			{
				text: "Application assessment overview",
				href: "/staff-app/v12/applications/assessor/tasklist-3127"
			},
			{
				text: "Planning apprenticeship training checks"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Planning apprenticeship training checks</span>
			<h1 class="govuk-heading-xl">Check the typical ratio of the staff who will deliver training to the apprentices</h1>

			<p class="govuk-body">
				Legal name: MY RECRUITMENT LIMITED<br>
				UKPRN: 12345678
			</p>
			
			<table class="govuk-table">
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<th class="govuk-table__header">Application question</th>
						<td class="govuk-table__cell">What is the typical ratio of the staff who deliver training to the apprentices?</td>
					</tr>
					<tr class="govuk-table__row">
						<th class="govuk-table__header">Applicant’s answer</th>
						<td class="govuk-table__cell">One trainer between 10 or less apprentices</td>
					</tr>
				</tbody>
			</table>

			<form action="" method="post" class="form">

				<h2 class="govuk-heading-m govuk-!-margin-top-9">What is the outcome of this check?</h2>
			
				<!--div class="sops">
					<p class="govuk-body">If you have selected ‘yes’ to all of the questions above, pass this check.</p>
					<p class="govuk-body">If you have selected ‘no’ to any of the questions above, fail this check.</p>
				</div-->
				
				{% set passHtml %}
					{{ govukCharacterCount({
						name: "aac-3127-pat-ratio-pass",
						id: "aac-3127-pat-ratio-pass",
          	value: data['aac-3127-pat-ratio-pass'],
						maxlength: 750,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}
				
				{% set failHtml %}
					{{ govukCharacterCount({
						name: "aac-3127-pat-ratio-fail",
						id: "aac-3127-pat-ratio-fail",
          	value: data['aac-3127-pat-ratio-fail'],
						maxlength: 750,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "aac-3127-pat-ratio-conditional",
					name: "aac-3127-pat-ratio",
					items: [
						{
							value: "Pass",
							text: "Pass",
							checked: checked("aac-3127-pat-ratio", "Pass")
						},
						{
							value: "Fail",
							text: "Fail",
							conditional: {
								html: failHtml
							},
							checked: checked("aac-3127-pat-ratio", "Fail")
						}
					]
				}) }}

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-4"
				}) }}
        


			</form>



		</div>
	</div>

{% endblock %}