{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v12.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP dashboard",
				href: "/staff-app/v12/dashboard"
			},
			{
				text: "RoATP applications",
				href: "/staff-app/v12/applications/gateway/applications-view"
			},
			{
				text: "Application assessment overview",
				href: "/staff-app/v12/applications/gateway/viewonly-company"
			},
			{
				text: "Register checks"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Register checks</span>
			<h1 class="govuk-heading-xl">Check if the organisation is on the RoATP</h1>

			<p class="govuk-body">
				Legal name: SAFRAN LANDING SYSTEMS UK LTD<br>
				UKPRN: 10053003<br>
				Application submitted on: 17 Oct 2019<br>
				Sources checked on: 27 Nov 2019
			</p>

			<p class="govuk-body">The latest data from the RoATP is displayed below.</p>

			<table class="govuk-table govuk-!-margin-bottom-9">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header">Source</th>
						<th scope="col" class="govuk-table__header">Status</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Submitted application</th>
						<td class="govuk-table__cell">On the RoATP</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">RoATP</th>
						<td class="govuk-table__cell">Removed from the RoATP<br>Date: 23 Jan 2018<br>Reason: Merger<br>Provider route: Main</td>
					</tr>
				</tbody>
			</table>

			<p><a href="/staff-app/v12/applications/gateway/viewonly-company">Return to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}