{% extends "layout_application_v11.html" %}

{% block pageTitle %}
  RoATP Application Prototype v11
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="" method="post" class="form">

      <span class="govuk-caption-l">Introduction and what you'll need</span>

      <h1 class="govuk-heading-l">Delivering apprenticeship training</h1>

      <p class="govuk-body">For this section, you’ll need to know:</p>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>who has overall accountability for apprenticeships</li>
        <li>your organisation's management hierarchy for apprenticeships</li>
        <li>your management hierarchy’s expectations for quality and high standards in apprenticeship training</li>
        <li>who’s responsible for quality and high standards in apprenticeship training</li>
        <li>who’s responsible for developing and delivering training</li>
        <li>the sectors your organisation will offer apprenticeships in</li>
        <li>the experience and qualifications of the people who will deliver training</li>
      </ul>

      <p class="govuk-body">You’ll also need to upload your organisation’s policy for professional development of employees. We’ll ask for examples of how this policy is implemented and how it’s reflected in teaching and training.</p>

      <p class="govuk-body">It must be specific to your organisation and signed by a senior employee. For example, a director or CEO.</p>

      {{ govukButton({
        text: "Continue with this section",
        classes: "govuk-!-margin-right-1"
      }) }}

      <p class="govuk-body"><a href="../task-list">Come back to this section later</a></p>
      
    </form>

  </div>
</div>

{% endblock %}
