{% extends "layout_application_v10.html" %}

{% block pageTitle %}
  RoATP Application Prototype v11
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Management hierarchy</span>

      <h1 class="govuk-heading-l">Tell us who’s accountable for apprenticeships in your organisation</h1>

      <p class="govuk-body">This must someone who’s responsible for the overall management and governance of apprenticeships.</p>
      
      <p class="govuk-body">We’ll only contact them if there is an issue.</p>

      <form action="" method="post" class="form">

        {{ govukInput({
          label: {
            text: "Full name"
          },
          classes: "govuk-input--width-20",
          id: "del-accountable-name",
          name: "del-accountable-name",
          value: data['del-accountable-name']
        }) }}

        {{ govukInput({
          label: {
            text: "Email"
          },
          type: "email",
          autocomplete: "email",
          classes: "govuk-input--width-20",
          id: "del-accountable-email",
          name: "del-accountable-email",
          value: data['del-accountable-email'],
          attributes: {
            spellcheck: "false"
          }
        }) }}
        
        {{ govukInput({
          label: {
            text: "Contact number"
          },
          id: "del-accountable-tel",
          name: "del-accountable-tel",
          value: data['del-accountable-tel'],
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-input--width-10"
        }) }}

        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-right-4"
        }) }}

        <p class="skipquestion" id="skipquestion"><a href="">Return to this question later</a></p>
      
        {% include "includes/v11/gethelp.html" %}

      </form>
    </div>
  </div>

{% endblock %}
