{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v10.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP dashboard",
				href: "/staff-app/v10/dashboard"
			},
			{
				text: "RoATP applications",
				href: "/staff-app/v10/applications/gateway/applications-view"
			},
			{
				text: "Application assessment overview",
				href: "/staff-app/v10/applications/gateway/tasklist-roatpdown"
			},
			{
				text: "Register checks"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Register checks</span>
			<h1 class="govuk-heading-xl">RoATP check</h1>

			<p class="govuk-body">
				Legal name: RHINO APPS LIMITED<br>
				UKPRN: 10082147<br>
				Application submitted on: 17 Oct 2019<br>
				Sources checked on: <span id="apidate"></span>{{ data['roatpdown-legal-apidate'] }}
			</p>

			{{ govukWarningText({
				text: "We were unable to get information from the RoATP",
				iconFallbackText: "Warning"
			}) }}

			<p class="govuk-body">You’ll need to come back later to complete this check.</p>
			<p class="govuk-body">While you wait, you can check something else using the <a href="/staff-app/v10/applications/gateway/tasklist-roatpdown">application assessment overview</a>.</p>
			

		</div>
	</div>

{% endblock %}