{% extends "layout_application_v9.html" %}

{% block pageTitle %}
  Sign in - RoATP Organisation Prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Forgotten your password</h1>

    <p class="govuk-body">You need to tell us your email address so we can find a record of you.</p>

    <form action="" method="post" class="form">

      {{ govukInput({
        label: {
          text: "Email address"
        },
        classes: "govuk-!-width-two-thirds",
        id: "forgottenEmail",
        name: "forgottenEmail"
      }) }}

      {{ govukButton({
        text: "Confirm"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
