
{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Eligibility Checker v0
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "financial-evidence"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="ofsted-answer" method="post" class="form">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "ofsted",
          name: "ofsted",
          fieldset: {
            legend: {
              text: "Has your organisation had an Ofsted inspection?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}
        
      </form>
    </div>
  </div>

{% endblock %}
