{% set title="Change provider type for ABC Assessments" %}

{% extends "layout.html" %}

{% block header %}
  {% include "includes/header-staff-app-signedin.html" %}
{% endblock %}


{% block beforeContent %}
    {% set backLink="listv2" %}
    {% include "includes/before-content.html" %}
{% endblock %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       <form method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                {{ title }}
              </h1>
                
            </legend>
              
              <p>This organisation is currently a main provider.</p>

            <div class="govuk-radios govuk-radios--conditional" data-module="radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="route-2" name="route" type="radio" value="employer" data-aria-controls="route-2-conditional">
                <label class="govuk-label govuk-radios__label" for="route-2">
                  Employer provider
                </label>
              </div>
                
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="route-2-conditional">
                
                <div class="govuk-form-group">
                  <label class="govuk-label" for="orgType">
                    Type of organisation
                  </label>
                  <select class="govuk-select govuk-!-width-full" id="orgType" name="orgType">
                    <option value="e1">Employer training apprentices in own organisation</option>
                    <option value="e2" selected>Employer training apprentices within their connected companies
</option>
                    <option value="e3">Employer training apprentices in own organisation and those in their connected companies</option>
                  </select>
                </div>

              </div>
                
                

                <div class="govuk-radios__item">
                <input  class="govuk-radios__input" id="route-3" name="route" type="radio" value="restricted">
                <label class="govuk-label govuk-radios__label" for="route-3">
                  Supporting provider
                </label>
              </div>
                
              

            </div>
          </fieldset>
        </div>
        
        <input type="submit" class="govuk-button" value="Change" />
       </form>
    </div>
</div>

{% endblock %}
