{% if searchStr == "000000" %}
{% set title %}No results found for '{{searchStr}}'{% endset %}
{% else %}
{% set title %}13 results found for '{{searchStr}}'{% endset %}
{% endif %}


{% extends "layout.html" %}

{% block header %}
  {% include "includes/header-staff-app-signedin.html" %}
{% endblock %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
    <a href="register" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl govuk-!-width-two-thirds">{{ title }}</h1>

{% if searchStr == "000000" %}
<a href="register" class="govuk-button">Search again</a>
<hr class="govuk-section-break" />
<a class="govuk-link govuk-body-m" href="org-details-select-route">Add a new training provider</a>
{% else %}
<div class="govuk-body govuk-grid-row">
    <div id="searchResultsList" class="govuk-grid-column-one-third">
                <ul class="govuk-list">
            <li class="govuk-section-break govuk-!-padding-left-2 govuk-!-padding-top-2 govuk-!-padding-bottom-1 selected-item">
                <a href="#" class="govuk-!-font-weight-bold_">ABC Assessments</a>
                <span class="block">UKPRN 1234567</span>
            </li>
            
            <li class="govuk-section-break govuk-!-padding-left-2 govuk-!-padding-top-2 govuk-!-padding-bottom-1">
                <a href="list-2">ABC Awards (Removed)</a>
                <span class="block">UKPRN 8839011</span>
            </li>
            
            <li class="govuk-section-break govuk-!-padding-left-2 govuk-!-padding-top-2 govuk-!-padding-bottom-1">
                <a href="#">ABC Secretaries Ltd</a>
                <span class="block">UKPRN 938033</span>
            </li>
            
            <li class="govuk-section-break govuk-!-padding-left-2 govuk-!-padding-top-2 govuk-!-padding-bottom-1">
                <a href="#">ABC Training Ltd</a>
                <span class="block">UKPRN 7738821</span>
            </li>
            
            <li class="govuk-section-break govuk-!-padding-left-2 govuk-!-padding-top-2 govuk-!-padding-bottom-1">
                <a href="#">ABC Transport Ltd</a>
                <span class="block">UKPRN 0927403</span>
            </li>
        </ul>
        <div class="well govuk-!-font-size-16 govuk-!-padding-2">
            Result limited to 5.
            <a class="govuk-link govuk-link--no-visited-state" href="register?searchStr={{ searchStr }}">Refine search</a>
        </div>
    </div>
    
    <div id="organisationDetails" class="govuk-grid-column-two-thirds">
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Legal name"
          },
          value: {
            html: "ABC Assessments"
          },
          actions: {
            items: [
              {
                href: "change-legal-name",
                text: "Change",
                visuallyHiddenText: "legal name"
              }
            ]
          }
        },
        
        {
          key: {
            text: "UKPRN"
          },
          value: {
            html: "1002266"
          },
          actions: {
            items: [
              {
                href: "change-ukprn",
                text: "Change",
                visuallyHiddenText: "UKPRN"
              }
            ]
          }
        },
        
        {
          key: {
            text: "Status"
          },
          value: {
            html: "<span class='govuk-tag govuk-!-margin-bottom-1'>Active</span>
                    <span class='block'>Updated: 11 Jan 2019</span>
                    "
          },
          actions: {
            items: [
              {
                href: "change-status",
                text: "Change",
                visuallyHiddenText: "status"
              }
            ]
          }
        },
        {
          key: {
            text: "Type of provider"
          },
          value: {
            html: "Main"
          },
          actions: {
            items: [
              {
                href: "change-provider",
                text: "Change",
                visuallyHiddenText: "type of provider"
              }
            ]
          }
        },
        {
          key: {
            text: "Type of organisation"
          },
          value: {
            html: "Higher Education Institution (HEI)"
          },
          actions: {
            items: [
              {
                href: "change-organisation-type",
                text: "Change",
                visuallyHiddenText: "organisation type"
              }
            ]
          }
        },
        {
          key: {
            text: "Company number"
          },
          value: {
            html: "1893839"
          },
          actions: {
            items: [
              {
                href: "change-company-number",
                text: "Change",
                visuallyHiddenText: "companies house number"
              }
            ]
          }
        },
        {
          key: {
            text: "Charity registration number"
          },
          value: {
            html: "Not applicable"
          },
          actions: {
            items: [
              {
                href: "change-charity-number",
                text: "Change",
                visuallyHiddenText: "charity number"
              }
            ]
          }
        },
        {
          key: {
            text: "Trading name"
          },
          value: {
            html: "ABC Assessments Ninjas"
          },
          actions: {
            items: [
              {
                href: "change-trading-name",
                text: "Change",
                visuallyHiddenText: "trading name"
              }
            ]
          }
        },
        {
          key: {
            text: "Parent company guarantee"
          },
          value: {
            text: "Yes"
          },
          actions: {
            items: [
              {
                href: "change-parent-guarantee",
                text: "Change",
                visuallyHiddenText: "parent company guarantee"
              }
            ]
          }
        },
        {
          key: {
            text: "Financial track record"
          },
          value: {
            text: "No"
          },
          actions: {
            items: [
              {
                href: "change-financial-track-record",
                text: "Change",
                visuallyHiddenText: "financial track record"
              }
            ]
          }
        }
      ]
    }) }}
    </div>

</div>
{% endif %}
{% endblock %}
