{% set serviceName = "ESFA admin services" %}
{% extends "layouts/layout.html" %}

{% block header %}
   {{ govukHeader({
        serviceName: "ESFA admin services"
   }) }}
{% endblock %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block content %}


	{% if showMessage == true %}
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-full govuk-!-margin-bottom-9">

				{{ govukPanel({
					titleText: "ACME solutions successfully added to the register"
				}) }}
		
			</div>
		</div>
	{% endif %}

	<div class="govuk-grid-row">

		<div class="govuk-grid-column-two-thirds">

			<h1 class="govuk-heading-xl">Search for an apprenticeship training provider</h1>

			<form action="list" method="post" class="form">

				{{ govukInput({
					label: {
						text: "Organisation name or UKPRN"
					},
					classes: "govuk-!-width-two-thirds",
					id: "staff-search",
					name: "staff-search"
				}) }}

				{{ govukButton({
					text: "Search"
				}) }}

			</form>
		
			<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

			<ul class="govuk-list">
				<li><a href="add-route">Add a new training provider</a></li>
				<li><a href="#">Download the register</a></li>
			</ul>

		</div>
	</div>
      
{% endblock %}
      