{% set currentpage = "task-list" %}
{% extends "layouts/layout_application_v16.html" %}

{% block pageTitle %}
  Application complete - RoATP Organisation Prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
      titleText: "Application unsuccessful",
      classes: "panel-failure"
    }) }}

    <p class="govuk-body govuk-!-margin-top-6">We have sent you a confirmation email. Check the email to find out how to appeal the decision or make a complaint.</p>

    <h2 class="govuk-heading-m">What happens next</h2>
    <p class="govuk-body">If your organisation is already on the RoATP, <a href="https://www.gov.uk/guidance/meeting-new-application-requirements-and-removal-from-register-of-apprenticeship-training-providers-roatp" target="_blank">view the exit policy</a> or <a href="https://www.gov.uk/guidance/meeting-new-application-requirements-and-removal-from-register-of-apprenticeship-training-providers-roatp#what-happens-if-a-provider-is-accepted-onto-roatp-after-being-removed" target="_blank">find out what happens if you’re successful when you apply again</a>.</p>

    <p class="govuk-body">Organisations can only apply twice within a 12-month period from the date of their first application. To reapply, you’ll need to <a href="../v16">start a new application</a>.</p>
    <h2 class="govuk-heading-m">Why you're unsuccessful</h2>
    <p class="govuk-body">You did not give enough detail or meet the requirements for the following:</p>
    <ul class="govuk-list govuk-list--bullet">
    <li>What is your organisation’s process for initial assessments to recognise prior learning?</li>
    <li>Tell us who’s the overall manager for this team</li>
    <li>Does your organisation have a team responsible for developing and delivering training?</li>
    <li>Upload your organisation’s equality and diversity policy</li>
    <li>Have your management hierarchy documented their expectations for quality and high standards in apprenticeship training?</li>
    <li>Delivering training in 'Creative and design' sector</li>
    <li>Confirm who’s in your organisation’s management hierarchy for apprenticeships</li>
    </ul>

    <p>The outcome of your financial health assessment is inadequate. Check your feedback comment:</p>
    <div class="govuk-inset-text">XXXXXXX XXXXXXXXXXXX XXXXXXXX XXXXXXXXX XXXXX</div>
    <p>You should review your answers and the application guidance before you submit a new application.</p>
    </div>
</div>

{% endblock %}
