<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>

<form action="https://ico.org.uk/ESDWebPages/DoSearch" id="FORM1" method="post">    <table>
        <tbody><tr>
            <td width="100">
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td class="searchtext">
                Registration number
            </td>
            <td>
                <input id="fieldregistration" maxlength="20" name="fieldregistration" size="20" type="text" value="">
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td class="searchtext">
                Name
            </td>
            <td>
                <input id="fieldname" maxlength="80" name="fieldname" size="25" type="text" value="Rednock School">
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td class="searchtext">
                Address
            </td>
            <td>
                <input id="fieldaddress" maxlength="80" name="fieldaddress" size="25" type="text" value="">
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td class="searchtext">
                Postcode
            </td>
            <td>
                <input id="fieldpostcode" maxlength="8" name="fieldpostcode" size="10" type="text" value="GL11 4BY">
            </td>
        </tr>
        <tr>
        <td colspan="3"><input type="submit"></td>
        </tr>
        
    </tbody></table>
    <br>
    <br>
</form>

</body>

</html>