{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v8.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP dashboard",
				href: "/staff-app/v8/dashboard"
			},
			{
				text: "RoATP applications",
				href: "/staff-app/v8/applications/gateway/applications-view"
			},
			{
				text: "Application assessment overview",
				href: "/staff-app/v8/applications/gateway/tasklist-company"
			},
			{
				text: "Experience and accreditation"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Organisation checks</span>
			<h1 class="govuk-heading-xl">People high risk check</h1>

			<p class="govuk-body">
				Legal name: SAFRAN LANDING SYSTEMS UK LTD<br>
				UKPRN: 10053003
			</p>
			
			<div class="sops">
				<!--p class="govuk-body">Pass this check if the organisation is on <a href="#">the list of registered ITT</a>.</p>
				<ul class="govuk-list govuk-list--bullet">
					<li>the ICO registration number is valid (not expired)</li>
					<li>the organisation's legal name is the same</li>
				</ul-->
			</div>

			<h2 class="govuk-heading-l">Company directors</h2>
			<table class="govuk-table govuk-!-margin-bottom-9">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header">Name</th>
						<th scope="col" class="govuk-table__header">Date of birth</th>
						<td class="govuk-table__cell govuk-table__cell--numeric"></td>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<td scope="row" class="govuk-table__cell"><a href="highrisk-people-director1">BOUVIER, Jacqueline</a></td>
						<td class="govuk-table__cell">Feb 1955</td>
						<td class="govuk-table__cell govuk-table__cell--numeric">
							{% if data['gw-company-highrisk-director1'] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="gw-company-highrisk-director1-passed">Passed</strong>
							{% elseif data['gw-company-highrisk-director1'] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="gw-company-highrisk-director1-rejected">Rejected</strong>
							{% endif %}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td scope="row" class="govuk-table__cell"><a href="highrisk-people-director2">POWELL, Herbert</a></td>
						<td class="govuk-table__cell">May 1963</td>
						<td class="govuk-table__cell govuk-table__cell--numeric">
							{% if data['gw-company-highrisk-director2'] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="gw-company-highrisk-director2-passed">Passed</strong>
							{% elseif data['gw-company-highrisk-director2'] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="gw-company-highrisk-director2-rejected">Rejected</strong>
							{% endif %}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td scope="row" class="govuk-table__cell"><a href="highrisk-people-director3">POWERS, Ruth</a></td>
						<td class="govuk-table__cell">May 1957</td>
						<td class="govuk-table__cell govuk-table__cell--numeric">
							{% if data['gw-company-highrisk-director3'] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="gw-company-highrisk-director3-passed">Passed</strong>
							{% elseif data['gw-company-highrisk-director3'] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="gw-company-highrisk-director3-rejected">Rejected</strong>
							{% endif %}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td scope="row" class="govuk-table__cell"><a href="highrisk-people-director4">VAN HOUTEN, Kirk</a></td>
						<td class="govuk-table__cell">Mar 1960</td>
						<td class="govuk-table__cell govuk-table__cell--numeric">
							{% if data['gw-company-highrisk-director4'] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="gw-company-highrisk-director4-passed">Passed</strong>
							{% elseif data['gw-company-highrisk-director4'] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="gw-company-highrisk-director4-rejected">Rejected</strong>
							{% endif %}
						</td>
					</tr>
				</tbody>
			</table>

			<h2 class="govuk-heading-l">People with significant control (PSCs)</h2>
			<table class="govuk-table govuk-!-margin-bottom-9">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header">Name</th>
						<th scope="col" class="govuk-table__header">Date of birth</th>
						<td class="govuk-table__cell govuk-table__cell--numeric"></td>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<td scope="row" class="govuk-table__cell"><a href="highrisk-people-psc1">BOUVIER, Jacqueline</a></td>
						<td class="govuk-table__cell">Feb 1955</td>
						<td class="govuk-table__cell govuk-table__cell--numeric">
							{% if data['gw-company-highrisk-psc1'] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="gw-company-highrisk-psc1-passed">Passed</strong>
							{% elseif data['gw-company-highrisk-psc1'] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="gw-company-highrisk-psc1-rejected">Rejected</strong>
							{% endif %}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td scope="row" class="govuk-table__cell"><a href="highrisk-people-psc2">POWELL, Herbert</a></td>
						<td class="govuk-table__cell">May 1963</td>
						<td class="govuk-table__cell govuk-table__cell--numeric">
							{% if data['gw-company-highrisk-psc2'] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="gw-company-highrisk-psc2-passed">Passed</strong>
							{% elseif data['gw-company-highrisk-psc2'] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="gw-company-highrisk-psc2-rejected">Rejected</strong>
							{% endif %}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td scope="row" class="govuk-table__cell"><a href="highrisk-people-psc3">ACME LIMITED</a></td>
						<td class="govuk-table__cell govuk-table__cell--numeric"></td>
						<td class="govuk-table__cell govuk-table__cell--numeric">
							{% if data['gw-company-highrisk-psc3'] == "Pass" %}
								<strong class="govuk-tag app-task-list__task-positive" id="gw-company-highrisk-psc3-passed">Passed</strong>
							{% elseif data['gw-company-highrisk-psc3'] == "Reject" %}
								<strong class="govuk-tag app-task-list__task-negative" id="gw-company-highrisk-psc3-rejected">Rejected</strong>
							{% endif %}
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<h3 class="govuk-heading-m">What is the outcome of this check?</h3>

			<form action="" method="post" class="form">
				
				{% set passHtml %}
					{{ govukCharacterCount({
						name: "gw-company-highrisk-people-pass",
						id: "gw-company-highrisk-people-pass",
						maxlength: 750,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}
				
				{% set rejectHtml %}
					{{ govukCharacterCount({
						name: "gw-company-highrisk-people-reject",
						id: "gw-company-highrisk-people-reject",
						maxlength: 750,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "gw-company-highrisk-people",
					name: "gw-company-highrisk-people",
					items: [
						{
							value: "Pass",
							text: "Pass",
							conditional: {
								html: passHtml
							},
							checked: checked("gw-company-highrisk-people", "Pass")
						},
						{
							value: "Reject",
							text: "Reject",
							conditional: {
								html: rejectHtml
							},
							checked: checked("gw-company-highrisk-people", "Reject")
						}
					]
				}) }}

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-1"
				}) }}

			</form>

			<p><a href="/staff-app/v8/applications/gateway/tasklist-company">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}
