{% set current_section = "applications" %}
{% extends "layouts/layout_mvppmo_v1.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "Dashboard",
				href: "/mvp-pmo/v1/applications/applications-list"
			},
			{
				text: "RoATP applications",
				href: "/mvp-pmo/v2/applications/applications-list"
			},
			{
				text: "Application overview",
				href: "/mvp-pmo/v2/applications/tasklist-abc"
			},
			{
				text: "Protecting your apprentices",
				href: "/mvp-pmo/v2/applications/tasklist-abc-pya"
			},
			{
				text: "Safeguarding and prevent duty policy"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-m">Assessor</span>
			<h1 class="govuk-heading-xl">Safeguarding and Prevent duty policy</h1>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
	
			<dl class="govuk-summary-list govuk-summary-list--overview govuk-!-margin-bottom-9">
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key" style="white-space: nowrap;">Application reference number</dt>
					<dd class="govuk-summary-list__value">APR00001</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">UKPRN</dt>
					<dd class="govuk-summary-list__value">12345678</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Legal name</dt>
					<dd class="govuk-summary-list__value">ABC TRAINING LIMITED</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Provider route</dt>
					<dd class="govuk-summary-list__value">Main</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Date application submitted</dt>
					<dd class="govuk-summary-list__value">17 Oct 2019</dd>
				</div>
			</dl>

		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
		
			<table class="govuk-table govuk-!-margin-top-5">
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header" style="vertical-align: top">Safeguarding policy</th>
						<td class="govuk-table__cell">
							<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Safeguarding policy upload</h3>
							<p class="govuk-body"><a href="javascript:preventDefault();">abc-safeguarding-policy.pdf</a></p>
						</td>
						<td class="govuk-table__cell govuk-table__cell--numeric" style="vertical-align: top">
							{% if data['feedback-pya-safeguarding-policy'][0] %}
							<a href="feedback/pya-safeguarding-policy">View or delete feedback</a>
							{% else %}
							<a href="feedback/pya-safeguarding-policy">Add feedback</a>
							{% endif %}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header" style="vertical-align: top">Overall responsibility for safeguarding</th>
						<td class="govuk-table__cell">
							<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Full name</h3>
							<p class="govuk-body">[First name] [Last name]</p>
							<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Email</h3>
							<p class="govuk-body"><a href="javascript:preventDefault();">email@abc.com</a></p>
							<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Contact number</h3>
							<p class="govuk-body govuk-!-margin-bottom-1">07123 456789</p>
						</td>
						<td class="govuk-table__cell govuk-table__cell--numeric" style="vertical-align: top">
							{% if data['feedback-pya-safeguarding-responsible'][0] %}
							<a href="feedback/pya-safeguarding-responsible">View or delete feedback</a>
							{% else %}
							<a href="feedback/pya-safeguarding-responsible">Add feedback</a>
							{% endif %}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header" style="vertical-align: top">Prevent duty</th>
						<td class="govuk-table__cell">
							<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Does your organisation’s safeguarding policy include its responsibilities towards the Prevent duty?</h3>
							<p class="govuk-body">No</p>
							<h3 class="govuk-heading-s govuk-!-margin-bottom-1">Prevent duty upload</h3>
							<p class="govuk-body"><a href="javascript:preventDefault();">abc-preventduty.pdf</a></p>
						</td>
						<td class="govuk-table__cell govuk-table__cell--numeric" style="vertical-align: top">
							{% if data['feedback-pya-safeguarding-preventduty'][0] %}
							<a href="feedback/pya-safeguarding-preventduty">View or delete feedback</a>
							{% else %}
							<a href="feedback/pya-safeguarding-preventduty">Add feedback</a>
							{% endif %}
						</td>
					</tr>
				</tbody>
			</table>

			<form action="" method="post" class="form">

				<h2 class="govuk-heading-l govuk-!-margin-top-9">Is this section complete?</h2>
				{{ govukRadios({
					classes: "govuk-radios--inline",
					idPrefix: "aac-pya-safeguarding-complete",
					name: "aac-pya-safeguarding-complete",
					items: [
						{
							value: "Yes",
							text: "Yes",
							checked: checked("aac-pya-safeguarding-complete", "Yes")
						},
						{
							value: "No",
							text: "No",
							checked: checked("aac-pya-safeguarding-complete", "No")
						}
					]
				}) }}

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-4"
				}) }}

			</form>

		</div>
	</div>

	

{% endblock %}