{% set title="You are applying to join as a main provider" %}

{% extends "layout.html" %}

{% block header %}
  {% include "includes/header-join-register.html" %}
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
{% endblock %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl govuk-!-width-two-thirds">{{title}}</h1>



<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
              Provider type
            </dt>
            <dd class="govuk-summary-list__value">
                Main provider
              <a href="#" class="block govuk-!-font-size-16">Change</a>
            </dd>
          </div>
            
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Terms &amp; conditions
            </dt>
            <dd class="govuk-summary-list__value">
              <span class="govuk-tag">COMPLETED</span>
              <a href="#" class="block govuk-!-font-size-16 govuk-!-margin-top-1">Change</a>
            </dd>
          </div>
            
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Declarations
            </dt>
            <dd class="govuk-summary-list__value govuk-!-font-weight-regular">
              <a href="#" class="block govuk-!-font-size-16">Start</a>
            </dd>
          </div>
            
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisation details
            </dt>
            <dd class="govuk-summary-list__value govuk-!-font-weight-regular">
              <a href="#" class="block govuk-!-font-size-16">Start</a>
            </dd>
          </div>
            
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Financial health
            </dt>
            <dd class="govuk-summary-list__value govuk-!-font-weight-regular">
              <a href="#" class="block govuk-!-font-size-16">Start</a>
            </dd>
          </div>
            
            
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Welfare
            </dt>
            <dd class="govuk-summary-list__value govuk-!-font-weight-regular">
              <a href="#" class="block govuk-!-font-size-16">Start</a>
            </dd>
          </div>    
            
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Capacity and capability
            </dt>
            <dd class="govuk-summary-list__value govuk-!-font-weight-regular">
              <a href="#" class="block govuk-!-font-size-16">Start</a>
            </dd>
          </div>
            
        </dl>
        
        
<hr class="govuk-section-break govuk-section-break--xl" />
        
        <h2 class="govuk-heading-m">What you'll need</h2>
        
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row ">
            <dt class="govuk-summary-list__key  govuk-!-width-one-half">
              Valid UKPRN
            </dt>
            <dd class="govuk-summary-list__value">
              1234567
              <a href="#" class="block govuk-!-font-size-16">Change</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Registered business address
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#" class="block govuk-!-font-size-16">Add address</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Management hierarchy for apprenticeships
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#" class="block govuk-!-font-size-16">Upload</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              ICO registration certificate
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#" class="block govuk-!-font-size-16">Upload</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Financial statements
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#" class="block govuk-!-font-size-16">Upload</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Sample of your employees' relevant experience and expertise
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#" class="block govuk-!-font-size-16">Upload</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Policy for professional development for employees
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#" class="block govuk-!-font-size-16">Upload</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Policy or practice for engaging with employers
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#" class="block govuk-!-font-size-16">Upload</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Policy, process and procedure for complaints
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#" class="block govuk-!-font-size-16">Upload</a>
            </dd>
          </div>
            
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              template 'contract for services with employers' for delivery of apprenticeship training
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#" class="block govuk-!-font-size-16">Upload</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Commitment statement template
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#" class="block govuk-!-font-size-16">Upload</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Process for performing initial assessment of prior learning
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#" class="block govuk-!-font-size-16">Upload</a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Process for delivering English and maths
            </dt>
            <dd class="govuk-summary-list__value">
              <a href="#" class="block govuk-!-font-size-16">Upload</a>
            </dd>
          </div>

        </dl>

        
        <p>
            Additionally, we may ask you for these documents based on the answers you provide
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>process for evaluating quality of training and outcomes </li>
            <li>policy for continuity of apprenticeship training</li>
            <li>policy for equality and diversity</li>
            <li>policy for safeguarding</li>
            <li>policy that complies with Prevent</li>
            <li>policy for health and safety</li>
        </ul>

    </div>
</div>

{% endblock %}
