{% set title="Enter your details" %}

{% extends "layout.html" %}

{% block header %}
  {% include "includes/header-join-register.html" %}
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    <a href="start-page" class="govuk-back-link">Back</a>
{% endblock %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ title }}</h1>
        <form method="post">
            <div class="govuk-form-group">
                <label for="firstName" class="govuk-label">First name</label>
                <input id="firstName" type="text" class="govuk-input govuk-!-width-two-thirds" />
            </div>
            
            <div class="govuk-form-group">
                <label for="lastName" class="govuk-label">Last name</label>
                <input id="lastName" type="text" class="govuk-input govuk-!-width-two-thirds" />
            </div>
            
            
            <div class="govuk-form-group">
                <label for="email" class="govuk-label">Email</label>
                <span id="email-hint" class="govuk-hint">We'll send you a security code by email</span>
                <input id="email" name="email" type="text" class="govuk-input govuk-!-width-two-thirds" aria-describedby="email-hint" />
            </div>
            
            <input type="submit" value="Sign up" class="govuk-button" />
        </form>
    </div>
</div>

{% endblock %}
