{% extends "layout_application_v4.html" %}

{% block pageTitle %}
  RoATP Application Prototype v4
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="" method="post" class="form">

      {{ govukRadios({
        idPrefix: "org-type-education-school",
        name: "org-type-education-school",
        fieldset: {
          legend: {
            text: "What type of school is your organisation?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "free-school",
            text: "Free school",
            checked: checked("org-type-education-school", "free-school")
          },
          {
            value: "lea-school",
            text: "Local Education Authority (LEA) school",
            checked: checked("org-type-education-school", "lea-school")
          },
          {
            value: "other-school",
            text: "None of the above",
            checked: checked("org-type-education-school", "other-school")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}

    </form>
  </div>
</div>

{% endblock %}