{% extends "layout_application_v4.html" %}

{% block pageTitle %}
  RoATP Application Prototype v4
{% endblock %}

<!-- 
  check back link structures from all paths

  main/supporting > educational institute > school = back to org-type-education-school
  main/supporting > educational institute > not school = back to org-type-education
-->

{% if data['org-type-education'] == "school" %}
  {% set backlink_fundedby = "org-type-education-school" %}
{% else %}
  {% set backlink_fundedby = "org-type-education" %}
{% endif %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backlink_fundedby
  }) }}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post" class="form">

        {{ govukRadios({
          idPrefix: "org-fundedby",
          name: "org-fundedby",
          fieldset: {
            legend: {
              text: "Is your organisation " + data['org-fundedbytext'] + "?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("org-fundedby", "yes")
            },
            {
              value: "no",
              text: "No",
                checked: checked("org-fundedby", "no")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-right-1"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
