{% extends "layouts/layout_application_v4.html" %}

{% block pageTitle %}
  RoATP Application Prototype v4
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="" method="post" class="form">

      {{ govukRadios({
        idPrefix: "pro-ofsted-overall-grademaintained",
        name: "pro-ofsted-overall-grademaintained",
        fieldset: {
          legend: {
            text: "Has your organisation maintained the grade it was awarded in its full Ofsted inspection?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: checked("pro-ofsted-overall-grademaintained", "yes")
          },
          {
            value: "no",
            text: "No",
            checked: checked("pro-ofsted-overall-grademaintained", "no")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}
      
      {% include "includes/gethelp.html" %}

    </form>
  </div>
</div>

{% endblock %}