{% extends "layout_application_v4.html" %}

{% block pageTitle %}
  RoATP Application Prototype v4
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="" method="post" class="form">

      <h1 class="govuk-heading-l">In the last 12 months, has your organisation delivered apprenticeship training as a subcontractor?</h1>
      <p class="govuk-body">To confirm your answer, we’ll review your lead provider’s subcontractor declaration. </p>

      {{ govukRadios({
        idPrefix: "pro-subcontractor",
        name: "pro-subcontractor",
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: checked("pro-subcontractor", "yes"),
            conditional: {
              html: websiteHtml
            }
          },
          {
            value: "no",
            text: "No",
            checked: checked("pro-subcontractor", "no")
          }
        ]
      }) }}

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
             What is a lead provider?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>A lead provider is a college, training organisation or employer that has a direct contractual relationship with ESFA.</p>
        </div>
      </details>

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}

    </form>
  </div>
</div>

{% endblock %}