{% extends "layout_application_v4.html" %}

{% block pageTitle %}
  RoATP Application Prototype v4
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#">feedback</a> will helps us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "pro-ofsted-apprenticeships"
  }) }}
  
  {% include "../../../includes/nav-application-v4.html" %}
  
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="" method="post" class="form">

      <h1 class="govuk-heading-l">What grade did your organisation get?</h1>
      <p class="govuk-body">To confirm your answer, we’ll assess your organisation’s Ofsted inspection report.</p>

      {{ govukRadios({
        idPrefix: "pro-ofsted-apprenticeships-grade",
        name: "pro-ofsted-apprenticeships-grade",
        items: [
          {
            value: "oustanding",
            text: "Outstanding",
            checked: checked("pro-ofsted-apprenticeships-grade", "oustanding")
          },
          {
            value: "good",
            text: "Good",
            checked: checked("pro-ofsted-apprenticeships-grade", "good")
          },
          {
            value: "requires-improvement",
            text: "Requires improvement",
            checked: checked("pro-ofsted-apprenticeships-grade", "requires-improvement")
          },
          {
            value: "inadequate",
            text: "Inadequate",
            checked: checked("pro-ofsted-apprenticeships-grade", "inadequate")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}

    </form>
  </div>
</div>

{% endblock %}