{% extends "layout_application_v8.html" %}

{% block pageTitle %}
  RoATP Application Prototype v8
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-caption-l">Sectors and employee experience</p>

      <h1 class="govuk-heading-l">Tell us about {{ data['del-employee'][ data['current_sector_id'] ]['name'] }}’s experience in the '{{ data['del-sectors'][ data['current_sector_id'] ] }}' sector</h1>

      <form action="" method="post" class="form">

        {{ govukRadios({
          idPrefix: "del-employee-trainingdelivered",
          name: "del-employee-trainingdelivered",
          fieldset: {
            legend: {
              classes: "govuk-fieldset__legend--m",
              text: "What types of apprenticeship training have they delivered?"
            }
          },
          items: [
            {
              value: "Apprenticeship standards",
              text: "Apprenticeship standards"
            },
            {
              value: "Apprenticeship frameworks",
              text: "Apprenticeship frameworks"
            },
            {
              value: "Apprenticeship standards and frameworks",
              text: "Apprenticeship standards and frameworks"
            },
            {
              value: "No apprenticeship training delivered",
              text: "No apprenticeship training delivered"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-right-4"
        }) }}

        <p class="skipquestion" id="skipquestion"><a href="">Return to this question later</a></p>
      
        {% include "includes/v8/gethelp.html" %}

      </form>
    </div>
  </div>

{% endblock %}
