{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v12.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP assessor applications",
				href: "/staff-app/v12/applications/applications-assessor"
			},
			{
				text: "Application assessment overview",
				href: "/staff-app/v12/applications/assessor/moderate/tasklist"
			},
			{
				text: "Protecting your apprentices"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Protecting your apprentices checks</span>
			<h1 class="govuk-heading-xl">Continuity plan for apprenticeship training</h1>

			<p class="govuk-body">
				Legal name: MY RECRUITMENT LIMITED<br>
				UKPRN: 12345678
			</p>
			
			<table class="govuk-table">
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<th class="govuk-table__header">Application question</th>
						<td class="govuk-table__cell">Upload your organisation’s continuity plan for apprenticeship training</td>
					</tr>
					<tr class="govuk-table__row">
						<th class="govuk-table__header">Applicant's answer</th>
						<td class="govuk-table__cell"><a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/376381/Expecting_the_Unexpected_Reviewed.pdf" target="_blank">myrecruitmentlimited-continuity-plan.pdf</a></td>
					</tr>
				</tbody>
			</table>

			<p class="govuk-body">Check if the upload includes how the organisation will:</p>
			<ul class="govuk-list govuk-list--bullet">
				<li>have different methods of communication</li>
				<li>manage transportation needs</li>
				<li>provide different operating locations (if needed)</li>
				<li>back-up relevant business systems</li>
				<li>back-up and restore data</li>
				<li>have a list of emergency contacts - ESFA must be listed</li>
			</ul>

			<h2 class="govuk-heading-m">Outcome of blind assessor checks</h2>
			<table class="govuk-table govuk-table__modoutcome">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th class="govuk-table__header"></th>
						<th class="govuk-table__header">Joan Smith</th>
						<th class="govuk-table__header">Martin Knowles</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<th class="govuk-table__header">Outcome</th>
						<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag-positive">Pass</strong></td>
						<td class="govuk-table__cell"><strong class="govuk-tag govuk-tag-negative">Fail</strong></td>
					</tr>
					<tr class="govuk-table__row">
						<th class="govuk-table__header">Notes</th>
						<td class="govuk-table__cell"></td>
						<td class="govuk-table__cell">The upload doesn't include how the organisation will back-up and restore data</td>
					</tr>
				</tbody>
			</table>

			<h2 class="govuk-heading-m govuk-!-margin-top-9">What is the outcome of this moderation?</h2>

			<form action="" method="post" class="form">
				
				{% set passHtml %}
					{{ govukCharacterCount({
						name: "aac-mod-pya-continuity-pass",
						id: "aac-mod-pya-continuity-pass",
          	value: data['aac-mod-pya-continuity-pass'],
						maxlength: 750,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}
				
				{% set failHtml %}
					{{ govukCharacterCount({
						name: "aac-mod-pya-continuity-fail",
						id: "aac-mod-pya-continuity-fail",
          	value: data['aac-mod-pya-continuity-fail'],
						maxlength: 750,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}
				
				{% set escalateHtml %}
					{{ govukCharacterCount({
						name: "aac-mod-pya-continuity-escalate",
						id: "aac-mod-pya-continuity-escalate",
          	value: data['aac-mod-pya-continuity-escalate'],
						maxlength: 750,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "aac-mod-pya-continuity-conditional",
					name: "aac-mod-pya-continuity",
					items: [
						{
							value: "Pass",
							text: "Pass",
							conditional: {
								html: passHtml
							},
							checked: checked("aac-mod-pya-continuity", "Pass")
						},
						{
							value: "Fail",
							text: "Fail",
							conditional: {
								html: failHtml
							},
							checked: checked("aac-mod-pya-continuity", "Fail")
						},
						{
							value: "Escalate",
							text: "Escalate",
							conditional: {
								html: escalateHtml
							},
							checked: checked("aac-mod-pya-continuity", "Escalate")
						}
					]
				}) }}

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-4"
				}) }}
        
        <p class="skipquestion" id="skipquestion"><a href="javascript:preventDefault();">Return to this check later</a></p>

			</form>

			<p><a href="/staff-app/v12/applications/assessor/moderate/tasklist-3127">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}