{% extends "layout_application_v4.html" %}

{% block pageTitle %}
  RoATP Application Prototype v4
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "engaged"
  }) }}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post" class="form">

        {{ govukRadios({
          id: "rte-fat",
          name: "rte-fat",
          fieldset: {
            legend: {
              text: "Confirm your organisation will use Find Apprenticeship Training (FAT) to promote apprenticeship to employers ",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "By joining the register, your organisation will be required to use FAT as a way to promote apprenticeship training to employers."
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("rte-fat", "yes")
            },
            {
              value: "no",
              text: "No",
              checked: checked("rte-fat", "no")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-right-1"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
