{% extends "layout_application_v4.html" %}

{% block pageTitle %}
  RoATP Application Prototype v4
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "engaged"
  }) }}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">How will your organisation manage its relationships with employers?</h1>

      <p class="govuk-body">Your answer should include how your organisation will:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>continuously monitor and improve employer engagement</li>
        <li>regularly review feedback from employers</li>
        <li>manage concerns and issues raised by employers</li>
        <li>manage communication with employers</li>
      </ul>

      <form action="" method="post" class="form">
      
        {{ govukTextarea({
          name: "rte-relationships",
          id: "rte-relationships"
        }) }}

        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-right-1"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
