{% extends "layout_application_v4.html" %}

{% block pageTitle %}
  RoATP Application Prototype v4
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#">feedback</a> will helps us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "upload-complaints"
  }) }}
  
  {% include "../../../includes/nav-application-v4.html" %}
  
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        
    <h1 class="govuk-heading-l">Upload a copy of your organisation’s ‘contract for services’ template with employers</h1>

    <p class="gov-body">This must include how your organisation will:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>...</li>
    </ul>

    <form action="" method="post" class="form">
    
      {{ govukFileUpload({
        id: "rte-contractforservices",
        name: "rte-contractforservices",
        label: {
          text: "Upload a file"
        }
      }) }}

      {{ govukDetails({
        summaryText: "What is a ‘contract for services’?",
        text: "A ‘contract for services’ is a signed and dated written agreement between your organisation and the employer and is funded from the employer’s apprenticeship service account."
      }) }}

      <p class="gov-body">Find out more about the <A href="#" target="_blank">apprenticeship funding rules (opens in a new window)</a>.</p>

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}

    </form>
  </div>
</div>

{% endblock %}