{% extends "layouts/layout_application_v4.html" %}

{% block pageTitle %}
  RoATP Application Prototype v4
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        
    <h1 class="govuk-heading-l">Upload a copy of your organisation’s complaints policy</h1>

    <p class="gov-body">This must include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>what a complaint is</li>
      <li>how to raise a complaint</li>
      <li>how long it takes for a complaint to be resolved</li>
    </ul>

    {% if (data['org-website'] == "yes") %}
    <p class="gov-body">This policy must also be published on your organisation’s website and be available to apprentices and employers.</p>
    {% endif %}

    <form action="" method="post" class="form">
    
      {{ govukFileUpload({
        id: "rte-complaints",
        name: "rte-complaints",
        label: {
          text: "Upload a file"
        }
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}
      
      {% include "includes/gethelp.html" %}

    </form>
  </div>
</div>

{% endblock %}