{% set title="Manage the register of apprenticeship training providers" %}

{% extends "layout.html" %}

{% block header %}
  {% include "includes/header-staff-app.html" %}
{% endblock %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       <h1 class="govuk-heading-xl">{{ title }}</h1>
       <p>Use this service to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>manage training providers</li>
            <li>download the register</li>
        </ul>
       <a href="esfa-sign-in" class="govuk-button govuk-button--start">Start now</a>
        <p class="govuk-!-margin-top-2">
            You'll need an email address ending in @sfa.bis.gov.uk or @FASST.org.uk.
        </p>
    </div>
</div>

{% endblock %}
