{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v10.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP applications",
				href: "/staff-app/v10/applications/applications-assessor"
			},
			{
				text: "Application assessment overview",
				href: "/staff-app/v10/applications/assessor/tasklist-3127"
			},
			{
				text: "Protecting your apprentices"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Protecting your apprentices checks</span>
			<h1 class="govuk-heading-xl">Check the organisation’s Prevent duty policy</h1>

			<p class="govuk-body">
				Legal name: MY RECRUITMENT LIMITED<br>
				UKPRN: 12345678
			</p>
			
			<table class="govuk-table">
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<th class="govuk-table__header">Application question</th>
						<td class="govuk-table__cell">Upload your organisation’s Prevent duty policy</td>
					</tr>
					<tr class="govuk-table__row">
						<th class="govuk-table__header">Applicant’s answer</th>
						<td class="govuk-table__cell"><a href="https://www.thepriorfoundation.com/resources/files/policies/Prevent-Duty-Policy.pdf" target="_blank">myrecruitmentlimited-preventduty-policy.pdf</a></td>
					</tr>
				</tbody>
			</table>

			<h2 class="govuk-heading-m govuk-!-margin-top-9">Does the upload include how the organisation will promote the policy?</h2>
			{{ govukRadios({
				idPrefix: "aac-3127-pya-preventdutyupload-promote",
				name: "aac-3127-pya-preventdutyupload-promote",
				classes: "govuk-radios--inline",
				items: [
					{
						value: "Yes",
						text: "Yes",
						checked: checked("aac-3127-pya-preventdutyupload-promote", "Yes")
					},
					{
						value: "No",
						text: "No",
						checked: checked("aac-3127-pya-preventdutyupload-promote", "No")
					}
				]
			}) }}

			<h2 class="govuk-heading-m govuk-!-margin-top-9">Does the upload include how the organisation will get commitment to the policy?</h2>
			{{ govukRadios({
				idPrefix: "aac-3127-pya-preventdutyupload-commitment",
				name: "aac-3127-pya-preventdutyupload-commitment",
				classes: "govuk-radios--inline",
				items: [
					{
						value: "Yes",
						text: "Yes",
						checked: checked("aac-3127-pya-preventdutyupload-commitment", "Yes")
					},
					{
						value: "No",
						text: "No",
						checked: checked("aac-3127-pya-preventdutyupload-commitment", "No")
					}
				]
			}) }}

			<h2 class="govuk-heading-m govuk-!-margin-top-9">Does the upload include how the organisation will train its employees in implementing the policy?</h2>
			{{ govukRadios({
				idPrefix: "aac-3127-pya-preventdutyupload-trainemployees",
				name: "aac-3127-pya-preventdutyupload-trainemployees",
				classes: "govuk-radios--inline",
				items: [
					{
						value: "Yes",
						text: "Yes",
						checked: checked("aac-3127-pya-preventdutyupload-trainemployees", "Yes")
					},
					{
						value: "No",
						text: "No",
						checked: checked("aac-3127-pya-preventdutyupload-trainemployees", "No")
					}
				]
			}) }}

			<h2 class="govuk-heading-m govuk-!-margin-top-9">Does the upload include how the organisation will have a legal responsibility to fulfil the Prevent duty statement?</h2>
			<p class="govuk-body">The Prevent duty statement is ’to have due regard to the need to prevent people from being drawn into terrorism’.</p>
			{{ govukRadios({
				idPrefix: "aac-3127-pya-preventdutyupload-legalresponsibility",
				name: "aac-3127-pya-preventdutyupload-legalresponsibility",
				classes: "govuk-radios--inline",
				items: [
					{
						value: "Yes",
						text: "Yes",
						checked: checked("aac-3127-pya-preventdutyupload-legalresponsibility", "Yes")
					},
					{
						value: "No",
						text: "No",
						checked: checked("aac-3127-pya-preventdutyupload-legalresponsibility", "No")
					}
				]
			}) }}

			<h2 class="govuk-heading-m govuk-!-margin-top-9">Does the upload include how the organisation will protect apprentices and employees from radicalising influences?</h2>
			{{ govukRadios({
				idPrefix: "aac-3127-pya-preventdutyupload-protect",
				name: "aac-3127-pya-preventdutyupload-protect",
				classes: "govuk-radios--inline",
				items: [
					{
						value: "Yes",
						text: "Yes",
						checked: checked("aac-3127-pya-preventdutyupload-protect", "Yes")
					},
					{
						value: "No",
						text: "No",
						checked: checked("aac-3127-pya-preventdutyupload-protect", "No")
					}
				]
			}) }}

			<h2 class="govuk-heading-m govuk-!-margin-top-9">Does the upload include how the organisation will ensure apprentices and employees are resilient to extreme narratives?</h2>
			{{ govukRadios({
				idPrefix: "aac-3127-pya-preventdutyupload-resilient",
				name: "aac-3127-pya-preventdutyupload-resilient",
				classes: "govuk-radios--inline",
				items: [
					{
						value: "Yes",
						text: "Yes",
						checked: checked("aac-3127-pya-preventdutyupload-resilient", "Yes")
					},
					{
						value: "No",
						text: "No",
						checked: checked("aac-3127-pya-preventdutyupload-resilient", "No")
					}
				]
			}) }}

			<h2 class="govuk-heading-m govuk-!-margin-top-9">Does the upload include how the organisation will identify changes in behaviour of apprentices and employees?</h2>
			{{ govukRadios({
				idPrefix: "aac-3127-pya-preventdutyupload-behaviour",
				name: "aac-3127-pya-preventdutyupload-behaviour",
				classes: "govuk-radios--inline",
				items: [
					{
						value: "Yes",
						text: "Yes",
						checked: checked("aac-3127-pya-preventdutyupload-behaviour", "Yes")
					},
					{
						value: "No",
						text: "No",
						checked: checked("aac-3127-pya-preventdutyupload-behaviour", "No")
					}
				]
			}) }}

			<h2 class="govuk-heading-m govuk-!-margin-top-9">Does the upload include how the organisation will deal with any issues raised by apprentices or employees?</h2>
			{{ govukRadios({
				idPrefix: "aac-3127-pya-preventdutyupload-issuesraised",
				name: "aac-3127-pya-preventdutyupload-issuesraised",
				classes: "govuk-radios--inline",
				items: [
					{
						value: "Yes",
						text: "Yes",
						checked: checked("aac-3127-pya-preventdutyupload-issuesraised", "Yes")
					},
					{
						value: "No",
						text: "No",
						checked: checked("aac-3127-pya-preventdutyupload-issuesraised", "No")
					}
				]
			}) }}

			<h2 class="govuk-heading-m govuk-!-margin-top-9" id="realtime">Is the upload specific to apprentices, trainers, and the applying organisation?</h2>
			{{ govukRadios({
				idPrefix: "aac-3127-pya-preventdutyupload-uploadspecific",
				name: "aac-3127-pya-preventdutyupload-uploadspecific",
				classes: "govuk-radios--inline",
				items: [
					{
						value: "Yes",
						text: "Yes",
						checked: checked("aac-3127-pya-preventdutyupload-uploadspecific", "Yes")
					},
					{
						value: "No",
						text: "No",
						checked: checked("aac-3127-pya-preventdutyupload-uploadspecific", "No")
					}
				]
			}) }}

			<h2 class="govuk-heading-m govuk-!-margin-top-9" id="realtime">Is the upload signed by a senior employee?</h2>
			<p class="govuk-body">For example, the upload is signed by a director or CEO.</p>
			{{ govukRadios({
				idPrefix: "aac-3127-pya-preventdutyupload-signed",
				name: "aac-3127-pya-preventdutyupload-signed",
				classes: "govuk-radios--inline",
				items: [
					{
						value: "Yes",
						text: "Yes",
						checked: checked("aac-3127-pya-preventdutyupload-signed", "Yes")
					},
					{
						value: "No",
						text: "No",
						checked: checked("aac-3127-pya-preventdutyupload-signed", "No")
					}
				]
			}) }}
			
			<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

			<form action="" method="post" class="form">

				<h2 class="govuk-heading-m govuk-!-margin-top-9">What is the outcome of this check?</h2>
			
				<div class="sops">
					<p class="govuk-body">If you have selected ‘yes’ to all of the questions above, pass this check.</p>
					<p class="govuk-body">If you have selected ‘no’ to any of the questions above, fail this check.</p>
					<p class="govuk-body">If you’re unsure, ask someone in your team or you can clarify with the applicant before you decide on an outcome.</p>
				</div>
				
				{% set passHtml %}
					{{ govukCharacterCount({
						name: "aac-3127-pya-prevent-upload-pass",
						id: "aac-3127-pya-prevent-upload-pass",
          	value: data['aac-3127-pya-prevent-upload-pass'],
						maxlength: 750,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}
				
				{% set failHtml %}
					{{ govukCharacterCount({
						name: "aac-3127-pya-prevent-upload-fail",
						id: "aac-3127-pya-prevent-upload-fail",
          	value: data['aac-3127-pya-prevent-upload-fail'],
						maxlength: 750,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}
				
				{% set clarifyHtml %}
					{{ govukCharacterCount({
						name: "aac-3127-pya-prevent-upload-clarify",
						id: "aac-3127-pya-prevent-upload-clarify",
          	value: data['aac-3127-pya-prevent-upload-clarify'],
						maxlength: 750,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "aac-3127-pya-prevent-upload-conditional",
					name: "aac-3127-pya-prevent-upload",
					items: [
						{
							value: "Pass",
							text: "Pass",
							conditional: {
								html: passHtml
							},
							checked: checked("aac-3127-pya-prevent-upload", "Pass")
						},
						{
							value: "Fail",
							text: "Fail",
							conditional: {
								html: failHtml
							},
							checked: checked("aac-3127-pya-prevent-upload", "Fail")
						}
					]
				}) }}

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-4"
				}) }}
        
        <p class="skipquestion" id="skipquestion"><a href="javascript:preventDefault();">Return to this check later</a></p>

			</form>

			<p><a href="/staff-app/v10/applications/assessor/tasklist-3127">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}