{% extends "layouts/layout_application_v4.html" %}

{% block pageTitle %}
  Sign in - RoATP Organisation Prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Create a password</h1>

    <p class="govuk-body">Your password must:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>be at least 8 characters</li>
      <li>contain at least one letter (a-z)</li>
      <li>contain at leats one number (0-9)</li>
    </ul>

    <form action="createaccount-complete" method="post" class="form">

      {{ govukInput({
        label: {
          text: "Password"
        },
        type: "password",
        classes: "govuk-!-width-one-half",
        id: "create-password",
        name: "create-password"
      }) }}

      {{ govukInput({
        label: {
          text: "Confirm your password"
        },
        type: "password",
        classes: "govuk-!-width-one-half",
        id: "create-confirmpassword",
        name: "create-confirmpassword"
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
