{% extends "layout_application_v2.html" %}

{% block pageTitle %}
  Organisation - RoATP Organisation Prototype
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#">feedback</a> will helps us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "org-convictions-peopleincontrol-2"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="dec-peopleincontrol-3" method="post" class="form">

        {{ govukRadios({
          idPrefix: "dec-breached",
          name: "dec-breached",
          fieldset: {
            legend: {
              text: "In the last 3 years, did anyone in your ‘people in control’ breach tax payments or social security contributions?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("dec-breached", "yes")
            },
            {
              value: "no",
              text: "No",
                checked: checked("dec-breached", "no")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-right-1"
        }) }}
  
        {{ govukButton({
          text: "Save and sign out",
          href: "signout-a",
          classes: "govuk-button--secondary"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
