{% set current_section = "applications" %}
{% extends "layouts/layout_mvpgateway_v2.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP dashboard",
				href: "/mvp-gateway/v2/dashboard"
			},
			{
				text: "RoATP applications",
				href: "/mvp-gateway/v2/applications/applications-gateway"
			},
			{
				text: "Application assessment overview",
				href: "/mvp-gateway/v2/applications/gateway/tasklist-company"
			},
			{
				text: "Legal checks"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">People in control high risk</span>
			<h1 class="govuk-heading-xl">Are any of the people in control of the organisation on the high risk list?</h1>

			<p class="govuk-body">
				Legal name: SAFRAN LANDING SYSTEMS UK LTD<br>
				UKPRN: 10053003<br>
				Type of organisation: Company<br>
				Application submitted on: 17 Oct 2019<br>
				Sources checked on: 27 Nov 2019
			</p>

      {% include "../../../../../../includes/directors-pscs.html" %}

		</div>
	</div>

	<div class="govuk-grid-row govuk-!-margin-top-3">
		<div class="govuk-grid-column-two-thirds">

			<!--h3 class="govuk-heading-m">What is the overall outcome of this check?</h3-->

			<form action="" method="post" class="form">

				{{ govukRadios({
					idPrefix: "gw-company-legal-people-highrisk",
					name: "gw-company-legal-people-highrisk",
					classes: "govuk-radios--inline",
					items: [
						{
							value: "Yes",
							text: "Yes",
							checked: checked("gw-company-legal-people-highrisk", "Yes")
						},
						{
							value: "No",
							text: "No",
							checked: checked("gw-company-legal-people-highrisk", "No")
						}
					]
				}) }}

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-4"
				}) }}
        
        <p class="skipquestion" id="skipquestion"><a href="../../tasklist-company">Return to this check later</a></p>

			</form>

			<p><a href="/mvp-gateway/v2/applications/gateway/tasklist-company">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}
