{% extends "layouts/layout_application_v12.html" %}

{% block pageTitle %}
  RoATP Application Prototype v12
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Engaging with employers</span>

      <h1 class="govuk-heading-l">Has your organisation engaged with employers to deliver apprenticeship training to their employees?</h1>

      <form action="" method="post" class="form">

        {{ govukRadios({
          idPrefix: "rte-engaged",
          name: "rte-engaged",
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("rte-engaged", "Yes")
            },
            {
              value: "No",
              text: "No",
                checked: checked("rte-engaged", "No")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-right-4"
        }) }}

        <p class="skipquestion" id="skipquestion"><a href="relationships">Return to this question later</a></p>
      
        {% include "includes/v12/gethelp.html" %}

      </form>
    </div>
  </div>

{% endblock %}
