{% extends "layout_application_v11.html" %}

{% block pageTitle %}
  Sign in - RoATP Organisation Prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">We have saved your answers and signed you out</h1>

    <p class="govuk-body">We will save your application for 30 days after you sign out. After 30 days, we will delete your application and you’ll need to start again using the link on <a href="https://www.gov.uk/guidance/register-of-apprenticeship-training-providers#history" target="_blank">the RoATP GOV.UK page (opens in a new window or tab)</a>.</p>
    <p class="govuk-body"><a href="https://www.gov.uk/">Back to GOV.UK</a></p>

  </div>
</div>

{% endblock %}
