{% set current_section = "applications" %}
{% extends "layout_staff_v5.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to application overview",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-xl">UKRLP checks</h1>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">

			<table class="govuk-table">
				<!-- <caption class="govuk-table__caption">Organisation details</caption> -->
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
					<th scope="col" class="govuk-table__header">Question</th>
					<th scope="col" class="govuk-table__header">
						Applicant answer
					</th>
					<th scope="col" class="govuk-table__header">
						UKRLP record
					</th>
					<th scope="col" class="govuk-table__header"></th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Legal name</th>
						<td class="govuk-table__cell">LEARNOVATE LTD</td>
						<td class="govuk-table__cell">LEARNOVATE LTD</td>
						<td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag ">Match</strong></td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Trading name</th>
						<td class="govuk-table__cell">Learnovate</td>
						<td class="govuk-table__cell">Learnovate training</td>
						<td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag govuk-tag-negative">Conflict</strong></td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Business address</th>
						<td class="govuk-table__cell">1 Romford Road<br>Wellington<br>Telford<br>CV16 6BB</td>
						<td class="govuk-table__cell">1 Romford Road<br>Wellington<br>Telford<br>CV16 6BB</td>
						<td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag ">Match</strong></td>
					</tr>
					<!--tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Website</th>
						<td class="govuk-table__cell">www.learnovate.com</td>
						<td class="govuk-table__cell">www.learnovate.com</td>
						<td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag ">Match</strong></td>
					</tr-->
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Organisation type</th>
						<td class="govuk-table__cell">Sole trader or partnership</td>
						<td class="govuk-table__cell">Sole trader or partnership</td>
						<td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag ">Match</strong></td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Company number</th>
						<td class="govuk-table__cell">09234854</td>
						<td class="govuk-table__cell">09234854</td>
						<td class="govuk-table__cell govuk-table__cell--numeric"><strong class="govuk-tag">Match</strong></td>
					</tr>
				</tbody>
				</table>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<h2 class="govuk-heading-m">Request clarification</h2>
			<p class="govuk-body">The applicant will be asked to check and update their answers.</p>

    	<form action="tasklist" method="post" class="form">

				{% set detailHtml %}
					{{ govukTextarea({
						name: "gateway-ukrlp-detail",
						id: "gateway-ukrlp-detail",
						label: {
							text: "Clarification request"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "gateway-ukrlp-conditional",
					name: "gateway-ukrlp",
					items: [
						{
							value: "Yes",
							text: "Yes",
							checked: checked("gateway-ukrlp", "Yes"),
							conditional: {
								html: detailHtml
							}
						},
						{
							value: "No",
							text: "No",
							checked: checked("gateway-ukrlp", "No")
						}
					]
				}) }}

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-1"
				}) }}
				
			</form>

		</div>
	</div>
      
{% endblock %}
