{% extends "layout_application_v6.html" %}

{% block pageTitle %}
  RoATP Application Prototype v6
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="" method="post" class="form">

      {{ govukCheckboxes({
        idPrefix: "org-classification",
        name: "org-classification",
        fieldset: {
          legend: {
            text: "How would you describe your organisation?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Select all that apply."
        },
        items: [
          {
            value: "public-service-mutual",
            text: "A public service mutual",
            hint: {
              text: "An organisation that’s left the public sector but still delivers public services."
            },
            checked: checked("org-classification", "public-service-mutual")
          },
          {
            value: "sheltered-workshop",
            text: "A sheltered workshop",
            hint: {
              text: "An organisation that provides employment opportunities for people who are developmentally, physically, or mentally impaired."
            },
            checked: checked("org-classification", "sheltered-workshop")
          },
          {
            value: "sme",
            text: "A small or medium enterprise (SME)",
            hint: {
              html: 'As explained by the <a href="http://ec.europa.eu/growth/smes/business-friendly-environment/sme-definition_en" target="_blank">European Commission (opens in a new window or tab)</a>.'
            },
            checked: checked("org-classification", "sme")
          },
          {
            value: "third-sector",
            text: "A third sector organisation",
            hint: {
              text: "An organisation that does voluntary or community work. For example, a charity."
            },
            checked: checked("org-classification", "third-sector")
          },
          {
            value: "none",
            text: "None of the above",
            checked: checked("org-classification", "none")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}
      
      {% include "includes/v6/gethelp.html" %}

    </form>
  </div>
</div>

{% endblock %}