{% extends "layout_application_v6.html" %}

{% block pageTitle %}
  RoATP Application Prototype v6
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-caption-l">Describe your organisation</p>
        
    <h1 class="govuk-heading-l">What type of educational institute is your organisation?</h1>

    <form action="" method="post" class="form">

      {{ govukRadios({
        idPrefix: "org-type-education",
        name: "org-type-education",
        items: [
          {
            value: "national-college",
            text: "National college",
            checked: checked("org-type-education", "national-college")
          },
          {
            value: "academy",
            text: "Academy",
            checked: checked("org-type-education", "academy")
          },
          {
            value: "multi-academy",
            text: "Multi-academy trust",
            checked: checked("org-type-education", "multi-academy")
          },
          {
            value: "school",
            text: "School",
            checked: checked("org-type-education", "school")
          },
          {
            value: "sixth-form",
            text: "Sixth form college",
            checked: checked("org-type-education", "sixth-form")
          },
          {
            value: "hei",
            text: "Higher education institute",
            checked: checked("org-type-education", "hei")
          },
          {
            value: "gfe",
            text: "General further education college",
            checked: checked("org-type-education", "gfe")
          },
          {
            value: "fei",
            text: "Further education institute",
            checked: checked("org-type-education", "fei")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}
      
      {% include "includes/v6/gethelp.html" %}

    </form>
  </div>
</div>

{% endblock %}