{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v12.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP assessor applications",
				href: "/staff-app/v12/applications/applications-assessor"
			},
			{
				text: "Application assessment overview",
				href: "/staff-app/v12/applications/assessor/tasklist-3127"
			},
			{
				text: "Assessor outcome saved"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Assessor outcome</span>
			<h1 class="govuk-heading-xl">Submit application for moderation</h1>

			<p class="govuk-body">
				UKPRN: 12345678<br>
				Legal name: MY RECRUITMENT LIMITED<br>
				Provider route: Main<br>
				Application submitted date: 18 Oct 2019
			</p>

			<h2 class="govuk-heading-l govuk-!-margin-top-5">Protecting your apprenticeships checks</h2>

			<table class="govuk-table govuk-!-margin-bottom-9">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header" width="90%">Check</th>
						<th scope="col" class="govuk-table__header" width="10%">Outcome</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Continuity plan for apprenticeship training</td>
						<td class="govuk-table__cell">
							{% if data['gw-abctraining-organisation-legalname'] == "Pass" %}
								<strong class="govuk-tag govuk-tag-positive">Pass</strong>
							{% elseif data['gw-abctraining-organisation-legalname'] == "Fail" %}
								<strong class="govuk-tag govuk-tag-negative">Fail</strong>
							{% endif %}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Equality and diversity policy</td>
						<td class="govuk-table__cell">
							{% if data['gw-abctraining-organisation-status'] == "Pass" %}
								<strong class="govuk-tag govuk-tag-positive">Pass</strong>
							{% elseif data['gw-abctraining-organisation-status'] == "Fail" %}
								<strong class="govuk-tag govuk-tag-negative">Fail</strong>
							{% endif %}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Safeguarding and Prevent duty policy</td>
						<td class="govuk-table__cell">
							{% set safeguardingFails = 0 %}
                            {% if (data['aac-3127-pya-safeguarding'] == "Fail") %}
							{% set safeguardingFails = safeguardingFails + 1 %}
							{% endif %}
                            {% if (data['aac-3127-pya-safeguarding-responsible'] == "Fail") %}
							{% set safeguardingFails = safeguardingFails + 1 %}
							{% endif %}
                            {% if (data['aac-3127-pya-prevent-responsible'] == "Fail") %}
							{% set safeguardingFails = safeguardingFails + 1 %}
							{% endif %}
                            {% if (data['aac-3127-pya-prevent-upload'] == "Fail") %}
							{% set safeguardingFails = safeguardingFails + 1 %}
							{% endif %}
							{% if (data['aac-3127-pya-safeguarding'] == "Pass") and (data['aac-3127-pya-safeguarding-responsible'] == "Pass") and (data['aac-3127-pya-prevent-responsible'] == "Pass") and (data['aac-3127-pya-prevent-upload'] == "Pass")  %}
								<strong class="govuk-tag app-task-list__task-positive">Pass</strong>
							{% elseif (data['aac-3127-pya-safeguarding'] == "In progress") or (data['aac-3127-pya-safeguarding-responsible'] == "In progress") or (data['aac-3127-pya-prevent-responsible'] == "In progress") or (data['aac-3127-pya-prevent-upload'] == "In progress")  %}
								<strong class="govuk-tag app-task-list__task-completed">In progress</strong>
							{% elseif safeguardingFails == 1 %}
								<strong class="govuk-tag app-task-list__task-negative">1 Fail out of 4</strong>
							{% elseif safeguardingFails > 1 %}
								<strong class="govuk-tag app-task-list__task-negative">{{ safeguardingFails }} Fails out of 4</strong>
							{% endif %}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Health and safety policy</td>
						<td class="govuk-table__cell">
							{% if data['gw-abctraining-organisation-ico'] == "Pass" %}
								<strong class="govuk-tag govuk-tag-positive">Pass</strong>
							{% elseif data['gw-abctraining-organisation-ico'] == "Fail" %}
								<strong class="govuk-tag govuk-tag-negative">Fail</strong>
							{% endif %}
						</td>
					</tr>
 				</tbody>
			</table>

			<h2 class="govuk-heading-l govuk-!-margin-top-5">Readiness to engage checks</h2>

			<table class="govuk-table govuk-!-margin-bottom-9">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header" width="90%">Check</th>
						<th scope="col" class="govuk-table__header" width="10%">Outcome</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Engaging with employers</td>
						<td class="govuk-table__cell">
							{% if data['gw-abctraining-people-people'] == "Pass" %}
								<strong class="govuk-tag govuk-tag-positive">Pass</strong>
							{% elseif data['gw-abctraining-people-people'] == "Fail" %}
								<strong class="govuk-tag govuk-tag-negative">Fail</strong>
							{% endif %}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Complaints policy</td>
						<td class="govuk-table__cell">
							{% if data['gw-abctraining-people-highrisk'] == "Pass" %}
								<strong class="govuk-tag govuk-tag-positive">Pass</strong>
							{% elseif data['gw-abctraining-people-highrisk'] == "Fail" %}
								<strong class="govuk-tag govuk-tag-negative">Fail</strong>
							{% endif %}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Contract for services template with employers</td>
						<td class="govuk-table__cell">
							{% if data['gw-abctraining-people-highrisk'] == "Pass" %}
								<strong class="govuk-tag govuk-tag-positive">Pass</strong>
							{% elseif data['gw-abctraining-people-highrisk'] == "Fail" %}
								<strong class="govuk-tag govuk-tag-negative">Fail</strong>
							{% endif %}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Commitment statement template</td>
						<td class="govuk-table__cell">
							{% if data['gw-abctraining-people-highrisk'] == "Pass" %}
								<strong class="govuk-tag govuk-tag-positive">Pass</strong>
							{% elseif data['gw-abctraining-people-highrisk'] == "Fail" %}
								<strong class="govuk-tag govuk-tag-negative">Fail</strong>
							{% endif %}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Prior learning of apprentices</td>
						<td class="govuk-table__cell">
							{% if data['gw-abctraining-people-highrisk'] == "Pass" %}
								<strong class="govuk-tag govuk-tag-positive">Pass</strong>
							{% elseif data['gw-abctraining-people-highrisk'] == "Fail" %}
								<strong class="govuk-tag govuk-tag-negative">Fail</strong>
							{% endif %}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Working with subcontractors</td>
						<td class="govuk-table__cell">
							{% if data['gw-abctraining-people-highrisk'] == "Pass" %}
								<strong class="govuk-tag govuk-tag-positive">Pass</strong>
							{% elseif data['gw-abctraining-people-highrisk'] == "Fail" %}
								<strong class="govuk-tag govuk-tag-negative">Fail</strong>
							{% endif %}
						</td>
					</tr>
				</tbody>
			</table>

			<h2 class="govuk-heading-l govuk-!-margin-top-5">Planning apprenticeship training checks</h2>

			<table class="govuk-table govuk-!-margin-bottom-9">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header" width="90%">Check</th>
						<th scope="col" class="govuk-table__header" width="10%">Outcome</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Type of apprenticeship training</td>
						<td class="govuk-table__cell">
							{% if data['gw-abctraining-register-roatp'] == "Pass" %}
								<strong class="govuk-tag govuk-tag-positive">Pass</strong>
							{% elseif data['gw-abctraining-register-roatp'] == "Fail" %}
								<strong class="govuk-tag govuk-tag-negative">Fail</strong>
							{% endif %}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Supporting apprentices</td>
						<td class="govuk-table__cell">
							{% if data['gw-abctraining-register-epao'] == "Pass" %}
								<strong class="govuk-tag govuk-tag-positive">Pass</strong>
							{% elseif data['gw-abctraining-register-epao'] == "Fail" %}
								<strong class="govuk-tag govuk-tag-negative">Fail</strong>
							{% endif %}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Forecasting starts</td>
						<td class="govuk-table__cell">
							{% if data['gw-abctraining-register-epao'] == "Pass" %}
								<strong class="govuk-tag govuk-tag-positive">Pass</strong>
							{% elseif data['gw-abctraining-register-epao'] == "Fail" %}
								<strong class="govuk-tag govuk-tag-negative">Fail</strong>
							{% endif %}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Off the job training</td>
						<td class="govuk-table__cell">
							{% if data['gw-abctraining-register-epao'] == "Pass" %}
								<strong class="govuk-tag govuk-tag-positive">Pass</strong>
							{% elseif data['gw-abctraining-register-epao'] == "Fail" %}
								<strong class="govuk-tag govuk-tag-negative">Fail</strong>
							{% endif %}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Where apprentices will be trained</td>
						<td class="govuk-table__cell">
							{% if data['gw-abctraining-register-epao'] == "Pass" %}
								<strong class="govuk-tag govuk-tag-positive">Pass</strong>
							{% elseif data['gw-abctraining-register-epao'] == "Fail" %}
								<strong class="govuk-tag govuk-tag-negative">Fail</strong>
							{% endif %}
						</td>
					</tr>
				</tbody>
			</table>

			<h2 class="govuk-heading-l govuk-!-margin-top-5">Delivering apprenticeship training checks</h2>

			<table class="govuk-table govuk-!-margin-bottom-9">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header" width="90%">Check</th>
						<th scope="col" class="govuk-table__header" width="10%">Outcome</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Overall accountability for apprenticeships</td>
						<td class="govuk-table__cell">
							{% if data['gw-abctraining-experience-ofs'] == "Pass" %}
								<strong class="govuk-tag govuk-tag-positive">Pass</strong>
							{% elseif data['gw-abctraining-experience-ofs'] == "Fail" %}
								<strong class="govuk-tag govuk-tag-negative">Fail</strong>
							{% endif %}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Management hierarchy for apprenticeships</td>
						<td class="govuk-table__cell">
							{% if data['gw-abctraining-experience-itt'] == "Pass" %}
								<strong class="govuk-tag govuk-tag-positive">Pass</strong>
							{% elseif data['gw-abctraining-experience-itt'] == "Fail" %}
								<strong class="govuk-tag govuk-tag-negative">Fail</strong>
							{% endif %}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Developing and delivering training</td>
						<td class="govuk-table__cell">
							{% if data['gw-abctraining-experience-ofsted'] == "Pass" %}
								<strong class="govuk-tag govuk-tag-positive">Pass</strong>
							{% elseif data['gw-abctraining-experience-ofsted'] == "Fail" %}
								<strong class="govuk-tag govuk-tag-negative">Fail</strong>
							{% endif %}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Sectors and employee experience</td>
						<td class="govuk-table__cell">
							{% if data['gw-abctraining-experience-ofsted'] == "Pass" %}
								<strong class="govuk-tag govuk-tag-positive">Pass</strong>
							{% elseif data['gw-abctraining-experience-ofsted'] == "Fail" %}
								<strong class="govuk-tag govuk-tag-negative">Fail</strong>
							{% endif %}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Policy for professional development of employees</td>
						<td class="govuk-table__cell">
							{% if data['gw-abctraining-experience-ofsted'] == "Pass" %}
								<strong class="govuk-tag govuk-tag-positive">Pass</strong>
							{% elseif data['gw-abctraining-experience-ofsted'] == "Fail" %}
								<strong class="govuk-tag govuk-tag-negative">Fail</strong>
							{% endif %}
						</td>
					</tr>
				</tbody>
			</table>

			<h2 class="govuk-heading-l govuk-!-margin-top-5">Evaluating apprenticeship training checks</h2>

			<table class="govuk-table govuk-!-margin-bottom-9">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header" width="90%">Check</th>
						<th scope="col" class="govuk-table__header" width="10%">Outcome</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">

					<tr class="govuk-table__row">
						<td class="govuk-table__header">Process for evaluating the quality of training delivered</td>
						<td class="govuk-table__cell">
							{% if data['gw-abctraining-criminalorg-composition'] == "Pass" %}
								<strong class="govuk-tag govuk-tag-positive">Pass</strong>
							{% elseif data['gw-abctraining-criminalorg-composition'] == "Fail" %}
								<strong class="govuk-tag govuk-tag-negative">Fail</strong>
							{% endif %}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Evaluating the quality of apprenticeship training</td>
						<td class="govuk-table__cell">
							{% if data['gw-abctraining-criminalorg-failed'] == "Pass" %}
								<strong class="govuk-tag govuk-tag-positive">Pass</strong>
							{% elseif data['gw-abctraining-criminalorg-failed'] == "Fail" %}
								<strong class="govuk-tag govuk-tag-negative">Fail</strong>
							{% endif %}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Systems and processes to collect apprenticeship data</td>
						<td class="govuk-table__cell">
							{% if data['gw-abctraining-criminalorg-contractterminated'] == "Pass" %}
								<strong class="govuk-tag govuk-tag-positive">Pass</strong>
							{% elseif data['gw-abctraining-criminalorg-contractterminated'] == "Fail" %}
								<strong class="govuk-tag govuk-tag-negative">Fail</strong>
							{% endif %}
						</td>
					</tr>
				</tbody>
			</table>


			<form action="" method="post" class="form">

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-4"
				}) }}

			</form>

			<p><a href="/staff-app/v12/applications/assessor/tasklist-3127">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}