{% set current_section = "applications" %}
{% extends "layouts/layout_mvppmo_v1.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "Dashboard",
				href: "/mvp-pmo/v1/applications/applications-list"
			},
			{
				text: "RoATP applications"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-m">PMO</span>
			<h1 class="govuk-heading-xl">RoATP applications</h1>
		</div>
	</div>
	
	{% set applicationsHtml %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th aria-sort="none" scope="col" class="govuk-table__header">Organisation name</th>
					<th aria-sort="none" scope="col" class="govuk-table__header">UKPRN</th>
					<th aria-sort="none" scope="col" class="govuk-table__header">Provider route</th>
					<th aria-sort="none" scope="col" class="govuk-table__header">Financial health status</th>
					<th aria-sort="ascending" scope="col" class="govuk-table__header">Application submitted</th>
					<th aria-sort="none" scope="col" class="govuk-table__header">Current status</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% if not data['pmo-abc'] %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="abc-setinprogress">ABC TRAINING LIMITED</a></td>
					<td class="govuk-table__cell">12345678</td>
					<td class="govuk-table__cell">Main</td>
					<td class="govuk-table__cell">Not exempt</td>
					<td class="govuk-table__cell">17 Oct 2019</td>
					<td class="govuk-table__cell">
						{% if data['pmo-abc-status'] == 'inprogress' %}
						<strong class="govuk-tag app-task-list__task-completed">In progress</strong>
						{% else %}
						<strong class="govuk-tag app-task-list__task-positive">New</strong>
						{% endif %}
					</td>
				</tr>
				{% endif %}
				{% if not data['pmo-xyz'] %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="xyz-setinprogress">XYZ LEARNING</a></td>
					<td class="govuk-table__cell">10987654</td>
					<td class="govuk-table__cell">Main</td>
					<td class="govuk-table__cell">Exempt</td>
					<td class="govuk-table__cell">18 Oct 2019</td>
					<td class="govuk-table__cell">
						{% if data['pmo-xyz-status'] == 'inprogress' %}
						<strong class="govuk-tag app-task-list__task-completed">In progress</strong>
						{% else %}
						<strong class="govuk-tag app-task-list__task-positive">New</strong>
						{% endif %}
					</td>
				</tr>
				{% endif %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">THINK POD</td>
					<td class="govuk-table__cell">10346672</td>
					<td class="govuk-table__cell">Main</td>
					<td class="govuk-table__cell">Exempt</td>
					<td class="govuk-table__cell">19 Oct 2019</td>
					<td class="govuk-table__cell"><strong class="govuk-tag app-task-list__task-positive">New</strong></td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">EXAM SNAP</td>
					<td class="govuk-table__cell">11982928</td>
					<td class="govuk-table__cell">Employer</td>
					<td class="govuk-table__cell">Not exempt</td>
					<td class="govuk-table__cell">21 Oct 2019</td>
					<td class="govuk-table__cell"><strong class="govuk-tag app-task-list__task-positive">Updated</strong></td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">STELLA NOVA</td>
					<td class="govuk-table__cell">10959582</td>
					<td class="govuk-table__cell">Supporting</td>
					<td class="govuk-table__cell">Not exempt</td>
					<td class="govuk-table__cell">22 Oct 2019</td>
					<td class="govuk-table__cell"><strong class="govuk-tag app-task-list__task-positive">New</strong></td>
				</tr>
			</tbody>
		</table>
	{% endset -%}

	{% set clarificationsHtml %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th aria-sort="none" scope="col" class="govuk-table__header">Organisation name</th>
					<th aria-sort="none" scope="col" class="govuk-table__header">UKPRN</th>
					<th aria-sort="none" scope="col" class="govuk-table__header">Provider route</th>
					<th aria-sort="none" scope="col" class="govuk-table__header">Financial health status</th>
					<th aria-sort="ascending" scope="col" class="govuk-table__header">Clarification requested</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% if data['pmo-abc'] == "Clarification" %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="abc-evaluation">ABC TRAINING LIMITED</a></td>
					<td class="govuk-table__cell">12345678</td>
					<td class="govuk-table__cell">Main</td>
					<td class="govuk-table__cell">Not exempt</td>
					<td class="govuk-table__cell">17 Oct 2019</td>
				</tr>
				{% endif %}
				{% if data['pmo-xyz'] == "Clarification" %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="xyz-evaluation">XYZ LEARNING</a></td>
					<td class="govuk-table__cell">10987654</td>
					<td class="govuk-table__cell">Main</td>
					<td class="govuk-table__cell">Exempt</td>
					<td class="govuk-table__cell">18 Oct 2019</td>
				</tr>
				{% endif %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">KNOWTABLY</td>
					<td class="govuk-table__cell">10776351</td>
					<td class="govuk-table__cell">Supporting</td>
					<td class="govuk-table__cell">Not exempt</td>
					<td class="govuk-table__cell">21 Oct 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">CHRYSALIS</td>
					<td class="govuk-table__cell">12110997</td>
					<td class="govuk-table__cell">Main</td>
					<td class="govuk-table__cell">Not exempt</td>
					<td class="govuk-table__cell">23 Oct 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">EDUSPHERE</td>
					<td class="govuk-table__cell">11098793</td>
					<td class="govuk-table__cell">Employer</td>
					<td class="govuk-table__cell">Exempt</td>
					<td class="govuk-table__cell">24 Oct 2019</td>
				</tr>
			</tbody>
		</table>
	{% endset -%}

	{% set outcomeHtml %}
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th aria-sort="none" scope="col" class="govuk-table__header">Organisation name</th>
					<th aria-sort="none" scope="col" class="govuk-table__header">UKPRN</th>
					<th aria-sort="none" scope="col" class="govuk-table__header">Provider route</th>
					<th aria-sort="none" scope="col" class="govuk-table__header">Financial health status</th>
					<th aria-sort="ascending" scope="col" class="govuk-table__header">Outcome date</th>
					<th aria-sort="none" scope="col" class="govuk-table__header">Outcome</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% if (data['pmo-abc']) and not (data['pmo-abc'] == "Clarification") %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="abc-evaluation">ABC TRAINING LIMITED</a></td>
					<td class="govuk-table__cell">12345678</td>
					<td class="govuk-table__cell">Main</td>
					<td class="govuk-table__cell">Not exempt</td>
					<td class="govuk-table__cell">17 Oct 2019</td>
					<td class="govuk-table__cell">{{ data['pmo-abc'] }}</td>
				</tr>
				{% endif %}
				{% if (data['pmo-xyz']) and not (data['pmo-xyz'] == "Clarification") %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="xyz-evaluation">XYZ LEARNING</a></td>
					<td class="govuk-table__cell">10987654</td>
					<td class="govuk-table__cell">Main</td>
					<td class="govuk-table__cell">Exempt</td>
					<td class="govuk-table__cell">18 Oct 2019</td>
					<td class="govuk-table__cell">{{ data['pmo-xyz'] }}</td>
				</tr>
				{% endif %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">SCHOOL SOURCE</td>
					<td class="govuk-table__cell">10776392</td>
					<td class="govuk-table__cell">Main</td>
					<td class="govuk-table__cell">Exempt</td>
					<td class="govuk-table__cell">14 Oct 2019</td>
					<td class="govuk-table__cell">Exempt</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">FUTURE THINK</td>
					<td class="govuk-table__cell">10652842</td>
					<td class="govuk-table__cell">Employer</td>
					<td class="govuk-table__cell">Not exempt</td>
					<td class="govuk-table__cell">12 Oct 2019</td>
					<td class="govuk-table__cell">Satisfactory</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">MOVING THE GRADE</td>
					<td class="govuk-table__cell">10234173</td>
					<td class="govuk-table__cell">Main</td>
					<td class="govuk-table__cell">Not exempt</td>
					<td class="govuk-table__cell">12 Oct 2019</td>
					<td class="govuk-table__cell">Outstanding</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">ROCKET TRAINING</td>
					<td class="govuk-table__cell">10882394</td>
					<td class="govuk-table__cell">Supporting</td>
					<td class="govuk-table__cell">Not exempt</td>
					<td class="govuk-table__cell">11 Oct 2019</td>
					<td class="govuk-table__cell">Inadequate</td>
				</tr>
			</tbody>
		</table>
	{% endset -%}

<div class="shrinkit">
	{{ govukTabs({
		items: [
			{
				label: "Applications",
				id: "applications",
				panel: {
					html: applicationsHtml
				}
			},
			{
				label: "Clarifications",
				id: "clarifications",
				panel: {
					html: clarificationsHtml
				}
			},
			{
				label: "Outcome",
				id: "outcome",
				panel: {
					html: outcomeHtml
				}
			}
		]
	}) }}
</div>
      
{% endblock %}