{% set current_section = "applications" %}
{% extends "layouts/layout_mvppmo_v1.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "Dashboard",
				href: "/mvp-pmo/v1/applications/applications-list"
			},
			{
				text: "RoATP applications",
				href: "/mvp-pmo/v2/applications/applications-list"
			},
			{
				text: "Application overview",
				href: "/mvp-pmo/v2/applications/tasklist-abc"
			},
			{
				text: "Protecting your apprentices"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-m">Assessor</span>
			<h1 class="govuk-heading-xl">Protecting your apprentices</h1>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
	
			<dl class="govuk-summary-list govuk-summary-list--overview govuk-!-margin-bottom-9">
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key" style="white-space: nowrap;">Application reference number</dt>
					<dd class="govuk-summary-list__value">APR00001</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">UKPRN</dt>
					<dd class="govuk-summary-list__value">12345678</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Legal name</dt>
					<dd class="govuk-summary-list__value">ABC TRAINING LIMITED</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Provider route</dt>
					<dd class="govuk-summary-list__value">Main</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Date application submitted</dt>
					<dd class="govuk-summary-list__value">17 Oct 2019</dd>
				</div>
			</dl>

			<h2 class="govuk-!-margin-bottom-2"><a href="abc/questions-pya-continuity">Continuity plan for apprenticeship training</a></h2>
			{% if data['aac-pya-continuity-complete'] == "Yes" %}<strong class="govuk-tag">Assessed</strong>{% endif %}
			{% if data['feedback-pya-continuity-policy'][0] %}<strong class="govuk-tag">Feedback added</strong>{% endif %}
			<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

			<h2 class="govuk-!-margin-bottom-2"><a href="abc/questions-pya-equality">Equality and diversity policy</a></h2>
			{% if data['aac-pya-equality-complete'] == "Yes" %}<strong class="govuk-tag">Assessed</strong>{% endif %}
			{% if data['feedback-pya-equality-policy'][0] %}<strong class="govuk-tag">Feedback added</strong>{% endif %}
			<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

			<h2 class="govuk-!-margin-bottom-2"><a href="abc/questions-pya-safeguarding">Safeguarding and Prevent duty policy</a></h2>
			{% if data['aac-pya-safeguarding-complete'] == "Yes" %}<strong class="govuk-tag">Assessed</strong>{% endif %}
			{% if (data['feedback-pya-safeguarding-policy'][0]) or (data['feedback-pya-safeguarding-responsible'][0]) or (data['feedback-pya-safeguarding-preventduty'][0]) %}<strong class="govuk-tag">Feedback added</strong>{% endif %}
			<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

			<h2 class="govuk-!-margin-bottom-2"><a href="abc/questions-pya-healthandsafety">Health and safety policy</a></h2>
			{% if data['aac-pya-healthandsafety-complete'] == "Yes" %}<strong class="govuk-tag">Assessed</strong>{% endif %}
			{% if (data['feedback-pya-healthandsafety-policy'][0]) or (data['feedback-pya-healthandsafety-responsible'][0]) %}<strong class="govuk-tag">Feedback added</strong>{% endif %}
			<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

			<p class="govuk-!-margin-top-9"><a href="http://localhost:1337/mvp-pmo/v2/applications/tasklist-abc">Back to application overview</a></p>
		
		</div>
	</div>

	

{% endblock %}