{% set current_section = "applications" %}
{% extends "layouts/layout_mvpgateway_v1.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP dashboard",
				href: "/mvp-gateway/v1/dashboard"
			},
			{
				text: "RoATP applications",
				href: "/mvp-gateway/v1/applications/applications-gateway"
			},
			{
				text: "Application assessment overview",
				href: "/mvp-gateway/v1/applications/gateway/tasklist-company"
			},
			{
				text: "Confirm gateway outcome"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<!--span class="govuk-caption-m">Organisation high risk</span-->
			<h1 class="govuk-heading-xl">Confirm gateway outcome</h1>

			<p class="govuk-body">
				Legal name: SAFRAN LANDING SYSTEMS UK LTD<br>
				UKPRN: 10053003
			</p>

			<h3 class="govuk-heading-m">This application will be rejected.</h3>

			<table class="govuk-table">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header">Rejected question</th>
						<th scope="col" class="govuk-table__header">Reason</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Legal and address checks</td>
						<td class="govuk-table__cell">{{ data['gw-company-initial-outcome-reject'] }}</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__header">UK ultimate parent company checks</td>
						<td class="govuk-table__cell">{{ data['gw-company-organisation-info-reject'] }}</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<h3 class="govuk-heading-m">Feedback to the provider</h3>
			<p class="govuk-body">This will be the feedback that the provider will use to update their application to RoATP</p>

			<form action="" method="post" class="form">

					{{ govukCharacterCount({
						name: "gw-company-feedback",
						id: "gw-company-feedback",
          	value: data['gw-company-feedback'],
						maxwords: 250
					}) }}

				{{ govukButton({
					text: "Reject and send feedback",
					classes: "govuk-!-margin-right-4"
				}) }}
        
			</form>

			<p><a href="mvp-gateway/v1applications/gateway/tasklist-company">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}
