{% extends "layouts/layout_application_v12.html" %}

{% block pageTitle %}
  RoATP Application Prototype v12
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Describe your organisation</span>
        
    <h1 class="govuk-heading-l">Does your organisation have a website?</h1>

    <form action="" method="post" class="form">

      {% set websiteHtml %}
        {{ govukInput({
          id: "org-website-address",
          name: "org-website-address",
          type: "text",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Enter main website address"
          },
          value: data['org-website-address'],
          attributes: {
            spellcheck: "false"
          }
        }) }}
      {% endset -%}

      {{ govukRadios({
        idPrefix: "org-website-conditional",
        name: "org-website",
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: checked("org-website", "Yes"),
            conditional: {
              html: websiteHtml
            }
          },
          {
            value: "No",
            text: "No",
            checked: checked("org-website", "No")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}
      
      {% include "includes/v12/gethelp.html" %}

    </form>
  </div>
</div>

{% endblock %}