{% set current_section = "register" %}
{% extends "layouts/layout_mvpgateway_v6.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "Dashboard",
				href: "/mvp-gateway/v6/dashboard"
			},
			{
				text: "Add a new training provider"
			}
		]
	}) }}
{% endblock %}

{% block content %}


	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
            
			<span class="govuk-caption-l">Add a new training provider</span>
			<h1 class="govuk-heading-xl">Change UKPRN for {{ data['staff-add-orgname'] }}</h1>

			<form action="add-confirm" method="post" class="form">

				{{ govukInput({
					label: {
						text: "UKPRN"
					},
					classes: "govuk-!-width-one-third",
					id: "staff-add-ukprn",
          name: "staff-add-ukprn",
          value: data['staff-add-ukprn']
				}) }}

				{{ govukButton({
					text: "Change"
				}) }}

			</form>

		</div>
	</div>
      
{% endblock %}
      