{% set current_section = "applications" %}
{% extends "layouts/layout_mvpgateway_v2.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP dashboard",
				href: "/mvp-gateway/v2/dashboard"
			},
			{
				text: "RoATP applications",
				href: "/mvp-gateway/v2/applications/applications-gateway"
			},
			{
				text: "Application assessment overview",
				href: "/mvp-gateway/v2/applications/gateway/tasklist-company"
			},
			{
				text: "Legal checks"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Legal checks</span>
			<h1 class="govuk-heading-xl">Does the address match for ‘submitted application’ and ‘UKRLP’?</h1>

			<p class="govuk-body">
				UKPRN: 12345678<br>
				Legal name: ABC TRAINING LIMITED<br>
				Type of organisation: Company<br>
				Application submitted on: 17 Oct 2019<br>
				Sources checked on: 27 Nov 2019
			</p>

			<form action="" method="post" class="form">

				<!--h2 class="govuk-heading-l govuk-!-margin-top-9" id="realtime">Does the address match for all sources?</h2-->
				<table class="govuk-table">
					<thead class="govuk-table__head">
						<tr class="govuk-table__row">
							<th scope="col" class="govuk-table__header">Source</th>
							<th scope="col" class="govuk-table__header">Address</th>
						</tr>
					</thead>
					<tbody class="govuk-table__body">
						<tr class="govuk-table__row">
							<td class="govuk-table__header">Submitted application</td>
							<td class="govuk-table__cell">172 Quinton Park,<br>Coventry<br>CV3 5HZ</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__header">UKRLP</td>
							<td class="govuk-table__cell">172 Quinton Park,<br>Coventry<br>CV3 5HZ</td>
						</tr>
					</tbody>
				</table>
				{{ govukRadios({
					idPrefix: "gw-company-initial-address",
					name: "gw-company-initial-address",
					classes: "govuk-radios--inline",
					items: [
						{
							value: "Yes",
							text: "Yes",
							checked: checked("gw-company-initial-address", "Yes")
						},
						{
							value: "No",
							text: "No",
							checked: checked("gw-company-initial-address", "No")
						}
					]
				}) }}
				

				<!--h2 class="govuk-heading-l govuk-!-margin-top-9">What is the outcome of this check?</h2-->
				

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-4"
				}) }}
        
        <!--p class="skipquestion" id="skipquestion"><a href="../../tasklist-company">Return to this check later</a></p-->

			</form>

			<p><a href="/mvp-gateway/v2/applications/gateway/tasklist-company">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}