{% set current_section = "applications" %}
{% extends "layouts/layout_mvpgateway_v2.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP dashboard",
				href: "/mvp-gateway/v2/dashboard"
			},
			{
				text: "RoATP applications",
				href: "/mvp-gateway/v2/applications/applications-gateway"
			},
			{
				text: "Application assessment overview",
				href: "/mvp-gateway/v2/applications/gateway/tasklist-company"
			},
			{
				text: "Organisation checks"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Experience and accreditation</span>
			<h1 class="govuk-heading-xl">Has the organisation delivered apprenticeship training as a subcontractor in the last 12 months and on the subcontractor list?</h1>

			<p class="govuk-body">
				UKPRN: 12345678<br>
				Legal name: ABC TRAINING LIMITED<br>
				Type of organisation: Company
			</p>

			<form action="" method="post" class="form">

				<table class="govuk-table">
					<thead class="govuk-table__head">
						<tr class="govuk-table__row">
							<th scope="col" class="govuk-table__header">Application question</th>
							<th scope="col" class="govuk-table__header">Applicant's answer</th>
						</tr>
					</thead>
					<tbody class="govuk-table__body">
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">Has your organisation delivered apprenticeship training as a subcontractor in the last 12 months?</td>
							<td class="govuk-table__cell">No</td>
						</tr>
						<!--tr class="govuk-table__row">
							<td class="govuk-table__cell">Upload a copy of a legally binding contract between your organisation and a main or employer provider </td>
							<td class="govuk-table__cell"><a href="javascript:preventDefault();">safran-subcontractor-contract.pdf</a></td>
						</tr-->
					</tbody>
				</table>
				
				{% set noHtml %}
					{{ govukCharacterCount({
						name: "gw-company-organisation-experience-subcontractor-no",
						id: "gw-company-organisation-experience-subcontractor-no",
          	value: data['gw-company-organisation-experience-subcontractor-no'],
						maxwords: 150,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "gw-company-organisation-experience-subcontractor",
					name: "gw-company-organisation-experience-subcontractor",
					classes: "govuk-radios--inline",
					items: [
						{
							value: "Yes",
							text: "Yes",
							checked: checked("gw-company-organisation-experience-subcontractor", "Yes")
						},
						{
							value: "No",
							text: "No",
							checked: checked("gw-company-organisation-experience-subcontractor", "No")
						}
					]
				}) }}	

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-4"
				}) }}
        
        <!--p class="skipquestion" id="skipquestion"><a href="../../tasklist-company">Return to this check later</a></p-->

			</form>

			<p><a href="/mvp-gateway/v2/applications/gateway/tasklist-company">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}