{% extends "layouts/layout_clarify_gw_v1.html" %}

{% block pageTitle %}
  Sign in - RoATP Organisation Prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukPanel({
      titleText: "You have successfully reset your password"
    }) }}
    <br>
    <h2 class="govuk-heading-m">What happens next</h2>

    <p class="govuk-body"><a href="signin">Sign in to use the RoATP service</a></p>

  </div>
</div>

{% endblock %}
