{% extends "layouts/layout_clarify_gw_v1.html" %}

{% block pageTitle %}
  Service Start Page - RoATP Organisation Prototype
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Further education and skills</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Apprenticeships</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Guidance</span>
      <h1 class="govuk-heading-l">Apply to join the register of apprenticeship training providers (RoATP)</h1>
      <p class="govuk-body">
        Find out how to become an apprenticeship training provider so that your can train apprentices in England.
      </p>
    </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <!--div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body-s">
        Published 20 September 2019
        <br>Last updated 25 September 2019
        — <a href="#">see all updates</a>
        <br>From: <a class="govuk-!-font-weight-bold" href="#">Education and Skills Funding Agency</a>
      </p>
    </div>
  </div-->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!--div class="govuk-panel govuk-panel--confirmation govuk-body-s" style="background: #005ea5; padding: 0; text-align: left; font-size: 16px; border: 0; padding: 1em; line-height: 1em;margin: 1em 0 2em;">
        Applies to: <span class="govuk-!-font-weight-bold">England</span>
      </div-->

      <p class="govuk-body-s">Contents</p>
      <ul class="govuk-list--bullets">
          <li>
            <a class="govuk-link" href="#whocanapply">Who can apply</a>
          </li>
          <li>
            <a class="govuk-link" href="#whatyoullneed">What you’ll need</a>
          </li>
          <li>
            <a class="govuk-link" href="#apply">Apply</a>
          </li>
          <li>
            <a class="govuk-link" href="#whathappensnext">What happens next</a>
          </li>
          <li>
            <a class="govuk-link" href="#removal">Removal from the RoATP</a>
          </li>
        </ul>
        <br>

        <p class="govuk-body">Once your organisation’s on the RoATP, it will be:</p>
        <ol class="govuk-list govuk-list--bullet">
          <li>listed on the <a href="https://download.apprenticeships.education.gov.uk/" target="_blank">register of apprenticeship training providers</a></li>
          <li>listed on <a href="#">find an apprenticeship</a></li>
          <li>eligible to receive government funding to train apprentices</li>
        </ol>
        <p class="govuk-body">Being on the RoATP does not mean your organisation is recommended by Education and Skills Funding Agency (ESFA). It cannot use ESFA as a ‘kite-mark’ or an award and will not have an identification number for the RoATP. </p>

        <h2 class="govuk-heading-m">Existing apprenticeship training providers</h2>
        <p class="govuk-body">If your organisation is invited to reapply or been unsuccessful using the Department for Education portal (Bravo), you’ll need to <a href="v14/bravo">apply as an existing apprenticeship training provider</a>.</p>

        <h2 class="govuk-heading-m" id="whocanapply">Who can apply</h2>
        <p class="govuk-body">Organisations must apply through one of 3 provider routes.</p>

        <h3 class="govuk-heading-s">Main provider route</h3>
        <p class="govuk-body">This route allows your organisation to directly deliver training to apprentices for other organisations. While doing this, it can also train its own employees, employees of connected companies or charities or act as a subcontractor for other main and employer providers.</p>
        <p class="govuk-body">Your organisation must have at least 12 months’ trading history and a training manager with at least 9 months’ experience in developing and delivering training.</p>

        <h3 class="govuk-heading-s">Employer provider route</h3>
        <p class="govuk-body">This route allows your organisation to directly deliver training to its own employees. It can also train employees of connected companies or charities or act as a subcontractor for other employer or main providers.</p>
        <p class="govuk-body">Your organisation must:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>be a levy-paying employer</li>
          <li>have at least 12 months’ trading history</li>
          <li>have a training manager with at least 9 months’ experience in developing and delivering training</li>
        </ul>

        <h3 class="govuk-heading-s">Supporting provider route</h3>
        <p class="govuk-body">This route allows your organisation to act as a subcontractor for apprenticeship training to main and employer providers. It will train apprentices up to a maximum of £500,000 per year. This is limited to £100,000 for your organisation’s first year on the RoATP.</p>
        <p class="govuk-body">Your organisation must have at least 3 months’ trading history and a training manager with at least 3 months’ experience in developing and delivering training.</p>

        <h2 class="govuk-heading-m" id="whatyoullneed">What you’ll need</h2>
        <p class="govuk-body">Make sure your organisation has:</p>
        <ol class="govuk-list govuk-list--bullet">
          <li>a sign in account (if you do not have one, you can create one when you apply)</li>
          <li>a <a href="https://www.ukrlp.co.uk/" target="_blank">UK provider reference number (UKPRN)</a></li>
          <li>an <a href="https://ico.org.uk/registration/new" target="_blank">Information Commissioner's Office registration number (ICO number)</a></li>
          <li>a UK business address</li>
        </ol>
        <p class="govuk-body">Depending on your organisation and provider route, you may need to know:</p>
        <ol class="govuk-list govuk-list--bullet">
          <li>who’s in control of your organisation and their dates of birth</li>
          <li>your organisation’s financial figures</li>
          <li>if your organisation or anyone who’s in control has had any criminal convictions in the last 3 years and what they are</li>
          <li>how your organisation manages its relationship with employers and subcontractors</li>
          <li>who’s in your organisation’s management hierarchy for apprenticeships</li>
          <li>the sectors your organisation will offer apprenticeships in</li>
          <li>how your organisation plans to deliver apprenticeship training </li>
          <li>who will deliver apprenticeship training - including any sector specific experience and qualifications they might have </li>
          <li>how your organisation will evaluate training</li>
        </ol>
        <p class="govuk-body">Depending on your organisation and provider route, you may need to upload:</p>
        <ol class="govuk-list govuk-list--bullet">
          <li>financial evidence covering the last 12 months</li>
          <li>a continuity plan for apprenticeship training </li>
          <li>an equality and diversity policy </li>
          <li>a safeguarding policy </li>
          <li>a Prevent duty policy </li>
          <li>a health and safety policy </li>
          <li>a complaints policy </li>
          <li>a contract for services template with employers</li>
          <li>a commitment statement template</li>
          <li>a policy for professional development of employees</li>
        </ol>

        <div class="call-to-action">
          <h2 class="govuk-heading-m" id="apply">Apply to join the register</h2>
          <p class="govuk-body"><a href="/clarify-gw/v14/haveanaccount">Apply using the digital application to join the RoATP</a>.</p>
          <p class="govuk-body">You must answer the first section in order as it determines the rest of the application questions. Once you do this, you can answer the rest of the application in any order.</p>
          <p class="govuk-body">We’ll guide you through the application and you’ll be able to ask for help on each page.</p>
          <p class="govuk-body">You do not have to complete your application in one go. You can save your details and finish it later.</p>
          <p class="govuk-body">As part of making an application, your organisation must agree to the <a href="#">terms of conditions of joining the RoATP</a>.</p>
        </div>

        <h2 class="govuk-heading-m" id="whathappensnext">What happens next</h2>
        <p class="govuk-body">You’ll need to allow at least 12 weeks for ESFA to process your application.</p>
        <p class="govuk-body">ESFA will:</p>
        <ol class="govuk-list govuk-list--bullet">
          <li>do checks on your application and the people involved in your organisation</li>
          <li>tell you if your application has been successful or unsuccessful</li>
        </ol>
        <p class="govuk-body">ESFA may also ask for further information on any application answers (they may withdraw your application if you do not comply).</p>
        <p class="govuk-body">You’ll receive an email when there’s an update with your application.</p>
        <p class="govuk-body"><a href="#">Check the progress of your application</a>.</p>
        <p class="govuk-body">If your application is successful, you’ll receive confirmation from ESFA which will include your next steps.</p>

        <h3 class="govuk-heading-s">If your application is unsuccessful</h3>
        <p class="govuk-body">If your application is unsuccessful, you’ll receive confirmation from ESFA including how you can appeal the decision or try again.</p>
        <p class="govuk-body">Your organisation can only apply twice in a 12-month period.</p>

        <h3 class="govuk-heading-s">Change or withdraw your application</h3>
        <p class="govuk-body">You can change your application at any time before ESFA has given their decision.</p>
        <p class="govuk-body">To make a change or withdraw your application you can email: XXXXX</p>

        <h3 class="govuk-heading-s">Make a complaint</h3>
        <p class="govuk-body">To make a complaint, <a href="https://www.gov.uk/government/organisations/education-and-skills-funding-agency/about/complaints-procedure" target="_blank">use ESFA’s complaints procedure</a>.</p>

        <h2 class="govuk-heading-m" id="removal">Removal from the RoATP</h2>
        <p class="govuk-body">Apprenticeship training providers are removed from the RoATP if they no longer meet ESFA’s requirements. <a href="#">Check if your organisation no longer meets ESFA’s requirements</a>.</p>

    </div>

  </div>
{% endblock %}
