{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v7.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to application assessment overview",
    href: "/staff-app/v7/applications/gateway/application-tasklist"
  }) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Register checks</span>
			<h1 class="govuk-heading-xl">RoATP check</h1>

			<p class="govuk-body">
				Legal name: SAFRAN LANDING SYSTEMS UK LTD<br>
				UKPRN: 10053003<br>
				Application submitted on: 17 Oct 2019<br>
				Sources checked on: <span id="apidate"></span>{{ data['company-legal-apidate'] }}
			</p>
			
			<!--h2 class="govuk-heading-l">RoATP</h2-->

			<p class="call-to-action govuk-body">To pass this check, the organisation must not be on the RoATP.</p>

			<table class="govuk-table govuk-!-margin-bottom-9">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header">Source</th>
						<th scope="col" class="govuk-table__header">Status</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Submitted application</th>
						<td class="govuk-table__cell">On the RoATP</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">RoATP</th>
						<td class="govuk-table__cell">Removed from the Roatp<br>[DATE]<br>[REASON]</td>
					</tr>
				</tbody>
			</table>
			
			<h3 class="govuk-heading-m">What is the outcome of this check?</h3>

			<form action="" method="post" class="form">

				
				{% set passHtml %}
					{{ govukCharacterCount({
						name: "gw-company-roatp-outcome-pass",
						id: "gw-company-roatp-outcome-pass",
						maxlength: 750,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}
				
				{% set rejectHtml %}
					{{ govukCharacterCount({
						name: "gw-company-roatp-outcome-reject",
						id: "gw-company-roatp-outcome-reject",
						maxlength: 750,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "gw-company-roatp-outcome",
					name: "gw-company-roatp-outcome",
					items: [
						{
							value: "Pass",
							text: "Pass",
							conditional: {
								html: passHtml
							},
							checked: checked("gw-company-roatp-outcome", "Pass")
						},
						{
							value: "Reject",
							text: "Reject",
							conditional: {
								html: rejectHtml
							},
							checked: checked("gw-company-roatp-outcome", "Reject")
						}
					]
				}) }}

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-1"
				}) }}

			</form>

			<p><a href="/staff-app/v7/applications/gateway/tasklist-company">Return to assessment overview</a></p>

		</div>
	</div>

{% endblock %}