{% set current_section = "applications" %}
{% extends "layouts/layout_mvpgateway_v6.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "Dashboard",
				href: "/mvp-gateway/v6/dashboard"
			},
			{
				text: "RoATP applications",
				href: "/mvp-gateway/v6/applications/applications-gateway"
			},
			{
				text: "Application assessment overview",
				href: "/mvp-gateway/v6/applications/gateway/tasklist-abctraining"
			},
			{
				text: "People in control"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">People in control checks</span>
			<h1 class="govuk-heading-xl">People in control check</h1>

			<p class="govuk-body">
				UKPRN: 12345678<br>
				Legal name: ABC TRAINING LIMITED<br>
				Type of organisation: Company<br>
				Application submitted on: 17 Oct 2019<br>
				Sources checked on: 27 Nov 2019
			</p>

      {% include "../../../../../../includes/directors-pscs.html" %}

		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<h3 class="govuk-heading-m govuk-!-margin-top-9">What is the outcome of this check?</h3>

			<form action="" method="post" class="form">

				{% set passHtml %}
					{{ govukCharacterCount({
						name: "gw-abctraining-people-highrisk-pass",
						id: "gw-abctraining-people-highrisk-pass",
          	value: data['gw-abctraining-people-highrisk-pass'],
						maxwords: 150,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}
				
				{% set failHtml %}
					{{ govukCharacterCount({
						name: "gw-abctraining-people-highrisk-fail",
						id: "gw-abctraining-people-highrisk-fail",
          	value: data['gw-abctraining-people-highrisk-fail'],
						maxwords: 150,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}
				
				{% set inprogressHtml %}
					{{ govukCharacterCount({
						name: "gw-abctraining-people-highrisk-inprogress",
						id: "gw-abctraining-people-highrisk-inprogress",
          	value: data['gw-abctraining-people-highrisk-inprogress'],
						maxwords: 150,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "gw-abctraining-people-highrisk-conditional",
					name: "gw-abctraining-people-highrisk",
					items: [
						{
							value: "Pass",
							text: "Pass",
							conditional: {
								html: passHtml
							},
							checked: checked("gw-abctraining-people-highrisk", "Pass")
						},
						{
							value: "Fail",
							text: "Fail",
							conditional: {
								html: failHtml
							},
							checked: checked("gw-abctraining-people-highrisk", "Fail")
						},
						{
							value: "In progress",
							text: "In progress",
							conditional: {
								html: inprogressHtml
							},
							checked: checked("gw-abctraining-people-highrisk", "In progress")
						}
					]
				}) }}

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-4"
				}) }}
        
			</form>

			<p><a href="/mvp-gateway/v6/applications/gateway/tasklist-abctraining">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}
