
{% set serviceName = "ESFA admin services" %}
{% extends "layout.html" %}

{% block header %}
   {{ govukHeader({
        serviceName: "ESFA admin services"
   }) }}
{% endblock %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "add-ukprn-companynumber"
  }) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<span class="govuk-caption-l">Manage register</span>
			<form action="add-ukprn-organisationtype" method="post" class="form">

				{% set numberHtml %}
					{{ govukInput({
						id: "staff-add-charitynumber",
						name: "staff-add-charitynumber",
						type: "text",
						classes: "govuk-!-width-two-thirds",
						label: {
							text: "Enter charity registration number"
						},
						attributes: {
							spellcheck: "false"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "staff-add-charitynumber-conditional",
					name: "staff-add-hascharitynumber",
					fieldset: {
						legend: {
							text: "Does "  + data['staff-add-orgname'] + " have a charity registration number?",
							isPageHeading: true,
							classes: "govuk-fieldset__legend--xl"
						}
					},
					items: [
						{
							value: "yes",
							text: "Yes",
							conditional: {
								html: numberHtml
							}
						},
						{
							value: "no",
							text: "No"
						}
					]
				}) }}
				
				{{ govukButton({
					text: "Continue"
				}) }}

			</form>

		</div>
	</div>
      
{% endblock %}
      