{% set serviceName = "ESFA admin services" %}
{% extends "layout.html" %}

{% block header %}
   {{ govukHeader({
        serviceName: "ESFA admin services"
   }) }}
{% endblock %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "register"
  }) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
            
			<span class="govuk-caption-l">Manage register</span>
			<h1 class="govuk-heading-xl">UKRLP is unavailable</h1>
			
			<p class="govuk-body">We were unable to get information from UKRLP. </p>

			<form action="add-ukprn-outage-a" method="post" class="form">
				
					{{ govukRadios({
						classes: "govuk-radios",
						idPrefix: "staff-outagechoice",
						name: "staff-outagechoice",
						fieldset: {
							legend: {
								text: "What do you want to do?",
								isPageHeading: true,
								classes: "govuk-fieldset__legend--l"
							}
						},
						items: [
							{
								value: "register",
								text: "Try again later"
							},
							{
								value: "add-ukprn-orgname",
								text: "Add organisation manually"
							}
						]
					}) }}

				{{ govukButton({
					text: "Continue"
				}) }}

			</form>

		</div>
	</div>
      
{% endblock %}
      