{% set serviceName = "ESFA admin services" %}
{% extends "layout.html" %}

{% block header %}
   {{ govukHeader({
        serviceName: "ESFA admin services"
   }) }}
{% endblock %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: "register"
	}) }}
	
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<span class="govuk-caption-l">Manage register</span>
			<form action="add-manually" method="post" class="form">
				
					{{ govukRadios({
						classes: "govuk-radios",
						idPrefix: "staff-add-route",
						name: "staff-add-route",
						fieldset: {
							legend: {
								text: "Choose a provider route for your organisation",
								isPageHeading: true,
								classes: "govuk-fieldset__legend--xl"
							}
						},
						items: [
							{
								value: "Main provider",
								text: "Main provider"
							},
							{
								value: "Employer provider",
								text: "Employer provider"
							},
							{
								value: "Supporting provider",
								text: "Supporting provider"
							}
						]
					}) }}

				{{ govukButton({
					text: "Continue"
				}) }}

			</form>

		</div>
	</div>
      
{% endblock %}
      