{% extends "layout_staff_v5.html" %}
{% set current_section = "dashboard" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-xl">RoATP staff dashboard</h1>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-half">
			<h2 class="govuk-heading-l">Assess applications</h2>
            <p class="govuk-body">Review and approve new organisation applications, check on progress, send and receive feedback.</p>
			<ul class="govuk-list govuk-list--nobullet">
				<li><a href="applications/list-gateway">View applications (Gateway)</a></li>
				<li><a href="applications/list">View applications (Assessor)</a></li>
				<li><a href="applications/list">View applications (Finance)</a></li>
				<li><a href="applications/list">View applications (Oversight)</a></li>
			</ul>
		</div>
		<div class="govuk-grid-column-one-half">
			<h2 class="govuk-heading-l">Manage register</h2>
            <p class="govuk-body">Search, view and edit organisations that are currently live on the register.</p>
			<ul class="govuk-list govuk-list--nobullet">
				<li><a href="register/search/register">Search the register</a></li>
				<!--li><a href="register/add/add-ukprn">Add an organisation to the register</a></li-->
			</ul>
		</div>
	</div>
      
{% endblock %}
      