{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v10.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP dashboard",
				href: "/staff-app/v10/dashboard"
			},
			{
				text: "RoATP applications",
				href: "/staff-app/v10/applications/gateway/applications-view"
			},
			{
				text: "Application assessment overview",
				href: "/staff-app/v10/applications/gateway/viewonly-company"
			},
			{
				text: "Experience and accreditation"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Organisation checks</span>
			<h1 class="govuk-heading-xl">Postgraduate teaching apprenticeship check</h1>

			<p class="govuk-body">
				Legal name: SAFRAN LANDING SYSTEMS UK LTD<br>
				UKPRN: 10053003
			</p>

			<table class="govuk-table govuk-!-margin-bottom-9">
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Postgraduate teaching apprenticeship the only apprenticeship the organisation intends to deliver</th>
						<td class="govuk-table__cell">No</td>
					</tr>
				</tbody>
			</table>
        
      <p class="skipquestion" id="skipquestion"><a href="ofsted">Next question</a></p>
			<br><br>
			<p><a href="/staff-app/v10/applications/gateway/viewonly-company">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}
