{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v6.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-m">Gateway</span>
			<h1 class="govuk-heading-xl">RoATP applications</h1>
		</div>
	</div>
	
	{% set newHtml %}
		<h2 class="govuk-heading-l">New</h2>
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th aria-sort="none" scope="col" class="govuk-table__header" scope="col">Organisation name</th>
					<th aria-sort="none" scope="col" class="govuk-table__header" scope="col">UKPRN</th>
					<th aria-sort="none" scope="col" class="govuk-table__header" scope="col">Reference number</th>
					<th aria-sort="none" scope="col" class="govuk-table__header" scope="col">Provider route</th>
					<th aria-sort="ascending" scope="col" class="govuk-table__header" scope="col">Application submitted</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="tasklist-company">SAFRAN LANDING SYSTEMS UK LTD</a></td>
					<td class="govuk-table__cell">10053003</td>
					<td class="govuk-table__cell">APR00000001</td>
					<td class="govuk-table__cell">Main</td>
					<td class="govuk-table__cell">17 Oct 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="tasklist-both">WESTMERIA COUNSELLING SERVICES</a></td>
					<td class="govuk-table__cell">10066774</td>
					<td class="govuk-table__cell">APR00000002</td>
					<td class="govuk-table__cell">Employer</td>
					<td class="govuk-table__cell">18 Oct 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">LEAN FORWARD</td>
					<td class="govuk-table__cell">41302443</td>
					<td class="govuk-table__cell">APR00000003</td>
					<td class="govuk-table__cell">Employer</td>
					<td class="govuk-table__cell">19 Oct 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">THINK POD</td>
					<td class="govuk-table__cell">72754360</td>
					<td class="govuk-table__cell">APR00000004</td>
					<td class="govuk-table__cell">Main</td>
					<td class="govuk-table__cell">19 Oct 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">EXAM SNAP</td>
					<td class="govuk-table__cell">77326034</td>
					<td class="govuk-table__cell">APR00000005</td>
					<td class="govuk-table__cell">Employer</td>
					<td class="govuk-table__cell">21 Oct 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">STELLA NOVA</td>
					<td class="govuk-table__cell">54663720</td>
					<td class="govuk-table__cell">APR00000006</td>
					<td class="govuk-table__cell">Supporting</td>
					<td class="govuk-table__cell">22 Oct 2019</td>
				</tr>
			</tbody>
		</table>
	{% endset -%}
	
	{% set inprogressHtml %}
		<h2 class="govuk-heading-l">In progress</h2>
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th aria-sort="none" scope="col" class="govuk-table__header" scope="col">Organisation name</th>
					<th aria-sort="none" scope="col" class="govuk-table__header" scope="col">UKPRN</th>
					<th aria-sort="none" scope="col" class="govuk-table__header" scope="col">Reference number</th>
					<th aria-sort="none" scope="col" class="govuk-table__header" scope="col">Provider route</th>
					<th aria-sort="ascending" scope="col" class="govuk-table__header" scope="col">Application submitted</th>
					<th aria-sort="none" scope="col" class="govuk-table__header" scope="col">Assigned</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">LEVEL UP</td>
					<td class="govuk-table__cell">22657489</td>
					<td class="govuk-table__cell">APR00000102</td>
					<td class="govuk-table__cell">Main</td>
					<td class="govuk-table__cell">22 Oct 2019</td>
					<td class="govuk-table__cell"></td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">BOOK BOT</td>
					<td class="govuk-table__cell">24535362</td>
					<td class="govuk-table__cell">APR00000097</td>
					<td class="govuk-table__cell">Employer</td>
					<td class="govuk-table__cell">21 Oct 2019</td>
					<td class="govuk-table__cell"></td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">KNOWTABLY</td>
					<td class="govuk-table__cell">20098778</td>
					<td class="govuk-table__cell">APR00000013</td>
					<td class="govuk-table__cell">Employer</td>
					<td class="govuk-table__cell">19 Oct 2019</td>
					<td class="govuk-table__cell"></td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">MOVING THE GRADE</td>
					<td class="govuk-table__cell">32118009</td>
					<td class="govuk-table__cell">APR00000187</td>
					<td class="govuk-table__cell">Main</td>
					<td class="govuk-table__cell">19 Oct 2019</td>
					<td class="govuk-table__cell"></td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">ROCKET TRAINING</td>
					<td class="govuk-table__cell">20888712</td>
					<td class="govuk-table__cell">APR00000231</td>
					<td class="govuk-table__cell">Employer</td>
					<td class="govuk-table__cell">18 Oct 2019</td>
					<td class="govuk-table__cell"></td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">SWING START</td>
					<td class="govuk-table__cell">31109023</td>
					<td class="govuk-table__cell">APR00000122</td>
					<td class="govuk-table__cell">Main</td>
					<td class="govuk-table__cell">18 Oct 2019</td>
					<td class="govuk-table__cell"></td>
				</tr>
			</tbody>
		</table>
	{% endset -%}
	
	{% set feedbackHtml %}
		<h2 class="govuk-heading-l">Clarifications</h2>
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th aria-sort="none" class="govuk-table__header" scope="col">Organisation name</th>
					<th aria-sort="none" scope="col" class="govuk-table__header" scope="col">UKPRN</th>
					<th aria-sort="none" scope="col" class="govuk-table__header" scope="col">Reference number</th>
					<th aria-sort="none" scope="col" class="govuk-table__header" scope="col">Provider route</th>
					<th aria-sort="ascending" scope="col" class="govuk-table__header" scope="col">Application submitted</th>
					<th aria-sort="none" class="govuk-table__header" scope="col">Clarification sent</th>
					<th aria-sort="none" class="govuk-table__header" scope="col">Status</th>
					<th aria-sort="none" scope="col" class="govuk-table__header" scope="col">Assigned</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">CHRYSALIS</td>
					<td class="govuk-table__cell">20098778</td>
					<td class="govuk-table__cell">APR00000314</td>
					<td class="govuk-table__cell">Employer</td>
					<td class="govuk-table__cell">18 Oct 2019</td>
					<td class="govuk-table__cell">...</td>
					<td class="govuk-table__cell">...</td>
					<td class="govuk-table__cell">...</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">GUIDE AND GROW</td>
					<td class="govuk-table__cell">21119876</td>
					<td class="govuk-table__cell">APR00000199</td>
					<td class="govuk-table__cell">Employer</td>
					<td class="govuk-table__cell">18 Oct 2019</td>
					<td class="govuk-table__cell">...</td>
					<td class="govuk-table__cell">...</td>
					<td class="govuk-table__cell">...</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">FUTURE THINK</td>
					<td class="govuk-table__cell">30098726</td>
					<td class="govuk-table__cell">APR00000202</td>
					<td class="govuk-table__cell">Supporting</td>
					<td class="govuk-table__cell">16 Oct 2019</td>
					<td class="govuk-table__cell">...</td>
					<td class="govuk-table__cell">...</td>
					<td class="govuk-table__cell">...</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">LEACH ACADEMY</td>
					<td class="govuk-table__cell">19987865</td>
					<td class="govuk-table__cell">APR00000264</td>
					<td class="govuk-table__cell">Main</td>
					<td class="govuk-table__cell">15 Oct 2019</td>
					<td class="govuk-table__cell">...</td>
					<td class="govuk-table__cell">...</td>
					<td class="govuk-table__cell">...</td>
				</tr>
			</tbody>
		</table>
	{% endset -%}
	
	{% set completedHtml %}
		<h2 class="govuk-heading-l">Gateway outcome</h2>
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th aria-sort="none" class="govuk-table__header" scope="col">Organisation name</th>
					<th aria-sort="none" scope="col" class="govuk-table__header" scope="col">UKPRN</th>
					<th aria-sort="none" scope="col" class="govuk-table__header" scope="col">Reference number</th>
					<th aria-sort="none" scope="col" class="govuk-table__header" scope="col">Provider route</th>
					<th aria-sort="ascending" class="govuk-table__header" scope="col">Application submitted</th>
					<th aria-sort="none" class="govuk-table__header" scope="col">Outcome</th>
					<th aria-sort="none" scope="col" class="govuk-table__header" scope="col">Assigned</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">BABCOCK TRAINING</td>
					<td class="govuk-table__cell">19987868</td>
					<td class="govuk-table__cell">APR00000454</td>
					<td class="govuk-table__cell">Employer</td>
					<td class="govuk-table__cell">22 Oct 2019</td>
					<td class="govuk-table__cell">2 rejections</td>
					<td class="govuk-table__cell">...</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">GEASON APPRENTICESHIPS</td>
					<td class="govuk-table__cell">18664753</td>
					<td class="govuk-table__cell">APR00000561</td>
					<td class="govuk-table__cell">Main</td>
					<td class="govuk-table__cell">21 Oct 2019</td>
					<td class="govuk-table__cell">1 rejection</td>
					<td class="govuk-table__cell">...</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">FIVE ELMS PRIMARY SCHOOL</td>
					<td class="govuk-table__cell">19987868</td>
					<td class="govuk-table__cell">APR00000686</td>
					<td class="govuk-table__cell">Supporting</td>
					<td class="govuk-table__cell">19 Oct 2019</td>
					<td class="govuk-table__cell">Pass</td>
					<td class="govuk-table__cell">...</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">HYBRID TECHNICAL</td>
					<td class="govuk-table__cell">20087456</td>
					<td class="govuk-table__cell">APR00000662</td>
					<td class="govuk-table__cell">Employer</td>
					<td class="govuk-table__cell">19 Oct 2019</td>
					<td class="govuk-table__cell">6 rejections</td>
					<td class="govuk-table__cell">...</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">HOTGROUP</td>
					<td class="govuk-table__cell">28876299</td>
					<td class="govuk-table__cell">APR00000851</td>
					<td class="govuk-table__cell">Main</td>
					<td class="govuk-table__cell">18 Oct 2019</td>
					<td class="govuk-table__cell">Pass</td>
					<td class="govuk-table__cell">...</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">ABC AID</td>
					<td class="govuk-table__cell">20098887</td>
					<td class="govuk-table__cell">APR00000334</td>
					<td class="govuk-table__cell">Main</td>
					<td class="govuk-table__cell">18 Oct 2019</td>
					<td class="govuk-table__cell">Pass</td>
					<td class="govuk-table__cell">...</td>
				</tr>
			</tbody>
		</table>
	{% endset -%}
	
	{% set searchHtml %}
		<h2 class="govuk-heading-l">Search</h2>
		<form action="" method="post" class="form form-search">
			<div class="govuk-form-group">
				<label class="govuk-label" for="staff-search">
					Organisation name or UKPRN
				</label>
				<input class="govuk-input govuk-input-search govuk-input--width-20" id="staff-search" name="staff-search" type="text" value="le">
				<button class="govuk-button govuk-button-search" data-module="govuk-button" >
					Search
				</button>
			</div>
		</form>

		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th aria-sort="ascending" class="govuk-table__header" scope="col">Organisation name</th>
					<th aria-sort="none" class="govuk-table__header" scope="col">UKPRN</th>
					<th aria-sort="none" scope="col" class="govuk-table__header" scope="col">Reference number</th>
					<th aria-sort="none" class="govuk-table__header" scope="col">Provider route</th>
					<th aria-sort="none" class="govuk-table__header" scope="col">Application submitted</th>
					<th aria-sort="none" class="govuk-table__header" scope="col">Application stage</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">LEACH ACADEMY</td>
					<td class="govuk-table__cell">54638871</td>
					<td class="govuk-table__cell">APR00000264</td>
					<td class="govuk-table__cell">Main</td>
					<td class="govuk-table__cell">Clarifications</td>
					<td class="govuk-table__cell">15 Oct 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">LEAN FORWARD</td>
					<td class="govuk-table__cell">41302443</td>
					<td class="govuk-table__cell">APR00000003</td>
					<td class="govuk-table__cell">Employer</td>
					<td class="govuk-table__cell">New</td>
					<td class="govuk-table__cell">19 Oct 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">LEASON APPRENTICESHIPS</td>
					<td class="govuk-table__cell">10098981</td>
					<td class="govuk-table__cell">APR00000264</td>
					<td class="govuk-table__cell">Employer</td>
					<td class="govuk-table__cell">Completed</td>
					<td class="govuk-table__cell">21 Oct 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="application-tasklist">SAFRAN LANDING SYSTEMS UK LTD</a></td>
					<td class="govuk-table__cell">10053003</td>
					<td class="govuk-table__cell">APR00000001</td>
					<td class="govuk-table__cell">Main</td>
					<td class="govuk-table__cell">New</td>
					<td class="govuk-table__cell">17 Oct 2019</td>
				</tr>				
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">LEVEL UP</td>
					<td class="govuk-table__cell">38878814</td>
					<td class="govuk-table__cell">APR00000264</td>
					<td class="govuk-table__cell">Main</td>
					<td class="govuk-table__cell">In progress</td>
					<td class="govuk-table__cell">22 Oct 2019</td>
				</tr>
			</tbody>
		</table>
	{% endset -%}

<div class="shrinkit">
	{{ govukTabs({
		items: [
			{
				label: "New",
				id: "new",
				panel: {
					html: newHtml
				}
			}, {
				label: "In progress",
				id: "inprogress",
				panel: {
					html: inprogressHtml
				}
			}, {
				label: "Clarifications",
				id: "feedback",
				panel: {
					html: feedbackHtml
				}
			}, {
				label: "Completed",
				id: "completed",
				panel: {
					html: completedHtml
				}
			}, {
				label: "Search",
				id: "search",
				panel: {
					html: searchHtml
				}
			}
		]
	}) }}
</div>
      
{% endblock %}

{% block pageScripts %}

	<script>
		new MOJFrontend.SortableTable({
			table: [
				$('table')[0]
			]
		});

		new MOJFrontend.SortableTable({
			table: [
				$('table')[1]
			]
		});

		new MOJFrontend.SortableTable({
			table: [
				$('table')[2]
			]
		});

		new MOJFrontend.SortableTable({
			table: [
				$('table')[3]
			]
		});

		new MOJFrontend.SortableTable({
			table: [
				$('table')[4]
			]
		});
	</script>

{% endblock %}