{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v6.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-m">Gateway</span>
			<h1 class="govuk-heading-xl">View applications</h1>
		</div>
	</div>
	
	{% set newHtml %}
		<h2 class="govuk-heading-l">New</h2>
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th aria-sort="none" scope="col" class="govuk-table__header" scope="col">Organisation</th>
					<th aria-sort="none" scope="col" class="govuk-table__header" scope="col">UKPRN</th>
					<th aria-sort="none" scope="col" class="govuk-table__header" scope="col">Application Ref</th>
					<th aria-sort="none" scope="col" class="govuk-table__header" scope="col">Provider Type</th>
					<th aria-sort="ascending" scope="col" class="govuk-table__header" scope="col">Date submitted</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="application-tasklist">Learnovate</a></td>
					<td class="govuk-table__cell">32791445</td>
					<td class="govuk-table__cell">HDJ2123F</td>
					<td class="govuk-table__cell">Main</td>
					<td class="govuk-table__cell">17 Sep 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Smart Box</td>
					<td class="govuk-table__cell">93374673</td>
					<td class="govuk-table__cell">UR3L4K3U</td>
					<td class="govuk-table__cell">Employer</td>
					<td class="govuk-table__cell">18 Sep 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Learn Forward</td>
					<td class="govuk-table__cell">41302443</td>
					<td class="govuk-table__cell">Z4ALLVX2</td>
					<td class="govuk-table__cell">Employer</td>
					<td class="govuk-table__cell">19 Sep 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Think Pod</td>
					<td class="govuk-table__cell">72754360</td>
					<td class="govuk-table__cell">MDXQ6C5X</td>
					<td class="govuk-table__cell">Main</td>
					<td class="govuk-table__cell">19 Sep 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Exam Snap</td>
					<td class="govuk-table__cell">77326034</td>
					<td class="govuk-table__cell">SLB4EJX9</td>
					<td class="govuk-table__cell">Employer</td>
					<td class="govuk-table__cell">21 Sep 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Stella Nova</td>
					<td class="govuk-table__cell">64565036</td>
					<td class="govuk-table__cell">BRMJFZX6</td>
					<td class="govuk-table__cell">Supporting</td>
					<td class="govuk-table__cell">22 Sep 2019</td>
				</tr>
			</tbody>
		</table>
	{% endset -%}
	
	{% set inprogressHtml %}
		<h2 class="govuk-heading-l">In progress</h2>
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th aria-sort="none" class="govuk-table__header" scope="col">Organisation</th>
					<th aria-sort="none" class="govuk-table__header" scope="col">Assessor</th>
					<th aria-sort="ascending" class="govuk-table__header" scope="col">Date submitted</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Level Up</td>
					<td class="govuk-table__cell">John Smith</td>
					<td class="govuk-table__cell">22 Sep 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Book Bot</td>
					<td class="govuk-table__cell">Susan Taylor</td>
					<td class="govuk-table__cell">21 Sep 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Knowtably</td>
					<td class="govuk-table__cell">David Johnson</td>
					<td class="govuk-table__cell">19 Sep 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Moving the Grade</td>
					<td class="govuk-table__cell">Alice Boxall</td>
					<td class="govuk-table__cell">19 Sep 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Rocket Training</td>
					<td class="govuk-table__cell">Anthony Hill</td>
					<td class="govuk-table__cell">18 Sep 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Swing Start</td>
					<td class="govuk-table__cell">Gemma Stone</td>
					<td class="govuk-table__cell">18 Sep 2019</td>
				</tr>
			</tbody>
		</table>
	{% endset -%}
	
	{% set feedbackHtml %}
		<h2 class="govuk-heading-l">Clarifications</h2>
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th aria-sort="none" class="govuk-table__header" scope="col">Organisation</th>
					<th aria-sort="none" class="govuk-table__header" scope="col">Status</th>
					<th aria-sort="ascending" class="govuk-table__header" scope="col">Date submitted</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Chrysalis</td>
					<td class="govuk-table__cell">Submitted</td>
					<td class="govuk-table__cell">18 Sep 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Guide and Grow</td>
					<td class="govuk-table__cell">Submitted</td>
					<td class="govuk-table__cell">18 Sep 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Future Think</td>
					<td class="govuk-table__cell">Resubmitted</td>
					<td class="govuk-table__cell">16 Sep 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Leach Academy</td>
					<td class="govuk-table__cell">Submitted</td>
					<td class="govuk-table__cell">15 Sep 2019</td>
				</tr>
			</tbody>
		</table>
	{% endset -%}
	
	{% set completedHtml %}
		<h2 class="govuk-heading-l">Completed</h2>
		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th aria-sort="none" class="govuk-table__header" scope="col">Organisation</th>
					<th aria-sort="none" class="govuk-table__header" scope="col">Assessor</th>
					<th aria-sort="ascending" class="govuk-table__header" scope="col">Date submitted</th>
					<th aria-sort="none" class="govuk-table__header" scope="col">Date completed</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Babcock Training</td>
					<td class="govuk-table__cell">John Smith</td>
					<td class="govuk-table__cell">22 Sep 2019</td>
					<td class="govuk-table__cell">25 Sep 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Geason Apprenticeships</td>
					<td class="govuk-table__cell">Susan Taylor</td>
					<td class="govuk-table__cell">21 Sep 2019</td>
					<td class="govuk-table__cell">23 Sep 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Five Elms Primary School</td>
					<td class="govuk-table__cell">David Johnson</td>
					<td class="govuk-table__cell">19 Sep 2019</td>
					<td class="govuk-table__cell">21 Sep 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Hybrid Technical</td>
					<td class="govuk-table__cell">Alice Boxall</td>
					<td class="govuk-table__cell">19 Sep 2019</td>
					<td class="govuk-table__cell">21 Sep 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Hotgroup</td>
					<td class="govuk-table__cell">Anthony Hill</td>
					<td class="govuk-table__cell">18 Sep 2019</td>
					<td class="govuk-table__cell">20 Sep 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">ABC Aid</td>
					<td class="govuk-table__cell">Gemma Stone</td>
					<td class="govuk-table__cell">18 Sep 2019</td>
					<td class="govuk-table__cell">20 Sep 2019</td>
				</tr>
			</tbody>
		</table>
	{% endset -%}
	
	{% set searchHtml %}
		<h2 class="govuk-heading-l">Search</h2>
		<form action="" method="post" class="form form-search">
			<div class="govuk-form-group">
				<label class="govuk-label" for="staff-search">
					Organisation name or UKPRN
				</label>
				<input class="govuk-input govuk-input-search govuk-input--width-20" id="staff-search" name="staff-search" type="text" value="le">
				<button class="govuk-button govuk-button-search" data-module="govuk-button" >
					Search
				</button>
			</div>
		</form>

		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th aria-sort="ascending" class="govuk-table__header" scope="col">Organisation</th>
					<th aria-sort="none" class="govuk-table__header" scope="col">UKPRN</th>
					<th aria-sort="none" class="govuk-table__header" scope="col">Status</th>
					<th aria-sort="none" class="govuk-table__header" scope="col">Date submitted</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Leach Academy</td>
					<td class="govuk-table__cell">54638871</td>
					<td class="govuk-table__cell">Clarifications</td>
					<td class="govuk-table__cell">15 Sep 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Learn Forward</td>
					<td class="govuk-table__cell">44241566</td>
					<td class="govuk-table__cell">New</td>
					<td class="govuk-table__cell">19 Sep 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Leason Apprenticeships</td>
					<td class="govuk-table__cell">10098981</td>
					<td class="govuk-table__cell">Completed</td>
					<td class="govuk-table__cell">21 Sep 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell"><a href="gateway/tasklist">Learnovate</a></td>
					<td class="govuk-table__cell">66777189</td>
					<td class="govuk-table__cell">New</td>
					<td class="govuk-table__cell">22 Sep 2019</td>
				</tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Level Up</td>
					<td class="govuk-table__cell">38878814</td>
					<td class="govuk-table__cell">In progress</td>
					<td class="govuk-table__cell">22 Sep 2019</td>
				</tr>
			</tbody>
		</table>
	{% endset -%}

	{{ govukTabs({
		items: [
			{
				label: "New",
				id: "new",
				panel: {
					html: newHtml
				}
			}, {
				label: "In progress",
				id: "inprogress",
				panel: {
					html: inprogressHtml
				}
			}, {
				label: "Clarifications",
				id: "feedback",
				panel: {
					html: feedbackHtml
				}
			}, {
				label: "Completed",
				id: "completed",
				panel: {
					html: completedHtml
				}
			}, {
				label: "Search",
				id: "search",
				panel: {
					html: searchHtml
				}
			}
		]
	}) }}
      
{% endblock %}

{% block pageScripts %}

	<script>
		new MOJFrontend.SortableTable({
			table: [
				$('table')[0]
			]
		});

		new MOJFrontend.SortableTable({
			table: [
				$('table')[1]
			]
		});

		new MOJFrontend.SortableTable({
			table: [
				$('table')[2]
			]
		});

		new MOJFrontend.SortableTable({
			table: [
				$('table')[3]
			]
		});

		new MOJFrontend.SortableTable({
			table: [
				$('table')[4]
			]
		});
	</script>

{% endblock %}