{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v6.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to view applications",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-m">Gateway</span>
			<h1 class="govuk-heading-xl">Assessment overview</h1>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
	
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Organisation name</dt>
				<dd class="govuk-summary-list__value">REDNOCK SCHOOL</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">UKPRN</dt>
				<dd class="govuk-summary-list__value">10005419</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Application ref</dt>
				<dd class="govuk-summary-list__value">HDJ2123F</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Provider type</dt>
				<dd class="govuk-summary-list__value">Main</dd>
			</div>
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">Date submitted</dt>
				<dd class="govuk-summary-list__value">17 Sep 2019</dd>
			</div>
		</dl>

		<ol class="app-task-list">
			<li>
				<h2 class="app-task-list__section">
				<span class="app-task-list__section-number">1. </span> Verify organisation information
				</h2>
				<ul class="app-task-list__items">
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							<a href="checks/ukprn">Verify UKPRN</a>
						</span>
						{% if data['gw-ukprn'] == "Pass" %}
							<strong class="govuk-tag app-task-list__task-positive" id="gw-ukprn-passed">Passed</strong>
						{% elseif data['gw-ukprn'] == "Reject" %}
							<strong class="govuk-tag app-task-list__task-negative" id="gw-ukprn-rejected">Rejected</strong>
						{% else %}
							<strong class="govuk-tag app-task-list__task-todo" id="gw-ukprn-todo">To do</strong>
						{% endif %}
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							<a href="checks/ico">Verify ICO Status</a>
						</span>
						{% if data['gw-ico'] == "Pass" %}
							<strong class="govuk-tag app-task-list__task-positive" id="gw-ico-passed">Passed</strong>
						{% elseif data['gw-ico'] == "Reject" %}
							<strong class="govuk-tag app-task-list__task-negative" id="gw-ico-rejected">Rejected</strong>
						{% else %}
							<strong class="govuk-tag app-task-list__task-todo" id="gw-ico-todo">To do</strong>
						{% endif %}
					</li>
					<li class="app-task-list__item">
						<span class="app-task-list__task-name">
							<a href="checks/roatp">Verify RoATP Status</a>
						</span>
						{% if data['gw-roatp'] == "Pass" %}
							<strong class="govuk-tag app-task-list__task-positive" id="gw-roatp-passed">Passed</strong>
						{% elseif data['gw-roatp'] == "Reject" %}
							<strong class="govuk-tag app-task-list__task-negative" id="gw-roatp-rejected">Rejected</strong>
						{% else %}
							<strong class="govuk-tag app-task-list__task-todo" id="gw-roatp-todo">To do</strong>
						{% endif %}
					</li>
					<!--li class="app-task-list__item">
						<span class="app-task-list__task-name">
							<a href="check-companieshouse">Companies House checks</a>
						</span>
						{% if data['gateway-companieshouse'] %}
							<strong class="govuk-tag app-task-list__task-completed" id="eligibility-completed">Completed</strong>
						{% else %}
							<strong class="govuk-tag app-task-list__task-todo" id="eligibility-completed">To do</strong>
						{% endif %}
					</li-->
					<!--li class="app-task-list__item">
						<span class="app-task-list__task-name">
							<a href="check-ofsted">Ofsted checks</a>
						</span>
						<strong class="govuk-tag app-task-list__task-todo" id="eligibility-completed">To do</strong>
					</li-->
				</ul>
			</li>
			<li>
				<h2 class="app-task-list__section">
				<span class="app-task-list__section-number">2. </span> Assess answers
				</h2>
				<ul class="app-task-list__items">
				<li class="app-task-list__item">
					<span class="app-task-list__task-name">
					<!--a href="#" aria-describedby="company-information-completed"-->
						Organisation information
					<!--/a-->
					</span>
					<!-- <strong class="govuk-tag app-task-list__task-completed" id="company-information-completed">Completed</strong> -->
				</li>
				<li class="app-task-list__item">
					<span class="app-task-list__task-name">
					<!--a href="#" aria-describedby="contact-details-completed"-->
						Describe your organisation
					<!--/a-->
					</span>
					<!-- <strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Completed</strong> -->
				</li>
				<li class="app-task-list__item">
					<span class="app-task-list__task-name">
					<!--a href="#"-->
						Experience and accreditations
					<!--/a-->
					</span>
				</li>
				</ul>
			</li>
			</ol>

		</div>
	</div>
      
{% endblock %}
