{% set current_section = "applications" %}
{% extends "layout_staff_v6.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back to application overview",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-xl">Companies House checks</h1>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-half">

			<h2 class="govuk-heading-m">Application submission</h1>
			{{ govukTable({
				caption: "Company directors",
				firstCellIsHeader: false,
				head: [
				{ text: "Name" },
				{ text: "Date of birth"}
				],
				rows: [
				[
					{ text: "BOUVIER, Jacqueline" },
					{ text: "Feb 1955" }
				],
				[
					{ text: "POWELL, Herbert" },
					{ text: "May 1963" }
				],
				[
					{ text: "POWERS, Ruth" },
					{ text: "May 1957" }
				],
				[
					{ text: "VAN HOUTEN, Kirk" },
					{ text: "March 1960" }
				]
				]
			}) }}
			{{ govukTable({
				caption: "People with significant control (PSCs)",
				firstCellIsHeader: false,
				head: [
				{ text: "Name" },
				{ text: "Date of birth"}
				],
				rows: [
				[
					{ text: "BOUVIER, Jacqueline" },
					{ text: "Feb 1955" }
				],
				[
					{ text: "POWELL, Herbert" },
					{ text: "May 1963" }
				],
				[
					{ text: "ACME LIMITED" },
					{ text: "" }
				]
				]
			}) }}
		</div>

		<div class="govuk-grid-column-one-half">

			<h2 class="govuk-heading-m">Current records</h1>

			{{ govukTable({
				caption: "Company directors",
				firstCellIsHeader: false,
				head: [
				{ text: "Name" },
				{ text: "Date of birth"}
				],
				rows: [
				[
					{ text: "BOUVIER, Jacqueline" },
					{ text: "Feb 1955" }
				],
				[
					{ text: "POWELL, Herbert" },
					{ text: "May 1963" }
				],
				[
					{ text: "POWERS, Ruth" },
					{ text: "May 1957" }
				],
				[
					{ text: "VAN HOUTEN, Kirk" },
					{ text: "March 1960" }
				]
				]
			}) }}
			{{ govukTable({
				caption: "People with significant control (PSCs)",
				firstCellIsHeader: false,
				head: [
				{ text: "Name" },
				{ text: "Date of birth"}
				],
				rows: [
				[
					{ text: "BOUVIER, Jacqueline" },
					{ text: "Feb 1955" }
				],
				[
					{ text: "POWELL, Herbert" },
					{ text: "May 1963" }
				],
				[
					{ text: "ACME LIMITED" },
					{ text: "" }
				]
				]
			}) }}

		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<h2 class="govuk-heading-m">Request clarification</h2>
			<p class="govuk-body">The applicant will be asked to check and update their answers.</p>

    	<form action="tasklist" method="post" class="form">

				{% set detailHtml %}
					{{ govukTextarea({
						name: "gateway-companieshouse-detail",
						id: "gateway-companieshouse-detail",
						label: {
							text: "Clarification request"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "gateway-companieshouse-conditional",
					name: "gateway-companieshouse",
					items: [
						{
							value: "Yes",
							text: "Yes",
							checked: checked("gateway-companieshouse", "Yes"),
							conditional: {
								html: detailHtml
							}
						},
						{
							value: "No",
							text: "No",
							checked: checked("gateway-companieshouse", "No")
						}
					]
				}) }}

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-1"
				}) }}
				
			</form>

		</div>
	</div>
      
{% endblock %}
