{% extends "layout.html" %}

{% block pageTitle %}
  Based on your answers you can apply to be a main provider
{% endblock %}

{% block beforeContent %}
    <a href="#" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       <h1 class="govuk-heading-l">Based on your answer you can apply to become a main provider</h1>
    <p>
        This means you can also:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>provide apprenticeship training to their own employees or those of connected companies</li>
            <li>act as subcontractors for other providers</li>
        </ul>
        
        <a href="eligibility-confirmation" class="govuk-button">Continue</a>
    </div>
</div>

{% endblock %}
