
{% extends "layout.html" %}

{% block pageTitle %}
  You are not eligible to make the application for apprenticeship training provider
{% endblock %}
{% block beforeContent %}
    <a href="#" class="govuk-back-link">Back</a>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       <h1 class="govuk-heading-l">
            You are not eligible to apply as a training provider
        </h1>
        
        <p>This is because you:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>don't have <a href="#">a valid UK provider reference number (UKPRN)</a>
            </li>
            <li>don't have the ability to train apprentices in the first 12 months of joining the register</li>
            <li>...</li>
        </ul>
    </div>
</div>

{% endblock %}
