{% extends "layout.html" %}

{% block pageTitle %}
  Were any of the convictions handed in or after January 2014?
{% endblock %}

{% block beforeContent %}
    <a href="#" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}




  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       <form method="post">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="convictions-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h1 class="govuk-fieldset__heading govuk-!-font-size-36">
                    Were any of the convictions obtained after December 2013?
                  </h1>
                </legend>

                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="convictions-1" name="convictions" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="convictions-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="convictions-2" name="convictions" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="convictions-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
           
            <input class="govuk-button" type="submit" value="Continue" />
       </form>
    </div>
</div>

{% endblock %}
