{% set title="Provide details of convictions that were obtained after December 2013" %}

{% extends "layout.html" %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block header %}
  {% include "includes/header-join-register.html" %}
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    <a href="#" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       <h1 class="govuk-heading-l">
            {{ title }}
        </h1>

        <p>For each conviction, we're going to ask you the following:</p>
        <ol class="govuk-list govuk-list--number govuk-!-margin-bottom-9">
            <li>What the conviction was.</li>
            <li>Date when the conviction was obtained.</li>
            <li>Conviction certificate.</li>
        </ol>
        
        <p>
            <a href="conviction-add" class="govuk-button">Add first conviction</a>
        </p>
        
    </div>
</div>

{% endblock %}
