
{% extends "layout.html" %}

{% block pageTitle %}
  When was this conviction obtained?
{% endblock %}

{% block beforeContent %}
    <a href="#" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="conviction-hint" role="group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                When was this conviction obtained?
              </h1>
            </legend>
            <div class="govuk-inset-text">
          Conspiracy within the meaning of section 1 or 1A of the Criminal Law Act 1977
        </div>
            <span id="conviction-hint" class="govuk-hint">
              For example, 31 3 1980
            </span>
            <div class="govuk-date-input" id="conviction">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="conviction-day">
                    Day
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="conviction-day" name="conviction-day" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="conviction-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="conviction-month" name="conviction-month" type="number" pattern="[0-9]*">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="conviction-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="conviction-year" name="conviction-year" type="number" pattern="[0-9]*">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

<!--        <input type="submit" value="Continue" class="govuk-button" />-->
        <a href="conviction-details-list" class="govuk-button">Continue</a>
    </div>
</div>

{% endblock %}
