{% set title="Is your organisation or any partner organisations in voluntary administration?" %}


{% extends "layout.html" %}
    
{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block header %}
  {% include "includes/header-join-register.html" %}
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    <a href="#" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       <form method="post">
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="due-diligence-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    {{ title }}
                  </h1>
                </legend>

                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="due-diligence-1" name="due-diligence" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="due-diligence-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="due-diligence-2" name="due-diligence" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="due-diligence-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
           
<!--            <input class="govuk-button" type="submit" value="Continue" />-->
           <a href="due-diligence-va" class="govuk-button">Continue</a>
       </form>
    </div>
</div>

{% endblock %}
