
{% extends "layout.html" %}

{% block pageTitle %}
  Within the past 5 years, has anyone who still represents, supervises or has control in your organisation or a partner or parent organisations has had any convictions?
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       <form>
            <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="convictions-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                  <h1 class="govuk-fieldset__heading govuk-!-font-size-36">
                    Within the past 5 years, has anyone who still represents, supervises or has control in your organisation or a partner or parent organisations has had any convictions?
                  </h1>
                </legend>
                <span id="convictions-hint" class="govuk-hint">
                  This includes but not limited to serious crime, corruption, money laundering, consipiracy, terroism, sexual offence etc.
                </span>
                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="convictions-1" name="convictions" type="radio" value="yes">
                    <label class="govuk-label govuk-radios__label" for="convictions-1">
                      Yes
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="convictions-2" name="convictions" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="convictions-2">
                      No
                    </label>
                  </div>
                </div>
              </fieldset>
            </div>
           
            <input class="govuk-button" type="submit" value="Continue" />
       </form>
    </div>
</div>

{% endblock %}
