{% set title="Find an apprenticeship training provider" %}
{% extends "layout.html" %}

{% block header %}
  {% include "includes/header-staff-app-signedin.html" %}
{% endblock %}

{% block pageTitle %}
  {{ title }}
{% endblock %}

{% block beforeContent %}
    {% set hideBackButton = true %}
    {% include "includes/before-content.html" %}
{% endblock %}

{% block content %}

{% if showError == true %}
<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#search">Organisation name or UKPRN</a>
      </li>
    </ul>
  </div>
</div>
{% endif %}

{% if showMessage == true %}
<div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-9">
    <h1 class="govuk-panel__title govuk-!-font-size-27 govuk-!-margin-bottom-1">
        ACME solutions successfully added to the register
      </h1>
</div>
{% endif %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-width-two-thirds">{{ title }}</h1>
    
    <form method="post">
        <div id="searchControls" class="govuk-form-group govuk-!-margin-bottom-1">
            <label for="search" class="govuk-label govuk-!-font-size-24">Enter an organisation name or UKRPN</label>
            <input autocomplete="off" type="search" id="search" class="govuk-input govuk-!-width-full govuk-!-font-size-36 govuk-!-padding-2" name="search" />
            <input type="submit" class="btn-search" value="Search" />
        </div>
        
    </form>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

<div class="govuk-grid-row govuk-body widgets">
    <div class="govuk-grid-column-one-half">
        <a class="block govuk-link govuk-body-m govuk-!-margin-top-2 govuk-!-padding-4" href="org-details-select-route">Add a new training provider</a>
    </div>
    <div class="govuk-grid-column-one-half">
        <a class="block govuk-link govuk-body-m govuk-!-margin-top-2 govuk-!-padding-4" href="org-details-select-route">Download register in CSV format</a>
    </div>
</div>




{% endblock %}
