
{% extends "layout.html" %}

{% block header %}
  {% include "includes/header-staff-app-signedin.html" %}
{% endblock %}

{% block pageTitle %}
  Find an apprenticeship training provider
{% endblock %}

{% block content %}

<div class="govuk-panel govuk-panel--highlight">
    <h1 class="govuk-heading-xl govuk-!-width-two-thirds">Find an apprenticeship training provider</h1>
    
    <form method="post" action="list">
        <div id="searchControls" class="govuk-form-group govuk-!-margin-bottom-1">
            <label for="findProvider" class="govuk-label govuk-!-font-size-24">Enter company name or UKPRN </label>
            <input type="search" id="findProvider" class="govuk-input govuk-!-width-full govuk-!-font-size-36 govuk-!-padding-2" />
            <input type="submit" class="btn-search" value="Search" />
        </div>
        
    </form>
</div>

<p class="govuk-body-l govuk-!-margin-top-9">Alternatively, <a href="#">add a new training provider</a></p>


{% endblock %}
