{% extends "layouts/layout_application_v1.html" %}

{% block pageTitle %}
  Organisation - RoATP Organisation Prototype
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#">feedback</a> will helps us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "org-convictions-breached"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Do any of the following apply to your ‘people in control’?</h1>
  
      <p class="govuk-body">Tell us if someone in your ‘people in control’ has been removed from:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the Charity Commission</li>
        <li>a charity regulator</li>
        <li>the Register of Removed Trustees</li>
      </ul>

      <form action="dec-organisation" method="post" class="form">

        {{ govukRadios({
          idPrefix: "dec-peopleincontrol-3",
          name: "dec-peopleincontrol-3",
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("dec-peopleincontrol-3", "yes")
            },
            {
              value: "no",
              text: "No",
                checked: checked("dec-peopleincontrol-3", "no")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-right-1"
        }) }}
  
        {{ govukButton({
          text: "Save and sign out",
          href: "signout-a",
          classes: "govuk-button--secondary"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
