{% extends "layouts/layout_application_v1.html" %}

{% block pageTitle %}
  Select route - RoATP Organisation Prototype
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#">feedback</a> will helps us to improve it.'
  }) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Your organisation
          </h2>
          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <a class="app-task-list__task-name" href="organisation/select-route" aria-describedby="select-route-status">
                Provider route
              </a>
              {% if data['tl_selectroute'] == "completed" %}
              <strong class="govuk-tag app-task-list__task-completed" id="org-details-status">Completed</strong>
              {% else %}
              <strong class="govuk-tag app-task-list__task-next" id="org-details-status">Next</strong>
              {% endif %}
            </li>

            <li class="app-task-list__item">
              {% if data['tl_selectroute'] == "completed" %}
                <a class="app-task-list__task-name" href="organisation/org-ico" aria-describedby="org-details-status">Organisation information</a>
              {% else %}
                Organisation information
              {% endif %}
              {% if data['tl_org_details'] == "inprogress" %}
                <strong class="govuk-tag app-task-list__task-inprogress" id="org-details-status">In progress</strong>
              {% elseif data['tl_org_details'] == "completed" %}
                <strong class="govuk-tag app-task-list__task-completed" id="org-details-status">Completed</strong>
              {% elseif data['tl_org_details'] == "next" %}
                <strong class="govuk-tag app-task-list__task-next" id="org-details-status">Next</strong>
              {% endif %}
            </li>
            
            <li class="app-task-list__item">
              {% if data['tl_org_details'] == "completed" %}
                <a class="app-task-list__task-name" href="organisation/org-peopleincontrol" aria-describedby="org-details-status">Who's in control</a>
              {% else %}
                Who's in control
              {% endif %}
              {% if data['tl_org_people'] == "inprogress" %}
                <strong class="govuk-tag app-task-list__task-inprogress" id="org-people-status">In progress</strong>
              {% elseif data['tl_org_people'] == "completed" %}
                <strong class="govuk-tag app-task-list__task-completed" id="org-people-status">Completed</strong>
              {% elseif data['tl_org_people'] == "next" %}
                <strong class="govuk-tag app-task-list__task-next" id="org-people-status">Next</strong>
              {% endif %}
            </li>

            <li class="app-task-list__item">
              {% if data['tl_org_people'] == "completed" %}
                <a class="app-task-list__task-name" href="organisation/org-type" aria-describedby="org-type-completed">Classifying your organisation</a>
              {% else %}
                Classifying your organisation
              {% endif %}
              {% if data['tl_org_type'] == "inprogress" %}
                <strong class="govuk-tag app-task-list__task-inprogress" id="org-type-status">In progress</strong>
              {% elseif data['tl_org_type'] == "completed" %}
                <strong class="govuk-tag app-task-list__task-completed" id="org-type-status">Completed</strong>
              {% elseif data['tl_org_type'] == "next" %}
                <strong class="govuk-tag app-task-list__task-next" id="org-type-status">Next</strong>
              {% endif %}
            </li>

            <li class="app-task-list__item">
              {% if data['tl_org_type'] == "completed" %}
                {% if data['org-selectedroute'] == "supporting" %}
                  <a class="app-task-list__task-name" href="organisation/pro-subcontractor" aria-describedby="org-profile-completed">Organisation profile</a>
                {% else %}
                  <a class="app-task-list__task-name" href="organisation/pro-itt" aria-describedby="org-profile-completed">Organisation profile</a>
                {% endif %}
              {% else %}
                Organisation profile
              {% endif %}
              {% if data['tl_org_profile'] == "inprogress" %}
                <strong class="govuk-tag app-task-list__task-inprogress" id="org-profile-status">In progress</strong>
              {% elseif data['tl_org_profile'] == "completed" %}
                <strong class="govuk-tag app-task-list__task-completed" id="org-profile-status">Completed</strong>
              {% elseif data['tl_org_profile'] == "next" %}
                <strong class="govuk-tag app-task-list__task-next" id="org-profile-status">Next</strong>
              {% endif %}
            </li>

          </ul>
        </li>

        <!--li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Your Profile
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              {% if data['tl_org_classification'] == "completed" %}
                <a class="app-task-list__task-name" href="profile-ofsted" aria-describedby="profile-ofsted-completed">Ofsted inspection</a>
              {% else %}
                Ofsted inspection
              {% endif %}
              {% if data['tl_profile_ofsted'] == "completed" %}
              <strong class="govuk-tag app-task-list__task-completed" id="org-details-status">Completed</strong>
              {% elseif data['tl_profile_ofsted'] == "next" %}
              <strong class="govuk-tag app-task-list__task-next" id="org-details-status">Next</strong>
              {% endif %}
            </li>  
            <li class="app-task-list__item">
                Training as a sub-contractor
              {% if data['tl_profile_ofsted'] == "completed" %}
              <strong class="govuk-tag app-task-list__task-completed" id="org-details-status">Completed</strong>
              {% endif %}
            </li>  
          </ul>
        </li-->

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Financial evidence
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              {% if (data['tl_org_profile'] == "completed") and (data['exempt_fha'] != 'yes') %}
                <a class="app-task-list__task-name" href="#" aria-describedby="org-details-status">Upload financial evidence</a>
              {% else %}
                Upload financial evidence
              {% endif %}
              {% if data['tl_fin_upload'] == "completed" %}
                <strong class="govuk-tag app-task-list__task-completed" id="org-details-status">Completed</strong>
              {% elseif data['exempt_fha'] == "yes" %}
                <strong class="govuk-tag app-task-list__task-notrequired" id="org-details-notrequired">Not required</strong>
              {% endif %}
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Policies and processes
          </h2>

          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              {% if (data['tl_org_profile'] == "completed") %}
                <a class="app-task-list__task-name" href="#" aria-describedby="profile-ofsted-completed">Upload equality and diversity policy</a>
              {% else %}
                Upload equality and diversity policy
              {% endif %}
              {% if data['tl_pol_upload'] == "completed" %}
              <strong class="govuk-tag app-task-list__task-completed" id="org-details-status">Completed</strong>
              {% endif %}
            </li>  
          </ul>

        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Delivery model
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              {% if (data['tl_org_profile'] == "completed") %}
                <a class="app-task-list__task-name" href="#" aria-describedby="org-convictions-status">Sector information</a>
              {% else %}
                Sector information
              {% endif %}
            </li>
            <li class="app-task-list__item">
              {% if (data['tl_org_profile'] == "completed") %}
                <a class="app-task-list__task-name" href="#" aria-describedby="org-convictions-status">Employees experience and qualifications</a>
              {% else %}
                Employees experience and qualifications
              {% endif %}
            </li>
            <li class="app-task-list__item">
              {% if (data['tl_org_profile'] == "completed") %}
                <a class="app-task-list__task-name" href="#" aria-describedby="org-convictions-status">Planning</a>
              {% else %}
                Planning
              {% endif %}
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span> Management
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
                [...]
            </li>  
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">6. </span> Readiness to deliver
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
                [...]
            </li>  
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">7. </span> Criminal checks
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              {% if (data['tl_org_type'] == "completed") %}
                <a class="app-task-list__task-name" href="#" aria-describedby="org-convictions-status">Employees</a>
              {% else %}
                Employees
              {% endif %}
              {% if data['tl_org_convictions'] == "inprogress" %}
                <strong class="govuk-tag app-task-list__task-inprogress" id="org-convictions-status">In progress</strong>
              {% elseif data['tl_org_convictions'] == "completed" %}
                <strong class="govuk-tag app-task-list__task-completed" id="org-convictions-status">Completed</strong>
              {% elseif data['tl_org_convictions'] == "next" %}
                <strong class="govuk-tag app-task-list__task-next" id="org-details-status">Next</strong>
              {% endif %}
            </li>

            <li class="app-task-list__item">
              {% if (data['tl_org_type'] == "completed") %}
                <a class="app-task-list__task-name" href="#" aria-describedby="org-tl_org_compliance-status">Your organisation</a>
              {% else %}
                Your organisation
              {% endif %}
              {% if data['tl_org_compliance'] == "inprogress" %}
                <strong class="govuk-tag app-task-list__task-inprogress" id="org-tl_org_compliance-status">In progress</strong>
              {% elseif data['tl_org_compliance'] == "completed" %}
                <strong class="govuk-tag app-task-list__task-completed" id="org-tl_org_compliance-status">Completed</strong>
              {% elseif data['tl_org_compliance'] == "next" %}
                <strong class="govuk-tag app-task-list__task-next" id="org-details-status">Next</strong>
              {% endif %}
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">8. </span> Finish
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              {% if (data['tl_org_type'] == "completed") %}
                <a class="app-task-list__task-name" href="#" aria-describedby="org-convictions-status">Check answers and send application</a>
              {% else %}
                Check answers and send application
              {% endif %}
            </li>
          </ul>
        </li>
      </ol>

    </div>

    <!--div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div-->

  </div>

{% endblock %}
