{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v12.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP assessor applications",
				href: "/staff-app/v12/applications/applications-assessor"
			},
			{
				text: "Application assessment overview",
				href: "/staff-app/v12/applications/assessor/moderate/tasklist-3127"
			},
			{
				text: "Protecting your apprentices checks"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Protecting your apprentices checks</span>
			<h1 class="govuk-heading-xl">Equality and diversity policy</h1>

			<p class="govuk-body">
				UKPRN: 12345678<br>
				Legal name: MY RECRUITMENT LIMITED<br>
				Provider route: Main<br>
				Application submitted date: 18 Oct 2019
			</p>

			            </div><div class="govuk-grid-column-full"><table class="govuk-table">
                          <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                              <th scope="col" class="govuk-table__header">Application question</th>
                              <th scope="col" class="govuk-table__header">Applicant's answer</th>
                            </tr>
                          </thead>
                          <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Upload your organisation’s equality and diversity policy</th>
                              <td class="govuk-table__cell"><a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/405132/Equality_and_Diversity_Policy.pdf" target="_blank">myrecruitmentlimited-equality-diversity-policy.pdf</a></td>
                            </tr>
                          </tbody>
                        </table></div><div class="govuk-grid-column-two-thirds"></div><div class="govuk-grid-column-two-thirds">

            <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  View application guidance
                </span>
              </summary>
            <div class="govuk-details__text">
			<p class="govuk-body">This must include how your organisation will:</p>
			<ul class="govuk-list govuk-list--bullet">
				<li>promote the policy</li>
				<li>get engagement towards the policy</li>
				<li>train its employees in implementing the policy</li>
				<li>consider the policy when recruiting, delivering apprenticeship training and working with employers and apprentices</li>
			</ul>
			<p class="govuk-body">The file must be a PDF and smaller than 5MB.</p>
			</div>
			</details>

			<form action="" method="post" class="form">

				<h2 class="govuk-heading-m govuk-!-margin-top-9">What is the outcome of this check?</h2>
				
				{% set passHtml %}
					{{ govukCharacterCount({
						name: "aac-3127-pya-equality-pass",
						id: "aac-3127-pya-equality-pass",
          	value: data['aac-3127-pya-equality-pass'],
						maxwords: 150,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}
				
				{% set failHtml %}
					{{ govukCharacterCount({
						name: "aac-3127-pya-equality-fail",
						id: "aac-3127-pya-equality-fail",
          	value: data['aac-3127-pya-equality-fail'],
						maxwords: 150,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}

				{% set inProgressHtml %}
					{{ govukCharacterCount({
						name: "aac-3127-pya-equality-inprogress",
						id: "aac-3127-pya-equality-inprogress",
          	value: data['aac-3127-pya-equality-inprogress'],
						maxwords: 150,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "aac-3127-pya-equality-conditional",
					name: "aac-3127-pya-equality",
					items: [
						{
							value: "Pass",
							text: "Pass",
							conditional: {
								html: passHtml
							},
							checked: checked("aac-3127-pya-equality", "Pass")
						},
						{
							value: "Fail",
							text: "Fail",
							conditional: {
								html: failHtml
							},
							checked: checked("aac-3127-pya-equality", "Fail")
						},
						{
							divider: "or"
						},
						{
							value: "In progress",
							text: "In progress",
							conditional: {
								html: inProgressHtml
							},
							checked: checked("aac-3127-pya-equality", "In progress")
						}
					]
				}) }}

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-4"
				}) }}
        


			</form>



		</div>
	</div>

{% endblock %}