{% extends "layouts/layout_application_v15.html" %}

{% block pageTitle %}
  RoATP Application Prototype v15
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Your organisation’s financial evidence</span>
        
    <h1 class="govuk-heading-l">Upload your organisation’s full financial statements covering the last 12 months</h1>

    <p class="gov-body">Financial statements must include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>a ‘balance sheet’ - showing the value of everything your organisation owns, owes and is owed on the last day of the financial year</li>
      <li>a ‘profit and loss account’ - showing your organisation’s sales, running costs and profit and loss it made over the financial year</li>
      <li>detailed notes about the accounts</li>
      <li>a breakdown of creditors and borrowings</li>
    </ul>

    <p class="govuk-body">Financial statements must be signed and filed with Companies House.</p>

    <p class="govuk-body">You can upload a maximum of 4 files.</p>
    <p class="govuk-body">Each file must be a PDF and smaller than 5MB.</p>

      {{ govukWarningText({
        text: "Financial statements must not be abbreviated, filleted or for a micro entity.",
        iconFallbackText: "Warning"
      }) }}

     {% if (data['numOfStatements'] > 0) %}
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">File</th>
            <th class="govuk-table__header" scope="col"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% for i in range(data['numOfStatements']) %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">{{ data['financialStatements'] }}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="full-statements-upload-remove">Remove</a></td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
     {% endif %}

    <form action="" method="post" class="form">
    
      {{ govukFileUpload({
        id: "fin-fullstatements-upload",
        name: "fin-fullstatements-upload",
        label: {
          text: "Upload a file"
        }
      }) }}

        {% if (data['numOfStatements'] >= 4) %}
        <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="javascript:preventDefault();">
            Upload file
        </a>
        {% else %}
        <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="full-statements-upload-add-another-file">
            Upload file
        </a>
        {% endif %}

        <br>
      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-4"
      }) }}

      <p class="skipquestion" id="skipquestion"><a href="../task-list#section-financial">Return to this question later</a></p>
      
      {% include "includes/v15/gethelp.html" %}

    </form>
  </div>
</div>

{% endblock %}