{% extends "layouts/layout_application_v15.html" %}

{% block pageTitle %}
  RoATP Application Prototype v15
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Describe your organisation</span>
        
    <h1 class="govuk-heading-l">Is your organisation registered and receiving funding from ESFA?</h1>

    <form action="" method="post" class="form">

      {{ govukRadios({
        idPrefix: "org-type-education-free-school",
        name: "org-type-education-free-school",
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: checked("org-type-education-free-school", "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: checked("org-type-education-free-school", "No")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}
      
      {% include "includes/v15/gethelp.html" %}

    </form>
  </div>
</div>

{% endblock %}