{% set current_section = "register" %}
{% extends "layout_staff_v5.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

<!-- Need to look at back link when coming from confirm page... -->

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<span class="govuk-caption-l">Search the register</span>
			<h1 class="govuk-heading-xl">Change the application determined date for this organisation?</h1>

			<p class="govuk-body">This is the date of when feedback was given to the training provider.</p>

			<form action="detail" method="post" class="form">

				{{ govukDateInput({
					id: "staff-add-determined",
					namePrefix: "staff-add-determined",
					hint: {
						text: "For example, 24 04 2019"
					},
					items: [
						{
							classes: "govuk-input--width-2",
							name: "day",
							value: "03"
						},
						{
							classes: "govuk-input--width-2",
							name: "month",
							value: "06"
						},
						{
							classes: "govuk-input--width-4",
							name: "year",
							value:"2019"
						}
					]
				}) }}

				{{ govukButton({
					text: "Change"
				}) }}

			</form>

		</div>
	</div>
      
{% endblock %}
      