{% extends "layout_application.html" %}

{% block pageTitle %}
  Organisation - RoATP Organisation Prototype
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#">feedback</a> will helps us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "org-ukprn"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post" class="form">
        
        <h1 class="govuk-heading-l">Confirm your organisation details</h1>

        <p class="gov-body">These are the details we found on UKRLP.</p>

        {{ govukSummaryList({
          classes: 'govuk-!-margin-bottom-9',
          rows: [
            {
              key: {
                text: "Legal name"
              },
              value: {
                text: "Your Company Name Ltd"
              }
            },
            {
              key: {
                text: "Business address"
              },
              value: {
                html: "1 Romford Road<br>Wellington<br>Telford<br>CV66 6BB"
              }
            },
            {
              key: {
                text: "Website"
              },
              value: {
                html: 'yourcompanyname.co.uk'
              }
            }
          ]
        }) }}
        
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What if these details are wrong?
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>Contact UKRLP to <a href="https://www.ukrlp.co.uk/" target="_blank">change these details (opens in a new window or tab)</a>.</p>
            <p>After your changes have been confirmed, sign back in to continue with this application.</p>
          </div>
        </details>

        {{ govukButton({
          text: "Confirm and continue",
          classes: "govuk-!-margin-right-1"
        }) }}
  
        {{ govukButton({
          text: "Confirm and sign out",
          href: "signout",
          classes: "govuk-button--secondary"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
