{% extends "layouts/layout_application.html" %}

{% block pageTitle %}
  Organisation - RoATP Organisation Prototype
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#">feedback</a> will helps us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "org-trustees"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post" class="form">

        <h1 class="govuk-heading-l">What is Kent Brockman's date of birth?</h1>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="org-trustee-dob1-hint" role="group">
            <legend class="govuk-fieldset__legend">
                Date of birth 
            </legend>
            <span id="org-trustee-dob1-hint" class="govuk-hint">
              For example, 12 1983
            </span>
            <div class="govuk-date-input" id="org-trustee-dob1">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="org-trustee-dob1-month">
                    Month
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="org-trustee-dob1-month" name="org-trustee-dob1-month" type="number" pattern="[0-9]*" value="{{ data['org-trustee-dob1-month'] }}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="org-trustee-dob1-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="org-trustee-dob1-year" name="org-trustee-dob1-year" type="number" pattern="[0-9]*" value="{{ data['org-trustee-dob1-year'] }}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-right-1"
        }) }}
  
        {{ govukButton({
          text: "Save and sign out",
          href: "signout",
          classes: "govuk-button--secondary"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
