{% extends "layout_application_v6.html" %}

{% block pageTitle %}
  RoATP Application Prototype v6
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">You do not accept the terms and conditions of making an application</h1>

    <p class="govuk-body">This means you and your organisation are not eligible to apply to join RoATP as your application would automatically fail.</p>

    <p class="govuk-body"><a href="#">Back to GOV.UK</a></p>

  </div>
</div>

{% endblock %}
