{% extends "layouts/layout_application_v6.html" %}

{% block pageTitle %}
  Sign in - RoATP Organisation Prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">We have saved your answers and signed you out</h1>

    <p class="govuk-body">To continue with your application later, save this link: <a href="https://das-roatp-prototypes.herokuapp.com/application/v6" target="_blank">https://das-roatp-prototypes.herokuapp.com/application/v6 (opens in a new window or tab)</a>.</p>
    <p class="govuk-body">Your application will be saved for 30 days. After this, we will delete your application and you will need to start again.</p>
    <p class="govuk-body"><a href="https://www.gov.uk/">Back to GOV.UK</a></p>

  </div>
</div>

{% endblock %}
