{% extends "layouts/layout_clarify_gw_v1.html" %}

{% block pageTitle %}
  RoATP Application Prototype v14
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Systems and processes to collect data</span>

    <h1 class="govuk-heading-l">Does your organisation have systems and processes in place to collect apprenticeship data?</h1>

    <p class="govuk-body">To be an apprenticeship training provider, your organisation must have systems and processes in place to collect:</p>
  
    <ul class="govuk-list govuk-list--bullet">
      <li>retention data of apprentices</li>
      <li>achievement data of apprentices</li>
      <li>destination and progression data for apprentices - for example, permanent employment or getting a promotion at the end of the apprenticeship</li>
      <li>employer and apprentice feedback</li>
    </ul>

    <form action="" method="post" class="form">

      {% set conditionalHtml %}
        <p class="govuk-body">Before joining RoATP, your organisation must have systems and processes in place to get this data. We may ask for evidence on this.</p>
      {% endset -%}

      {{ govukRadios({
        idPrefix: "eval-collectdata",
        name: "eval-collectdata",
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: checked("eval-collectdata", "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: checked("eval-collectdata", "No"),
            conditional: {
              html: conditionalHtml
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}
      
      {% include "includes/v14/gethelp.html" %}

    </form>
  </div>
</div>

{% endblock %}