{% set current_section = "applications" %}
{% extends "layouts/layout_mvpgateway_v6.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "Dashboard",
				href: "/mvp-gateway/v6/dashboard"
			},
			{
				text: "RoATP applications",
				href: "/mvp-gateway/v6/applications/applications-gateway"
			},
			{
				text: "Application assessment overview",
				href: "/mvp-gateway/v6/applications/gateway/tasklist-abctraining"
			},
			{
				text: "Experience and accreditation"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Experience and accreditation checks</span>
			<h1 class="govuk-heading-xl">Ofsted check</h1>

			<p class="govuk-body">
				UKPRN: 12345678<br>
				Legal name: ABC TRAINING LIMITED
			</p>

			<table class="govuk-table">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header">Application question</th>
						<th scope="col" class="govuk-table__header">Applicant's answer</th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">Has your organisation had a full Ofsted inspection in further education and skills?</td>
						<td class="govuk-table__cell">Yes</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">Did your organisation get a grade for apprenticeships in this full Ofsted inspection?</td>
						<td class="govuk-table__cell">Yes</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">What grade did your organisation get for apprenticeships in this full Ofsted inspection?</td>
						<td class="govuk-table__cell">Good</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">Did your organisation get this grade within the last 3 years?</td>
						<td class="govuk-table__cell">Yes</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__cell">Has your organisation maintained funding from an education agency since its full Ofsted inspection?</td>
						<td class="govuk-table__cell">Yes</td>
					</tr>
				</tbody>
			</table>

			<form action="" method="post" class="form">

				<h3 class="govuk-heading-m govuk-!-margin-top-9">What is the outcome of this check?</h3>

				{% set passHtml %}
					{{ govukCharacterCount({
						name: "gw-abctraining-experience-ofsted-pass",
						id: "gw-abctraining-experience-ofsted-pass",
          	value: data['gw-abctraining-experience-ofsted-pass'],
						maxwords: 150,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}
				
				{% set failHtml %}
					{{ govukCharacterCount({
						name: "gw-abctraining-experience-ofsted-fail",
						id: "gw-abctraining-experience-ofsted-fail",
          	value: data['gw-abctraining-experience-ofsted-fail'],
						maxwords: 150,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}
				
				{% set inprogressHtml %}
					{{ govukCharacterCount({
						name: "gw-abctraining-experience-ofsted-inprogress",
						id: "gw-abctraining-experience-ofsted-inprogress",
          	value: data['gw-abctraining-experience-ofsted-inprogress'],
						maxwords: 150,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "gw-abctraining-experience-ofsted-conditional",
					name: "gw-abctraining-experience-ofsted",
					items: [
						{
							value: "Pass",
							text: "Pass",
							conditional: {
								html: passHtml
							},
							checked: checked("gw-abctraining-experience-ofsted", "Pass")
						},
						{
							value: "Fail",
							text: "Fail",
							conditional: {
								html: failHtml
							},
							checked: checked("gw-abctraining-experience-ofsted", "Fail")
						},
						{
							value: "In progress",
							text: "In progress",
							conditional: {
								html: inprogressHtml
							},
							checked: checked("gw-abctraining-experience-ofsted", "In progress")
						}
					]
				}) }}

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-4"
				}) }}

			</form>

			<p><a href="/mvp-gateway/v6/applications/gateway/tasklist-abctraining">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}