{% set current_section = "register" %}
{% extends "layouts/layout_mvpgateway_v4.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP dashboard",
				href: "/mvp-gateway/v4/dashboard"
			},
			{
				text: "Add a new training provider"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<span class="govuk-caption-l">Add a new training provider</span>
			<form action="add-confirm" method="post" class="form">

				{% set numberHtml %}
					{{ govukInput({
						id: "staff-add-charitynumber",
						name: "staff-add-charitynumber",
						type: "text",
						classes: "govuk-!-width-two-thirds",
						value: data['staff-add-charitynumber'],
						label: {
							text: "Enter charity number"
						},
						attributes: {
							spellcheck: "false"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "staff-add-charitynumber-conditional",
					name: "staff-add-hascharitynumber",
					fieldset: {
						legend: {
							text: "Does the organisation have a charity number?",
							isPageHeading: true,
							classes: "govuk-fieldset__legend--xl"
						}
					},
					items: [
						{
							value: "yes",
							text: "Yes",
							checked: checked("staff-add-hascharitynumber", "yes"),
							conditional: {
								html: numberHtml
							}
						},
						{
							value: "no",
							checked: checked("staff-add-hascharitynumber", "no"),
							text: "No"
						}
					]
				}) }}
				
				{{ govukButton({
					text: "Change"
				}) }}

			</form>

		</div>
	</div>
	  
{% endblock %}
	  