{% set current_section = "register" %}
{% extends "layouts/layout_mvpgateway_v3.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP dashboard",
				href: "/mvp-gateway/v3/dashboard"
			},
			{
				text: "Add a new training provider"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
            
			<span class="govuk-caption-l">Add a new training provider</span>
			<h1 class="govuk-heading-xl">Enter the organisation’s legal name</h1>

			<form action="add-confirm" method="post" class="form">

					{{ govukInput({
						label: {
							text: "Legal name"
						},
						classes: "govuk-!-width-two-thirds",
						id: "staff-add-orgname",
						name: "staff-add-orgname",
						value: data['staff-add-orgname']
					}) }}

				{{ govukButton({
					text: "Change"
				}) }}

			</form>

		</div>
	</div>
      
{% endblock %}
      