{% extends "layout_application_v4.html" %}

{% block pageTitle %}
  RoATP Application Prototype v4
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="" method="post" class="form">

      <h1 class="govuk-heading-l">Apprenticeship welfare</h1>

      <p class="govuk-body">In this section we’ll ask you to upload your organisation’s:</p>
      
      <ul class="govuk-list govuk-list--bullet">
        <li>continuity plan</li>
        <li>equality and diversity policy</li>
        <li>safeguarding policy</li>
        <li>prevent duty policy (if needed)</li>
        <li>health and safety policy</li>
      </ul>

      <p class="govuk-body">All policies must be specific to your organisation, apprentices and trainers. They must also be stamped and signed by a senior employee. For example, a director or CEO.</p>

      <p class="govuk-body">We will not accept any uploads that are generic or taken from a third party.</p>

      {{ govukButton({
        text: "Continue with this section ",
        classes: "govuk-!-margin-right-1"
      }) }}

      <p class="govuk-body"><a href="../task-list">Come back to this section later</a></p>
      
    </form>

  </div>
</div>

{% endblock %}
