{% extends "layout_application_v4.html" %}

{% block pageTitle %}
  RoATP Application Prototype v4
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "healthandsafety"
  }) }}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post" class="form">

        {{ govukRadios({
          idPrefix: "wel-otherpolicies",
          name: "wel-otherpolicies",
          fieldset: {
            legend: {
              text: "Will your organisation follow other providers policies and plans when working with them?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "As a supporting provider, your organisation will be required to follow and comply with all policies and plans when working with either main or employer providers."
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("wel-otherpolicies", "yes")
            },
            {
              value: "no",
              text: "No",
                checked: checked("wel-otherpolicies", "no")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-right-1"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
