{% extends "layout_application_v4.html" %}

{% block pageTitle %}
  RoATP Application Prototype v4
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "upload-safeguarding"
  }) }}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post" class="form">

      {% set detailHtml %}
        {{ govukInput({
          label: {
            text: "Full name"
          },
          id: "wel-safeguardingresponsible-detail",
          name: "wel-safeguardingresponsible-detail",
          value: data['wel-safeguardingresponsible-detail']
        }) }}
      {% endset -%}

        {{ govukRadios({
          idPrefix: "wel-safeguardingresponsible",
          name: "wel-safeguardingresponsible",
          fieldset: {
            legend: {
              text: "Does your organisation have anyone who’s responsible for safeguarding?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "This should be someone who has the overall responsibility, relevant knowledge and skills to manage safeguarding issues."
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("wel-safeguardingresponsible", "yes"),
              conditional: {
                html: detailHtml
              }
            },
            {
              value: "no",
              text: "No",
                checked: checked("wel-safeguardingresponsible", "no")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-right-1"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
