{% extends "layout_application_v4.html" %}

{% block pageTitle %}
  RoATP Application Prototype v4
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        
    <h1 class="govuk-heading-l">Upload a copy of your organisation’s Prevent duty policy</h1>

    <p class="gov-body">This must include how your organisation will:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>have a legal responsibility to fulfill the prevent duty statement</li>
      <li>protect apprentices and employees from radicalising influences</li>
      <li>ensure apprentices and employees are resilient to extreme narratives</li>
      <li>identify changes in behaviour of apprentices and employees</li>
      <li>deal with any issues raised by apprentices or employees</li>
    </ul>

    <form action="" method="post" class="form">
    
      {{ govukFileUpload({
        id: "wel-continuity",
        name: "wel-continuity",
        label: {
          text: "Upload a file"
        }
      }) }}

      {{ govukDetails({
        summaryText: "What is the Prevent duty statement?",
        text: "The prevent duty statement is ’to have due regard to the need to prevent people from being drawn into terrorism’."
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}
      
      {% include "includes/gethelp.html" %}

    </form>
  </div>
</div>

{% endblock %}