{% extends "layout_application_v4.html" %}

{% block pageTitle %}
  RoATP Application Prototype v4
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        
    <h1 class="govuk-heading-l">Upload a copy of your organisation’s Prevent duty policy</h1>

    <p class="gov-body">This must include how your organisation will:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>take care of apprentices</li>
      <li>be responsible for health and safety</li>
      <li>identify risks</li>
      <li>have existing arrangements if something happens</li>
      <li>make arrangements if something happens</li>
      <li>act in case of a health emergency of apprentices</li>
    </ul>

    <form action="" method="post" class="form">
    
      {{ govukFileUpload({
        id: "wel-healthandsafety",
        name: "wel-healthandsafety",
        label: {
          text: "Upload a file"
        }
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}
      
        {% include "includes/gethelp.html" %}

    </form>
  </div>
</div>

{% endblock %}