{% extends "layouts/layout_application_v3.html" %}

{% block pageTitle %}
  RoATP Application Prototype v3
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#">feedback</a> will helps us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "people-charity-register"
  }) }}
  
  {% include "../../../includes/nav-application-v3.html" %}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post" class="form">

        {% set detailHtml %}
          {{ govukTextarea({
            id: "dec-people-convictions-detail",
            name: "dec-people-convictions-detail",
            label: {
              text: "Give us more information"
            },
            hint: {
              text: "You can include a brief summary of what measures have been put in place to manage this."
            },
            value: data['dec-people-convictions-detail'],
            attributes: {
              spellcheck: "false"
            }
          }) }}
        {% endset -%}
        
        {% if data['org-legalstatus'] == "sole" %}
          <h1 class="govuk-heading-l">Do you have any criminal convictions?</h1>
        {% elseif data['org-legalstatus'] == "partnership" %}
          <h1 class="govuk-heading-l">Does your organisation or any of its partners have any criminal convictions?</h1>
        {% else %}
          <h1 class="govuk-heading-l">Does anyone who’s in control of your organisation have any criminal convictions?</h1>
        {% endif %}

        <p class="gov-body">This includes things like bribery, corruption, terrorism, convictions, sexual offences and money laundering.</p>

        {{ govukRadios({
          idPrefix: "dec-people-convictions",
          name: "dec-people-convictions",
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("dec-people-convictions", "yes"),
              conditional: {
                html: detailHtml
              }
            },
            {
              value: "no",
              text: "No",
                checked: checked("dec-people-convictions", "no")
            }
          ]
        }) }}

        {% if data['org-ukprn'] != "12340301" %}
        
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Who's in control
            </span>
          </summary>
          <div class="govuk-details__text">

            {% include "../../../includes/directors-pscs.html" %}

          </div>
        </details>

        {% endif %}

        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-right-1"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
