{% extends "layout_application_v3.html" %}

{% block pageTitle %}
  RoATP Application Prototype v3
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#">feedback</a> will helps us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "upload-healthandsafety"
  }) }}
  
  {% include "../../../includes/nav-application-v3.html" %}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post" class="form">

      {% set detailHtml %}
        {{ govukInput({
          label: {
            text: "Name"
          },
          id: "wel-healthandsafetyresponsible-detail",
          name: "wel-healthandsafetyresponsible-detail",
          value: data['wel-healthandsafetyresponsible-detail']
        }) }}
      {% endset -%}

        {{ govukRadios({
          idPrefix: "wel-healthandsafetyresponsible",
          name: "wel-healthandsafetyresponsible",
          fieldset: {
            legend: {
              text: "Does your organisation have anyone who’s responsible for health and safety?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "This should be someone who has the overall responsibility, relevant knowledge and skills to manage health and safety issues. It can be an individual or another organisation."
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("wel-healthandsafetyresponsible", "yes"),
              conditional: {
                html: detailHtml
              }
            },
            {
              value: "no",
              text: "No",
                checked: checked("wel-healthandsafetyresponsible", "no")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-right-1"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
