{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v13.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP assessor applications",
				href: "/staff-app/v13/applications/applications-assessor"
			},
			{
				text: "Application assessment overview",
				href: "/staff-app/v13/applications/assessor/tasklist-3127"
			},
			{
				text: "Readiness to engage checks"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Readiness to engage checks</span>
			<h1 class="govuk-heading-xl">Process for initial assessments to recognise prior learning</h1>

			<p class="govuk-body">
				UKPRN: 12345678<br>
				Legal name: MY RECRUITMENT LIMITED<br>
				Provider route: Main<br>
				Application submitted date: 18 Oct 2019
			</p>

            </div><div class="govuk-grid-column-full"><table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Application question</th>
                  <th scope="col" class="govuk-table__header">Applicant's answer</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">What is your organisation’s process for initial assessments to recognise prior learning?</th>
                  <td class="govuk-table__cell">XXX XXX XXXXX XXXX XXXXX XXXXX XXXX</td>
                </tr>
              </tbody>
            </table></div><div class="govuk-grid-column-two-thirds">

            <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  View application guidance
                </span>
              </summary>
            <div class="govuk-details__text">
			<p class="govuk-body">Your answer must include how your organisation will:</p>
			<ul class="govuk-list govuk-list--bullet">
			    <li>review personal learning records</li>
			    <li>review relevant education (including training, qualifications and work experience already achieved)</li>
			    <li>identify and analyse skill gaps</li>
			    <li>use apprenticeships to address any skill gaps</li>
            </ul>
            <p>Find out more about <a href="https://www.gov.uk/government/publications/apprenticeships-recognition-of-prior-learning/apprenticeships-initial-assessment-to-recognise-prior-learning">initial assessments (opens in a new window or tab)</a>.</p>
			</div>
			</details>

			<form action="" method="post" class="form">

				<h2 class="govuk-heading-m govuk-!-margin-top-9">What is the outcome of this check?</h2>

				{% set passHtml %}
					{{ govukCharacterCount({
						name: "aac-3127-rte-process-pass",
						id: "aac-3127-rte-process-pass",
          	value: data['aac-3127-rte-process-pass'],
						maxwords: 150,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}

				{% set failHtml %}
					{{ govukCharacterCount({
						name: "aac-3127-rte-process-fail",
						id: "aac-3127-rte-process-fail",
          	value: data['aac-3127-rte-process-fail'],
						maxwords: 150,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}

				{% set inProgressHtml %}
					{{ govukCharacterCount({
						name: "aac-3127-rte-process-inprogress",
						id: "aac-3127-rte-process-inprogress",
          	value: data['aac-3127-rte-process-inprogress'],
						maxwords: 150,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "aac-3127-rte-process-conditional",
					name: "aac-3127-rte-process",
					items: [
						{
							value: "Pass",
							text: "Pass",
							conditional: {
								html: passHtml
							},
							checked: checked("aac-3127-rte-process", "Pass")
						},
						{
							value: "Fail",
							text: "Fail",
							conditional: {
								html: failHtml
							},
							checked: checked("aac-3127-rte-process", "Fail")
						},
						{
							divider: "or"
						},
						{
							value: "In progress",
							text: "In progress",
							conditional: {
								html: inProgressHtml
							},
							checked: checked("aac-3127-rte-process", "In progress")
						}
					]
				}) }}

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-4"
				}) }}

			</form>



		</div>
	</div>

{% endblock %}