  {{ govukHeader({
    homepageUrl: "#",
    serviceName: serviceName,
    serviceUrl: "#"
  }) }}
  
  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: "beta"
      },
      html: 'This is a new service - your <a href="#">feedback</a> will helps us to improve it.'
    }) }}
  </div>
  
  <div class="govuk-phase-banner govuk-width-container" style="padding: 0;">
    <nav>
      <ul id="navigation" class="roatp__navigation " aria-label="Top Level Navigation">
      {{signedin}}

        {% if (data['signedin'] == "yes") and (data['org-ukprn']) and (data['org-selectedroute']) %}
          {% if currentpage == "task-list" %}
            <li class="roatp__navigation-item roatp__navigation-item--active">
          {% else %}
            <li class="roatp__navigation-item">
          {% endif %}
            <a class="govuk-header__link" href="/application/v9/task-list">
              Application overview
            </a>
          </li>
        {% else %}
          <li class="roatp__navigation-item roatp__navigation-item--inactive">
            <span class="govuk-header__link">Application overview</span>
          </li>
        {% endif %}
        <!--li class="roatp__navigation-item">
          <a class="govuk-header__link" href="#">
            View all questions
          </a>
        </li-->
        <li class="roatp__navigation-item">
          <a class="govuk-header__link" href="#">
            Your messages (0)
          </a>
        </li>
        {% if (data['signedin'] == "yes") and (data['org-ukprn'] == "") %}
        <li class="roatp__navigation-item roatp__navigation-signout">
          <a class="govuk-header__link" href="#">
            Sign out
          </a>
        </li>
        {% endif %}
        {% if (data['signedin'] == "yes") and (data['org-ukprn'] != "") %}
        <li class="roatp__navigation-item roatp__navigation-signout">
          <a class="govuk-header__link" href="/application/v9/signout">
            Save and sign out
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>