{% set currentpage = "task-list" %}
{% extends "layouts/layout_mvpapply_v1.html" %}

{% block pageTitle %}
  Application complete - RoATP Organisation Prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You need to clarify some of your application answers</h1>

      <p class="govuk-body">The RoATP application assessment team have provided feedback, you can view it on your application overview.</p>
      <p class="govuk-body">You can use this feedback to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>change your answer</li>
        <li>add more information</li>
      </ul>
      <p class="govuk-body">If your existing application answers are still true and accurate to the best of your knowledge, you can resubmit your application with no changes.</p>
      <p class="govuk-body">You have 5 working days to resubmit your application.</p>

      {{ govukButton({
        href: "apply-clarification-tasklist",
        text: "Go to application overview"
      }) }}

  </div>
</div>

{% endblock %}
