{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v7.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP dashboard",
				href: "/staff-app/v7/dashboard"
			},
			{
				text: "RoATP applications",
				href: "/staff-app/v7/applications/gateway/applications-view"
			},
			{
				text: "Application assessment overview",
				href: "/staff-app/v7/applications/gateway/tasklist-company"
			},
			{
				text: "Organisation information"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Organisation checks</span>
			<h1 class="govuk-heading-xl">Ofsted checks</h1>

			<p class="govuk-body">
				Legal name: SAFRAN LANDING SYSTEMS UK LTD<br>
				UKPRN: 10053003
			</p>
			
			<div class="sops">
				<!--p class="govuk-body">Pass this check if the organisation is on <a href="#">the list of registered ITT</a>.</p-->
				<!--ul class="govuk-list govuk-list--bullet">
					<li>the ICO registration number is valid (not expired)</li>
					<li>the organisation's legal name is the same</li>
				</ul-->
			</div>

			<table class="govuk-table govuk-!-margin-bottom-9">
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Had a full Ofsted inspection in further education and skills</th>
						<td class="govuk-table__cell">Yes</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Received a grade for apprenticeships</th>
						<td class="govuk-table__cell">No</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Grade for overall effectiveness</th>
						<td class="govuk-table__cell">Good</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Grade given with last 3 years</th>
						<td class="govuk-table__cell">No</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Had a short Ofsted inspection within last 3 years</th>
						<td class="govuk-table__cell">Yes</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Maintained grade</th>
						<td class="govuk-table__cell">Yes</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Maintained funding from an education agency</th>
						<td class="govuk-table__cell">No</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<h3 class="govuk-heading-m">What is the outcome of this check?</h3>

			<form action="" method="post" class="form">
				
				{% set passHtml %}
					{{ govukCharacterCount({
						name: "gw-company-ofsted-pass",
						id: "gw-company-ofsted-pass",
						maxlength: 750,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}
				
				{% set rejectHtml %}
					{{ govukCharacterCount({
						name: "gw-company-ofsted-reject",
						id: "gw-company-ofsted-reject",
						maxlength: 750,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "gw-company-ofsted",
					name: "gw-company-ofsted",
					items: [
						{
							value: "Pass",
							text: "Pass",
							conditional: {
								html: passHtml
							},
							checked: checked("gw-company-ofsted", "Pass")
						},
						{
							value: "Reject",
							text: "Reject",
							conditional: {
								html: rejectHtml
							},
							checked: checked("gw-company-ofsted", "Reject")
						}
					]
				}) }}

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-1"
				}) }}

			</form>

			<p><a href="/staff-app/v7/applications/gateway/tasklist-company">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}
