{% extends "layout_application_v8.html" %}

{% block pageTitle %}
  RoATP Application Prototype v8
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-caption-l">Checks on your organisation</p>

      <h1 class="govuk-heading-l">Has your organisation had a contract terminated early by a public body in the last 3 years?</h1>

      <form action="" method="post" class="form">

        {% set detailHtml %}
          {{ govukCharacterCount({
            name: "dec-org-contractterminated-detail",
            id: "dec-org-contractterminated-detail",
            maxlength: 1500,
            label: {
              text: "Give us more information"
            },
            hint: {
              text: "You’ll need to include a brief summary of who this was with and why."
            },
            value: data['dec-org-contractterminated-detail']
          }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "dec-org-contractterminated",
          name: "dec-org-contractterminated",
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("dec-org-contractterminated", "yes"),
              conditional: {
                html: detailHtml
              }
            },
            {
              value: "no",
              text: "No",
              checked: checked("dec-org-contractterminated", "no")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue",
        classes: "govuk-!-margin-right-4"
      }) }}

      <p class="skipquestion" id="skipquestion"><a href="org-withdrawn-contract">Return to this question later</a></p>
      
        {% include "includes/v8/gethelp.html" %}

      </form>
    </div>
  </div>

{% endblock %}
