{% extends "layouts/layout_application_v8.html" %}

{% block pageTitle %}
  RoATP Application Prototype v8
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Introduction and what you'll need</span>

    <h1 class="govuk-heading-l">Criminal and compliance checks on who’s in control of your organisation</h1>

    <p class="govuk-body">This section is to ensure public funds, employers and apprentices are protected.</p>

    <p class="govuk-body">You’ll need to provide a brief summary if anyone who’s in control of your organisation has:</p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>had any criminal convictions</li>
      <li>failed to pay back funds to ESFA or any other public body</li>
      <li>been investigated for fraud or irregularities</li>
      <li>had a contract terminated by a public body</li>
      <li>had early withdrawal from a contract with a public body</li>
      <li>breached tax payments or social security contributions</li>
      <li>been removed from any charity register</li>
      <li>been removed from the Register of Removed Trustees</li>
      <li>been made bankrupt </li>
      <li>been subject to insolvency or winding up proceedings</li>
    </ul>

    <p class="govuk-body">Depending on the answers you give, we may ask for further information.</p>

    <form action="" method="post" class="form">

      {{ govukButton({
        text: "Continue with this section",
        classes: "govuk-!-margin-right-1"
      }) }}

      <p class="govuk-body"><a href="../task-list">Come back to this section later</a></p>
      
    </form>

  </div>
</div>

{% endblock %}
