{% set current_section = "register" %}
{% extends "layout_staff_v5.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
            
			<span class="govuk-caption-l">Add an organisation to the register</span>
			<h1 class="govuk-heading-xl">Enter the organisation’s legal name</h1>

			<form action="add-confirm" method="post" class="form">

					{{ govukInput({
						label: {
							text: "Legal name"
						},
						classes: "govuk-!-width-two-thirds",
						id: "staff-add-orgname",
						name: "staff-add-orgname",
						value: data['staff-add-orgname']
					}) }}

				{{ govukButton({
					text: "Change"
				}) }}

			</form>

		</div>
	</div>
      
{% endblock %}
      