{% set current_section = "applications" %}
{% extends "layouts/layout_mvpgateway_v2.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP dashboard",
				href: "/mvp-gateway/v2/dashboard"
			},
			{
				text: "RoATP applications",
				href: "/mvp-gateway/v2/applications/applications-gateway"
			},
			{
				text: "Application assessment overview",
				href: "/mvp-gateway/v2/applications/gateway/tasklist-company"
			},
			{
				text: "Organisation checks"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Organisation checks</span>
			<h1 class="govuk-heading-xl">Is the website address active and correct?</h1>

			<p class="govuk-body">
				UKPRN: 12345678<br>
				Legal name: ABC TRAINING LIMITED<br>
				Type of organisation: Company
			</p>

			<form action="" method="post" class="form">

				<table class="govuk-table">
					<thead class="govuk-table__head">
						<tr class="govuk-table__row">
							<th scope="col" class="govuk-table__header">Source</th>
							<th scope="col" class="govuk-table__header">Website</th>
							<th scope="col" class="govuk-table__header"></th>
						</tr>
					</thead>
					<tbody class="govuk-table__body">
						<tr class="govuk-table__row">
							<td class="govuk-table__cell">Submitted application</td>
							<td class="govuk-table__cell"><a href="" target="_blank">www.example.co.uk</a></td>
						</tr>
					</tbody>
				</table>
				
				{{ govukRadios({
					idPrefix: "gw-company-organisation-website",
					name: "gw-company-organisation-website",
					classes: "govuk-radios--inline",
					items: [
						{
							value: "Yes",
							text: "Yes",
							checked: checked("gw-company-organisation-website", "Yes")
						},
						{
							value: "No",
							text: "No",
							checked: checked("gw-company-organisation-website", "No")
						}
					]
				}) }}	

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-4"
				}) }}

			</form>

			<p><a href="/mvp-gateway/v2/applications/gateway/tasklist-company">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}