{% extends "layouts/layout_application_v15.html" %}

{% block pageTitle %}
  RoATP Application Prototype v15
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Introduction and what you'll need</span>

    <h1 class="govuk-heading-l">Readiness to engage</h1>

    <p class="govuk-body">For this section, you’ll need to know how your organisation will:</p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>engage with {% if data['org-selectedroute'] == "employer" %}employers and{% endif %} subcontractors</li>
      <li>manage its relationship with {% if data['org-selectedroute'] == "employer" %}employers and{% endif %} subcontractors</li>
      <li>assess prior learning - including English and maths qualifications</li>
    </ul>

    <p class="govuk-body">You’ll also need to upload your organisation’s:</p>
    
    <ul class="govuk-list govuk-list--bullet">
      {% if data['org-selectedroute'] == "employer" %}
      <li>complaints policy</li>
      <li>contract for services template with employers</li>
      {% endif %}
      <li>commitment statement template</li>
    </ul>

    {{ govukWarningText({
      text: "All policies and processes must be specific to your organisation, apprentices and trainers. They must also be signed by a senior employee. For example, a director or CEO. We will not accept policies or processes that are generic or taken from a third party.",
      iconFallbackText: "Warning"
    }) }}

    <form action="" method="post" class="form">

      {{ govukButton({
        text: "Continue with this section",
        classes: "govuk-!-margin-right-1"
      }) }}

      <p class="govuk-body"><a href="../task-list">Come back to this section later</a></p>
      
    </form>

  </div>
</div>

{% endblock %}
