{% extends "layout_application_v6.html" %}

{% block pageTitle %}
  RoATP Application Prototype v6
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-caption-l">Your organisation’s financial evidence</p>
        
    <h1 class="govuk-heading-l">Upload your organisation’s financial statements covering the last 12 months</h1>

    <p class="gov-body">Financial statements must include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>a ‘balance sheet’, showing the value of everything the organisation owns, owes and is owed on the last day of the financial year</li>
      <li>a ‘profit and loss account’, showing the organisation’s sales, running costs and the profit and loss it made over the financial year</li>
      <li>notes about the accounts</li>
      <li>a breakdown of creditors and borrowings</li>
    </ul>

    <p class="govuk-body">The financial statements you upload should be signed and filed with Companies House.</p>

    <form action="" method="post" class="form">
    
      {{ govukFileUpload({
        id: "fin-financial",
        name: "fin-financial",
        label: {
          text: "Upload a file"
        }
      }) }}

      {{ govukWarningText({
        text: "Financial statements must not be shortened or changed. If they are, you may fail this question.",
        iconFallbackText: "Warning"
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-4"
      }) }}

      <p class="skipquestion" id="skipquestion"><a href="../task-list">Return to this question later</a></p>
      
      {% include "includes/v6/gethelp.html" %}

    </form>
  </div>
</div>

{% endblock %}