{% extends "layout_application.html" %}

{% block pageTitle %}
  Select route - RoATP Organisation Prototype
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#">feedback</a> will helps us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "org-confirm-pscs-company"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">When did your organisation start trading?</h1>

    <p class="govuk-hint">Trading includes buying, selling, advertising, renting a property or employing someone.</p>

    <form action="/application/v0/organisation/org-trading" method="post" class="form">

      {{ govukDateInput({
        id: "org-trading",
        namePrefix: "org-trading",
        fieldset: {
          legend: {
            text: "Enter date",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        }, 
        hint: {
          text: "For example, 24 11 2007"
        },
        errorMessage: {
          text: "Enter the date your organisation started trading"
        },
        items: [
          {
            classes: "govuk-input--width-2 govuk-input--error",
            name: "day",
            value: data['org-trading-day']
          },
          {
            classes: "govuk-input--width-2 govuk-input--error",
            name: "month",
            value: data['org-trading-month']
          },
          {
            classes: "govuk-input--width-4 govuk-input--error",
            name: "year",
            value: data['org-trading-year']
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}

      {{ govukButton({
        text: "Save and sign out",
        href: "signout",
        classes: "govuk-button--secondary"
      }) }}

    </form>
  </div>
</div>

{% endblock %}
