{% extends "layouts/layout_application_v9.html" %}

{% block pageTitle %}
  RoATP Application Prototype v9
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Describe your organisation</span>
        
    <h1 class="govuk-heading-l">How will your organisation train its apprentices?</h1>

    <form action="" method="post" class="form">

      {{ govukRadios({
        idPrefix: "org-type-subtype",
        name: "org-type-subtype",
        items: [
          {
            value: "In your organisation",
            text: "In your organisation",
            checked: checked("org-type-subtype", "In your organisation")
          },
          {
            value: "In connected companies or charities",
            text: "In connected companies or charities",
            checked: checked("org-type-subtype", "In connected companies or charities")
          },
          {
            value: "In your organisation and connected companies or charities",
            text: "In your organisation and connected companies or charities",
            checked: checked("org-type-subtype", "In your organisation and connected companies or charities")
          }
        ]
      }) }}

      {{ govukDetails({
        summaryText: "What is a connected company or charity?",
        html: "<p>A connected company is part of the same group and has the same ultimate parent company as your organisation.</p>
        <p>A connected charity is part of the same group of charities and has a majority of the same controlling trustees as your organisation.</p>"
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}
      
      {% include "includes/v9/gethelp.html" %}

    </form>
  </div>
</div>

{% endblock %}