{% extends "layout_application_v9.html" %}

{% block pageTitle %}
  RoATP Application Prototype v9
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Experience and accreditations</span>

    <h1 class="govuk-heading-l">Is your organisation funded by the Office for Students (OfS)?</h1>

    <form action="" method="post" class="form">

      {{ govukRadios({
        idPrefix: "pro-funded",
        name: "pro-funded",
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: checked("pro-funded", "Yes"),
            conditional: {
              html: websiteHtml
            }
          },
          {
            value: "No",
            text: "No",
            checked: checked("pro-funded", "No")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}
      
      {% include "includes/v9/gethelp.html" %}

    </form>
  </div>
</div>

{% endblock %}