{% extends "layout_application_v2.html" %}

{% block pageTitle %}
  Organisation - RoATP Organisation Prototype
{% endblock %}

{% if data['org-ukprn'] == "12340202" %} <!-- Charity without company number -->
  {% set backlink_type = "org-trustees-confirm" %}
{% elseif data['org-ukprn'] == "12340201" %} <!-- Charity with a company number -->
  {% set backlink_type = "org-trustees-confirm" %}
{% elseif data['org-ukprn'] == "12340106" %} <!-- Organisation has no directors listed -->
  {% set backlink_type = "org-peopleincontrol-missing-confirm" %}

{% elseif data['org-ukprn'] == "12340202" %} <!-- Sole trader or partnership -->

  {% if data['org-legalstatus'] == "sole" %}
    {% set backlink_type = "org-legalstatus-sole-confirm" %}
  {% elseif data['org-legalstatus'] == "partnership" %}
    {% set backlink_type = "org-legalstatus-partnership-confirm" %}
  {% else %}
    {% set backlink_type = "org-otherorg-peopleincontrol" %}
  {% endif %}

{% else %}
  {% set backlink_type = "org-peopleincontrol" %}
{% endif %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#">feedback</a> will helps us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: backlink_type
  }) }}
  <a href="../signoutandsave" style="line-height: 1.25; margin-top: 15px; margin-bottom: 15px; float: right;">Save and sign out</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="" method="post" class="form">

      {% if (data['org-selectedroute'] == "employer") %}

      {{ govukRadios({
        idPrefix: "org-type",
        name: "org-type",
        fieldset: {
          legend: {
            text: "What is your organisation?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "education",
            text: "An educational institute",
            checked: checked("org-type", "education")
          },
          {
            value: "psb",
            text: "A public body",
            checked: checked("org-type", "psb")
          },
          {
            value: "none",
            text: "None of the above",
            checked: checked("org-type", "none")
          }
        ]
      }) }}

      {% else %}

      {{ govukRadios({
        idPrefix: "org-type",
        name: "org-type",
        fieldset: {
          legend: {
            text: "What is your organisation?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "education",
            text: "An educational institute",
            checked: checked("org-type", "education")
          },
          {
            value: "employer",
            text: "An employer training apprentices in other organisations",
            checked: checked("org-type", "employer")
          },
          {
            value: "psb",
            text: "A public body",
            checked: checked("org-type", "psb")
          },
          {
            value: "training",
            text: "A training organisation or agency",
            checked: checked("org-type", "training")
          }
        ]
      }) }}

      {% endif %}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}

    </form>
  </div>
</div>

{% endblock %}