{% set current_section = "applications" %}
{% extends "layouts/layout_mvpgateway_v3.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP dashboard",
				href: "/mvp-gateway/v3/dashboard"
			},
			{
				text: "RoATP applications",
				href: "/mvp-gateway/v3/applications/applications-gateway"
			},
			{
				text: "Application assessment overview",
				href: "/mvp-gateway/v3/applications/gateway/tasklist-company"
			},
			{
				text: "Organisation information"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Organisation information</span>
			<h1 class="govuk-heading-xl">Organisation information checks</h1>

			<p class="govuk-body">
				UKPRN: 12345678<br>
				Legal name: ABC TRAINING LIMITED<br>
				Type of organisation: Company
			</p>

			<table class="govuk-table">
				<tbody class="govuk-table__body">
					<!--tr class="govuk-table__row">
						<td class="govuk-table__header">Does the parent company name match for all sources?</td>
						<td class="govuk-table__cell">{{ data['gw-company-organisation-parent-name'] }}</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Is the parent company’s status ‘active’?</td>
						<td class="govuk-table__cell">{{ data['gw-company-organisation-parent-status'] }}</td>
					</tr-->
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Is the Information Commissioner's Office (ICO) registration number valid and correct?	</td>
						<td class="govuk-table__cell">{{ data['gw-company-organisation-ico'] }}</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Is the website address active and correct?</td>
						<td class="govuk-table__cell">{{ data['gw-company-organisation-website'] }}</td>
					</tr>
				</tbody>
			</table>

			<form action="" method="post" class="form">
				
				<h2 class="govuk-heading-l govuk-!-margin-top-9">What is the overall outcome of these checks?</h2>

				{% set passHtml %}
					{{ govukCharacterCount({
						name: "gw-company-organisation-info-pass",
						id: "gw-company-organisation-info-pass",
          	value: data['gw-company-organisation-info-pass'],
						maxwords: 150,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}
				
				{% set rejectHtml %}
					{{ govukCharacterCount({
						name: "gw-company-organisation-info-reject",
						id: "gw-company-organisation-info-reject",
          	value: data['gw-company-organisation-info-reject'],
						maxwords: 150,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "gw-company-organisation-info-conditional",
					name: "gw-company-organisation-info",
					items: [
						{
							value: "Pass",
							text: "Pass",
							conditional: {
								html: passHtml
							},
							checked: checked("gw-company-organisation-info", "Pass")
						},
						{
							value: "Reject",
							text: "Reject",
							conditional: {
								html: rejectHtml
							},
							checked: checked("gw-company-organisation-info", "Reject")
						},
						{
							divider: "or"
						},
						{
							value: "In progress",
							text: "In progress",
							checked: checked("gw-company-organisation-info", "In progress")
						}
					]
				}) }}

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-4"
				}) }}

			</form>

			<p><a href="/mvp-gateway/v3/applications/gateway/tasklist-company">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}