{% extends "layouts/layout_application_v5.html" %}

{% block pageTitle %}
  RoATP Application Prototype v5
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">How will your organisation engage with subcontractors?</h1>

      <p class="govuk-body">Your answer should include how your organisation will:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>carry out due diligence checks on subcontractors</li>
        <li>ensure extremist organisations are not funded</li>
        <li>ensure its commitments to ESFA are maintained through subcontractor delivery</li>
        <li>manage and monitor subcontractors to ensure they deliver high quality training</li>
        <li>manage subcontracting agreements including capacity and capability risks</li>
      </ul>

      <form action="" method="post" class="form">
      
        {{ govukCharacterCount({
          name: "rte-engage-subcontractors",
          id: "rte-engage-subcontractors",
          maxlength: 750
        }) }}

        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-right-1"
        }) }}
      
        {% include "includes/v5/gethelp.html" %}

      </form>
    </div>
  </div>

{% endblock %}
