{% extends "layout_application_v5.html" %}

{% block pageTitle %}
  RoATP Application Prototype v4
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post" class="form">

        {% set otherHtml %}
        {{ govukInput({
          id: "rte-promote-other",
          name: "rte-promote-other",
          type: "email",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: "Resource name(s)"
          },
          attributes: {
            spellcheck: "false"
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "rte-promote-conditional",
          name: "rte-promote",
          fieldset: {
            legend: {
              text: "Will your organisation use other resources to promote apprenticeships to employers? ",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "For example, the National Careers Service (NCS)."
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("rte-promote", "yes"),
              conditional: {
                html: otherHtml
              }
            },
            {
              value: "no",
              text: "No",
              checked: checked("rte-promote", "no")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-right-1"
        }) }}
      
        {% include "includes/gethelp.html" %}

      </form>
    </div>
  </div>

{% endblock %}
