{% set current_section = "applications" %}
{% extends "layouts/layout_mvpgateway_v3.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP dashboard",
				href: "/mvp-gateway/v3/dashboard"
			},
			{
				text: "RoATP applications",
				href: "/mvp-gateway/v3/applications/applications-gateway"
			},
			{
				text: "Application assessment overview",
				href: "/mvp-gateway/v3/applications/gateway/tasklist-company"
			},
			{
				text: "Organisation information"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Experience and accreditation</span>
			<h1 class="govuk-heading-xl">Experience and accreditation checks</h1>

			<p class="govuk-body">
				UKPRN: 12345678<br>
				Legal name: ABC TRAINING LIMITED<br>
				Type of organisation: Company
			</p>

			<table class="govuk-table">
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Is the organisation funded by the Office for Students (OfS) and on the OfS register?</td>
						<td class="govuk-table__cell">{{ data['gw-company-organisation-experience-ofs'] }}</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Is the organisation offering initial teacher training (ITT) and on the list of registered ITT?</td>
						<td class="govuk-table__cell">{{ data['gw-company-organisation-experience-itt'] }}</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Does the organisation meet our requirements for Ofsted?</td>
						<td class="govuk-table__cell">{{ data['gw-company-organisation-experience-ofsted'] }}</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Has the organisation delivered apprenticeship training as a subcontractor in the last 12 months and on the subcontractor list?</td>
						<td class="govuk-table__cell">{{ data['gw-company-organisation-experience-subcontractor'] }}</td>
					</tr>
				</tbody>
			</table>

			<form action="" method="post" class="form">
				
				<h2 class="govuk-heading-l govuk-!-margin-top-9">What is the overall outcome of these checks?</h2>

				{% set passHtml %}
					{{ govukCharacterCount({
						name: "gw-company-organisation-experience-pass",
						id: "gw-company-organisation-experience-pass",
          	value: data['gw-company-organisation-experience-pass'],
						maxwords: 150,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}
				
				{% set rejectHtml %}
					{{ govukCharacterCount({
						name: "gw-company-organisation-experience-reject",
						id: "gw-company-organisation-experience-reject",
          	value: data['gw-company-organisation-experience-reject'],
						maxwords: 150,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "gw-company-organisation-experience-conditional",
					name: "gw-company-organisation-experience",
					items: [
						{
							value: "Pass",
							text: "Pass",
							conditional: {
								html: passHtml
							},
							checked: checked("gw-company-organisation-experience", "Pass")
						},
						{
							value: "Reject",
							text: "Reject",
							conditional: {
								html: rejectHtml
							},
							checked: checked("gw-company-organisation-experience", "Reject")
						},
						{
							divider: "or"
						},
						{
							value: "In progress",
							text: "In progress",
							checked: checked("gw-company-organisation-experience", "In progress")
						}
					]
				}) }}

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-4"
				}) }}
        
        <!--p class="skipquestion" id="skipquestion"><a href="../../tasklist-company">Return to this check later</a></p-->

			</form>

			<p><a href="/mvp-gateway/v3/applications/gateway/tasklist-company">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}