{% extends "layouts/layout_application_v15.html" %}

{% block pageTitle %}
  Sign in - RoATP Organisation Prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">We’ve sent you an email</h1>

    <p class="govuk-body">We’ve sent an email to <strong>{{ data['forgottenEmail'] }}</strong>.</p>
    <p class="govuk-body">Use the link in the email to reset your password.</p>

    {{ govukDetails({
      summaryText: "I have not received the forgotten password email",
      text: "If you have not received the forgotten password email, check your junk folder or start again."
    }) }}

  </div>
</div>

{% endblock %}
