{% extends "layouts/layout_application_v9.html" %}

{% block pageTitle %}
  Service Start Page - RoATP Organisation Prototype
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Further education and skills</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Apprenticeships</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p class="govuk-body">Use this service to join the register of apprenticeship training providers (RoATP) so that you can train apprentices in the UK.</p>
      <p class="govuk-body">You must answer the first section in order as it determines the rest of the application questions. Once you do this, you can answer the rest of the application in any order.</p>
      <p class="govuk-body">We’ll guide you through the application and you’ll be able to ask for help on each page.</p>
      <p class="govuk-body">You do not have to complete your application in one go. You can save your details and finish it later.</p>
      <p class="govuk-body">Your organisation can only apply twice in a 12-month period.</p>
      <p class="govuk-body">You’ll need to allow at least 12 weeks for ESFA to process your application.</p>
      <p class="govuk-body">Once your organisation’s on the RoATP, it will be:</p>
      <ul class="govuk-list govuk-list--bullet">
				<li>listed on the <a href="https://download.apprenticeships.education.gov.uk/" target="_blank">register of apprenticeship training providers (opens in a new window or tab)</a></li>
				<li>listed on <a href="">find an apprenticeship (opens in a new window or tab)</a></li>
				<li>eligible to receive government funding to train apprentices</li>
			</ul>

      <p class="govuk-body">Being on the RoATP does not mean your organisation is recommended by Education and Skills Funding Agency (ESFA). It cannot use ESFA as a ‘kite-mark’ or an award and will not have an identification number for the RoATP.</p>

      <a href="/application/v15/haveanaccount" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Apply now</a>

      <h2 class="govuk-heading-m">What you’ll need</h2>

      <p class="govuk-body">Make sure your organisation has:</p>
      <ul class="govuk-list govuk-list--bullet">
				<li>a sign in account (if you do not have one, you can create one when you apply)</li>
				<li>a <a href="">UK provider reference number (opens in a new window or tab)</a></li>
				<li>an <a href="">Information Commissioner's Office registration number (opens in a new window or tab)</a></li>
				<li>a UK business address</li>
			</ul>

      <p class="govuk-body">Depending on your organisation and provider route, you may need to know:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>who’s in control of your organisation and their dates of birth</li>
        <li>your organisation’s financial figures </li>
        <li>if your organisation or anyone who’s in control has had any criminal convictions in the last 3 years and what they are</li>
        <li>how your organisation manages its relationship with employers and subcontractors</li>
        <li>who’s in your organisation’s management hierarchy for apprenticeships</li>
        <li>the sectors your organisation will offer apprenticeships in</li>
        <li>how your organisation plans to deliver apprenticeship training </li>
        <li>who will deliver apprenticeship training - including any sector specific experience and qualifications they might have </li>
        <li>how your organisation will evaluate training</li>
      </ul>

      <p class="govuk-body">Depending on your organisation and provider route, you may need to upload:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>financial evidence covering the last 12 months</li>
        <li>a continuity plan for apprenticeship training </li>
        <li>an equality and diversity policy </li>
        <li>a safeguarding policy </li>
        <li>a Prevent duty policy </li>
        <li>a health and safety policy </li>
        <li>a complaints policy </li>
        <li>a contract for services template with employers</li>
        <li>a commitment statement template</li>
        <li>a policy for professional development of employees</li>
      </ul>

    </div>

  </div>
{% endblock %}
