
{% set current_section = "applications" %}
{% extends "layouts/layout_mvpoversight_v1.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP applications",
				href: "/mvp-oversight/v1/list"
			},
			{
				text: "What’s the overall outcome of this application?"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-xl">Are you sure this is a {{ data['oversight-abc'] | lower }}?</h1>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<dl class="govuk-summary-list govuk-summary-list--overview govuk-!-margin-bottom-9">
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">UKPRN</dt>
					<dd class="govuk-summary-list__value">12345678</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Legal name</dt>
					<dd class="govuk-summary-list__value">ABC TRAINING LIMITED</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Provider route</dt>
					<dd class="govuk-summary-list__value">Main</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Application submitted date</dt>
					<dd class="govuk-summary-list__value">17 Oct 2019</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key" style="white-space: nowrap;">Application determined date</dt>
					<dd class="govuk-summary-list__value">10 Jan 2020</dd>
				</div>
			</dl>

			<form action="" method="post" class="form">

				<p class="govuk-body">We’ll send the applicant:</p>
				<ul class="govuk-list govuk-list--bullet">
				    <li>an overall outcome</li>
                    {% if data['oversight-abc'] == "Successful application" %}
				    <li>a financial health grade</li>
				    {% elseif data['oversight-abc'] == "Unsuccessful application" %}
				    <li>their application showing which questions they failed</li>
                    {% endif %}
				    <li>their next steps</li>
                </ul>
                {% if data['oversight-abc'] == "Successful application" %}
				<p class="govuk-body">We’ll also set this provider’s status as ‘on-boarding’ on the staff app.</p>
                {% endif %}

				{{ govukRadios({
					name: "oversight-abc-confirm",
					items: [
						{
							value: "Yes",
							text: "Yes"
						},
						{
							value: "No",
							text: "No"
						}
					]
				}) }}

				{{ govukButton({
					classes: "govuk-!-margin-top-5",
					text: "Save and continue"
				}) }}

			</form>
	
		</div>
	</div>

{% endblock %}