{% extends "layouts/layout_application_v7.html" %}

{% block pageTitle %}
  RoATP Application Prototype v7
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-caption-l">Organisation information</p>
    
    <h1 class="govuk-heading-l">What is {{ data['org-partners'][0]['name'] }}'s partner</h1>

    <p class="govuk-body">This includes changing your last name or spelling your name differently.</p>

    <form action="" method="post" class="form">

      {{ govukRadios({
        idPrefix: "org-partnership-choice",
        name: "org-partnership-choice",
        items: [
          {
            value: "individual",
            text: "An individual"
          },
          {
            value: "organisation",
            text: "An organisation"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}
      
      {% include "includes/v7/gethelp.html" %}

    </form>
  </div>
</div>

{% endblock %}