{% set current_section = "register" %}
{% extends "layouts/layout_mvpgateway_v3.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP dashboard",
				href: "/mvp-assessor/v4/dashboard"
			},
			{
				text: "Add a new training provider"
			}
		]
	}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
          titleText: data['staff-add-orgname'] + " has been added to the register"
      }) }}
      <br>
      <p class="govuk-body"><a href="../../dashboard">Back to staff dashboard</a></p>

    </div>
  </div>

{% endblock %}
