{% set current_section = "register" %}
{% extends "layouts/layout_staff_v7.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP dashboard",
				href: "/staff-app/v7/dashboard"
			},
			{
				text: "Add a new training provider"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
		
			<span class="govuk-caption-l">Add a new training provider</span>
			<form action="add-fromukrlp-determined" method="post" class="form">

				{% if (data['staff-add-route'] == "Employer provider")  %}

					{{ govukRadios({
						idPrefix: "staff-add-orgtype",
						name: "staff-add-orgtype",
						fieldset: {
							legend: {
								text: "Choose a type of organisation for ACME Solutions",
								isPageHeading: true,
								classes: "govuk-fieldset__legend--xl"
							}
						},
						items: [
							{
								value: "Employer training apprentices in own organisation",
								text: "Employer training apprentices in own organisation",
								checked: checked("staff-add-orgtype", "Employer training apprentices in own organisation")
							},
							{
								value: "Employer training apprentices within their connected companies",
								text: "Employer training apprentices within their connected companies",
								checked: checked("staff-add-orgtype", "Employer training apprentices within their connected companies")
							},
							{
								value: "Employer training apprentices in own organisation and those in their connected companies",
								text: "Employer training apprentices in own organisation and those in their connected companies",
								checked: checked("staff-add-orgtype", "Employer training apprentices in own organisation and those in their connected companies")
							}
						]
					}) }}

				{% else %}

					{{ govukRadios({
						idPrefix: "staff-add-orgtype",
						name: "staff-add-orgtype",
						fieldset: {
							legend: {
								text: "Choose a type of organisation for ACME Solutions",
								isPageHeading: true,
								classes: "govuk-fieldset__legend--xl"
							}
						},
						items: [
						{
							value: "Academy",
							text: "Academy",
							checked: checked("staff-add-orgtype", "Academy")
						},
						{
							value: "Central government department, executive agency, or Non-Departmental Public Body",
							text: "Central government department, executive agency, or Non-Departmental Public Body",
							checked: checked("staff-add-orgtype", "Central government department, executive agency, or Non-Departmental Public Body")
						},
						{
							value: "Delivery organisation connected to an Apprenticeship Training Agency (ATA)",
							text: "Delivery organisation connected to an Apprenticeship Training Agency (ATA)",
							checked: checked("staff-add-orgtype", "Delivery organisation connected to an Apprenticeship Training Agency (ATA)")
						},
						{
							value: "Employer training apprentices within their Connected Companies",
							text: "Employer training apprentices within their Connected Companies",
							checked: checked("staff-add-orgtype", "Employer training apprentices within their Connected Companies")
						},
						{
							value: "Employer training their own staff and those within other organisations",
							text: "Employer training their own staff and those within other organisations",
							checked: checked("staff-add-orgtype", "Employer training their own staff and those within other organisations")
						},
						{
							value: "Further Education Institution",
							text: "Further Education Institution",
							checked: checked("staff-add-orgtype", "Further Education Institution")
						},
						{
							value: "General Further Education College",
							text: "General Further Education College",
							checked: checked("staff-add-orgtype", "General Further Education College")
						},
						{
							value: "Group Training Association (GTA)",
							text: "Group Training Association (GTA)",
							checked: checked("staff-add-orgtype", "Group Training Association (GTA)")
						},
						{
							value: "Higher Education Institution (HEI)",
							text: "Higher Education Institution (HEI)",
							checked: checked("staff-add-orgtype", "Higher Education Institution (HEI)")
						},
						{
							value: "Independent Training Provider",
							text: "Independent Training Provider",
							checked: checked("staff-add-orgtype", "Independent Training Provider")
						},
						{
							value: "Local Authority, including LEA schools",
							text: "Local Authority, including LEA schools",
							checked: checked("staff-add-orgtype", "Local Authority, including LEA schools")
						},
						{
							value: "Multi-Academy Trust",
							text: "Multi-Academy Trust",
							checked: checked("staff-add-orgtype", "Multi-Academy Trust")
						},
						{
							value: "National College",
							text: "National College",
							checked: checked("staff-add-orgtype", "National College")
						},
						{
							value: "NHS Trust or Fire Authority",
							text: "NHS Trust or Fire Authority",
							checked: checked("staff-add-orgtype", "NHS Trust or Fire Authority")
						},
						{
							value: "Police Constabulary or Police and Crime Commissioner",
							text: "Police Constabulary or Police and Crime Commissioner",
							checked: checked("staff-add-orgtype", "Police Constabulary or Police and Crime Commissioner")
						},
						{
							value: "Sixth Form College",
							text: "Sixth Form College",
							checked: checked("staff-add-orgtype", "Sixth Form College")
						},
						{
							value: "None of the above",
							text: "None of the above",
							checked: checked("staff-add-orgtype", "None of the above")
						}
						]
					}) }}

				{% endif %}

				{{ govukButton({
					text: "Continue"
				}) }}

			</form>

		</div>
	</div>
      
{% endblock %}
      