{% set current_section = "applications" %}
{% extends "layouts/layout_mvpgateway_v1.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP dashboard",
				href: "/mvp-gateway/v1/dashboard"
			},
			{
				text: "RoATP applications",
				href: "/mvp-gateway/v1/applications/applications-gateway"
			},
			{
				text: "Application assessment overview",
				href: "/mvp-gateway/v1/applications/gateway/tasklist-company"
			},
			{
				text: "Initial checks"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Initial checks</span>
			<h1 class="govuk-heading-xl">Legal and address checks</h1>

			<!--h2 class="govuk-heading-l">Application data</h2-->
			<p class="govuk-body">
				UKPRN: 10053003<br>
				UKRLP verified with: Companies House<br>
				Application submitted on: 17 Oct 2019<br>
				Sources checked on: 27 Nov 2019
			</p>

			<form action="" method="post" class="form">

				<h2 class="govuk-heading-l govuk-!-margin-top-9" id="realtime">Does the legal name match for all sources?</h2>
				<table class="govuk-table">
					<thead class="govuk-table__head">
						<tr class="govuk-table__row">
							<th scope="col" class="govuk-table__header">Source</th>
							<th scope="col" class="govuk-table__header">Legal name</th>
						</tr>
					</thead>
					<tbody class="govuk-table__body">
						<tr class="govuk-table__row">
							<td class="govuk-table__header">Submitted application</td>
							<td class="govuk-table__cell">SAFRAN LANDING SYSTEMS UK LTD</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__header">UKRLP</td>
							<td class="govuk-table__cell">SAFRAN LANDING SYSTEMS UK LTD</td>
						</tr>
						<tr class="govuk-table__row">
							<td class="govuk-table__header">Companies House</td>
							<td class="govuk-table__cell">SAFRAN LANDING SYSTEMS UK LTD</td>
						</tr>
					</tbody>
				</table>
				
				{% set noHtml %}
					{{ govukCharacterCount({
						name: "gw-company-initial-legalname-no",
						id: "gw-company-initial-legalname-no",
          	value: data['gw-company-initial-legalname-no'],
						maxlength: 750,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "gw-company-initial-legalname",
					name: "gw-company-initial-legalname",
					classes: "govuk-radios--inline",
					items: [
						{
							value: "Yes",
							text: "Yes",
							checked: checked("gw-company-initial-legalname", "Yes")
						},
						{
							value: "No",
							text: "No",
							checked: checked("gw-company-initial-legalname", "No")
						}
					]
				}) }}
				

				<!--h2 class="govuk-heading-l govuk-!-margin-top-9">What is the outcome of this check?</h2-->
				

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-4"
				}) }}
        
        <!--p class="skipquestion" id="skipquestion"><a href="../../tasklist-company">Return to this check later</a></p-->

			</form>

			<p><a href="/mvp-gateway/v1/applications/gateway/tasklist-company">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}