{% set current_section = "register" %}
{% extends "layout_staff_v6.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}


	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
            
			<span class="govuk-caption-l">Search the register</span>
			<h1 class="govuk-heading-xl">Change charity registration number for ABC Assessments</h1>

			<form action="detail" method="post" class="form">

				{{ govukInput({
					label: {
						text: "Charity registration number"
					},
					classes: "govuk-!-width-one-third",
					id: "staff-change-charitynumber",
                    name: "staff-change-charitynumber"
				}) }}

				{{ govukButton({
					text: "Change"
				}) }}

			</form>

		</div>
	</div>
      
{% endblock %}
      