{% set current_section = "applications" %}
{% extends "layouts/layout_mvpgateway_v3.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP dashboard",
				href: "/mvp-gateway/v3/dashboard"
			},
			{
				text: "RoATP applications",
				href: "/mvp-gateway/v3/applications/applications-gateway"
			},
			{
				text: "Application assessment overview",
				href: "/mvp-gateway/v3/applications/gateway/tasklist-xyztraining"
			},
			{
				text: "Legal checks"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Organisation high risk</span>
			<h1 class="govuk-heading-xl">Check if the organisation is on the high risk list</h1>

			<p class="govuk-body">
				UKPRN: 12345678<br>
				Legal name: ABC TRAINING LIMITED<br>
				Type of organisation: Company<br>
			</p>

			<table class="govuk-table">
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Legal name</td>
						<td class="govuk-table__cell">ABC TRAINING LIMITED</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>

	<div class="govuk-grid-row govuk-!-margin-top-5">
		<div class="govuk-grid-column-two-thirds">

			<h3 class="govuk-heading-m">What is the overall outcome of this check?</h3>

			<form action="" method="post" class="form">
				
				{% set rejectHtml %}
					{{ govukCharacterCount({
						name: "gw-xyztraining-legal-highriskorg-reject",
						id: "gw-xyztraining-legal-highriskorg-reject",
          	value: data['gw-xyztraining-legal-highriskorg-reject'],
						maxwords: 150,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}
				
				{% set passHtml %}
					{{ govukCharacterCount({
						name: "gw-xyztraining-legal-highriskorg-pass",
						id: "gw-xyztraining-legal-highriskorg-pass",
          	value: data['gw-xyztraining-legal-highriskorg-pass'],
						maxwords: 150,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}
				
				{% set inprogressHtml %}
					{{ govukCharacterCount({
						name: "gw-xyztraining-legal-highriskorg-inprogress",
						id: "gw-xyztraining-legal-highriskorg-inprogress",
          	value: data['gw-xyztraining-legal-highriskorg-inprogress'],
						maxwords: 150,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "gw-xyztraining-legal-highriskorg-outcome",
					name: "gw-xyztraining-legal-highriskorg-outcome",
					items: [
						{
							value: "Pass",
							text: "Pass",
							conditional: {
								html: passHtml
							},
							checked: checked("gw-xyztraining-legal-highriskorg-outcome", "Pass")
						},
						{
							value: "Reject",
							text: "Reject",
							conditional: {
								html: rejectHtml
							},
							checked: checked("gw-xyztraining-legal-highriskorg-outcome", "Reject")
						},
						{
							divider: "or"
						},
						{
							value: "In progress",
							text: "In progress",
							conditional: {
								html: inprogressHtml
							},
							checked: checked("gw-xyztraining-legal-highriskorg-outcome", "In progress")
						}
					]
				}) }}

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-4"
				}) }}
				
			</form>

			<p><a href="/mvp-gateway/v3/applications/gateway/tasklist-xyztraining">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}
