{% extends "layout_application_v8.html" %}

{% block pageTitle %}
  RoATP Application Prototype v8
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-caption-l">Describe your organisation</p>
        
    <h1 class="govuk-heading-l">What type of school is your organisation?</h1>

    <form action="" method="post" class="form">

      {{ govukRadios({
        idPrefix: "org-type-education-school",
        name: "org-type-education-school",
        items: [
          {
            value: "Free school",
            text: "Free school",
            checked: checked("org-type-education-school", "Free school")
          },
          {
            value: "Local Education Authority (LEA) school",
            text: "Local Education Authority (LEA) school",
            checked: checked("org-type-education-school", "Local Education Authority (LEA) school")
          },
          {
            value: "None of the above",
            text: "None of the above",
            checked: checked("org-type-education-school", "None of the above")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}
      
      {% include "includes/v8/gethelp.html" %}

    </form>
  </div>
</div>

{% endblock %}