{% extends "layout_application_v8.html" %}

{% block pageTitle %}
  RoATP Application Prototype v8
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-caption-l">Tell us who’s in control</p>
        
      <h1 class="govuk-heading-l">Confirm who’s in control</h1>
      
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Name</th>
            <th class="govuk-table__header" scope="col">Date of birth</th>
            <th class="govuk-table__header" scope="col"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% for person in data['org-personincontrol-missing'] %}
          {% if (person.name != '') %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">{{ person.name }}</td>
              <td class="govuk-table__cell">{{ person.dob_month }} {{ person.dob_year }}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric"><a href="#">Change</a> &nbsp; <a href="#">Remove</a></td>
            </tr>
          {% endif %}
        {% endfor %}
        </tbody>
      </table>

      <p class="govuk_body"><a href="org-peopleincontrol-missing">Add another person</a></p>

      <form action="" method="post" class="form">

        {{ govukButton({
          text: "Confirm and continue",
          classes: "govuk-!-margin-right-1"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
