{% extends "layout_application_v8.html" %}

{% block pageTitle %}
  RoATP Application Prototype v8
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Organisation information</span>
        
    <h1 class="govuk-heading-l">Tell us your organisation’s type</h1>

    <form action="" method="post" class="form">

      {{ govukRadios({
        idPrefix: "org-legalstatus",
        name: "org-legalstatus",
        items: [
          {
            value: "sole",
            text: "Sole trader"
          },
          {
            value: "partnership",
            text: "Partnership"
          },
          {
            value: "publicbody",
            text: "Public body"
          }
        ]
      }) }}

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What is a sole trader or partnership?
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>A sole trader is someone who's self-employed and is the only owner of their business.</p>
          <p>A partnership is when two or more people agree to share the profits, costs and risks of running a business.</p>
        </div>
      </details>

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}
      
      {% include "includes/v8/gethelp.html" %}

    </form>
  </div>
</div>

{% endblock %}