{% set title="We've sent you an email" %}

{% extends "layout.html" %}

{% block header %}
  {% include "includes/header-join-register.html" %}
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    {% if pageSettings.prevPage != "" %}
    <a href="{{ pageSettings.prevPage }}" class="govuk-back-link">{{ pageContent.backButtonCaption }}</a>
    {% endif %}
{% endblock %}

{% block pageTitle %}
  {{ pageContent.title }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ pageContent.title }}</h1>
        {{ pageContent.content1 | safe }}
        
        <form method="post">
            <input type="hidden" name="pageName" value="{{ pageName }}" />
            {% if pageContent.greenButtonCaption != "" %}
               <input type="submit" class="govuk-button" value="{{ pageContent.greenButtonCaption }}" />
            {% endif %}
        </form>
        
        {% if pageContent.progressiveDisclosure %}
        <details class="govuk-details govuk-!-margin-top-7">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              {{ pageContent.progressiveDisclosure.title  }}
            </span>
          </summary>
          <div class="govuk-details__text">
            {{ pageContent.progressiveDisclosure.content | safe }}
          </div>
        </details>
        {% endif %}
        
    </div>
</div>

{% endblock %}
