{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v11.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP applications",
				href: "/staff-app/v11/applications/applications-assessor"
			},
			{
				text: "Application assessment overview",
				href: "/staff-app/v11/applications/assessor/tasklist-3127"
			},
			{
				text: "Protecting your apprentices"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Protecting your apprentices checks</span>
			<h1 class="govuk-heading-xl">Check the organisation’s Prevent duty policy</h1>

			<p class="govuk-body">
				Legal name: MY RECRUITMENT LIMITED<br>
				UKPRN: 12345678
			</p>
			
			<table class="govuk-table">
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<th class="govuk-table__header">Application question</th>
						<td class="govuk-table__cell">Upload your organisation’s Prevent duty policy</td>
					</tr>
					<tr class="govuk-table__row">
						<th class="govuk-table__header">Applicant’s answer</th>
						<td class="govuk-table__cell"><a href="https://www.thepriorfoundation.com/resources/files/policies/Prevent-Duty-Policy.pdf" target="_blank">myrecruitmentlimited-preventduty-policy.pdf</a></td>
					</tr>
				</tbody>
			</table>

			<p class="govuk-body">Check if the upload includes how the organisation will:</p>
			<ul class="govuk-list govuk-list--bullet">
				<li>promote the policy</li>
				<li>get commitment to the policy</li>
				<li>train employees in implementing the policy</li>
				<li>have a legal responsibility to fulfil the Prevent duty statement</li>
				<li>protect apprentices and employees from radicalising influences</li>
				<li>ensure apprentices and employees are resilient to extreme narratives</li>
				<li>identify changes in behaviour of apprentices and employees</li>
				<li>deal with any issues raised by apprentices or employees</li>
			</ul>

			<form action="" method="post" class="form">

				<h2 class="govuk-heading-m govuk-!-margin-top-9">What is the outcome of this check?</h2>

				<p class="govuk-body">Pass this check if the upload:</p>
				<ul class="govuk-list govuk-list--bullet">
					<li>includes all of the above bullet points</li>
					<li>is specific to the organisation, apprentices and trainers</li>
					<li>is signed by a senior employee</li>
				</ul>

				<p class="govuk-body">Fail this check if the upload:</p>
				<ul class="govuk-list govuk-list--bullet">
					<li>does not include all of the above bullet points</li>
					<li>is not specific to the organisation, apprentices and trainers</li>
					<li>is not signed by a senior employee</li>
				</ul>
				
				{% set passHtml %}
					{{ govukCharacterCount({
						name: "aac-3127-pya-prevent-upload-pass",
						id: "aac-3127-pya-prevent-upload-pass",
          	value: data['aac-3127-pya-prevent-upload-pass'],
						maxlength: 750,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}
				
				{% set failHtml %}
					{{ govukCharacterCount({
						name: "aac-3127-pya-prevent-upload-fail",
						id: "aac-3127-pya-prevent-upload-fail",
          	value: data['aac-3127-pya-prevent-upload-fail'],
						maxlength: 750,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}
				
				{% set clarifyHtml %}
					{{ govukCharacterCount({
						name: "aac-3127-pya-prevent-upload-clarify",
						id: "aac-3127-pya-prevent-upload-clarify",
          	value: data['aac-3127-pya-prevent-upload-clarify'],
						maxlength: 750,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "aac-3127-pya-prevent-upload-conditional",
					name: "aac-3127-pya-prevent-upload",
					items: [
						{
							value: "Pass",
							text: "Pass",
							checked: checked("aac-3127-pya-prevent-upload", "Pass")
						},
						{
							value: "Fail",
							text: "Fail",
							conditional: {
								html: failHtml
							},
							checked: checked("aac-3127-pya-prevent-upload", "Fail")
						}
					]
				}) }}

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-4"
				}) }}
        
        <p class="skipquestion" id="skipquestion"><a href="javascript:preventDefault();">Return to this check later</a></p>

			</form>

			<p><a href="/staff-app/v11/applications/assessor/tasklist-3127">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}