{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v11.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP applications",
				href: "/mvp-assessor/v3/applications/applications-assessor"
			},
			{
				text: "Application overview",
				href: "/mvp-assessor/v3/applications/tasklist-abc"
			},
			{
				text: "Application outcome"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<span class="govuk-caption-m">Assessor</span>
			<h1 class="govuk-heading-xl">Confirm application outcome</h1>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
	
			<dl class="govuk-summary-list govuk-summary-list--overview govuk-!-margin-bottom-9">
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">UKPRN</dt>
					<dd class="govuk-summary-list__value">12345678</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Legal name</dt>
					<dd class="govuk-summary-list__value">ABC TRAINING LIMITED</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Provider route</dt>
					<dd class="govuk-summary-list__value">Main</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Date application submitted</dt>
					<dd class="govuk-summary-list__value">17 Oct 2019</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key" style="white-space: nowrap;">Application reference number</dt>
					<dd class="govuk-summary-list__value">APR00001</dd>
				</div>
			</dl>



		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">

			<form action="" method="post" class="form">

				{% if data['aac-abc-outcome'] == "Request clarifications" %}
					
					<h2 class="govuk-heading-l govuk-!-margin-top-9">Request clarifications</h2>
					<p class="govuk-body">You're about to send a clarification request to the applicant for the questions listed below.</p>

					<!--p class="govuk-body">[display questions with notes here]</p-->
					{% if (data['feedback-abc-pya-continuity-policy'][0]) or 
								(data['feedback-abc-pya-equality-policy'][0]) or
								(data['feedback-abc-pya-safeguarding-policy'][0]) or 
								(data['feedback-abc-pya-safeguarding-responsible'][0]) or 
								(data['feedback-abc-pya-safeguarding-preventdutyincluded'][0]) or 
								(data['feedback-abc-pya-safeguarding-preventdutyupload'][0]) or 
								(data['feedback-abc-pya-healthandsafety-policy'][0]) or 
								(data['feedback-abc-pya-healthandsafety-responsible'][0]) 
					%}

						<h3 class="govuk-heading-m">Protecting your apprentices</h3>
						<table class="govuk-table">
							<thead class="govuk-table__body">
								<tr class="govuk-table__row">
									<th scope="row" class="govuk-table__header" style="vertical-align: top">Section</th>
									<th scope="row" class="govuk-table__header" style="vertical-align: top">Question</th>
								</tr>
							</thead>
							<tbody class="govuk-table__body">
								{% if data['aac-abc-pya-continuity-policy-feedback'] %}
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Continuity plan for apprenticeship training</td>
										<td class="govuk-table__cell">Upload your organisation’s continuity plan for apprenticeship training</td>
									</tr>
								{% endif %}
								{% if data['aac-abc-pya-equality-policy-feedback'] %}
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Equality and diversity policy</td>
										<td class="govuk-table__cell">Upload your organisation’s equality and diversity policy</td>
									</tr>
								{% endif %}
								{% if data['feedback-abc-pya-safeguarding-policy'] %}
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Safeguarding and Prevent duty policy</td>
										<td class="govuk-table__cell">Upload your organisation’s equality and diversity policy</td>
									</tr>
								{% endif %}
								{% if data['feedback-abc-pya-safeguarding-responsible'] %}
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Safeguarding and Prevent duty policy</td>
										<td class="govuk-table__cell">Tell us who has overall responsibility for safeguarding in your organisation</td>
									</tr>
								{% endif %}
								{% if data['feedback-abc-pya-safeguarding-preventdutyincluded'] %}
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Safeguarding and Prevent duty policy</td>
										<td class="govuk-table__cell">Does your organisation’s safeguarding policy include its responsibilities towards the Prevent duty?</td>
										<td class="govuk-table__cell">{{ data['aac-abc-pya-safeguarding-preventdutyincluded-feedback'] }}</td>
									</tr>
								{% endif %}
								{% if data['feedback-abc-pya-safeguarding-preventdutyupload'] %}
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Safeguarding and Prevent duty policy</td>
										<td class="govuk-table__cell">Upload your organisation’s Prevent duty policy</td>
									</tr>
								{% endif %}
								{% if data['feedback-abc-pya-healthandsafety-policy'] %}
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Health and safety policy</td>
										<td class="govuk-table__cell">Upload your organisation’s health and safety policy</td>
									</tr>
								{% endif %}
								{% if data['feedback-abc-pya-healthandsafety-responsible'] %}
									<tr class="govuk-table__row">
										<td class="govuk-table__cell">Health and safety policy</td>
										<td class="govuk-table__cell">Tell us who has overall responsibility for health and safety in your organisation</td>
									</tr>
								{% endif %}
							</tbody>
						</table>
					{% endif %}

					{{ govukButton({
						text: "Send clarification request",
						classes: "govuk-button__submit govuk-!-margin-top-5"
					}) }}

				{% endif %}

				{% if data['aac-abc-outcome'] == "Fail" %}

					<h2 class="govuk-heading-l govuk-!-margin-top-9">Fail application</h2>
					<p class="govuk-body">This application will be failed and this outcome will be passed on to governance.</p>

					{{ govukButton({
						text: "Fail application",
						classes: "govuk-button__submit govuk-!-margin-top-5"
					}) }}

				{% endif %}

				{% if data['aac-abc-outcome'] == "Pass" %}

					<h2 class="govuk-heading-l govuk-!-margin-top-9">Pass application</h2>
					<p class="govuk-body">This application will be passed and this outcome will be passed on to governance.</p>

					{{ govukButton({
						text: "Pass application",
						classes: "govuk-button__submit govuk-!-margin-top-5"
					}) }}

				{% endif %}
			
			</form>

			<p class="govuk-body govuk-!-margin-top-9"><a href="applications-assessor">Back to RoATP applications</a></p>

		</div>
	</div>

	

{% endblock %}