{% extends "layout_application_v11.html" %}

{% block pageTitle %}
  RoATP Application Prototype v11
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Your organisation’s financial evidence</span>
        
    <h1 class="govuk-heading-l">Upload your <span>UK ultimate parent company</span>’s consolidated financial statements</h1>

    <p class="gov-body">Consolidated financial statements must include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>balance sheet - showing the value of everything your organisation owns, owes and is owed on the last day of the financial year</li>
      <li>cash flow</li>
      <li>income statement</li>
    </ul>

    <p class="govuk-body">The file must be a PDF and smaller than 5MB.</p>

    <form action="" method="post" class="form">
    
      {{ govukFileUpload({
        id: "fin-fullstatements-upload",
        name: "fin-fullstatements-upload",
        label: {
          text: "Upload a file"
        }
      }) }}

      {{ govukWarningText({
        text: "Consolidated financial statements must not be abbreviated, filleted or for a micro entity.",
        iconFallbackText: "Warning"
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-4"
      }) }}

        <p class="skipquestion" id="skipquestion"><a href="../task-list#section-financial">Return to this question later</a></p>
      
      {% include "includes/v11/gethelp.html" %}

    </form>
  </div>
</div>

{% endblock %}