{% extends "layout_application_v9.html" %}

{% block pageTitle %}
  RoATP Application Prototype v9
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "../pro-ofsted-apprenticeships-date"
  }) }}
  <a href="#" style="line-height: 1.25; margin-top: 15px; margin-bottom: 15px; float: right;">Sign out</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Your organisation is not eligible to apply to join RoATP</h1>
      <p class="govuk-body">This is because your organisation was awarded an ‘inadequate’ grade within the last 3 years.</p>
      <p><a class ="govuk-link" href="#">Back to GOV.UK</a></p>
    </div>
  </div>

{% endblock %}
