{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v11.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP applications",
				href: "/mvp-assessor/v4/applications/applications-assessor"
			},
			{
				text: "Application overview",
				href: "/mvp-assessor/v4/applications/tasklist-xyz"
			},
			{
				text: "Application outcome"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-9">
				<h1 class="govuk-panel__title">Assessor outcome</h1>
				<div class="govuk-panel__body">
					<strong>

					{% if data['feedback-count'] == 0 %}Passed{% endif %}
					{% if data['aac-xyz-outcome'] == "Request clarifications" %}Clarifications requested{% endif %}
					{% if data['aac-xyz-outcome'] == "Fail" %}Failed{% endif %}
					</strong>
				</div>
			</div>

			<p class="govuk-body"><a href="applications-assessor">Back to RoATP applications</a></p>

		</div>
	</div>

	

{% endblock %}