{% set serviceName = "ESFA admin services" %}
{% extends "layout.html" %}

{% block header %}
   {{ govukHeader({
        serviceName: "ESFA admin services"
   }) }}
{% endblock %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "add-confirm"
  }) }}
{% endblock %}

{% block content %}


	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<span class="govuk-caption-l">Add an organisation to the register</span>
			<form action="add-confirm" method="post" class="form">

				{{ govukRadios({
					idPrefix: "staff-add-orgtype",
					name: "staff-add-orgtype",
					fieldset: {
						legend: {
							text: "Choose a type of organisation for " + data['staff-add-orgname'],
							isPageHeading: true,
							classes: "govuk-fieldset__legend--xl"
						}
					},
					items: [
						{
							value: "Academy",
							text: "Academy",
							checked: checked("staff-add-orgtype", "Academy")
						},
						{
							value: "Central government department, executive agency, or Non-Departmental Public Body",
							text: "Central government department, executive agency, or Non-Departmental Public Body",
							checked: checked("staff-add-orgtype", "Central government department, executive agency, or Non-Departmental Public Body")
						},
						{
							value: "Delivery organisation connected to an Apprenticeship Training Agency (ATA)",
							text: "Delivery organisation connected to an Apprenticeship Training Agency (ATA)",
							checked: checked("staff-add-orgtype", "Delivery organisation connected to an Apprenticeship Training Agency (ATA)")
						},
						{
							value: "Employer training apprentices within their Connected Companies",
							text: "Employer training apprentices within their Connected Companies",
							checked: checked("staff-add-orgtype", "Employer training apprentices within their Connected Companies")
						},
						{
							value: "Employer training their own staff and those within other organisations",
							text: "Employer training their own staff and those within other organisations",
							checked: checked("staff-add-orgtype", "Employer training their own staff and those within other organisations")
						},
						{
							value: "Further Education Institution",
							text: "Further Education Institution",
							checked: checked("staff-add-orgtype", "Further Education Institution")
						},
						{
							value: "General Further Education College",
							text: "General Further Education College",
							checked: checked("staff-add-orgtype", "General Further Education College")
						},
						{
							value: "Group Training Association (GTA)",
							text: "Group Training Association (GTA)",
							checked: checked("staff-add-orgtype", "Group Training Association (GTA)")
						},
						{
							value: "Higher Education Institution (HEI)",
							text: "Higher Education Institution (HEI)",
							checked: checked("staff-add-orgtype", "Higher Education Institution (HEI)")
						},
						{
							value: "Independent Training Provider",
							text: "Independent Training Provider",
							checked: checked("staff-add-orgtype", "Independent Training Provider")
						},
						{
							value: "Local Authority, including LEA schools",
							text: "Local Authority, including LEA schools",
							checked: checked("staff-add-orgtype", "Local Authority, including LEA schools")
						},
						{
							value: "Multi-Academy Trust",
							text: "Multi-Academy Trust",
							checked: checked("staff-add-orgtype", "Multi-Academy Trust")
						},
						{
							value: "National College",
							text: "National College",
							checked: checked("staff-add-orgtype", "National College")
						},
						{
							value: "NHS Trust or Fire Authority",
							text: "NHS Trust or Fire Authority",
							checked: checked("staff-add-orgtype", "NHS Trust or Fire Authority")
						},
						{
							value: "Police Constabulary or Police and Crime Commissioner",
							text: "Police Constabulary or Police and Crime Commissioner",
							checked: checked("staff-add-orgtype", "Police Constabulary or Police and Crime Commissioner")
						},
						{
							value: "Sixth Form College",
							text: "Sixth Form College",
							checked: checked("staff-add-orgtype", "Sixth Form College")
						},
						{
							value: "None of the above",
							text: "None of the above",
							checked: checked("staff-add-orgtype", "None of the above")
						}
					]
				}) }}

				{{ govukButton({
					text: "Change"
				}) }}

			</form>

		</div>
	</div>
      
{% endblock %}
      