{% extends "layout_application_v11.html" %}

{% block pageTitle %}
  RoATP Application Prototype v12
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-xl">Are you sure you want to change your organisation’s UKPRN?</h1>

    <p class="govuk-body">If you change your organisation’s UKPRN, you’ll need to restart your application.</p>

    <form action="" method="post" class="form">

      {{ govukRadios({
        idPrefix: "change-ukprn",
        name: "change-ukprn",
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}

    </form>

  </div>
{% endblock %}
