{% extends "layout_application_v11.html" %}

{% block pageTitle %}
  RoATP Application Prototype v12
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Select route</span>

    <h1 class="govuk-heading-l">Choose your organisation’s provider route</h1>

    <form method="post" class="form">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="org-selectedroute" name="org-selectedroute" type="radio" value="main">
              <label class="govuk-label govuk-radios__label" for="org-selectedroute">
                Main provider
              </label>
              <span id="org-selectedroute-item-hint" class="govuk-hint govuk-radios__hint">
                <p class="govuk-hint">Your organisation will directly deliver training to apprentices for other organisations.</p>
                <p class="govuk-hint">While doing this, it can also train:</p>
                <ul class="govuk-list govuk-list--bullet govuk-hint">
                  <li>its own employees</li>
                  <li>employees of connected companies or charities</li>
                  <li>act as a subcontractor for other main and employer providers</li>
                </ul>
              </span>
            </div>
            {% if data['org-selectedroute-employer-nonlevy'] != "Yes" %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="org-selectedroute-2" name="org-selectedroute" type="radio" value="employer">
              <label class="govuk-label govuk-radios__label" for="org-selectedroute-2">
                Employer provider
              </label>
              <span id="org-selectedroute-2-item-hint" class="govuk-hint govuk-radios__hint">
                <p class="govuk-hint">Your organisation will directly deliver training to its own employees.</p>
                <p class="govuk-hint">While doing this, it can also train:</p>
                <ul class="govuk-list govuk-list--bullet govuk-hint">
                  <li>employees of connected companies or charities</li>
                  <li>act as a subcontractor for other employer or main providers</li>
                </ul>
              </span>
            </div>
            {% endif %}
            {% if data['org-ukprn'] != "12340501" %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="org-selectedroute-3" name="org-selectedroute" type="radio" value="supporting">
              <label class="govuk-label govuk-radios__label" for="org-selectedroute-3">
                Supporting provider
              </label>
              <span id="org-selectedroute-3-item-hint" class="govuk-hint govuk-radios__hint">
                <p class="govuk-hint">Your organisation will act as a subcontractor for main and employer providers to train apprentices up to a maximum of £500,000 per year.</p>
                <p class="govuk-hint">If your organisation is new on the register, it will be limited to £100,000 in its first year.</p>
              </span>
            </div>
            {% endif %}
          </div>
        </fieldset>
      </div>
      <!--
      {{ govukRadios({
        idPrefix: "org-selectedroute",
        name: "org-selectedroute",
        items: [
          {
            value: "main",
            text: "Main provider",
            checked: checked("org-selectedroute", "main"),
            hint: {
              html: '<p class="govuk-hint">Your organisation will directly deliver training to apprentices for other organisations.</p>
              <p class="govuk-hint">While doing this, it can also train:</p>
              <ul class="govuk-list govuk-list--bullet govuk-hint">
              <li>its own employees</li>
              <li>employees of connected companies or charities</li>
              <li>act as a subcontractor for other main and employer providers</li>
              </ul>'
            }
          },
          {
            value: "employer",
            text: "Employer provider",
            checked: checked("org-selectedroute", "employer"),
            hint: {
              html: '<p class="govuk-hint">Your organisation will directly deliver training to its own employees.</p>
              <p class="govuk-hint">While doing this, it can also train:</p>
              <ul class="govuk-list govuk-list--bullet govuk-hint">
              <li>employees of connected companies or charities</li>
              <li>act as a subcontractor for other employer or main providers</li>
              </ul>'
            }
          },
          {
            value: "supporting",
            text: "Supporting provider",
            checked: checked("org-selectedroute", "supporting"),
            hint: {
              html: '<p class="govuk-hint">Your organisation will act as a subcontractor for main and employer providers to train apprentices up to a maximum of £500,000 per year.</p>
              <p class="govuk-hint">If your organisation is new on the register, it will be limited to £100,000 in its first year.</p>'
            }
          }
        ]
      }) }}
-->
      {{ govukDetails({
        summaryText: "What is a connected company or charity?",
        html: '<p class="govuk-body">A connected company is part of the same group and has the same ultimate parent company as your organisation.</p><p class="govuk-body">A connected charity is part of the same group of charities and has a majority of the same controlling trustees as your organisation.</p>'
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}
      
      {% include "includes/v12/gethelp.html" %}

    </form>
  </div>
</div>

{% endblock %}
