{% extends "layouts/layout_application_v12.html" %}

{% block pageTitle %}
  Sign in - RoATP Organisation Prototype
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">We have signed you out</h1>

    <p class="govuk-body">You can check the progress of your application by signing in using the link on <a href="index" target="_blank">the RoATP GOV.UK page (opens in a new window or tab)</a>.</p>
    <p class="govuk-body"><a href="https://www.gov.uk/">Back to GOV.UK</a></p>

  </div>
</div>

{% endblock %}
