{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v12.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP assessor applications",
				href: "/staff-app/v12/applications/applications-assessor"
			},
			{
				text: "Assessor outcome saved"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
		
			<div class="govuk-panel govuk-panel--confirmation  govuk-!-margin-bottom-9">
				<h1 class="govuk-panel__title">
					Assessor outcome saved
				</h1>
				<div class="govuk-panel__body">
					Outcome saved as:
					<strong>
					{% if data['aac-mod-3127-outcome'] == 'Pass this application' %}
					Pass
					{% elseif data['aac-mod-3127-outcome'] == 'Fail this application' %}
					Fail
					{% elseif data['aac-mod-3127-outcome'] == 'Ask for clarification' %}
					Clarification
					{% endif %}
					</strong>
				</div>
			</div>
			<dl class="govuk-summary-list govuk-summary-list--overview govuk-!-margin-bottom-9">
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">UKPRN</dt>
					<dd class="govuk-summary-list__value">12345678</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Legal name</dt>
					<dd class="govuk-summary-list__value">MY RECRUITMENT LIMITED</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Provider route</dt>
					<dd class="govuk-summary-list__value">Main</dd>
				</div>
				<div class="govuk-summary-list__row">
					<dt class="govuk-summary-list__key">Application submitted date</dt>
					<dd class="govuk-summary-list__value">18 Oct 2019</dd>
				</div>
			</dl>
			<p><a href="/staff-app/v12/applications/applications-assessor">Go to RoATP assessor applications</a></p>

		</div>
	</div>

{% endblock %}
