{% extends "layout_application_v5.html" %}

{% block pageTitle %}
  RoATP Application Prototype v4
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="" method="post" class="form">

      {% set ofstedHtml %}
        {{ govukDateInput({
          id: "pro-ofsted-feskills-date",
          namePrefix: "pro-ofsted-feskills-date",
          fieldset: {
            legend: {
              text: "What was the publication date of your Ofsted report?",
              isPageHeading: false
            }
          }, 
          hint: {
            text: "You can find this on the Ofsted website."
          }
        }) }}
      {% endset -%}

      {{ govukRadios({
        idPrefix: "pro-ofsted-feskills",
        name: "pro-ofsted-feskills",
        fieldset: {
          legend: {
            text: "Has your organisation had an Ofsted inspection in further education and skills?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: checked("pro-ofsted-feskills", "yes"),
            conditional: {
              html: ofstedHtml
            }
          },
          {
            value: "no",
            text: "No",
            checked: checked("pro-ofsted-feskills", "no")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}
      
      {% include "includes/gethelp.html" %}

    </form>
  </div>
</div>

{% endblock %}