{% extends "layout_application_v5.html" %}

{% block pageTitle %}
  RoATP Application Prototype v5
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="" method="post" class="form">

      {{ govukRadios({
        idPrefix: "pro-funded",
        name: "pro-funded",
        fieldset: {
          legend: {
            text: "Is your organisation funded by the Office for Students (OfS)?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: checked("pro-funded", "yes"),
            conditional: {
              html: websiteHtml
            }
          },
          {
            value: "no",
            text: "No",
            checked: checked("pro-funded", "no")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}
      
      {% include "includes/gethelp.html" %}

    </form>
  </div>
</div>

{% endblock %}