{% extends "layouts/layout_application_v5.html" %}

{% block pageTitle %}
  RoATP Application Prototype v5
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="" method="post" class="form">

      <h1 class="govuk-heading-l">Does your organisation offer initial teacher training?</h1>
      <p class="govuk-body">This means your organisation has been accredited by the Department for Education (DfE) to offer initial teacher training. </p>
      <p class="govuk-body">Find out more about <a href="https://www.gov.uk/government/collections/initial-teacher-training" target="_blank">initial teacher training (opens in a new window)</a>.</p>

      {{ govukRadios({
        idPrefix: "pro-itt",
        name: "pro-itt",
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: checked("pro-itt", "yes")
          },
          {
            value: "no",
            text: "No",
            checked: checked("pro-itt", "no")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}
      
      {% include "includes/v5/gethelp.html" %}

    </form>
  </div>
</div>

{% endblock %}