
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK RoATP Prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        RoATP Prototypes
      </h1>

      <h2 class="govuk-heading-m">RoATP Application Journey</h2>
          
      <p class="govuk-body">
        <strong class="govuk-tag app-task-list__task-completed" style="float: none; font-size: 0.75em;">WIP</strong><br>
        <a href="/application/v5">Application journey v5</a><br>
        <!--strong class="govuk-tag app-task-list__task-completed" style="float: none; background: green; font-size: 0.75em;">FOR TESTING</strong-->
        <span class="govuk-caption-m">Added on: 31/07/2019</span>
      </p>
          
      <p class="govuk-body" style="margin-bottom: 0;">Scenarios set with UKPRN: 
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>12340101: Organisation with all possible details from UKRLP</li>
            <li>12340102: Organisation has no website or trading name on UKRLP</li>
            <li>12340103: Organisation has no directors listed</li>
          </ul>
          <ul class="govuk-list govuk-list--bullet">
            <li>12340201: Charity with a company number</li>
            <li>12340202: Charity without a company number</li>
            <li>12340203: Charity (not a company) with no trustees listed</li>
          </ul>
          <ul class="govuk-list govuk-list--bullet">
            <li style="margin-bottom: 0;">12340301: Not a company (e.g. Sole trader, partnership, or PSB/SI)</li>
          </ul>
          <ul class="govuk-list govuk-list--bullet">
            <li>12340401: Organisation is inactive on UKRLP</li>
            <li>12340402: Organisation is already on the register</li>
            <li>12340403: Incorporation date less than 12 months ago (3 months for supporting)</li>
            <li>12340404: Organisation removed from the register</li>
          </ul>
        </div>
      </p>
          
      <!--p class="govuk-body" style="margin-bottom: 0;">Scenarios set with login: 
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>main@financial.upload
              <ul class="govuk-list govuk-list--bullet" style="list-style-type: circle;">
                <li>'Your organisation' complete</li>
                <li>ITT and Postgrad, no Ofsted inspections</li>
              </ul>
            </li>
            <li>main@company.profile
              <ul class="govuk-list govuk-list--bullet" style="list-style-type: circle;">
                <li>Jump to 'Organisation profile'</li>
                <li>All company details found on UKRLP</li>
              </ul>
            </li>
            <li>main-parentcompany@organisation.complete
              <ul class="govuk-list govuk-list--bullet" style="list-style-type: circle;">
                <li>'Your organisation' complete</li>
                <li>Organisation has a parent company</li>
                <li>ITT and Postgrad, no Ofsted inspections</li>
              </ul>
            </li>
            <li>main@hei.profile
              <ul class="govuk-list govuk-list--bullet" style="list-style-type: circle;">
                <li>Jump to 'Organisation profile'</li>
                <li>Higher Education Institute funded by OfS</li>
              </ul>
            </li>
          </ul>
        </div>
      </p-->

      <h3 class="govuk-heading-s" style="margin-bottom: 0;">Archived versions of RoATP Application Journey</h3>
        <div class="govuk-details__text">
          
          <ul class="govuk-list govuk-list--bullet">

            <li class="govuk-!-margin-bottom-4">
              <p class="govuk-body" style="margin-bottom: 0;">
                <a href="/application/v4">Application journey v4</a><br>
                <strong class="govuk-tag app-task-list__task-completed" style="float: none; background: green; font-size: 0.75em;">FOR TESTING</strong>
                <span class="govuk-caption-m">Added on: 16/07/2019</span>
              </p>
              <details class="govuk-details" style="margin-bottom: 0;">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Scenarios set with UKPRN
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <ul class="govuk-list govuk-list--bullet">
                    <li>12340101: Organisation with all possible details from UKRLP</li>
                    <li>12340102: Organisation has no website or trading name on UKRLP</li>
                    <li>12340103: Organisation has no directors listed</li>
                  </ul>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>12340201: Charity with a company number</li>
                    <li>12340202: Charity without a company number</li>
                    <li>12340203: Charity (not a company) with no trustees listed</li>
                  </ul>
                  <ul class="govuk-list govuk-list--bullet">
                    <li style="margin-bottom: 0;">12340301: Not a company (e.g. Sole trader, partnership, or PSB/SI)</li>
                  </ul>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>12340401: Organisation is inactive on UKRLP</li>
                    <li>12340402: Organisation is already on the register</li>
                    <li>12340403: Incorporation date less than 12 months ago (3 months for supporting)</li>
                    <li>12340404: Organisation removed from the register</li>
                  </ul>
                </div>
              </details>
            </li>

            <li class="govuk-!-margin-bottom-4">
              <p class="govuk-body" style="margin-bottom: 0;">
                <a href="/application/v3">Application journey v3</a><br>
                <strong class="govuk-tag app-task-list__task-completed" style="float: none; background: black; font-size: 0.75em;">TESTED</strong>
                <span class="govuk-caption-m">
                Research findings: <a href="https://skillsfundingagency.atlassian.net/wiki/spaces/NDL/pages/1160937779/Application+Journey+Alpha+Findings#ApplicationJourneyAlphaFindings-App_v3" target="_blank">17th - 19th Jul 2019</a><br>Added on: 03/07/2019</span>
              </p>
              <details class="govuk-details" style="margin-bottom: 0;">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Scenarios set with UKPRN
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <ul class="govuk-list govuk-list--bullet">
                    <li>12340101: Happy path - all org details from UKRLP</li>
                    <li><span style="background-color: #FFF963">12340102: Organisation has no website or trading name</span></li>
                    <li>12340103: Inactive organisation</li>
                    <!--li><s>12340104: Organisation with a parent company</s></li-->
                    <li>12340105: Incorporation date less than 12 months ago (3 months for supporting)</li>
                    <li>12340106: Organisation has no directors listed</li>
                  </ul>
                  <ul class="govuk-list govuk-list--bullet">
                    <li><span style="background-color: #FFF963">12340201: Charity with a company number</span></li>
                    <li><span style="background-color: #FFF963">12340202: Charity without a company number</span></li>
                  </ul>
                  <ul class="govuk-list govuk-list--bullet">
                    <li style="margin-bottom: 0;">12340301: Not a company (e.g. Sole trader, partnership, or PSB/SI)</li>
                  </ul>
                </div>
              </details>
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Scenarios set with login
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <ul class="govuk-list govuk-list--bullet">
                    <li>main@financial.upload
                      <ul class="govuk-list govuk-list--bullet" style="list-style-type: circle;">
                        <li>'Your organisation' complete</li>
                        <li>ITT and Postgrad, no Ofsted inspections</li>
                      </ul>
                    </li>
                    <li>main@company.profile
                      <ul class="govuk-list govuk-list--bullet" style="list-style-type: circle;">
                        <li>Jump to 'Organisation profile'</li>
                        <li>All company details found on UKRLP</li>
                      </ul>
                    </li>
                    <li>main-parentcompany@organisation.complete
                      <ul class="govuk-list govuk-list--bullet" style="list-style-type: circle;">
                        <li>'Your organisation' complete</li>
                        <li>Organisation has a parent company</li>
                        <li>ITT and Postgrad, no Ofsted inspections</li>
                      </ul>
                    </li>
                    <li>main@hei.profile
                      <ul class="govuk-list govuk-list--bullet" style="list-style-type: circle;">
                        <li>Jump to 'Organisation profile'</li>
                        <li>Higher Education Institute funded by OfS</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </details>
            </li>
            <li class="govuk-!-margin-bottom-4">
              <p class="govuk-body" style="margin-bottom: 0;">
                <a href="/application/v2">Application journey v2</a><br>
                <strong class="govuk-tag app-task-list__task-completed" style="float: none; background: black; font-size: 0.75em;">TESTED</strong>
                <span class="govuk-caption-m">
                Research findings: <a href="https://skillsfundingagency.atlassian.net/wiki/spaces/NDL/pages/1160937779/Application+Journey+Alpha+Findings#ApplicationJourneyAlphaFindings-app_v2" target="_blank">3rd - 5th Jul 2019</a><br>Added on: 18/06/2019</span>
              </p>
              <details class="govuk-details" style="margin-bottom: 0;">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Scenarios set with UKPRN
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <ul class="govuk-list govuk-list--bullet">
                    <li>12340101: Happy path - all org details from UKRLP</li>
                    <li>12340102: Organisation has no website or trading name</li>
                    <li>12340103: Inactive organisation</li>
                    <!--li><s>12340104: Organisation with a parent company</s></li-->
                    <li>12340105: Incorporation date less than 12 months ago (3 months for supporting)</li>
                    <li>12340106: Organisation has no directors listed</li>
                  </ul>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>12340201: Charity with a company number</li>
                    <li>12340202: Charity without a company number</li>
                  </ul>
                  <ul class="govuk-list govuk-list--bullet">
                    <li style="margin-bottom: 0;">12340301: Not a company (e.g. Sole trader, partnership, or PSB/SI)</li>
                  </ul>
                </div>
              </details>
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Scenarios set with login
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <ul class="govuk-list govuk-list--bullet">
                    <li>main@financial.upload
                      <ul class="govuk-list govuk-list--bullet" style="list-style-type: circle;">
                        <li>'Your organisation' complete</li>
                        <li>ITT and Postgrad, no Ofsted inspections</li>
                      </ul>
                    </li>
                    <li>main@company.profile
                      <ul class="govuk-list govuk-list--bullet" style="list-style-type: circle;">
                        <li>Jump to 'Organisation profile'</li>
                        <li>All company details found on UKRLP</li>
                      </ul>
                    </li>
                    <li>main-parentcompany@organisation.complete
                      <ul class="govuk-list govuk-list--bullet" style="list-style-type: circle;">
                        <li>'Your organisation' complete</li>
                        <li>Organisation has a parent company</li>
                        <li>ITT and Postgrad, no Ofsted inspections</li>
                      </ul>
                    </li>
                    <li>main@hei.profile
                      <ul class="govuk-list govuk-list--bullet" style="list-style-type: circle;">
                        <li>Jump to 'Organisation profile'</li>
                        <li>Higher Education Institute funded by OfS</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </details>
            </li>
            <li class="govuk-!-margin-bottom-4">
              <a href="/application/v1">Application journey v1</a><br>
              <strong class="govuk-tag app-task-list__task-completed" style="float: none; background: black; font-size: 0.75em;">TESTED</strong>
              <span class="govuk-caption-m">
                Research findings: <a href="https://skillsfundingagency.atlassian.net/wiki/spaces/NDL/pages/1160937779/Application+Journey+Alpha+Findings#ApplicationJourneyAlphaFindings-app_v1" target="_blank">19th - 20th Jun 2019</a><br>Added on: 04/06/2019</span>
            </li>
            <li class="govuk-!-margin-bottom-4">
              <a href="/application/v0">Application journey v0</a><br>
              <strong class="govuk-tag app-task-list__task-completed" style="float: none; background: black; font-size: 0.75em;">TESTED</strong>
              <span class="govuk-caption-m">
                Research findings: <a href="https://skillsfundingagency.atlassian.net/wiki/spaces/NDL/pages/1160937779/Application+Journey+Alpha+Findings#ApplicationJourneyAlphaFindings-app_v0" target="_blank">5th - 7th Jun 2019</a><br>
                Added on: 17/05/2019
              </span>
            </li>
            <li class="govuk-!-margin-bottom-4">
              <a href="/organisation/v0">
                Organisation section v0<br>
              <strong class="govuk-tag app-task-list__task-completed" style="float: none; background: black; font-size: 0.75em;">TESTED</strong>
              </a>
              <span class="govuk-caption-m">
                Research findings: <a href="https://skillsfundingagency.atlassian.net/wiki/spaces/NDL/pages/1160937779/Application+Journey+Alpha+Findings#ApplicationJourneyAlphaFindings-org_v0" target="_blank">7th - 10th May 2019</a><br>
                Last updated: 07/05/2019
              </span>
            </li>
          </ul>

        </div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m">Staff App</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li class="govuk-!-margin-bottom-4">
          <a href="/staff-app/v4">v4</a><br>
          <strong class="govuk-tag app-task-list__task-completed" style="float: none; background: black; font-size: 0.75em;">Tested</strong>
          <span class="govuk-caption-m">Added on: 05/06/2019</span>
          <ul>
            <li><a href="https://skillsfundingagency.atlassian.net/browse/APR-481" target="_blank">APR-481</a> - Add/update the 'Application determined date' for a new or existing providers</li>
          </ul>
        </li>
        <li class="govuk-!-margin-bottom-4">
          <a href="/staff-app/v3">v3</a><br>
          <strong class="govuk-tag app-task-list__task-completed" style="float: none; background: black; font-size: 0.75em;">TESTED</strong>
          <span class="govuk-caption-m">Added on: 28/05/2019</span>
          <ul>
            <li><a href="https://skillsfundingagency.atlassian.net/browse/APR-482" target="_blank">APR-482</a> - Use a file to bulk update the last application success date for multiple existing providers</li>
          </ul>
        </li>
        <li class="govuk-!-margin-bottom-4">
          <a href="/staff-app/v2a">v2a</a><br>
          <strong class="govuk-tag app-task-list__task-completed" style="float: none; background: black; font-size: 0.75em;">TESTED</strong>
          <span class="govuk-caption-m">Added on: 08/05/2019</span>
          <ul>
            <li><a href="https://skillsfundingagency.atlassian.net/browse/APR-461" target="_blank">APR-461</a></li>
            <li><a href="https://skillsfundingagency.atlassian.net/browse/APR-462" target="_blank">APR-462</a></li>
          </ul>
        </li>
        <li>
          <a href="/staff-app/v2">v2 - not for dev</a>
          <span class="govuk-caption-m">Added on: 12/02/2019</span>
          <ul>
            <li>APR-247</li>
            <li>APR-250
              <ul>
                <li>Removed the content that was under the green button on the start page.</li>
                <li>Removed the hint text when changing Provider Type</li>
              </ul>
            </li>
            <li>APR-251</li>
            <li>APR-252</li>
            <li>APR-259
              <ul>
                <li>Search should be pre-populated when 'Refine search' is clicked</li>
              </ul>
            </li>
            <li>APR-263
              <ul>
                <li>All the change links, on results page, have a drilldown page</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m">RoATP Digital Eligibility Checker</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li class="govuk-!-margin-bottom-4">
          <a href="/eligibility/v2">Eligibility Checker v2</a><br>
          <strong class="govuk-tag app-task-list__task-completed" style="float: none; background: black; font-size: 0.75em;">TESTED</strong>
          <span class="govuk-caption-m">
            Research findings: <a href="https://skillsfundingagency.atlassian.net/wiki/spaces/NDL/pages/1160937779/Application+Journey+Alpha+Findings#ApplicationJourneyAlphaFindings-eligibility_v2" target="_blank">24th - 25th Apr 2019</a><br>
            Last updated: 18/04/2019
          </span>
        </li>
        <li class="govuk-!-margin-bottom-4">
          <a href="/eligibility/v1a">Eligibility Checker v1a</a><br>
          <strong class="govuk-tag app-task-list__task-completed" style="float: none; background: black; font-size: 0.75em;">TESTED</strong>
          <span class="govuk-caption-m">
            Research findings: <a href="https://skillsfundingagency.atlassian.net/wiki/spaces/NDL/pages/1160937779/Application+Journey+Alpha+Findings#ApplicationJourneyAlphaFindings-eligibility_v1" target="_blank">10th - 12th Apr 2019</a><br>
            Last updated: 11/04/2019
          </span>
        </li>
        <li class="govuk-!-margin-bottom-4">
          <a href="/eligibility/v1">Eligibility Checker v1</a>
          <span class="govuk-caption-m">Last updated: 08/04/2019</span>
        </li>
        <li class="govuk-!-margin-bottom-4">
          <a href="/eligibility/v0">Eligibility Checker v0</a>
          <span class="govuk-caption-m">Last updated: 03/04/2019</span>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-m">RoATP Bravo Eligibility Checker</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/eligibility/bravo">Eligibility Checker for Bravo</a>
          <span class="govuk-caption-m">Last updated: 18/04/2019</span>
        </li>
      </ul>

    </div>
</div>

{% endblock %}
