
{% extends "layout.html" %}

{% block pageTitle %}
  Hello.
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Prototypes
      </h1>
        
      <h2 class="govuk-heading-l">
          Staff app
      </h2>
        
      <ul class="govuk-list">
        <li>
            <a class="govuk-!-font-size-24" href="/staff-app/v2/">v2 - not for dev</a>
            <span class="govuk-hint">Added on 13/2/2019.</span>
            <ul class="govuk-!-margin-bottom-9">
                <li>APR-247</li>
                <li>APR-250
                    <span class="govuk-hint">Removed the content that was under the green button on the start page.  Removed the hint text when changing Provider Type</span>
                </li>
                <li>APR-251</li>
                <li>APR-252</li>
                <li>APR-259
                    <span class="govuk-hint">Search should be pre-populated when 'Refine search' is clicked</span>
                </li>
                <li>APR-263
                    <span class="govuk-hint">All the change links, on results page, have a drilldown page</span>
                </li>
            </ul>
        </li> 
        <li>
            <a class="govuk-!-font-size-24" href="/staff-app/v1/">v1</a>
            <span class="govuk-hint">Added on 30/1/2019. Changes are from Keri's UR session and team playback</span>
            <ul class="govuk-!-margin-bottom-9">
                <li>Updated the landing page</li>
                <li>Added 'add new organisation' link when no results are returned (search term: 000000)</li>
                <li>Updated the results page structure/information architecture</li>
                <li>Added inactive organisation -- click ABC Awards on this <a href="/staff-app/v1/listv2">page</a></li>
                <li>Added form for 'Update org details'</li>
                <li>Change status and provider type have been split up into their own pages</li>
                <li>Removed dates from the status page</li>
                <li>Replaced free text with list of reasons</li>
                <li>Added error message with multiple fields -- Click button on this <a href="/staff-app/v1/change-organisation-details">page</a></li>
                <li>Added single result view (search for '1234567')</li>
                <li>Added 'See more' when results > 5 rows</li>
            </ul>
        </li>  
        <li>
            <a class="govuk-!-font-size-24" href="/staff-app/first-stab/">First stab</a>
            <span class="govuk-hint">Added on 18/1/2019</span>
        </li>  
      </ul>
        
      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" /> 
        
      <h2 class="govuk-heading-l">
          Declarations
      </h2>
        
      <ul class="govuk-list govuk-list--bullet">
        <li>
            <a class="govuk-!-font-size-24" href="/declarations/first-stab/">First stab (WIP)</a>
            <span class="govuk-hint">Added on 11/1/2019</span>
        </li>  
      </ul>
        
      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" /> 
        
      <h2 class="govuk-heading-l">
          Eligibility check
      </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
            <a class="govuk-!-font-size-24" href="/eligibility-check/first-stab/">First stab (WIP)</a>
            <span class="govuk-hint">Added on 15/1/2019</span>
        </li>  
      </ul>
      
        
      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" />   
        
        
      <h2 class="govuk-heading-l">
          Join the register
      </h2>
        
      <ul class="govuk-list govuk-list--bullet">
        <li>
            <a class="govuk-!-font-size-24" href="/join-register/v1/">V1 (WIP)</a>
            <span class="govuk-hint">Added on 28/2/2019</span>
        </li>  
        <li>
            <a class="govuk-!-font-size-24" href="/join-register/first-stab/">First stab</a>
            <span class="govuk-hint">Added on 4/2/2019</span>
        </li> 
      </ul>
        
      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" />   
        
        
      <h2 class="govuk-heading-l">
          Shutter pages
      </h2>
        
      <ul class="govuk-list govuk-list--bullet"> 
          
        <li>
            <a class="govuk-!-font-size-24" href="/shutter-pages/service-unavailable">Service Unavailable</a>
            <span class="govuk-hint">Added on 6/3/2019</span>
        </li> 
        <li>
            <a class="govuk-!-font-size-24" href="/shutter-pages/problem-with-service">Problem with service</a>
            <span class="govuk-hint">Added on 6/3/2019</span>
        </li> 
        <li>
            <a class="govuk-!-font-size-24" href="/shutter-pages/page-not-found">Page not found</a>
            <span class="govuk-hint">Added on 6/3/2019</span>
        </li> 
        <li>
            <a class="govuk-!-font-size-24" href="/shutter-pages/time-out">Time out</a>
            <span class="govuk-hint">Added on 6/3/2019</span>
        </li> 
      </ul>
        
    </div>
</div>

{% endblock %}
