{% set current_section = "applications" %}
{% extends "layouts/layout_mvpgateway_v3.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP dashboard",
				href: "/mvp-gateway/v3/dashboard"
			},
			{
				text: "RoATP applications",
				href: "/mvp-gateway/v3/applications/applications-gateway"
			},
			{
				text: "Application assessment overview",
				href: "/mvp-gateway/v3/applications/gateway/tasklist-abctraining"
			},
			{
				text: "Legal checks"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Legal checks</span>
			<h1 class="govuk-heading-xl">Legal checks</h1>

			<p class="govuk-body">
				UKPRN: 12345678<br>
				Legal name: ABC TRAINING LIMITED<br>
				Type of organisation: Company<br>
				Application submitted on: 17 Oct 2019<br>
				Sources checked on: 27 Nov 2019
			</p>
			
			<!--p class="govuk-body" style="background: lightgrey; padding :1em; margin-bottom: 0;">Question: Will we be able to play back the checks submitted in the previous screens at this point?</p-->

			<!--p class="govuk-body">Does the legal name match for all sources? {{ data['gw-abctraining-legal-legalname'] }}</p>
			<p class="govuk-body">Is the status correct for all sources? {{ data['gw-abctraining-legal-status'] }}</p>
			<p class="govuk-body">Does the address match for all sources? {{ data['gw-abctraining-legal-address'] }}</p-->

			<table class="govuk-table">
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Does the legal name match for all sources?</td>
						<td class="govuk-table__cell">{{ data['gw-abctraining-legal-legalname'] }}</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Is the status correct for all sources?</td>
						<td class="govuk-table__cell">{{ data['gw-abctraining-legal-legalstatus'] }}</td>
					</tr>
					<tr class="govuk-table__row">
						<td class="govuk-table__header">Does the address match for ‘submitted application’ and ‘UKRLP’?</td>
						<td class="govuk-table__cell">{{ data['gw-abctraining-legal-legaladdress'] }}</td>
					</tr>
				</tbody>
			</table>

			<form action="" method="post" class="form">
				
				<h2 class="govuk-heading-l govuk-!-margin-top-9">What is the overall outcome of these checks?</h2>

				<!--p class="govuk-body">If you have selected ‘yes’ to all of the questions above, pass these checks.</p>
				<p class="govuk-body">If you have selected ‘no’ to any of the questions above, reject these checks.</p-->
				
				{% set passHtml %}
					{{ govukCharacterCount({
						name: "gw-abctraining-legal-legaloutcome-pass",
						id: "gw-abctraining-legal-legaloutcome-pass",
          	value: data['gw-abctraining-legal-legaloutcome-pass'],
						maxwords: 150,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}
				
				{% set rejectHtml %}
					{{ govukCharacterCount({
						name: "gw-abctraining-legal-legaloutcome-reject",
						id: "gw-abctraining-legal-legaloutcome-reject",
          	value: data['gw-abctraining-legal-legaloutcome-reject'],
						maxwords: 150,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}
				
				{% set inprogressHtml %}
					{{ govukCharacterCount({
						name: "gw-abctraining-legal-legaloutcome-inprogress",
						id: "gw-abctraining-legal-legaloutcome-inprogress",
          	value: data['gw-abctraining-legal-legaloutcome-inprogress'],
						maxwords: 150,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "gw-abctraining-legal-legaloutcome-conditional",
					name: "gw-abctraining-legal-legaloutcome",
					items: [
						{
							value: "Pass",
							text: "Pass",
							conditional: {
								html: passHtml
							},
							checked: checked("gw-abctraining-legal-legaloutcome", "Pass")
						},
						{
							value: "Reject",
							text: "Reject",
							conditional: {
								html: rejectHtml
							},
							checked: checked("gw-abctraining-legal-legaloutcome", "Reject")
						},
						{
							divider: "or"
						},
						{
							value: "In progress",
							text: "In progress",
							conditional: {
								html: inprogressHtml
							},
							checked: checked("gw-abctraining-legal-legaloutcome", "In progress")
						}
					]
				}) }}

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-4"
				}) }}

			</form>

			<p><a href="/mvp-gateway/v3/applications/gateway/tasklist-abctraining">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}