{% extends "layout_application_v6.html" %}

{% block pageTitle %}
  RoATP Application Prototype v6
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post" class="form">

      {% set detailHtml %}
        {{ govukCharacterCount({
          name: "dec-org-withdrawncontract-detail",
          id: "dec-org-withdrawncontract-detail",
          maxlength: 2000,
          label: {
            text: "Give us more information"
          },
          hint: {
            text: "You’ll need to include a brief summary of who this was with and why."
          },
          value: data['dec-org-withdrawncontract-detail']
        }) }}
      {% endset -%}

        {{ govukRadios({
          idPrefix: "dec-org-withdrawncontract",
          name: "dec-org-withdrawncontract",
          fieldset: {
            legend: {
              text: "Has your organisation had early withdrawal from a contract with a public body in the last 3 years?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("dec-org-withdrawncontract", "yes"),
              conditional: {
                html: detailHtml
              }
            },
            {
              value: "no",
              text: "No",
              checked: checked("dec-org-withdrawncontract", "no")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-right-1"
        }) }}
      
        {% include "includes/v6/gethelp.html" %}

      </form>
    </div>
  </div>

{% endblock %}
