{% extends "layout_application_v6.html" %}

{% block pageTitle %}
  RoATP Application Prototype v6
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-caption-l">Checks on who’s in control of your organisation</p>

      <h1 class="govuk-heading-l">Has anyone who’s in control of your organisation had an early withdrawal from a contract with a public body in the last 3 years?</h1>

      <form action="" method="post" class="form">

        {% set detailHtml %}
          {{ govukCharacterCount({
            id: "dec-people-withdrawncontract-detail",
            name: "dec-people-withdrawncontract-detail",
            maxlength: 2000,
            label: {
              text: "Give us more information"
            },
            hint: {
              text: "You can include a brief summary of what measures have been put in place to manage this."
            },
            value: data['dec-people-withdrawncontract-detail'],
            attributes: {
              spellcheck: "false"
            }
          }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "dec-people-withdrawncontract",
          name: "dec-people-withdrawncontract",
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("dec-people-withdrawncontract", "yes"),
              conditional: {
                html: detailHtml
              }
            },
            {
              value: "no",
              text: "No",
              checked: checked("dec-people-withdrawncontract", "no")
            }
          ]
        }) }}
        
        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Who's in control
            </span>
          </summary>
          <div class="govuk-details__text">
            <p class="govuk-body">These are the people you confirmed as being in control of your organisation.</p>
            {% include "../../../includes/directors-pscs.html" %}

          </div>
        </details>

        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-right-4"
        }) }}

        <p class="skipquestion" id="skipquestion"><a href="people-tax-payments">Skip this question</a></p>
      
        {% include "includes/v6/gethelp.html" %}

      </form>
    </div>
  </div>

{% endblock %}
