{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v7.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
	{{ govukBreadcrumbs({
		items: [
			{
				text: "RoATP dashboard",
				href: "/staff-app/v7/dashboard"
			},
			{
				text: "RoATP applications",
				href: "/staff-app/v7/applications/gateway/applications-view"
			},
			{
				text: "Application assessment overview",
				href: "/staff-app/v7/applications/gateway/tasklist-company"
			},
			{
				text: "Organisation information"
			}
		]
	}) }}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-m">Organisation checks</span>
			<h1 class="govuk-heading-xl">Ofsted checks</h1>

			<p class="govuk-body">
				Legal name: RHINO APPS LIMITED<br>
				UKPRN: 10082147
			</p>
			
			<div class="sops">
				<p class="govuk-body"><a href="https://reports.ofsted.gov.uk/search?q=SAFRAN+LANDING+SYSTEMS+UK+LTD&location=GL2+9QH&lat=&lon=&radius=&level_1_types=0" target="_blank">Search the Ofsted website</a> to see if the organisation has had an Ofsted inspection.</p>
				<!--ul class="govuk-list govuk-list--bullet">
					<li>the ICO registration number is valid (not expired)</li>
					<li>the organisation's legal name is the same</li>
				</ul-->
			</div>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">

			<table class="govuk-table govuk-!-margin-bottom-9">
				<thead class="govuk-table__head">
					<tr class="govuk-table__row">
						<th scope="col" class="govuk-table__header">Question</th>
						<th scope="col" class="govuk-table__header">Application answer</th>
						<th scope="col" class="govuk-table__header"></th>
					</tr>
				</thead>
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<td scope="row" class="govuk-table__cell">Had a full Ofsted inspection in further education and skills</td>
						<td class="govuk-table__cell">Yes</td>
						<td class="govuk-table__cell">
							{{ govukRadios({
								idPrefix: "gw-roatpdown-ofsted-fullinspection",
								name: "gw-roatpdown-ofsted-fullinspection",
								classes: "govuk-radios--inline",
								items: [
									{
										value: "Yes",
										text: "Yes",
										checked: checked("gw-roatpdown-ofsted-fullinspection", "Yes")
									},
									{
										value: "No",
										text: "No",
										checked: checked("gw-roatpdown-ofsted-fullinspection", "No")
									}
								]
							}) }}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td scope="row" class="govuk-table__cell">Received a grade for apprenticeships</td>
						<td class="govuk-table__cell">No</td>
						<td class="govuk-table__cell">
							{{ govukRadios({
								idPrefix: "gw-roatpdown-ofsted-gradeforapprenticeships",
								name: "gw-roatpdown-ofsted-gradeforapprenticeships",
								classes: "govuk-radios--inline",
								items: [
									{
										value: "Yes",
										text: "Yes",
										checked: checked("gw-roatpdown-ofsted-gradeforapprenticeships", "Yes")
									},
									{
										value: "No",
										text: "No",
										checked: checked("gw-roatpdown-ofsted-gradeforapprenticeships", "No")
									}
								]
							}) }}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td scope="row" class="govuk-table__cell">Grade for overall effectiveness</td>
						<td class="govuk-table__cell">Good</td>
						<td class="govuk-table__cell">
							{{ govukRadios({
								idPrefix: "gw-roatpdown-ofsted-gradeforoverall",
								name: "gw-roatpdown-ofsted-gradeforoverall",
								classes: "govuk-radios--inline",
								items: [
									{
										value: "Yes",
										text: "Yes",
										checked: checked("gw-roatpdown-ofsted-gradeforoverall", "Yes")
									},
									{
										value: "No",
										text: "No",
										checked: checked("gw-roatpdown-ofsted-gradeforoverall", "No")
									}
								]
							}) }}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td scope="row" class="govuk-table__cell">Grade given with last 3 years</td>
						<td class="govuk-table__cell">No</td>
						<td class="govuk-table__cell">
							{{ govukRadios({
								idPrefix: "gw-roatpdown-ofsted-gardewithin3years",
								name: "gw-roatpdown-ofsted-gardewithin3years",
								classes: "govuk-radios--inline",
								items: [
									{
										value: "Yes",
										text: "Yes",
										checked: checked("gw-roatpdown-ofsted-gardewithin3years", "Yes")
									},
									{
										value: "No",
										text: "No",
										checked: checked("gw-roatpdown-ofsted-gardewithin3years", "No")
									}
								]
							}) }}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td scope="row" class="govuk-table__cell">Had a short Ofsted inspection within last 3 years</td>
						<td class="govuk-table__cell">Yes</td>
						<td class="govuk-table__cell">
							{{ govukRadios({
								idPrefix: "gw-roatpdown-ofsted-shortinspection",
								name: "gw-roatpdown-ofsted-shortinspection",
								classes: "govuk-radios--inline",
								items: [
									{
										value: "Yes",
										text: "Yes",
										checked: checked("gw-roatpdown-ofsted-shortinspection", "Yes")
									},
									{
										value: "No",
										text: "No",
										checked: checked("gw-roatpdown-ofsted-shortinspection", "No")
									}
								]
							}) }}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td scope="row" class="govuk-table__cell">Maintained grade</td>
						<td class="govuk-table__cell">Yes</td>
						<td class="govuk-table__cell">
							{{ govukRadios({
								idPrefix: "gw-roatpdown-ofsted-maintainedgrade",
								name: "gw-roatpdown-ofsted-maintainedgrade",
								classes: "govuk-radios--inline",
								items: [
									{
										value: "Yes",
										text: "Yes",
										checked: checked("gw-roatpdown-ofsted-maintainedgrade", "Yes")
									},
									{
										value: "No",
										text: "No",
										checked: checked("gw-roatpdown-ofsted-maintainedgrade", "No")
									}
								]
							}) }}
						</td>
					</tr>
					<tr class="govuk-table__row">
						<td scope="row" class="govuk-table__cell">Maintained funding from an education agency</td>
						<td class="govuk-table__cell">No</td>
						<td class="govuk-table__cell">
							{{ govukRadios({
								idPrefix: "gw-roatpdown-ofsted-maintainedfunding",
								name: "gw-roatpdown-ofsted-maintainedfunding",
								classes: "govuk-radios--inline",
								items: [
									{
										value: "Yes",
										text: "Yes",
										checked: checked("gw-roatpdown-ofsted-maintainedfunding", "Yes")
									},
									{
										value: "No",
										text: "No",
										checked: checked("gw-roatpdown-ofsted-maintainedfunding", "No")
									}
								]
							}) }}
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<h3 class="govuk-heading-m">What is the outcome of this check?</h3>

			<form action="" method="post" class="form">
				
				{% set passHtml %}
					{{ govukCharacterCount({
						name: "gw-roatpdown-ofsted-pass",
						id: "gw-roatpdown-ofsted-pass",
						maxlength: 750,
						label: {
							text: "Add comments (optional)"
						}
					}) }}
				{% endset -%}
				
				{% set rejectHtml %}
					{{ govukCharacterCount({
						name: "gw-roatpdown-ofsted-reject",
						id: "gw-roatpdown-ofsted-reject",
						maxlength: 750,
						label: {
							text: "Add comments"
						}
					}) }}
				{% endset -%}

				{{ govukRadios({
					idPrefix: "gw-roatpdown-ofsted",
					name: "gw-roatpdown-ofsted",
					items: [
						{
							value: "Pass",
							text: "Pass",
							conditional: {
								html: passHtml
							},
							checked: checked("gw-roatpdown-ofsted", "Pass")
						},
						{
							value: "Reject",
							text: "Reject",
							conditional: {
								html: rejectHtml
							},
							checked: checked("gw-roatpdown-ofsted", "Reject")
						}
					]
				}) }}

				{{ govukButton({
					text: "Save and continue",
					classes: "govuk-!-margin-right-1"
				}) }}

			</form>

			<p><a href="/staff-app/v7/applications/gateway/tasklist-company">Back to application assessment overview</a></p>

		</div>
	</div>

{% endblock %}
