{% set current_section = "applications" %}
{% extends "layouts/layout_staff_v6.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-xl">View applications</h1>
		</div>
	</div>
	
	{% set allHtml %}
		<h2 class="govuk-heading-l">All</h2>
		{{ govukTable({
			head: [
				{ text: "Organisation" },
				{ text: "Date completed" },
				{ text: "Gateway outcome" },
				{ text: "Assessor outcome" },
				{ text: "Financial outcome" },
				{ text: "Overall outcome" }
			],
			rows: [
				[
					{ html: '<a href="overview">Edusphere</a>' },
					{ text: "12 Oct 2019" },
					{ text: "Pass" },
					{ text: "Fail" },
					{ text: "Clarify" },
					{ text: "In progress" }
				], [
					{ html: '<a href="overview">Atomic</a>' },
					{ text: "12 Oct 2019" },
					{ text: "Pass" },
					{ text: "In progress" },
					{ text: "Exempt" },
					{ text: "In progress" }
				], [
					{ html: '<a href="overview">School Source</a>' },
					{ text: "2 Oct 2019" },
					{ text: "Fail" },
					{ text: "N/A" },
					{ text: "N/A" },
					{ text: "Fail" }
				], [
					{ html: '<a href="overview">Learn 360</a>' },
					{ text: "28 Aug 2019" },
					{ text: "Pass" },
					{ text: "Awaiting clarification" },
					{ text: "Fail" },
					{ text: "In progress" }
				], [
					{ html: '<a href="overview">ACME Learning</a>' },
					{ text: "28 Aug 2019" },
					{ text: "Pass" },
					{ text: "Pass" },
					{ text: "Clarification recieved" },
					{ text: "In progress" }
				], [
					{ html: '<a href="overview">Learnovate</a>' },
					{ text: "28 Aug 2019" },
					{ text: "Pass" },
					{ text: "Pass" },
					{ text: "Pass" },
					{ text: "Pass" }
				]
			]
		}) }}
	{% endset -%}
    
	{% set newHtml %}
		<h2 class="govuk-heading-l">New</h2>
		{{ govukTable({
			head: [
				{ text: "Organisation" },
				{ text: "Financial status" },
				{ text: "Date submitted" }
			],
			rows: [
				[
					{ html: '<a href="overview">Level Up</a>' },
					{ text: "Passed" },
					{ text: "22 Oct 2019" }
				], [
					{ html: '<a href="overview">Exam Snap</a>' },
					{ text: "In progress" },
					{ text: "21 Oct 2019" }
				], [
					{ html: '<a href="overview">Think Pod</a>' },
					{ text: "Exempt" },
					{ text: "19 Oct 2019" }
				], [
					{ html: '<a href="overview">Learn Forward</a>' },
					{ text: "Passed" },
					{ text: "19 Oct 2019" }
				], [
					{ html: '<a href="overview">Smart Box</a>' },
					{ text: "In progress" },
					{ text: "18 Oct 2019" }
				], [
					{ html: '<a href="overview">Stella Nova</a>' },
					{ text: "Passed" },
					{ text: "18 Oct 2019" }
				]
			]
		}) }}
	{% endset -%}
	
	{% set inprogressHtml %}
		<h2 class="govuk-heading-l">In progress</h2>
		{{ govukTable({
			head: [
				{ text: "Organisation" },
				{ text: "Financial status" },
				{ text: "Status" },
				{ text: "Date submitted" }
			],
			rows: [
				[
					{ html: '<a href="overview">Learnovate</a>' },
					{ text: "Passed" },
					{ text: "Submitted" },
					{ text: "22 Oct 2019" }
				], [
					{ html: '<a href="overview">Book Bot</a>' },
					{ text: "Passed" },
					{ text: "Resubmitted" },
					{ text: "21 Oct 2019" }
				], [
					{ html: '<a href="overview">Knowtably</a>' },
					{ text: "Exempt" },
					{ text: "Resubmitted" },
					{ text: "19 Oct 2019" }
				], [
					{ html: '<a href="overview">Moving the Grade</a>' },
					{ text: "Passed" },
					{ text: "Submitted" },
					{ text: "19 Oct 2019" }
				], [
					{ html: '<a href="overview">Rocket Training</a>' },
					{ text: "Passed" },
					{ text: "Submitted" },
					{ text: "18 Oct 2019" }
				], [
					{ html: '<a href="overview">Swing Start</a>' },
					{ text: "Passed" },
					{ text: "Submitted" },
					{ text: "18 Oct 2019" }
				]
			]
		}) }}
	{% endset -%}
	
	{% set feedbackHtml %}
		<h2 class="govuk-heading-l">Feedback</h2>
		{{ govukTable({
			head: [
				{ text: "Organisation" },
				{ text: "Financial status" },
				{ text: "Status" },
				{ text: "Date submitted" }
			],
			rows: [
				[
					{ html: '<a href="overview">Chrysalis</a>' },
					{ text: "Passed" },
					{ text: "Submitted" },
					{ text: "18 Oct 2019" }
				], [
					{ html: '<a href="overview">Guide and Grow</a>' },
					{ text: "Passed" },
					{ text: "Submitted" },
					{ text: "18 Oct 2019" }
				], [
					{ html: '<a href="overview">Future Think</a>' },
					{ text: "Passed" },
					{ text: "Resubmitted" },
					{ text: "16 Oct 2019" }
				], [
					{ html: '<a href="overview">Teach Academy</a>' },
					{ text: "Passed" },
					{ text: "Submitted" },
					{ text: "15 Oct 2019" }
				]
			]
		}) }}
	{% endset -%}
	
	{% set completedHtml %}
		<h2 class="govuk-heading-l">Completed</h2>
		{{ govukTable({
			head: [
				{ text: "Organisation" },
				{ text: "Date completed" },
				{ text: "Gateway outcome" },
				{ text: "Assessor outcome" },
				{ text: "Financial outcome" },
				{ text: "Overall outcome" }
			],
			rows: [
				[
					{ html: '<a href="overview">Edusphere</a>' },
					{ text: "12 Oct 2019" },
					{ text: "Pass" },
					{ text: "Fail" },
					{ text: "Clarify" },
					{ text: "In progress" }
				], [
					{ html: '<a href="overview">Atomic</a>' },
					{ text: "12 Oct 2019" },
					{ text: "Pass" },
					{ text: "In progress" },
					{ text: "Exempt" },
					{ text: "In progress" }
				], [
					{ html: '<a href="overview">School Source</a>' },
					{ text: "2 Oct 2019" },
					{ text: "Fail" },
					{ text: "N/A" },
					{ text: "N/A" },
					{ text: "Fail" }
				], [
					{ html: '<a href="overview">Learn 360</a>' },
					{ text: "28 Aug 2019" },
					{ text: "Pass" },
					{ text: "Awaiting clarification" },
					{ text: "Fail" },
					{ text: "In progress" }
				], [
					{ html: '<a href="overview">ACME Learning</a>' },
					{ text: "28 Aug 2019" },
					{ text: "Pass" },
					{ text: "Pass" },
					{ text: "Clarification recieved" },
					{ text: "In progress" }
				], [
					{ html: '<a href="overview">Learnovate</a>' },
					{ text: "28 Aug 2019" },
					{ text: "Pass" },
					{ text: "Pass" },
					{ text: "Pass" },
					{ text: "Pass" }
				]
			]
		}) }}
	{% endset -%}
	
	{% set searchHtml %}
		<h2 class="govuk-heading-l">Search</h2>
		<form action="" method="post" class="form form-search">
			<div class="govuk-form-group">
				<label class="govuk-label" for="staff-search">
					Organisation name or UKPRN
				</label>
				<input class="govuk-input govuk-input-search govuk-input--width-20" id="staff-search" name="staff-search" type="text">
				<button class="govuk-button govuk-button-search" data-module="govuk-button">
					Search
				</button>
			</div>
		</form>
	{% endset -%}

	{{ govukTabs({
		items: [
			{
				label: "All",
				id: "all",
				panel: {
					html: allHtml
				}
			}, {
				label: "New",
				id: "new",
				panel: {
					html: newHtml
				}
			}, {
				label: "In progress",
				id: "inprogress",
				panel: {
					html: inprogressHtml
				}
			}, {
				label: "Feedback",
				id: "feedback",
				panel: {
					html: feedbackHtml
				}
			}, {
				label: "Completed",
				id: "completed",
				panel: {
					html: completedHtml
				}
			}, {
				label: "Search",
				id: "search",
				panel: {
					html: searchHtml
				}
			}
		]
	}) }}
      
{% endblock %}
