{% set current_section = "applications" %}
{% extends "layout_staff_v6.html" %}

{% block pageTitle %}
  ESFA Staff App
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-xl">Application overview</h1>
		</div>
	</div>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<table class="govuk-table govuk-!-margin-bottom-9">
				<tbody class="govuk-table__body">
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Application reference</th>
						<td class="govuk-table__cell">ATP0000001</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Registered name</th>
						<td class="govuk-table__cell">Learnovate ltd</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Trading name</th>
						<td class="govuk-table__cell">Learnovate</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Type of organisation</th>
						<td class="govuk-table__cell">Professional body</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">UKPRN</th>
						<td class="govuk-table__cell">2893347</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Company number</th>
						<td class="govuk-table__cell">829374619</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Financial due date</th>
						<td class="govuk-table__cell">12 March 2020</td>
					</tr>
					<tr class="govuk-table__row">
						<th scope="row" class="govuk-table__header">Financial status</th>
						<td class="govuk-table__cell">Passed</td>
					</tr>
				</tbody>
			</table>

    	<ul class="govuk-list">
				<li class="govuk-!-margin-bottom-3">
					<h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a class="govuk-link--no-visited-state" href="organisation/tasklist">Organisation details</a></h2>
					<span id="org-details-hint" class="govuk-hint govuk-!-margin-bottom-1">13 of 13 questions completed</span>
					<strong class="govuk-tag govuk-tag-todo govuk-!-margin-bottom-1" id="organisation-evaluated">To do</strong>
					<br>
					<br>
				</li>
				<li class="govuk-!-margin-bottom-3">
					<h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a class="govuk-link--no-visited-state" href="#">Declarations</a></h2>
					<span id="org-details-hint" class="govuk-hint govuk-!-margin-bottom-1">21 of 21 questions completed</span>
					<strong class="govuk-tag govuk-!-margin-bottom-1" id="organisation-evaluated">Evaluated</strong>
					<strong class="govuk-tag govuk-!-margin-bottom-1" id="organisation-evaluated">Feedback received</strong>
					<br>
					<br>
				</li>
				<li class="govuk-!-margin-bottom-3">
					<h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a class="govuk-link--no-visited-state" href="#">Financial health assessment</a></h2>
					<span id="org-details-hint" class="govuk-hint govuk-!-margin-bottom-1">1 of 1 questions completed</span>
					<strong class="govuk-tag govuk-!-margin-bottom-1" id="organisation-evaluated">Evaluated</strong>
				</li>
			</ul>

		</div>
	</div>
      
{% endblock %}
