{% extends "layout_application_v12.html" %}

{% block pageTitle %}
  RoATP Application Prototype v13
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Your organisation’s financial evidence</span>
    <h1 class="govuk-heading-l">Does your organisation expect its funding from ESFA to be less than 5% of its total annual turnover?</h1>

    <p class="govuk-body">We’ll check your organisation’s financial statements to confirm your answer.</p>
    <p class="govuk-body">If your answer is incorrect, we may ask you to provide further financial information for your organisation.</p>

    {{ govukDetails({
      summaryText: "Show me an example",
      text: "Your organisation’s total annual turnover is £80 million and it expects to receive £3 million of funding from ESFA. This is less than 5% of its total annual turnover, so the answer is yes."
    }) }} 

    <form action="" method="post" class="form">

      {{ govukRadios({
        idPrefix: "fin-expect-funding",
        name: "fin-expect-funding",
        items: [
          {
            value: "Yes",
            text: "Yes",
            checked: checked("fin-expect-funding", "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: checked("fin-expect-funding", "No")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}
      
      {% include "includes/v13/gethelp.html" %}

    </form>
  </div>
</div>

{% endblock %}