{% extends "layouts/layout_application_v12.html" %}

{% block pageTitle %}
  RoATP Application Prototype v12
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% set sectorcount = data['del-sectors'] | length %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Sectors and employee experience</span>

      <h1 class="govuk-heading-l">The sector{% if sectorcount > 1 %}s{% endif  %} your organisation will offer apprenticeship training in</h1>
    
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Sector{% if sectorcount > 1 %}s{% endif  %}</th>
            <th class="govuk-table__header" scope="col">
              {% set employeecount = 0 %}
              {% for employees in data['del-employee'] %}
                {% if employees != null %}
                  {% set employeecount = employeecount + 1 %}
                  {% if employeecount == 1 %}
                    Most experienced employee
                  {% endif %}
                {% endif %}
              {% endfor %}
            </th>
            <th class="govuk-table__header" scope="col"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% set i = 0 %}
        {% for sector in data['del-sectors'] %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">{{ sector }}</td>
            <td class="govuk-table__cell" scope="row">
              {% if (data['del-employee'][i]) %}
                {{ data['del-employee'][i]['name'] }}
              {% endif %}
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              {% if (data['del-employee'][i]) %}
                <a href="#">Change</a> &nbsp; <a href="sectors-employee-remove-route?remove_employee_id={{i}}">Remove</a>
              {%else %}
                <a href="sectors-employee-add-route?current_sector_id={{i}}">Add the most experienced employee</a>
              {% endif %}
            </td>
          </tr>
          {% set i = i + 1 %}
        {% endfor %}
        </tbody>
      </table>
    
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post" class="form">

        {{ govukButton({
          text: "Save and continue",
          classes: "govuk-!-margin-right-4"
        }) }}

        <p class="skipquestion" id="skipquestion"><a href="">Return to this question later</a></p>
      
        {% include "includes/v12/gethelp.html" %}

      </form>
    </div>
  </div>

{% endblock %}
