{% extends "layouts/layout.html" %}

{% block pageTitle %}
  Sign in - RoATP Organisation Prototype
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#">feedback</a> will helps us to improve it.'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Sign in using the Apprenticeship Service</h1>

    <form action="signin-a" method="post" class="form">

      {{ govukInput({
        label: {
          text: "Email address"
        },
        classes: "govuk-!-width-two-thirds",
        id: "email-address",
        name: "email-address"
      }) }}

      {{ govukInput({
        label: {
          text: "Password"
        },
        classes: "govuk-!-width-two-thirds",
        id: "password",
        name: "password"
      }) }}

      {{ govukButton({
        text: "Sign in"
      }) }}

    </form>

    <p class="govuk-body"><a href="createaccount">Create sign in details</a></p>

    <h2 class="govuk-heading-m">Problems signing in</h2>

    <p class="govuk-body"><a href="#">I have forgotten my password</a></p>

  </div>
</div>

{% endblock %}
