{% extends "layout_application_v1.html" %}

{% block pageTitle %}
  Organisation - RoATP Organisation Prototype
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#">feedback</a> will helps us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "org-trustees-declare"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post" class="form">
        
        <h1 class="govuk-heading-l">Confirm your organisation's trustees</h1>
        
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">Name</th>
              <th class="govuk-table__header" scope="col">Date of birth</th>
              <th class="govuk-table__header" scope="col"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
          {% for trustee in data['org-trustees'] %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" scope="row">{{ trustee.name }}</td>
              <td class="govuk-table__cell">{{ trustee.dob_month }} {{ trustee.dob_year }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

        <p class="govuk_body"><a href="org-trustees-declare">Add another trustee</a></p>

        {{ govukButton({
          text: "Confirm and continue",
          classes: "govuk-!-margin-right-1"
        }) }}
  
        {{ govukButton({
          text: "Confirm and sign out",
          href: "signout",
          classes: "govuk-button--secondary"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
