{% extends "layout_application_v1.html" %}

{% block pageTitle %}
  Organisation - RoATP Organisation Prototype
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#">feedback</a> will helps us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: "org-legalstatus"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="" method="post" class="form">

      <h1 class="govuk-heading-l">Enter your details</h1>

      {{ govukInput({
        label: {
          text: "Full name"
        },
        classes: "govuk-input--width-20",
        id: "org-soletrader-name",
        name: "org-soletrader-name",
        value: data['org-soletrader-name']
      }) }}

      {{ govukDateInput({
        fieldset: {
          legend: {
            isPageHeading: false,
            text: 'Date of birth'
          }
        },
        id: 'org-soletrader-dob',
        name: 'org-soletrader-dob',
        hint: {
          text: "For example, 12 1993"
        },
        items: [
          {
            label: "Month",
            name: "org-soletrader-dob-month",
            classes: "govuk-input--width-2",
            value: data['org-soletrader-dob-month'],
            classes: "govuk-input--width-2"
          },
          {
            label: "Year",
            name: "org-soletrader-dob-year",
            value: data['org-soletrader-dob-year'],
            classes: "govuk-input--width-4"
          }
        ]
        })
      }}
      
      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}

    </form>
  </div>
</div>

{% endblock %}