{% extends "layout_application_v1.html" %}

{% block pageTitle %}
  Organisation - RoATP Organisation Prototype
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    html: 'This is a new service - your <a href="#">feedback</a> will helps us to improve it.'
  }) }}
  {{ govukBackLink({
    text: "Back",
    href: backlink_type
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="" method="post" class="form">

      {{ govukRadios({
        idPrefix: "pro-itt",
        name: "pro-itt",
        fieldset: {
          legend: {
            text: "Is your organisation Initial Teacher Training (ITT) accredited?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: checked("pro-itt", "yes"),
            conditional: {
              html: websiteHtml
            }
          },
          {
            value: "no",
            text: "No",
            checked: checked("pro-itt", "no")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue",
        classes: "govuk-!-margin-right-1"
      }) }}

      {{ govukButton({
        text: "Save and sign out",
        href: "signout",
        classes: "govuk-button--secondary"
      }) }}

    </form>
  </div>
</div>

{% endblock %}